.vscode/
.vs/
*.exe
*.log
*.log.*.gz
*.bak
.idea/
debug
*.cert
*.key
/vendor/
*.orig
*.pprof
go.work
go.work.sum
.DS_Store
\.project
dex*key
server/cmd/genkey/genkey
server/cmd/dcrdex/dcrdex
server/cmd/usermatches/usermatches
markets.json
dist/
node_modules/
client/cmd/bisonw/bisonw
client/cmd/bisonw-desktop/bisonw-desktop
client/cmd/bwctl/bwctl
client/cmd/assetseed/assetseed
client/cmd/simnet-trade-tests/simnet-trade-tests
client/cmd/mmbot/mmbot
docs/examples/rpcclient/rpcclient
dex/testing/loadbot/loadbot
bin/
bin-v*/
client/webserver/site/template-builder/template-builder
dex/testing/btc/harnesschain.tar.gz
client/asset/btc/electrum/example/server/server
client/asset/btc/electrum/example/wallet/wallet
**/testdata/fuzz
client/asset/eth/cmd/getgas/getgas
client/asset/eth/cmd/deploy/deploy
client/cmd/bisonw-desktop/pkg/installers
client/cmd/testbinance/testbinance
client/cmd/mmbaltracker/mmbaltracker
server/noderelay/cmd/sourcenode/sourcenode
tatanka/cmd/demo/demo
server/cmd/validatemarkets
client/cmd/translationsreport/translationsreport
client/cmd/translationsreport/worksheets
server/cmd/dexadm/dexadm
client/tor/build
server/cmd/geogame/geogame
client/cmd/bisonw/bwlog.zip
