{{define "walletIcons"}}
<span data-state="sleeping" class="ico-sleeping grey d-hide"></span>
<span data-state="locked" class="ico-locked grey d-hide"></span>
<span data-state="unlocked" class="ico-unlocked d-hide"></span>
<span data-state="syncing" class="ico-sync fs12 d-hide" data-tooltip="placeholder text"></span>
<span data-state="nowallet"></span> {{/* not showing ico-cross */}}
{{end}}

{{define "markets"}}
{{template "top" .}}
<div id="main" data-handler="markets" class="main clear m-0 flex-nowrap">

  {{- /* MARKET LIST */ -}}
  <div class="marketlist">

    {{- /* SEARCH INPUT */ -}}
    <label class="market-search">
      <div><span class="ico-search px-2"></span></div>
      <div class="flex-grow-1 position-relative">
        <div class="fill-abs"><input type="text" id="marketSearch" class="px-1 fill-abs"></div>
      </div>
    </label>

    {{- /* LIST OF EXCHANGE SECTIONS WITH MARKETS */ -}}
    <div id="marketList">
      <div data-tmpl="xc" class="xc">
        <div class="header d-flex justify-content-start align-items-center pl-1 fs14 grey">
          <span class="ico-disconnected" title="disconnected" data-tmpl="disconnected"></span>
          <span data-tmpl="header"></span>
        </div>
        
        <div data-tmpl="mkts">
          <div class="marketrow" data-tmpl="mktrow">
            <div>
              <img class="micro-icon mr-1" data-tmpl="baseIcon">
              <img class="micro-icon mr-1" data-tmpl="quoteIcon">
              <div class="pl-1 pr-2 flex-grow-1">
                <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
              </div>
              <span data-tmpl="pctChange" class="upgreen fs14 demi d-hide pct-change"></span>
            </div>
            <div class="justify-content-between fs12 grey d-hide" data-tmpl="bottomRow">
              <span data-tmpl="assetName">Decred</span>
              <span data-tmpl="price">0.00296</span>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </div>

  {{- /* RIGHT COLUMN */ -}}
  <div id="rightSide" class="d-flex flex-column flex-grow-1 h-100 overflow-y-auto overflow-x-hidden">

    {{- /* CHART */ -}}

    <div id="marketChart" class="w-100">
      <div id="chartErrMsg" class="fs15 pt-3 text-center d-hide errcolor"></div>
      <div id="marketLoader" class="fill-abs flex-center">
        <div class="ico-spinner spinner"></div>

      </div>
      <div class="chart-legend" id="chartLegend">
        <button class="chart-selector" id="candlestickBttn"></button>
        <button class="chart-selector d-hide" id="depthBttn"></button>
        <div class="d-flex align-items-center" id="epochLine"><div class="epoch-line"></div> 时间</div>
        <div class="flex-grow-1">
          <div id="hoverData" class="d-flex align-items-center d-hide">
            <span class="category-spacer text-center text-nowrap"></span>
            <span class="ico-target fs11 mr-1"></span>
            <span id="depthHoverData">
              价格: <span id="hoverPrice"></span>,
              量: <span id="hoverVolume"></span>
            </span>
            <span class="d-hide" id="candleHoverData">
              S: <span id="candleStart"></span>,
              E: <span id="candleEnd"></span>,
              L: <span id="candleLow"></span>,
              H: <span id="candleHigh"></span>,
              V: <span id="candleVol"></span>
            </span>
          </div>
        </div>
        <div id="depthSummary" class="d-flex align-items-center">
          <span>卖: <span id="sellBookedBase"></span> <span data-unit="base"></span>, <span id="sellBookedQuote"></span> <span data-unit="quote"></span></span>
          <span class="category-spacer"></span>
          <span class="mr-2">买: <span id="buyBookedBase"></span> <span data-unit="base"></span>, <span id="buyBookedQuote"></span> <span data-unit="quote"></span></span>
        </div>
        <div class="d-flex flex-nowrap mr-2 d-hide" id="durBttnBox"><button class="candle-dur-bttn" id="durBttnTemplate"></button></div>
      </div>
      <div id="chartResizer"></div>
    </div>

    {{- /* ORDERS */ -}}
    <div id="orders" class="w-100 d-flex flex-grow-1 flex-wrap bg1">

      <div class="orders-left col-24 col-xxl-14 p-0">
        <div class="row m-0 h-100">

          {{- /* BUY ORDER LIST */ -}}
          <div class="marketorders order-lg-1 order-2 col-lg-7 p-0 bg1 d-flex flex-column">
            <div class="market-header text-center fs14 py-1">买单</div>
            <div class="brdrleft flex-grow-1 bg1 position-relative">
              <div class="market-orders-table-container stylish-overflow">
                <table class="ordertable">
                  {{block "thead" .}}
                  <thead>
                    <tr>
                      <th class="text-left pl-2">数量</th>
                      <th class="text-right pr-2">比率</th>
                      <th class="text-right pr-2">时间</th>
                    </tr>
                  </thead>
                  {{end}}
                  <tbody id="buyRows">
                    {{- /* This row is used by the app as a template. */ -}}
                    <tr id="rowTemplate">
                      <td class="pl-2">
                        <div class="d-flex justify-content-start align-items-center">
                          <div data-tmpl="qty">-</div>
                          <div class="numorders text-center ml-2" data-tmpl="numorders">-</div>
                        </div>
                      </td>
                      <td class="text-right pr-2" data-tmpl="rate">-</td>
                      <td class="text-right pr-3" data-tmpl="epoch"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          {{- /* ORDER PANEL */ -}}
          <div class="col-lg-10 order-1 order-lg-2 order-panel p-0 brdrleft brdrright d-flex flex-column">
            <div class="market-header fs14 d-flex justify-content-start pl-4 align-items-stretch">
              <button id="limitBttn" type="button" class="flex-center px-3 py-0 markettab brdrleft selected">限价单</button>
              <button id="marketBttn" type="button" class="flex-center px-3 py-0 markettab brdrleft brdrright">市价单</button>
            </div>

            <div class="flex-grow-1 position-relative">
              <div class="fill-abs px-4 stylish-overflow">

                <div class="fs15 pt-3 text-center d-hide" id="loaderMsg"></div>

                {{- /* REGISTRATION STATUS */ -}}
                <div class="d-hide p-2 mt-2" id="registrationStatus">
                  <div class="p-0 w-100">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <span id="regStatusTitle" class="title"></span>
                      <p id="regStatusMessage">为了切换到 <span id="regStatusDex"></span>，必须支付注册费 <span id="confReq"></span> 确认书。
                      </p>
                      <span id="regStatusConfsDisplay"></span>
                    </div>
                  </div>
                </div>

                {{- /* ORDER FORM */ -}}
                <form id="orderForm" class="bg1">
                  <div class="p-0 w-100">

                    {{- /* BUY - SELL SELECTOR */ -}}
                    <div class="d-flex justify-content-start pt-4 pb-2 fs14">
                      <button id="buyBttn" type="button" class="bg2 buygreen selected">
                        买
                        <span data-unit="base"></span>
                      </button>
                      <button id="sellBttn" type="button" class="bg2 sellred ml-2">
                        卖
                        <span data-unit="base"></span>
                      </button>
                      <span></span>
                    </div>

                    {{- /* MARKET CONFIG */ -}}
                    <div class="d-flex justify-content-between my-2 fs14">
                      <div>
                        批量:
                        <span id="lotSize"></span>
                        <span data-unit="base"></span>
                      </div>
                      <div>
                        兑换:
                        <span id="rateStep"></span>
                        <span data-unit="quote"></span>
                      </div>
                    </div>
                    <div class="my-2 fs14 h21" id="maxBox">
                      <div id="maxOrd" class="d-hide position-relative pointer">
                        <span id="maxLotBox" class="d-hide">
                          <span class="underline">最多 <span id="maxLbl">买</span></span>:
                          <span id="maxFromLots"></span>
                          <span id="maxFromLotsLbl">批处理</span>
                        </span>
                        <span id="maxAboveZero" class="d-hide">
                          ,
                          <span id="maxFromAmt"></span>
                          <span id="maxFromTicker"></span>
                          &rarr;
                          <span id="maxToAmt"></span>
                          <span id="maxToTicker"></span>
                        </span>
                      </div>
                    </div>

                    {{- /* RATE AND QUANTITY INPUTS */ -}}
                    <div class="d-flex mt-3" id="priceBox">
                      <label for="rateField" class="col-6 d-flex align-items-center p-0">价格</label>
                      <div class="col-18 p-0 position-relative">
                        <input type="number" class="form-control select bg1" id="rateField">
                        <span class="unitbox"><span class="unit" data-unit="quote"></span>/<span class="unit" data-unit="base"></span></span>
                      </div>
                    </div>
                    <div class="d-flex mt-4" id="qtyBox">
                      <label for="qtyField" class="col-6 d-flex align-items-center p-0">数量</label>
                      <div class="col-6 p-0 position-relative">
                        <input type="number" class="form-control select bg1" id="lotField">
                        <span class="unit unitbox">批</span>
                      </div>
                      <div class="col-1 p-0"></div> {{/* spacer */}}
                      <div class="col-11 p-0">
                        <input type="number" class="form-control select bg1" id="qtyField">
                        <span class="unit unitbox" data-unit="base"></span>
                      </div>
                    </div>

                    {{- /* MARKET BUY ORDER QUANTITY INPUT */ -}}
                    <div id="mktBuyBox" class="d-hide">
                      <div class="text-center mt-2 fs15">
                        最小交换结束了 <span id="minMktBuy"></span> <span data-unit="quote"></span>
                      </div>
                      <div class="d-flex justify-content-center mt-2">
                        <!-- <label for="mktBuyField" class="flex-center col-12 p-0">Trading</label> -->
                        <div class="col-12 p-0 position-relative">
                          <input type="number" class="form-control select bg1" id="mktBuyField">
                          <span class="unit unitbox" data-unit="quote"></span>
                        </div>
                      </div>
                      <div class="p-0 fs14 flex-center mt-1">
                        <span>
                          ~ <span id="mktBuyScore">0</span> <span data-unit="base"></span>
                          @ <span id="mktBuyLots">0</span> <span >批</span><br>

                        </span>
                      </div>
                    </div>

                    {{- /* ORDER PREVIEW */ -}}
                    <div class="mt-2 fs14 text-right" id="orderPreview"></div>

                    {{- /* TIME-IN-FORCE CHECK BOX */ -}}
                    <div class="my-1 text-left pl-4" id="tifBox">
                      <input id="tifNow" class="form-check-input" type="checkbox" value="">
                      <label class="form-check-label" for="tifNow">
                        立即或取消
                        <span class="ico-info fs12" data-tooltip="如果订单在下一个周期中没有完成，任何剩余的金额将不会在下一个周期中保留或重新组合。"></span>
                      </label>
                    </div>

                    {{- /* SUBMIT ORDER BUTTON */ -}}
                    <div class="text-right">
                      <button id="submitBttn" type="button" class="my-1 fs14 submit text-center buygreen"></button> {{/* textContent set by script */}}
                    </div>
                  </div>
                  <div class="fs15 pt-3 text-center d-hide errcolor" id="orderErr"></div>
                </form>

                {{- /* BALANCES */ -}}
                <div id="marketBalance" class="market-bal pt-2 pb-1 my-3 position-relative">
                  <span class="market-bal-lbl">余额</span>
                  <table class="balance-table" id="balanceTable">
                    <thead>
                      <tr>
                        <th></th>
                        <th>
                          <div class="d-flex align-items-center pb-1" id="baseWalletIcons">
                            <img id="baseImg" class="micro-icon mr-1">
                            <span data-unit="base"></span>
                            <div class="flex-grow-1"></div>
                            <div id="baseWalletState" class="fs12">{{template "walletIcons"}}</div>
                            <span class="ico-expired fs16 pl-1" id="baseExpired" data-tooltip="账户可能已过期。请连接到钱包进行更新。"></span>
                          </div>
                        </th>
                        <th>
                          <div class="d-flex align-items-center pb-1" id="quoteWalletIcons">
                            <img id="quoteImg" class="micro-icon mr-1">
                            <span data-unit="quote"></span>
                            <div class="flex-grow-1"></div>
                            <div id="quoteWalletState" class="fs12">{{template "walletIcons"}}</div>
                            <span class="ico-expired fs16 pl-1" id="quoteExpired" data-tooltip="账户可能已过期。请连接到钱包进行更新。"></span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="fs16">可用</td>
                        <td id="baseUnsupported" rowspan="3">
                          <div class="ico-cross"></div>
                        </td>
                        <td id="baseConnect" rowspan="3" class="pointer" data-tooltip="点击连接并刷新">
                          <div class="ico-sleeping"></div>
                        </td>
                        <td id="baseSpinner" rowspan="3">
                          <div class="ico-spinner spinner"></div>
                        </td>
                        <td id="baseNewWalletRow" rowspan="3">
                          <button id="baseNewButton" type="button" class="newwallet bg1 text-center">添加一个<br><span data-unit="base"></span><br>钱包</button>
                        </td>
                        <td id="baseAvail" class="fs16"></td>
                        <td id="quoteUnsupported" rowspan="3">
                          <div class="ico-cross"></div>
                        </td>
                        <td id="quoteConnect" rowspan="3" class="pointer" data-tooltip="点击连接并刷新">
                          <div class="ico-sleeping"></div>
                        </td>
                        <td id="quoteSpinner" rowspan="3">
                          <div class="ico-spinner spinner"></div>
                        </td>
                        <td id="quoteNewWalletRow" rowspan="3" class="brdr-left">
                          <button id="quoteNewButton" type="button" class="newwallet bg1 text-center">添加一个<br><span data-unit="quote"></span><br>钱包</button>
                        </td>
                        <td id="quoteAvail" class="brdr-left fs16"></td>
                      </tr>
                      <tr>
                        <td>锁定</td>
                        <td id="baseLocked"></td>
                        <td id="quoteLocked" class="brdr-left"></td>
                      </tr>
                      <tr>
                        <td>不成熟</td>
                        <td id="baseImmature"></td>
                        <td id="quoteImmature" class="brdr-left"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          {{- /* SELL ORDER LIST */ -}}
          <div class="marketorders col-lg-7 order-3 p-0 bg1 d-flex flex-column">
            <div class="market-header text-center fs14 py-1">卖单</div>
            <div class="brdrleft flex-grow-1 bg1 position-relative">
              <div class="market-orders-table-container stylish-overflow">
                <table class="ordertable">
                  {{template "thead"}}
                  <tbody id="sellRows"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{- /* USER ORDERS */ -}}
      <div class="bg0 p-0 col-24 col-xxl-10 d-flex flex-column align-items-stretch">
        <div class="market-header text-center fs14 py-1 brdrleft">
          你的订单
        </div>
        <div class="brdrleft flex-grow-1 bg1 position-relative">

          <div class="user-orders-table-container stylish-overflow">
            <table id="liveTable" class="ordertable">
              <thead>
                <tr>
                  <th data-ordercol="type">类型 <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="sell">侧面 <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="stamp">年龄 <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="rate">比率 <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="qty">数量 <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="filled">已满 <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="settled">稳定的 <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="status">状态 <span class="ico-arrowdown"></span></th>
                  <th class="last"></th>
                </tr>
              </thead>
              <tbody id="liveList">
                <tr id="liveTemplate">
                  <td data-tmpl="type"></td>
                  <td data-tmpl="side"></td>
                  <td data-tmpl="age"></td>
                  <td data-tmpl="rate"></td>
                  <td data-tmpl="qty"></td>
                  <td data-tmpl="filled"></td>
                  <td data-tmpl="settled"></td>
                  <td data-tmpl="status"></td>
                  <td class="last text-right">
                    <span data-tmpl="cancelBttn" class="ico-cross d-hide" data-tooltip="取消订单"></span>
                    <a data-tmpl="link" class="ico-open fs13 pointer ml-2 plainlink" data-tooltip="订单详情"></a>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td colspan="9" class="text-center">
                    <a href="/orders" class="d-block fs14 px-2 plainlink">查看历史订单</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{- /* POP-UP FORMS */ -}}
  <div id="forms" class="popupforms d-flex flex-center p-4 overflow-auto d-hide">

    {{- /* UNLOCK WALLET */ -}}
    <form class="card bg1 position-relative d-hide" id="openForm" autocomplete="off">
      {{template "unlockWalletForm"}}
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="card bg1 m-auto d-hide" id="walletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* VERIFY ORDER */ -}}
    <form class="card bg1 position-relative fs16 text-center d-hide" id="verifyForm" autocomplete="off">
      <div class="px-2 py-1 text-center fs18 position-relative header" id="vHeader">
        检查<span id="vSideHeader"></span> 请求
        <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      </div>
      <div class="py-3 px-4">
        <div class="echo-data">
          您正在提交一下订单
          <div class="fs20 demi py-1">
            <span id="vSide"></span>
            <span id="vQty"></span>
            <span id="vBase"></span>
          </div>
          <div id="verifyLimit">
            汇率
            <div class="fs20 demi py-1">
              <span id="vRate"></span>
              <sup data-unit="quote"></sup>/<sub data-unit="base"></sub>
            </div>
            共计
            <div class="fs20 demi py-1">
              <span id="vTotal"></span>
              <span id="vQuote"></span>
            </div>
          </div>
          <div id="verifyMarket">
            这是一个市价单，将匹配订单簿中的最佳订单。根据当前的平均市场价，您将收到
            <div class="fs20 demi py-1">
              <span id="vmTotal"></span>
              <span id="vmAsset"></span>
              <span class="fs15">(<div class="d-inline" id="vmLots"></div class="d-inline"> 批)</span>
            </div>
          </div>
        </div>
        <hr class="dashed my-3">
        {{$passwordIsCached := .UserInfo.PasswordIsCached}}
        <div class="fs16 text-center {{if $passwordIsCached}}d-hide{{end}}">使用应用密码授权此订单。</div>
        <div class="d-flex mt-3 {{if $passwordIsCached}}justify-content-end{{end}}" >
          <div class="col-12 p-0 text-left {{if $passwordIsCached}}d-hide{{end}}">
            <label for="vPass" class="pl-1 mb-1">密码</label>
            <input type="password" class="form-control select" id="vPass">
          </div>
          <div class="col-12 p-0 {{if not $passwordIsCached}}text-right{{end}}">
            <div {{if $passwordIsCached}}class="d-hide"{{end}}>&nbsp;</div>
            <button id="vSubmit" type="button" class="w-75 mt-1 justify-content-center fs15 selected">
              <span id="vSideSubmit"></span>
              <span id="vBaseSubmit"></span>
            </button>
            <div id="vLoader" class="loader flex-center d-hide">
              <div class="ico-spinner spinner"></div>
            </div>
          </div>
        </div>
        <div class="fs15 pt-3 text-center d-hide errcolor" id="vErr"></div>
        <hr class="dashed my-3">
        <div class="disclaimer mt-2 fs14">
          <span class="red">交易需要</span>一定时间才能完成，禁止关闭 DEX 客户端软件以及
		<span data-unit="quote"></span>或<span data-unit="base"></span>钱包软件。
		交易可能在几分钟内完成，也可能长至几个小时。
        </div>
      </div>
      
    </form>

    <form class="card bg1 d-hide" id="cancelForm" autocomplete="off">
      {{template "cancelOrderForm" .}}
    </form>

  </div>

</div>
{{template "bottom"}}
{{end}}
