{{define "microIcon"}}
<img src="/img/coins/{{.}}.png" class="micro-icon">
{{end}}

{{define "order"}}
{{template "top" .}}
{{$ord := .Order}}
<div id="main" data-handler="order" class="main w-100 overflow-y-auto" data-net="{{.Net}}" data-oid="{{$ord.ID}}">
  <div class="px-5">
    <div class="px-1 py-2">
      <span class="fs22 demi me-2">订单</span>
      <span class="fs18">{{$ord.ID}}</span>
      <span class="float-end me-2"><a href="/orders" class="d-inline-block subtlelink fs15"><span class="fs12 ico-textfile"></span> 查看所有订单</a></span>
    </div>

    {{- /* DATA CARDS */ -}}
    <div class="d-flex flex-wrap">
      <div class="order-datum">
        <div>交易</div>
        <div>{{$ord.Host}}</div>
      </div>
      <div class="order-datum">
        <div>市场</div>
        <a href="/markets?host={{$ord.Host}}&base={{$ord.BaseID}}&quote={{$ord.QuoteID}}" class="plainlink hoverbg">
          {{template "microIcon" $ord.BaseSymbol}} {{template "microIcon" $ord.QuoteSymbol}} {{toUpper $ord.BaseSymbol}}-{{toUpper $ord.QuoteSymbol}}
        </a>
      </div>
      <div class="order-datum">
        <div>类型</div>
        <div>{{ $ord.TypeString }}</div>
      </div>
      <div class="order-datum">
        <div>状态</div>
        <div>
          <span id="status">{{$ord.StatusString}}</span>
          {{if $ord.Cancelable}}
            <span id="cancelBttn" class="ico-cross fs12 ms-1 pointer hoverbg" data-tooltip="cancel order"></span>
          {{end}}
        </div>
      </div>
      <div class="order-datum">
        <div>供</div>
        <div>{{$ord.OfferString}} {{$ord.FromSymbol}} {{template "microIcon" $ord.FromSymbol}}</div>
      </div>
      <div class="order-datum">
        <div>问</div>
        <div>
          {{if (not $ord.IsMarketOrder)}}
            {{$ord.AskString}}
          {{end}}
          {{$ord.ToSymbol}} {{template "microIcon" $ord.ToSymbol}}
        </div>
      </div>
      <div class="order-datum">
        <div>比率</div>
        <div>{{$ord.RateString}}</div>
      </div>
      <div class="order-datum">
        <div>已满</div>
        <div>
          {{$ord.FilledPercent}}%
          ({{$ord.FilledFrom}} {{template "microIcon" $ord.FromSymbol}}
          &rarr;
          {{$ord.FilledTo}} {{template "microIcon" $ord.ToSymbol}})
        </div>
      </div>
      <div class="order-datum">
        <div>稳定的</div>
        <div>
          {{$ord.SettledPercent}}%
          ({{$ord.SettledFrom}} {{template "microIcon" $ord.FromSymbol}}
          &rarr;
          {{$ord.SettledTo}} {{template "microIcon" $ord.ToSymbol}})
        </div>
      </div>
      <div class="order-datum">
        <div>费用 <span class="ico-info fs12" data-tooltip="区块链交易费用，通常由矿工收取。Decred DEX 不收取交易费用。"></span></div>
        <div>
          {{$ord.SwapFeesString}} {{template "microIcon" $ord.FromSymbol}},
          {{$ord.RedemptionFeesString}} {{template "microIcon" $ord.ToSymbol}}
        </div>
      </div>
      <div class="order-datum">
        <div>年龄</div>
        <div data-stamp="{{$ord.SubmitTime}}"></div>
      </div>
    </div> {{- /* END DATA CARDS */ -}}

    {{- /* ACTIONS */ -}}
    <div class="fs18 demi pt-4 pb-2 d-hide" id="actionsLabel">操作</div>
    <div class="d-flex align-items-stretch justify-content-start flex-wrap">
      <button id="accelerateBttn" type="button" class="px-2 py-1 fs15 bg2 selected d-hide">Accelerate</button>
    </div>

    {{- /* MATCHES */ -}}
    <div class="fs18 demi pt-4 pb-2{{if eq (len $ord.Matches) 0}} d-hide{{end}}" id="matchesLabel">组合</div>
    <div class="d-flex align-items-stretch justify-content-start flex-wrap" id="matchBox">
    {{range $match := $ord.MatchReaders}}
      <div class="match-card" data-match-i-d="{{$match.MatchID}}">
        <div class="match-header">
          <div class="d-flex justify-content-between align-items-center">
            <span class="match-data-label ms-3">匹配ID</span>
          </div>
          <div class="mono mx-3 fs15">{{$match.MatchID}}</div>
        </div>

        <div class="row py-2">
          <div class="col-10 text-center">
            <span class="match-data-label">状态</span><br>
            <span class="fs15" data-tmpl="status">
              {{$match.StatusString}}
            </span>
          </div>
          <div class="col-14 text-center">
            <span class="match-data-label">时间</span><br>
            <span class="fs15">{{$match.TimeString}}</span>
            <span class="fs14">(<span class="fs15" data-stamp="{{$match.Stamp}}"></span> 前)</span>
          </div>
        </div>

        {{if $match.IsCancel}}
          <div class="text-center fs20 red">取消</div>
          <div class="text-center fs16">{{$match.FromQuantityString}} {{template "microIcon" $ord.FromSymbol}} ({{$match.OrderPortion}}%)</div>
        {{else}}
          <div class="text-center demi fs20 py-2">
            {{$match.FromQuantityString}} {{template "microIcon" $ord.FromSymbol}}
            &rarr;
            {{$match.ToQuantityString}} {{template "microIcon" $ord.ToSymbol}}
          </div>

          <div class="row py-2">
            <div class="col-10 text-center">
              <span class="match-data-label">比率</span><br>
              <span class="fs15">
                {{$match.RateString}}
              </span>
            </div>
            <div class="col-7 text-center">
              <span class="match-data-label">侧面</span><br>
              <span class="fs15">{{$match.Side}}</span>
            </div>
            <div class="col-7 text-center">
              <span class="match-data-label">订单部分</span><br>
              <span class="fs15">
                {{$match.OrderPortion}}%
              </span>
            </div>
          </div>
        {{end}}

        <div class="pt-3">
          {{$coin := $match.Swap}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="swap">
            <div class="d-inline-block">
              <div class="d-flex align-items-center justify-content-between">
                <span class="match-data-label"> ({{$ord.FromSymbol}}, 你)</span>
                <span class="match-data-label{{if not $match.InSwapCast}} d-hide{{end}}" data-tmpl="swapMsg">
                  {{$match.SwapConfirmString}}
                </span>
              </div>
              <a target="_blank" class="mono plainlink" data-explorer-id="{{$ord.FromID}}"
                data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="swapCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
            </div>
          </div>
          {{$coin = $match.CounterSwap}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="counterSwap">
            <div class="d-inline-block">
              <div class="d-flex align-items-center justify-content-between">
                <span class="match-data-label"> ({{$ord.ToSymbol}}, 他们)</span>
                <span class="match-data-label{{if not $match.InCounterSwapCast}} d-hide{{end}}" data-tmpl="counterSwapMsg">
                  {{$match.CounterSwapConfirmString}}
                </span>
              </div>
              <a target="_blank" class="mono plainlink" data-explorer-id="{{$ord.ToID}}"
                data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="counterSwapCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
            </div>
          </div>
          {{$coin = $match.Redeem}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="redeem">
            <span class="match-data-label">赎回 ({{$ord.ToSymbol}}, 你)</span><br>
            <a target="_blank" class="mono plainlink" data-explorer-id="{{$ord.ToID}}"
              data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="redeemCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
          </div>
          {{$coin = $match.CounterRedeem}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="counterRedeem">
            <span class="match-data-label">赎回 ({{$ord.FromSymbol}}, 他们)</span><br>
            <a target="_blank" class="mono plainlink" data-explorer-id="{{$ord.FromID}}"
              data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="counterRedeemCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
          </div>
          {{$coin = $match.Refund}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="refund">
            <span class="match-data-label red">退款 ({{$ord.FromSymbol}}, 你)</span><br>
            <a target="_blank" class="mono plainlink red" data-explorer-id="{{$ord.FromID}}"
              data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="refundCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
          </div>
        </div>

      </div>
    {{end}}
    </div>

    {{- /* FUNDING COINS */ -}}
    <div class="order-datum d-inline-block my-3">
      <div class="text-start">资金硬币</div>
      <div class="fs14 text-start">
        {{range $ord.FundingCoins}}
          <a target="_blank" class="plainlink mono" data-explorer-id="{{$ord.FromID}}" data-explorer-coin="{{.StringID}}">{{.StringID}}</a><br>
        {{end}}
      </div>
    </div>

    <div id="accelerationCoins" class="order-datum d-inline-block my-3 {{if not $ord.AccelerationCoins}}d-hide{{end}}">
      <div class="text-start">Acceleration Transactions</div>
      <div class="fs14 text-start">
        {{range $ord.AccelerationCoins}}
          <a target="_blank" class="plainlink mono" data-explorer-id="{{$ord.FromID}}" data-explorer-coin="{{.StringID}}">{{.StringID}}</a><br>
        {{end}}
      </div>
    </div>

  </div>

  <div id="forms" class="d-hide">
    <form class="d-hide" id="cancelForm" autocomplete="off">
      {{template "cancelOrderForm" .}}
    </form>
    <form class="d-hide" id="accelerateForm"  autocomplete="off">
      {{template "accelerateForm" .}}
    </form> 
  </div>
</div>
{{template "bottom"}}
{{end}}
