{{define "stateIcons"}}
  {{$w := .Wallet}}
  {{if $w}}
    {{$ready := and $w.Running $w.Open}}
    <span data-state="sleeping" class="ico-sleeping fs17 grey{{if $w.Running}} d-hide{{end}}"></span>
    <span data-state="locked" class="ico-locked grey{{if or $ready (not $w.Running)}} d-hide{{end}}"></span>
    <span data-state="unlocked" class="ico-unlocked{{if not $ready}} d-hide{{end}}"></span>
    <span data-state="nowallet" class="ico-cross fs12 red d-hide"></span>
    <span data-state="syncing" 
      class="ico-sync fs12{{if or (not $w.Running) $w.Synced}} d-hide{{end}}"
      data-tooltip="wallet is {{printf "%.2f" (x100  $w.SyncProgress)}}% synced"></span>
    <span data-state="nopeers" class="ico-disconnected fs17 d-hide" data-tooltip="no peers!"></span>
    <span data-state="status" class="txt-status">{{if $w.Open}}destrancado{{else if $w.Running}}trancado{{else}}desligado{{end}}</span>
  {{else}}
    <span data-state="sleeping" class="ico-sleeping fs17 grey d-hide"></span>
    <span data-state="locked" class="ico-locked grey d-hide"></span>
    <span data-state="unlocked" class="ico-unlocked d-hide"></span>
    <span data-state="nowallet" class="ico-cross fs12 red"></span>
    <span data-state="syncing" class="ico-sync fs12 d-hide"></span>
    <span data-state="nopeers" class="ico-disconnected fs17 d-hide"></span>
    <span data-state="status" class="txt-status">sem carteira</span>
  {{end}}
{{end}}

{{define "actionButtons"}}
  {{$w := .Wallet}}
  {{if $w}}
    {{$ready := and $w.Running $w.Open}}
    <button data-action="connect"{{if $w.Running}} class="d-hide"{{end}}>Conectar</button>
    <button data-action="unlock"{{if $w.Open}} class="d-hide"{{end}}>Destrancar</button>
    <button data-action="withdraw"{{if not $ready}} class="d-hide"{{end}}>Retirar</button>
    <button data-action="deposit"{{if not $ready}} class="d-hide"{{end}}>Depositar</button>
    <button data-action="lock"{{if or (not $ready) (not $w.Encrypted)}} class="d-hide"{{end}}>Trancar</button>
    <button data-action="rescan"{{if not $w.Traits.IsRescanner}} class="d-hide"{{end}}>Rescan</button>
    <button data-action="create" class="d-hide">Criar uma Carteira {{.Info.Name}}</button>
    <span data-action="settings" class="ico-settings fs20 pointer"></span>
  {{else}}
    <button data-action="connect" class="d-hide">Conectar</button>
    <button data-action="unlock" class="d-hide">Destrancar</button>
    <button data-action="withdraw" class="d-hide">Retirar</button>
    <button data-action="deposit" class="d-hide">Depositar</button>
    <button data-action="lock" class="d-hide">Trancar</button>
    <button data-action="rescan" class="d-hide">Rescan</button>
    <button data-action="create">Criar uma Carteira {{.Info.Name}}</button>
    <span data-action="settings" class="ico-settings fs20 pointer d-hide"></span>
  {{end}}
{{end}}

{{define "wallets"}}
{{template "top" .}}
<div id="main" data-handler="wallets" class="main">
{{$passwordIsCached := .UserInfo.PasswordIsCached}}

  {{- /* LEFT SIDE */ -}}
  <div class="col-14">
    <h3 class="p-3">Carteiras</h3>
    <table class="wallets">
      <thead>
        <tr>
          <th>Ativo <span id="assetArrow"></span></th>
          <th>Balanço <span id="balanceArrow"></span></th>
          <th>Status <span id="statusArrow"></span></th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="walletTable">
        {{range .Assets}}
        <tr data-asset-i-d="{{.ID}}" data-symbol="{{.Symbol}}" data-name="{{.Info.Name}}">
          <td>
            <img src="{{logoPath .Symbol}}" class="mini-icon">
            <span class="fs20">{{.Info.Name}}</span>
            <span class="fs15">({{toUpper .Symbol}})</span>
          </td>
          <td data-balance-target="{{.ID}}">
            {{if .Wallet}}
              {{.Info.UnitInfo.ConventionalString .Wallet.Balance.Available}}
            {{else}}
              0.00000000
            {{end}}
          </td>
          <td class="status-col fs16">
            {{template "stateIcons" .}}
          </td>
          <td>
            {{template "actionButtons" .}}
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

  {{- /* RIGHT SIDE */ -}}
  <div id="rightBox" class="col-10 px-2 py-5 d-flex justify-content-center align-items-start text-break overflow-auto">

    {{- /* AVAILABLE MARKETS (for selected asset) */ -}}
    <div id="marketsBox" class="d-hide">
      <div class="fs22 text-center py-1 fs24 sans-light"><img id="marketsForLogo"> <span id="marketsFor"></span> Mercados</div>
      <div id="marketsCard">
        <div id="marketCard" class="market-box p-3">
          <div class="px-2 text-center fs18" data-tmpl="dexTitle"></div>
          <div class="d-flex justify-content-center align-items-start flex-wrap" data-tmpl="markets">
            <div class="asset-market hoverbg pointer m-2 px-2 py-1 d-flex flex-column align-items-center" id="oneMarket">
              {{/* TODO: Get rid of this call to logoPath. We don't need to set this value. It's overwritten anyway. Do we even need the template function? */}}
              <img src="{{logoPath "dcr"}}" class="logo">
              <span class="mt-1 fs14 demi">DCR-BTC</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{- /* NEW WALLET */ -}}
    <form class="position-relative d-hide" id="newWalletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* UNLOCK WALLET */ -}}
    <form class="position-relative d-hide" id="unlockWalletForm" autocomplete="off">
      {{template "unlockWalletForm"}}
    </form>

    {{- /* DEPOSIT ADDRESS */ -}}
    <div class="text-center fs20 d-hide" id="deposit">
      <div class="px-2 py-1 mb-2 text-center position-relative fs22 sans-light">
        Depositar
        <img id="depositLogo" class="micro-icon mx-1">
        <span id="depositName"></span>
        <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      </div>
      <div class="d-inline">
        <img class="mb-3" id="qrcode" />
        <div class="mono bg0 p-2 fs15">
          <span id="depositAddress"></span>
          <span id="copyAddressBtn" class="ico-copy mt-2 ml-2 fs18"></span>
          <span id="copyAlert" class="d-hide">Copied!</span>
        </div>
      </div>
      <div class="my-3">
        <button id="newDepAddrBttn" type="button" class=" px-2 justify-content-center fs15 bg2 selected">Novo endereço de depósito</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="depositErr"></div>
    </div>

    {{- /* WITHDRAW */ -}}
    <form class="pb-3 d-hide" id="withdrawForm" autocomplete="off">
      <div class="py-1 text-center position-relative fs22 sans-light">
        Retirar
        <img id="withdrawLogo" class="micro-icon mx-1">
        <span id="withdrawName"></span>
        <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      </div>
      <div class="mt-3">
        <label for="withdrawAddr" class="form-label ps-1 mb-1">Endereço</label>
        <input type="text" class="form-control select" id="withdrawAddr">
      </div>
      <div class="d-flex align-items-stretch">
        <div class="mt-2 col-10 p-0">
          <label for="withdrawAmt" class="form-label ps-1 mb-1">Quantia</label>
          <input type="text" class="form-control select" id="withdrawAmt">
        </div>
        <div class="col-14 px-0 py-1 flex-center flex-column fs15 justify-content-between">
          <div class="d-inline pt-3"><span class="pointer" id="withdrawAvail"></span> disponível</div>
          <!-- <div class="d-inline">tx fees: <span id="withdrawFee"></span> <span id="withdrawUnit"></span>/byte</div> -->
        </div>
      </div>
      <hr class="dashed my-4">
      <div class="fs16 px-4 text-center">Autorizar retirada com sua senha do aplicativo.</div>
      <div class="d-flex mt-3">
        <div class="col-12 p-0">
          <label for="withdrawPW" class="form-label ps-1 mb-1">Senha</label>
          <input type="password" class="form-control select" id="withdrawPW" autocomplete="off">
        </div>
        <div class="col-12 p-0 text-end">
          <div>&nbsp;</div>
          <button id="submitWithdraw" type="button" class="w-75 mt-1 justify-content-center fs15 bg2 selected">Retirar</button>
        </div>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="withdrawErr"></div>
    </form>
    
    {{- /* RECONFIGURE WALLET */ -}}
    <form class="pb-3 d-hide mt-3" id="reconfigForm" autocomplete="off">
      <div class="py-1 text-center position-relative fs22 sans-light">
        Reconfigurar
        <img id="recfgAssetLogo" class="micro-icon mx-1">
        <span id="recfgAssetName"></span>
        Carteira
        <div class="form-closer recfg-form hoverbg"><span class="ico-cross"></span></div>
      </div>
      <div class="py-1 mt-2" id="reconfigInputs">
        {{template "walletConfigTemplates"}}
      </div>
      <div id="showChangePW" class="py-1 mt-2 pointer d-flex align-items-center justify-content-start">
        <span id="showIcon" class="ico-plus fs8 ps-1"></span>
        <span id="hideIcon" class="ico-minus fs8 ps-1"></span>
        <span id="switchPWMsg" class="d-inline-block ps-1 pb-1"></span>
      </div>
      <div id="changePW" class="py-1">
        <div class="fs15">
          Trocando a senha abaixo não troca sua senha da sua carteira. Use este formulário para atualizar o cliente DEX depois de ter alterado a senha da carteira pela aplicação da carteira diretamente.
        </div>
        <div class="pt-3">
          <label for="newPW" class="form-label mb-1">Nova senha da carteira</label>
          <input type="password" class="form-control select" id="newPW" autocomplete="new-password">
        </div>
      </div>

      <div id="showChangeType" class="py-1 mt-2 pointer d-flex align-items-center justify-content-start">
        <span id="changeTypeShowIcon" class="ico-plus fs8 ps-1"></span>
        <span id="changeTypeHideIcon" class="ico-minus fs8 ps-1 d-hide"></span>
        <span id="changeTypeMsg" class="d-inline-block ps-1 pb-1">trocar tipo de carteira</span>
      </div>
      <div id="changeWalletType" class="py-1 d-hide">
        <select id="changeWalletTypeSelect"></select>
      </div>
      <div class="my-2">
        Nota: Trocando para uma carteira diferente enquanto possui trocas ativas ou pedidos nos livros pode causar fundos a serem perdidos.
      </div>
      <div class="d-flex mt-1 {{if $passwordIsCached}}justify-content-end{{end}}">
        <div class="col-12 p-0 {{if $passwordIsCached}}d-hide{{end}}">
          <label for="appPW" class="form-label ps-1 mb-1">Senha do App</label>
          <input type="password" class="form-control select" id="appPW" autocomplete="off">
        </div>
        <div class="col-12 p-0 text-end">
          <div>&nbsp;</div>
          <button id="submitReconfig" type="button" class="w-75 mt-1 justify-content-center fs15 bg2 selected">Enviar</button>
        </div>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="reconfigErr"></div>
      <hr class="dashed my-2">
      <div class="d-flex flex-row">
        <button id="downloadLogs" type="button" class="w-25 mt-1 mx-1 justify-content-center fs15 bg2">Wallet Logs</button>
        <button id="recoverWallet" type="button" class="danger w-25 mx-1 mt-1 justify-content-center fs15 bg2">Recover</button>
      </div>
    </form>
  </div>

  {{- /* POP-UP FORMS */ -}}
  <div id="forms" class="d-hide">

    {{- /* CONFIRM FORCE FORM */ -}}
    <form class="d-hide" id="confirmForce">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="px-2 py-1 text-center position-relative fs22 sans-light">
        Wallet actively used!
      </div>
      <div class="fs15 text-left mt-2">
        This wallet is actively managing orders. After taking this action, it will take a long time to resync your wallet, potentially causing orders to fail. Only take this action if absolutely necessary!
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button id="cancelForce" type="button" class="justify-content-center fs15 bg2 danger mx-1">Cancel</button>
        <button id="confirmForceSubmit" type="button" class="justify-content-center fs15 bg2 selected mx-2">Confirm</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor" id="confirmForceErr"></div>
    </form>

    {{- /* RECOVER WALLET AUTHORIZATION */ -}}
    <form class="d-hide" id="recoverWalletConfirm">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="px-2 py-1 text-center position-relative fs22 sans-light">
        Recover Wallet
      </div>
      <div class="fs15 text-left mt-2">
        Recovering your wallet will move all wallet data to a backup folder. You will have to wait until the wallet resyncs with the network, which could potentially take a long time, before you can use the wallet again.
      </div>
      <div class="text-left mt-2">
        <label for="recoverWalletPW" class="form-label pl-1 mb-1">Password</label>
        <input type="password" class="form-control select" id="recoverWalletPW" autocomplete="current-password">
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button id="recoverWalletSubmit" type="button" class="justify-content-center fs15 bg2 selected">Enviar</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor" id="recoverWalletErr"></div>
    </form>
  </div>
</div>
{{template "bottom"}}
{{end}}
