{{define "wallets"}}
{{$passwordIsCached := .UserInfo.PasswordIsCached}}
{{template "top" .}}
<div id="main" data-handler="wallets" class="walletspage flex-grow-1 position-relative">
  <div class="fill-abs d-flex align-items-stretch">
    {{- /* ASSET SELECT */ -}}
    <div class="d-flex flex-column align-items-stretch stylish-overflow bg1 invisible" id="assetSelect">
      <div id="iconSelectTmpl" class="icon-select d-flex align-items-stretch">
        <img data-tmpl="img">
        <div class="d-none d-md-flex flex-column justify-content-around ps-2">
          <span class="fs15 lh1 text-nowrap" data-tmpl="name"></span>
          <span class="fs15 lh1" data-tmpl="balance"></span>
          <span class="fs13 lh1" data-tmpl="fiat" class="d-hide"></span>
          <span class="fs13 lh1" data-tmpl="noWallet">Create a Wallet</span>
        </div>
      </div>
    </div>

    <div class="flex-grow-1 position-relative">
      <div class="fill-abs d-flex flex-column flex-lg-row flex-wrap-lg flex-nowrap-xxl stylish-overflow no-overflow-xxl">
        {{- /* WALLET DETAILS */ -}}
        <div class="col-24 col-lg-12 col-xxl-8 d-flex stylish-overflow-lg invisible" id="walletDetailsBox">
          <div class="my-auto w-100 flex-center flex-column py-3">
            <div class="flex-center">
              <img id="assetLogo">
              <div class="ms-2 fs28 sans-light" id="assetName" data-asset-name="1"></div>
            </div>
            <div id="createWalletBox" class="my-2">
              <button class="py-1 px-2 hoverbg fs18" id="createWallet">Criar uma Carteira <span data-asset-name=1></span></button>
            </div>
            <div id="balanceBox">
              <span id="balance" class="fs35"></span>
              <span id="balanceUnit" class="fs24 grey ms-1 pb-1"></span>
            </div>
            <div id="fiatBalanceBox" class="fs14 grey flex-center">
              ~ <span id="fiatBalance" class="mx-1 lh1"></span> USD
            </div>

            <div class="d-flex align-items-start align-items-stretch mt-2 flex-column flex-md-row mw-90p" id="walletDetails">
              <div class="d-flex flex-column align-items-stretch flex-grow-1" id="balanceBreakdownBox">
                <div>
                  <table id="balanceTable" class="fs15 mt-2 w-100">
                    <tbody id="balanceDetailBox">
                      <tr id="balanceDetailRow">
                        <td data-tmpl="category" class="grey"></td>
                        <td data-tmpl="subBalance"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div id="sendReceive" class="d-flex w-100 justify-content-between fs22 mt-3">
                  <button id="receive" class="flex-center hoverbg me-3">
                    <span class="ico-qrcode fs14"></span>
                    <span class="fs16 ms-2">Receive</span>
                  </button>
                  <button id="send" class="flex-center hoverbg ms-3">
                    <span class="ico-send fs14"></span>
                    <span class="fs16 ms-2">Send</span>
                  </button>
                </div>
              </div>

              <div class="d-flex justify-content-start align-items-start flex-column flex-grow-1" id="walletInfo">
                <table id="walletInfoTable" class="fs15 mt-2 w-100">
                  <tbody>
                    <tr id="statusLocked">
                      <td class="grey">Status</td>
                      <td><span class="ico-locked fs14 me-2"></span>Locked</td>
                    </tr>
                    <tr id="statusReady">
                      <td class="grey">Status</td>
                      <td><span class="ico-unlocked fs14 me-2"></span>Ready</td>
                    </tr>
                    <tr id="statusOff">
                      <td class="grey">Status</td>
                      <td><span class="ico-sleeping fs14 me-2"></span>Off</td>
                    </tr>
                    <tr id="unlockBttnBox">
                      <td colspan="2" class="pb-2">
                        <button id="unlockBttn" class="fs14 p-1 hoverbg">Destrancar</button>
                      </td>
                    </tr>
                    <tr id="lockBttnBox">
                      <td colspan="2" class="pb-2">
                        <button id="lockBttn" class="fs14 p-1 hoverbg">Trancar</button>
                      </td>
                    </tr>
                    <tr id="connectBttnBox">
                      <td colspan="2" class="pb-2">
                        <button id="connectBttn" class="fs14 p-1 hoverbg">Conectar</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="grey text-nowrap">Wallet Type</td>
                      <td id="walletType"></td>
                    </tr>
                    <tr id="peerCountBox">
                      <td class="grey text-nowrap">Peer Count</td>
                      <td id="peerCount"></td>
                    </tr>
                    <tr id="syncProgressBox">
                      <td class="grey text-nowrap">Sync Progress</td>
                      <td id="syncProgress"></td>
                    </tr>
                    <tr id="reconfigureBox">
                      <td colspan="2" class="pt-2">
                        <button id="reconfigureBttn" class="fs15 hoverbg p-1">
                          <span class="ico-settings"></span>
                          Settings
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>{{/* END WALLET DETAILS */}}

        {{- /* MARKETS OVERVIEW */ -}}
        <div class="col-24 col-lg-12 col-xxl-8 d-flex stylish-overflow-lg bg1-lg border-top-lt-lg invisible" id="marketsOverviewBox">
          <div class="m-auto flex-center flex-column w-100 py-3">
            <div class="d-flex align-items-start flex-column mw-90p">
              <span class="fs28 sans-light mb-2"><span data-asset-name=1></span> Markets</span>
              <table id="availableMarketsTable" class="w-100">
                <thead>
                  <tr>
                    <th>Mercado</th>
                    <th class="d-none d-md-table-cell d-lg-none d-xxl-table-cell">Host</th>
                    <th>Preço</th>
                    <th>Volume</th>
                  </tr>
                </thead>
                <tbody id="availableMarkets" class="fs17">
                  <tr id="marketRow" class="hoverbg pointer">
                    <td>
                      <img data-tmpl="baseLogo">
                      <img data-tmpl="quoteLogo">
                      <span class="demi">
                        <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
                      </span>
                    </td>
                    <td class="d-none d-md-table-cell d-lg-none d-xxl-table-cell"><div data-tmpl="host" class="short-host"></div></td>
                    <td>
                      <span data-tmpl="price"></span>
                      <span class="fs13 grey">
                        <sup data-tmpl="priceQuoteUnit" class></sup>/<sub data-tmpl="priceBaseUnit"></sub>
                      </span>
                    </td>
                    <td data-tmpl="volume">
                      <span data-tmpl="volume"></span>
                      <span data-tmpl="volumeUnit" class="fs15 grey"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>{{/* END MARKETS OVERVIEW */}}

        {{- /* RECENT ORDERS */ -}}
        <div class="col-24 col-xxl-8 d-flex stylish-overflow-lg border-top-lt-xxl invisible" id="orderActivityBox">
          <div class="my-auto flex-center w-100 py-3" id="orderActivity">
            <div class="d-flex align-items-start flex-column mw-90p">
              <span class="fs28 sans-light mb-2">Recent <span data-asset-name=1></span> Activity</span>
              <table id="ordersTable" class="my-auto" class="w-100">
                <thead>
                  <tr>
                    <th>Troca</th>
                    <th>Status</th>
                    <th class="d-none d-md-table-cell">Preenchido</th>
                    <th>Idade</th>
                    <th></th> {{/* Link */}}
                  </tr>
                </thead>
                <tbody id="recentOrders">
                  <tr id="recentOrderTmpl">
                    <td data-tmpl="trade" class="text-nowrap">
                      <span data-tmpl="fromQty"></span>
                      <img data-tmpl="fromLogo" class="micro-icon">
                      <span data-tmpl="fromSymbol" class="d-none d-md-inline"></span>
                      <span>&rarr;</span>
                      <span data-tmpl="toQty"></span>
                      <img data-tmpl="toLogo" class="micro-icon">
                      <span data-tmpl="toSymbol" class="d-none d-md-inline"></span>
                    </td>
                    <td data-tmpl="status"></td>
                    <td data-tmpl="filled" class="d-none d-md-table-cell"></td>
                    <td data-tmpl="age" class="text-nowrap"></td>
                    <td><a class="ico-open fs14 pointer plainlink" data-tmpl="link"></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="m-auto flex-center flex-column w-100" id="noActivity">
            No Recent Activity
          </div>
        </div>{{/* END RECENT ORDERS */}}
      </div>
    </div>
  </div>{{/* END MAIN CONTENT */}}

  {{- /* POP-UP FORMS */ -}}
  <div id="forms" class="d-hide">

    <form id="checkmarkForm" class="flex-center flex-column">
      <div id="checkmarkBox" class="flex-center">
        <span class="ico-check" id="checkmark"></span>
      </div>
      <div id="successMessage" class="fs22"></div>
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="position-relative d-hide" id="newWalletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* SEND */ -}}
    <form class="pb-3 d-hide" id="sendForm" autocomplete="off">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="py-1 text-center position-relative fs22 sans-light">
        Send
        <img id="sendLogo" class="micro-icon mx-1">
        <span id="sendName"></span>
      </div>
      <div class="mt-3">
        <label for="sendAddr" class="form-label ps-1 mb-1">Endereço</label>
        <input type="text" class="form-control select" id="sendAddr">
      </div>
      <div class="d-flex align-items-stretch">
        <div class="mt-2 col-10 p-0">
          <label for="sendAmt" class="form-label ps-1 mb-1">Quantia</label>
          <input type="text" class="form-control select" id="sendAmt">
        </div>
        <div class="col-14 px-0 py-1 flex-center flex-column fs15 justify-content-between">
          <div class="d-inline pt-3"><span class="pointer" id="sendAvail"></span> disponível</div>
          <!-- <div class="d-inline">tx fees: <span id="sendFee"></span> <span id="sendUnit"></span>/byte</div> -->
        </div>
      </div>
      <span class="mt-2 d-hide">~<span id="sendValue" class="mx-1"></span>USD</span>
      <div id="toggleSubtract" class="form-check pt-2">
          <input class="form-check-input" type="checkbox" id="subtractCheckBox">
          <label for="subtractCheckBox" class="form-label ps-1">Subtract fees from amount sent.</label>
      </div>
      <div id="senderOnlyHelpText" class="pt-2">
      <p>The network fees will not be subtracted from the sent amount. Ensure you have enough in your wallet to cover fees.</p>
      </div>
      <hr class="dashed my-4">
      <div class="fs16 px-4 text-center">Authorize the transfer with your app password.</div>
      <div class="d-flex mt-3">
        <div class="col-12 p-0">
          <label for="sendPW" class="form-label ps-1 mb-1">Senha</label>
          <input type="password" class="form-control select" id="sendPW" autocomplete="off">
        </div>
        <div class="col-12 p-0 text-end">
          <div>&nbsp;</div>
          <button id="submitSendForm" type="button" class="w-75 mt-1 justify-content-center fs15 bg2 selected">Send</button>
        </div>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="sendErr"></div>
    </form>

    {{- /* DEPOSIT ADDRESS */ -}}
    <form class="position-relative flex-center flex-column fs20 d-hide" id="deposit">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="px-2 py-1 mb-2 text-center position-relative fs22 sans-light">
        Depositar
        <img id="depositLogo" class="micro-icon mx-1">
        <span id="depositName"></span>
      </div>
      <img class="mb-3" id="qrcode" />
      <div class="mono bg0 p-2 fs15">
        <span id="depositAddress"></span>
        <span id="copyAddressBtn" class="ico-copy mt-2 ml-2 fs18"></span>
        <span id="copyAlert" class="d-hide">Copied!</span>
      </div>
      <div class="my-3">
        <button id="newDepAddrBttn" type="button" class=" px-2 justify-content-center fs15 bg2 selected">Novo endereço de depósito</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="depositErr"></div>
    </form>

    {{- /* UNLOCK WALLET */ -}}
    <form class="position-relative d-hide" id="unlockWalletForm" autocomplete="off">
      {{template "unlockWalletForm"}}
    </form>

    {{- /* RECONFIGURE WALLET */ -}}
    <form class="pb-3 d-hide mt-3" id="reconfigForm" autocomplete="off">
      <div class="form-closer recfg-form hoverbg"><span class="ico-cross"></span></div>
      <div class="py-1 text-center position-relative fs22 sans-light">
        Reconfigurar
        <img id="recfgAssetLogo" class="micro-icon mx-1">
        <span id="recfgAssetName"></span>
        Carteira
      </div>
      <div class="py-1 mt-2" id="reconfigInputs">
        {{template "walletConfigTemplates"}}
      </div>
      <div id="showChangePW" class="mt-2 pointer d-flex align-items-center justify-content-start">
        <span id="showIcon" class="ico-plus fs8 ps-1"></span>
        <span id="hideIcon" class="ico-minus fs8 ps-1"></span>
        <span id="switchPWMsg" class="d-inline-block ps-1 pb-1"></span>
      </div>
      <div id="changePW">
        <div class="fs15">
          Trocando a senha abaixo não troca sua senha da sua carteira. Use este formulário para atualizar o cliente DEX depois de ter alterado a senha da carteira pela aplicação da carteira diretamente.
        </div>
        <div class="pt-3">
          <label for="newPW" class="form-label mb-1">Nova senha da carteira</label>
          <input type="password" class="form-control select" id="newPW" autocomplete="new-password">
        </div>
      </div>

      <div id="showChangeType" class="my-2 pointer d-flex align-items-center justify-content-start">
        <span id="changeTypeShowIcon" class="ico-plus fs8 ps-1"></span>
        <span id="changeTypeHideIcon" class="ico-minus fs8 ps-1 d-hide"></span>
        <span id="changeTypeMsg" class="d-inline-block ps-1 pb-1">trocar tipo de carteira</span>
      </div>
      <div id="changeWalletType" class="d-hide mb-3">
        <div class="my-2">
          Nota: Trocando para uma carteira diferente enquanto possui trocas ativas ou pedidos nos livros pode causar fundos a serem perdidos.
        </div>
        <select id="changeWalletTypeSelect"></select>
      </div>
      <div class="d-flex mt-1 {{if $passwordIsCached}}justify-content-end{{end}}">
        <div class="col-12 p-0 {{if $passwordIsCached}}d-hide{{end}}">
          <label for="appPW" class="form-label ps-1 mb-1">Senha do App</label>
          <input type="password" class="form-control select" id="appPW" autocomplete="off">
        </div>
        <div class="col-12 p-0 text-end">
          <div>&nbsp;</div>
          <button id="submitReconfig" type="button" class="w-75 mb-1 justify-content-center fs15 bg2 selected">Enviar</button>
        </div>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="reconfigErr"></div>
      <hr class="dashed my-2">
      <div class="sans-light fs17">Other Actions</div>
      <div class="d-flex flex-row fs15 pt-1">
        <button id="downloadLogs" type="button" class="p-1 me-2 hoverbg">Wallet Logs</button>
        <button id="exportWallet" type="button" class="w-25 mx-1 mt-1 justify-content-center fs15 bg2">Export Wallet</button>
        <button id="recoverWallet" type="button" class="danger p-1 me-2 hoverbg">Recover</button>
        <button id="rescanWallet" type="button" class="danger p-1 me-2 hoverbg">Rescan</button>
      </div>
    </form>

    {{- /* CONFIRM FORCE FORM */ -}}
    <form class="d-hide" id="confirmForce">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="px-2 py-1 text-center position-relative fs22 sans-light">
        Wallet actively used!
      </div>
      <div class="fs15 text-left mt-2">
        This wallet is actively managing orders. After taking this action, it will take a long time to resync your wallet, potentially causing orders to fail. Only take this action if absolutely necessary!
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button id="cancelForce" type="button" class="justify-content-center fs15 bg2 danger mx-1">Cancel</button>
        <button id="confirmForceSubmit" type="button" class="justify-content-center fs15 bg2 selected mx-2">Confirm</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor" id="confirmForceErr"></div>
    </form>

    {{- /* RECOVER WALLET AUTHORIZATION */ -}}
    <form class="d-hide" id="recoverWalletConfirm">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="px-2 py-1 text-center position-relative fs22 sans-light">
        Recover Wallet
      </div>
      <div class="fs15 text-left mt-2">
        Recovering your wallet will move all wallet data to a backup folder. You will have to wait until the wallet resyncs with the network, which could potentially take a long time, before you can use the wallet again.
      </div>
      <div class="text-left mt-2">
        <label for="recoverWalletPW" class="form-label pl-1 mb-1">Password</label>
        <input type="password" class="form-control select" id="recoverWalletPW" autocomplete="current-password">
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button id="recoverWalletSubmit" type="button" class="justify-content-center fs15 bg2 selected">Enviar</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor" id="recoverWalletErr"></div>
    </form>

    {{- /* EXPORT WALLET AUTHORIZATION */ -}}
    <form class="d-hide" id="exportWalletAuth">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="py-1 text-center position-relative fs22 sans-light">
        Export Wallet
      </div>
      <div class="fs15 text-start mt-2">
        Enter your app password to show the wallet seed. Make sure nobody else can see your screen. If anyone gets access to the wallet seed, they will be able to steal all of your funds.
      </div>
      <div id="exportDisclaimer" class="fs15 text-start mt-2">
        <span class="warning-text">Using an externally restored wallet while you have active trades running in the DEX could result in failed trades and LOST FUNDS.</span> It is recommended that you do not export your wallet unless you are an experienced user and you know what are doing.
      </div>
      <div class="text-start mt-2">
        <label for="exportWalletPW" class="ps-1 mb-1">Senha</label>
        <input type="password" class="form-control select" id="exportWalletPW" autocomplete="current-password">
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button id="exportWalletAuthSubmit" type="button" class="justify-content-center fs15 bg2 selected">Mostre me</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="exportWalletErr"></div>
    </form>

    {{- /* RESTORE WALLET INFO */ -}}
    <form class="d-hide" id="restoreWalletInfo">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="px-2 py-1 text-center position-relative fs22 sans-light">
        Export Wallet
      </div>
      <div class="fs15 text-start mt-2">
        Below are the seeds needed to restore your wallet in some popular external wallets. DO NOT make transactions with your external wallet while you have active trades running on the DEX.
      </div>
      <div class="fs15 text-start mt-2 warning-text">
        Copy/Pasting a wallet seed is a potential security risk. Do this at your own risk.
      </div>
      <hr />
      <div id="restoreInfoCardsList">
        <div id="restoreInfoCard">
          <span data-tmpl="name" class="text-left position-relative fs20 sans-light bold underline"></span>
          <br />
          <span data-tmpl="seedName"></span>
          <br />
          <div>
            <span data-tmpl="seed" class="mono fs14"></span>
          </div>
          <span>Instructions:</span>
          <br />
          <span data-tmpl="instructions" class="sans-light text-break preline"></span>
          <hr />
        </div>
      </div>
    </form>

  </div>
</div>
{{template "bottom"}}
{{end}}
