{{define "top"}}
<!DOCTYPE html>
<html lang="[[[Language]]]">
<head data-turbolinks-eval="false">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- /* The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags */ -}}
  <link rel="icon" href="/img/favicon.png?v=z8A71BD">
  <meta name="description" content="Decred DEX Client Web Portal">
  <title>{{.Title}}</title>
  <link href="/css/style.css?v=tVlMrZC" rel="stylesheet">
</head>
<body {{if .UserInfo.DarkMode}} class="dark"{{end}}>
  <div class="popup-notes" id="popupNotes">
    <span data-tmpl="note">
      <div class="note-indicator d-inline-block" data-tmpl="indicator"></div>
      <span data-tmpl="text"></span>
    </span>
  </div>
  <div id="tooltip" class="flex-center"></div>
  {{template "header" .}}
{{end}}

{{define "header"}}
<header id=header class="maintop">
  {{$authed := .UserInfo.Authed}}
  {{$marketsReady := and $authed (gt (len .UserInfo.Exchanges) 0)}}
  <a href="/" class="logo"></a>
  <div class="mainlinks fs18 offwhite">

    <a href="/markets" class="demi hoverbright{{if not $marketsReady}} d-hide{{end}}" id="marketsMenuEntry">[[[Markets]]]</a>

    <a href="/wallets" class="demi hoverbright{{if not $authed}} d-hide{{end}}" id="walletsMenuEntry">[[[Wallets]]]</a>

    <div class="d-inline-block position-relative{{if not $authed}} d-hide{{end}}" id="noteMenuEntry">
      <span class="ico-bell fs20 hoverbright" id="noteBell"></span>
      <div id="noteIndicator" class="d-hide"></div>
    </div>

    <div class="d-inline-block position-relative{{if not $authed}} d-hide{{end}}" id="profileMenuEntry">
      <span class="ico-profile fs20 hoverbright" id="profileIcon"></span>
    </div>

    <a href="/settings" class="ico-settings hoverbright fs24"></a>

  </div>
  <div id="loader" class="fill-abs flex-center d-hide">
    <div class="ico-spinner spinner"></div>
  </div>

  <div id="noteBox" class="d-hide">
    <div class="icon fs20 ico-bell p-1" id="innerNoteIcon"></div>
    <div class="header d-flex align-items-center justify-content-start fs17 demi hoverbright px-3 py-2">
      <div id="noteCat" class="active">[[[Notifications]]]</div>
      <div id="pokeCat">[[[Recent Activity]]]</div>
    </div>
    <div id="noteList" class="flex-grow-1 stylish-overflow">
      <div id="noteTmpl" class="note firstview p-2">
        <div class="d-flex justify-content-center align-items-center px-1">
          <div class="note-indicator d-inline-block me-2"></div>
          <div class="note-subject flex-grow-1 d-inline-block fs16 demi"></div>
          <span class="note-time pe-2"></span>
        </div>
        <div class="note-details fs15 px-3"></div>
      </div>
    </div>
    <div id="pokeList" class="d-hide flex-grow-1 stylish-overflow">
      <div id="pokeTmpl" class="note fs15 p-2">
        <div class="d-flex justify-content-center align-items-center px-1">
          <div class="flex-grow-1 d-inline-block fs16" data-tmpl="dateTime"></div>
          <span class="note-time"></span>
        </div>
        <div class="fs15 px-1" data-tmpl="details"></div>
      </div>
    </div>
  </div>

  <div id="profileBox" class="d-hide">
    <div class="icon fs20 ico-profile p-1" id="innerProfileIcon"></div>
    <span class="demi hoverbright pointer" id="profileSignout">[[[Sign Out]]]</span>
    <a href="/orders" class="demi hoverbright plainlink pt-2">[[[Order History]]]</a>
  </div>

</header>
{{end}}

{{define "bottom"}}
<script src="/js/entry.js?v=tVlMrZC"></script>
</body>
</html>
{{end}}
