{{define "header"}}
<header id=header class="maintop">
  {{$authed := .UserInfo.Authed}}
  <div data-pagelink="" class="logo"></div>
  <div class="mainlinks fs18 offwhite">
  <span data-pagelink="markets">Markets</span>
  <span data-pagelink="wallets"{{if not $authed}} class="d-hide"{{end}} id="walletsMenuEntry">Wallets</span>
  <span class="d-inline-block position-relative{{if not $authed}} d-hide{{end}}" id="noteMenuEntry">
    <div class="note-indicator" id="noteIndicator"></div>
    <div id="noteBox">
      <div id="noteList">
        <div id="noteTemplate" class="note fs14">
          <div class="note-indicator d-inline-block mr-2"></div>
          <span class="note-msg"></span>
        </div>
      </div>
    </div>
    <span class="ico-bell fs20" id="noteBell"></span>
  </span>
  <span class="ico-settings fs24{{if not $authed}} d-hide{{end}}" data-pagelink="settings" id="settingsIcon"></span>
  <span data-pagelink="login"{{if $authed}} class="d-hide"{{end}} id="loginLink">Sign In</span>
  </div>
  <div id="loader" class="fill-abs flex-center d-hide">
    <div class="ico-spinner spinner"></div>
  </div>
</header>
{{end}}

{{define "top"}}
<!DOCTYPE html>
<html lang="en">
<head data-turbolinks-eval="false">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="icon" href="/img/favicon.png?v=yHh3NF">
  <meta name="description" content="Decred DEX Client Web Portal">
  <title>{{.Title}}</title>
  <link href="/css/style.css?v=0" rel="stylesheet">
</head>
<body data-handler="home"{{if .UserInfo.DarkMode}} class="dark"{{end}}>
{{template "header" .}}
{{end}}

{{define "bottom"}}
<script src="/css/entry.js?v=0"></script>
</body>
</html>
{{end}}
