{{define "dexsettings"}}
{{template "top" .}}
<div id="main" data-handler="dexsettings" data-host="{{.Exchange.Host}}" class="py-5 overflow-y-auto">
  <section class="flex-stretch-column mw-425 mx-auto pb-3 pt-2">
    <div class="d-flex justify-content-start align-items-center">
      <span id="goBackToSettings" class="ico-wide-headed-left-arrow fs24 py-1 px-2 lh1 hoverbg pointer"></span>
    </div>
    <h1 class="text-center"><span class="ico-settings"></span></h1>
    <div class="flex-center fs28 text-break px-3">{{.Exchange.Host}}</div>
    <div class="flex-center fs16 mb-2 px-3">
      <span class="me-2 ico-connection d-hide text-success" id="connectedIcon"></span>
      <span class="me-2 text-danger ico-disconnected d-hide" id="disconnectedIcon"></span>
      <span id="connectionStatus"></span>
    </div>
    <div class="py-1 border-top pt-3 px-3">
      <div>Account ID</div>
      <div class="user-select-all w-100 overflow-ellipsis">{{.Exchange.AcctID}}</div>
    </div>
    <div class="flex-stretch-column pt-3 mt-3 px-3 border-top">
      <div class="d-flex align-items-stretch">
        <div class="flex-center flex-grow-1 pe-3">
          <div class="flex-stretch-column w-100">
            <div class="d-flex justify-content-between align-items-center">
              <span>[[[target_tier]]] <span class="fs14 ico-info me-1" data-tooltip="[[[target_tier_tooltip]]]"></span></span>
              <span id="targetTier"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span>[[[Actual Tier]]] <span class="fs14 ico-info me-1" data-tooltip="[[[current_tier_tooltip]]]"></span></span>
              <span id="effectiveTier"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span>[[[Penalties]]]</span>
              <span id="penalties"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span>[[[bonds_pending_refund]]]</span>
              <span id="bondsPendingRefund"></span>
            </div>
          </div>
        </div>
        <div class="flex-center p-4 border-start">
          <button id="changeTier">[[[Change Tier]]]</button>
        </div>
      </div>
      <div id="otherBondSettings" class="d-flex align-items-stretch mt-3 border-top">
        <div class="col-12 pe-2 py-2">
          <div id="autoRenewBox" class="d-flex justify-content-between align-items-center hoverbg pointer">
            <span>Auto Renew</span>
            <div>
              <div id="toggleAutoRenew" class="anitoggle"></div>
            </div>
          </div>
          <div id="renewErr" class="d-hide flex-center text-danger fs15"></div>
        </div>
        <div class="col-12 ps-2 py-2 border-start hoverbg">
          <div id="penaltyCompBox" class="row">
            <div class="col-18">
              <label for="penaltyCompInput">Penalty Comps
                <span class="ico-info fs14" data-tooltip="[[[compensation_tooltip]]]"></span>
              </label>
            </div>
            <div class="col-6 text-end">
              <span id="penaltyComps"></span>
              <input id="penaltyCompInput" type="number" step="1" class="micro thin text-center d-hide fs14">
            </div>
          </div>
          <div id="penaltyCompsErr" class="d-hide flex-center text-danger fs15"></div>
        </div>
      </div>
      <div id="repMeter" class="pt-3 border-top">
        {{template "reputationMeter"}}
      </div>
    </div>
    <div class="fs15 text-center d-hide text-danger text-break pt-3 mt-3 px-3 border-top" id="errMsg"></div>
    <div class="settings mt-3 border-top">
      <div class="border-bottom px-3 py-2 {{if .Exchange.ViewOnly}}d-hide{{end}}">
        <button id="exportDexBtn">[[[Export Account]]]</button>
      </div>
      <div class="border-bottom px-3 py-2">
        <button id="disableAcctBtn">[[[Disable Account]]]</button>
      </div>
      <div class="border-bottom px-3 py-2">
        <input type="file" class="d-none" id="certFileInput">
        <button id="updateCertBtn">[[[Update TLS Certificate]]]</button>
        <span class="mx-2 d-hide text-success" id="updateCertMsg">[[[successful_cert_update]]]</span>
      </div>
      <div class="border-bottom px-3 py-2 border-bottom">
        <button id="updateHostBtn">[[[update dex host]]]</button>
      </div>
    </div>
  </section>

  <div id="forms" class="d-hide">
    {{- /* DISABLE ACCOUNT */ -}}
    <form class="d-hide" id="disableAccountForm">
      <div class="form-closer"><span class="ico-cross"></span></div>
      <header>
        [[[Disable Account]]]
      </header>
      <div id="disableAccountHost" class="flex-center"></div>
      <div>
        [[[disable_dex_server]]]
      </div>
      <div class="flex-stretch-column">
        <button id="disableAccountConfirm" type="button" class="feature">[[[Disable Account]]]</button>
      </div>
      <div class="fs15 text-center d-hide text-danger text-break" id="disableAccountErr"></div>
    </form>

    {{- /* DEX ADDRESS */ -}}
    <form class="d-hide" id="dexAddrForm" autocomplete="off">
      {{template "dexAddrForm" .}}
    </form>

    {{- /* SUCCESS ANIMATION */ -}}
    <form id="checkmarkForm" class="flex-center flex-column plain">
      <div id="checkmarkBox" class="flex-center">
        <span class="ico-check" id="checkmark"></span>
      </div>
      <div id="successMessage" class="fs22"></div>
    </form>

    {{- /* REG ASSET SELECTOR */ -}}
    <form class="d-hide" id="regAssetForm">
      {{template "regAssetForm"}}
    </form>

    {{- /* CONFIRM POST BOND */ -}}
    <form class="d-hide mw-425" id="confirmRegForm">
      {{template "confirmRegistrationForm"}}
    </form>

    {{- /* SYNC AND BALANCE FORM */ -}}
    <form class="d-hide" id="walletWait">
      {{template "waitingForWalletForm"}}
    </form>

    {{- /* Form to set up a wallet. Shown on demand when a user clicks a setupWallet button. */ -}}
    <form class="d-hide" id="newWalletForm">
      {{template "newWalletForm"}}
    </form>

  </div>

</div>
{{template "bottom"}}
{{end}}
