{{define "dexsettings"}}
{{template "top" .}}
{{$passwordIsCached := .UserInfo.PasswordIsCached}}
<div id="main" data-handler="dexsettings" data-host="{{.Exchange.Host}}" class="py-5 overflow-y-auto">
  <div class="d-flex align-items-stretch flex-column mw-425 mx-auto">
    <div class="d-flex justify-content-start align-items-center pointer py-2">
      <span id="goBackToSettings" class="ico-wide-headed-left-arrow fs24 lh1"></span>
    </div>
    <div class="flex-center"><span class="settings-gear ico-settings"></span></div>
    <div class="flex-center fs28 text-break">{{.Exchange.Host}}</div>
    <div class="flex-center fs16 mb-2">
      <span class="me-2 connection ico-connection d-hide" id="connectedIcon"></span>
      <span class="me-2 errcolor ico-disconnected d-hide" id="disconnectedIcon"></span>
      <span id="connectionStatus"></span>
    </div>
    <hr>
    <div class="d-flex flex-column align-items-stretch">
      <div class="d-flex align-items-stretch">
        <div class="flex-center flex-grow-1 pe-3">
          <div class="d-flex flex-column align-items-stretch w-100">
            <div class="d-flex justify-content-between align-items-center">
              <span>[[[target_tier]]] <span class="fs14 ico-info me-1" data-tooltip="[[[target_tier_tooltip]]]"></span></span>
              <span id="targetTier"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span>[[[Actual Tier]]] <span class="fs14 ico-info me-1" data-tooltip="[[[current_tier_tooltip]]]"></span></span>
              <span id="effectiveTier"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span>[[[Penalties]]]</span>
              <span id="penalties"></span>
            </div>
          </div>
        </div>
        <div class="flex-center p-4 brdrleft">
          <button id="changeTier" class="p-2 fs15 hoverbg pointer">[[[Change Tier]]]</button>
        </div>
      </div>
      <hr class="mb-1">
      <div id="otherBondSettings" class="d-flex align-items-stretch brdrbottom pb-1">
        <div class="col-12 pe-2">
          <div id="autoRenewBox" class="d-flex justify-content-between align-items-center hoverbg pointer">
            <span>Auto Renew</span>
            <div>
              <div id="toggleAutoRenew" class="anitoggle"></div>
            </div>
          </div>
          <div id="renewErr" class="d-hide flex-center errcolor fs15"></div>
        </div>
        <div class="col-12 ps-2 brdrleft">
          <div id="penaltyCompBox" class="d-flex justify-content-between align-items-center hoverbg pointer">
            <div>
              <span>Penalty Comps</span>
              <span class="ico-info fs14" data-tooltip="[[[compensation_tooltip]]]"></span>
            </div>
            <div>
              <span id="penaltyComps"></span>
              <input id="penaltyCompInput" type="number" step="1" class="d-hide fs14 text-center">
            </div>
          </div>
          <div id="penaltyCompsErr" class="d-hide flex-center errcolor fs15"></div>
        </div>
      </div>
      <div id="repMeter" class="w-100">
        {{template "reputationMeter"}}
      </div>
    </div>
    <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="errMsg"></div>
    <div class="settings">
      <div{{if .Exchange.ViewOnly}} class="d-hide"{{end}}>
        <button id="exportDexBtn" class="bg2 selected">[[[Export Account]]]</button>
      </div>
      <div>
        <button id="disableAcctBtn" class="bg2 selected">[[[Disable Account]]]</button>
      </div>
      <div>
        <input type="file" class="form-control select d-none" id="certFileInput">
        <button id="updateCertBtn" class="bg2 selected">[[[Update TLS Certificate]]]</button>
        <span class="update-cert-msg mx-2 d-hide" id="updateCertMsg">[[[successful_cert_update]]]</span>
      </div>
      <div>
        <button id="updateHostBtn" class="bg2 selected">[[[update dex host]]]</button>
      </div>
    </div>
  </div>

  <div id="forms" class="d-hide">
    {{- /* DISABLE ACCOUNT */ -}}
    <form class="d-hide" id="disableAccountForm">
      {{template "disableAccountForm"}}
    </form>

    {{- /* AUTHORIZE EXPORT ACCOUNT */ -}}
    <form class="d-hide" id="authorizeAccountExportForm">
      {{template "authorizeAccountExportForm"}}
    </form>

    {{- /* DEX ADDRESS */ -}}
    <form class="d-hide" id="dexAddrForm" autocomplete="off">
      {{template "dexAddrForm" .}}
    </form>

    {{- /* SUCCESS ANIMATION */ -}}
    <form id="checkmarkForm" class="flex-center flex-column plain">
      <div id="checkmarkBox" class="flex-center">
        <span class="ico-check" id="checkmark"></span>
      </div>
      <div id="successMessage" class="fs22"></div>
    </form>

    {{- /* REG ASSET SELECTOR */ -}}
    <form class="d-hide mw-425" id="regAssetForm">
      {{template "regAssetForm"}}
    </form>

    {{- /* CONFIRM POST BOND */ -}}
    <form class="d-hide mw-425" id="confirmRegForm">
      {{template "confirmRegistrationForm"}}
    </form>

    {{- /* SYNC AND BALANCE FORM */ -}}
    <form class="d-hide" id="walletWait">
      {{template "waitingForWalletForm"}}
    </form>

    {{- /* Form to set up a wallet. Shown on demand when a user clicks a setupWallet button. */ -}}
    <form class="d-hide" id="newWalletForm">
      {{template "newWalletForm" }}
    </form>

    {{- /* UNLOCK WALLET */ -}}
    <form class="position-relative d-hide" id="unlockWalletForm" autocomplete="off">
      {{template "unlockWalletForm"}}
    </form>

  </div>

</div>
{{template "bottom"}}
{{end}}
