{{define "walletConfigTemplates"}}
<div class="py-2 px-1 d-flex justify-content-between align-items-center">
  Wallet Settings
  <div data-tmpl="fileSelector" class="d-inline-block hoverbg pointer fs14"><span class="ico-textfile mr-1"></span> load from file</div>
  <input data-tmpl="fileInput" type="file" class="form-control select d-none">
</div>
<div data-tmpl="allSettings">
  <div data-tmpl="dynamicOpts" class="dynamicopts">
    <div data-tmpl="textInput" class="px-0 d-flex flex-column justify-content-end">
      <label class="pl-1 mb-1 small"> <span class="ico-info"></span></label>
      <input type="text" class="form-control select">
    </div>
    <div data-tmpl="checkbox" class="pl-4 d-flex align-items-center justify-content-center">
      <div>
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label fs14"> <span class="ico-info fs13"></span></label>
      </div>
    </div>
  </div>
  <div data-tmpl="showOther" class="d-hide mt-3 mb-1 pointer d-flex align-items-center justify-content-start">
    <span data-tmpl="showIcon" class="ico-plus fs8 pl-1"></span>
    <span data-tmpl="hideIcon" class="ico-minus fs8 pl-1"></span>
    <span data-tmpl="showHideMsg" class="d-inline-block pl-1 pb-1"></span>
  </div>
  <div data-tmpl="otherSettings" class="d-hide">
    <div data-tmpl="loadedSettingsMsg" class="fs15 pt-3 pb-1 pl-1">&mdash; loaded from file &mdash;</div>
    <div data-tmpl="loadedSettings" class="dynamicopts"></div>
    <div data-tmpl="defaultSettingsMsg" class="fs15 pt-3 pb-1 pl-1">&mdash; defaults &mdash;</div>
    <div data-tmpl="defaultSettings" class="dynamicopts"></div>
  </div>
</div>
<div data-tmpl="errMsg" class="fs15 pt-3 text-center d-hide errcolor"></div>
{{end}}

{{define "newWalletForm"}}
<div class="bg2 px-2 py-1 text-center fs18">
  Add a
  <img id="nwAssetLogo" class="micro-icon mx-1">
  <span id="nwAssetName"></span>
  Wallet
</div>
<div class="p-4">
  {{if .}}
    <div class="fs16">{{.}}</div>
    <hr class="dashed mt-4">
  {{end}}
  <div id="walletSettings">
    {{template "walletConfigTemplates"}}
  </div>
  <hr class="dashed my-2">
  <div>
    {{if .}}
    <label for="newWalletPass" class="pt-3 pl-1 mb-0">Wallet Password</label>
    <div class="fs14 px-1 mb-1">This is the password you have configured with your wallet backend.</div>
    {{else}}
    <label for="newWalletPass" class="pt-3 pl-1 mb-1">Wallet Password</label>
    {{end}}
    <input type="password" class="form-control select" id="newWalletPass" autocomplete="off">
  </div>
  <div>
    {{if .}}
    <label for="nwAppPass" class="pt-3 pl-1 mb-0">App Password</label>
    <div class="fs14 px-1 mb-1">Your app password is always required when performing sensitive wallet operations.</div>
    {{else}}
    <label for="nwAppPass" class="pt-3 pl-1 mb-1">App Password</label>
    {{end}}
    <input type="password" class="form-control select" id="nwAppPass" autocomplete="off">
  </div>
  <div class="d-flex justify-content-end mt-4">
    <button id="submitAdd" type="submit" class="col-8 justify-content-center fs15 bg2 selected">Add</button>
  </div>
  <div class="fs15 pt-3 text-center d-hide errcolor" id="newWalletErr"></div>
</div>
{{end}}

{{define "unlockWalletForm"}}
<div class="bg2 px-2 py-1 text-center fs18">
  Unlock
  <img id="uwAssetLogo" class="micro-icon mx-1">
  <span id="uwAssetName"></span>
  Wallet
</div>
<div class="p-4">
  {{if .}}
    <div class="fs16">{{.}}</div>
    <hr class="dashed my-4">
  {{end}}
  <div>
    <label for="uwAppPass" class="pl-1 mb-0">App Password</label>
    <div class="fs14 px-1 mb-1">Your app password is always required when performing sensitive wallet operations.</div>
    <input type="password" class="form-control select" id="uwAppPass" autocomplete="off">
  </div>
  <div class="d-flex justify-content-end mt-4">
    <button id="submitUnlock" type="submit" class="col-8 justify-content-center fs15 bg2 selected">Unlock</button>
  </div>
  <div class="fs15 pt-3 text-center d-hide errcolor" id="unlockErr"></div>
</div>
{{end}}

{{define "dexAddrForm"}}
<div class="bg2 px-2 py-1 text-center fs18">Add a DEX</div>
<div class="p-4">
  <div>
    <label for="dexAddr" class="pl-1 mb-1">DEX Address</label>
    <input type="text" class="form-control select" id="dexAddr">
  </div>
  <div>
    <div class="pl-1 mb-1 mt-4 pointer">TLS Certificate</div>
    <input type="file" class="form-control select d-none" id="certFile">
    <div class="pl-1 mt-2 fs15">
      <span id="selectedCert"></span>
      <span class="underline ml-3 pointer d-hide" id="removeCert">remove</span>
      <span class="underline ml-3 pointer" id="addCert">add a file</span>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-4">
    <button id="submitDEXAddr" type="submit" class="col-8 justify-content-center fs15 bg2 selected">Submit</button>
  </div>
  <div class="fs15 pt-3 text-center d-hide errcolor" id="dexAddrErr"></div>
</div>
{{end}}

{{define "confirmRegistrationForm"}}
<div class="bg2 px-2 py-1 text-center fs18">Confirm Registration</div>
<div class="p-4">
  <div class="fs16">
    Enter your app password to confirm DEX registration.
    When you submit this form, <span id="feeDisplay"></span> DCR will be spent from your Decred wallet to pay
    registration fees.
  </div>
  <hr class="dashed my-4">
  <div>
    <label for="appPass" class="pl-1 mb-1">Password</label>
    <input type="password" class="form-control select" id="appPass" autocomplete="current-password">
  </div>
  <div class="d-flex justify-content-end mt-4">
    <button id="submitConfirm" type="button" class="col-8 justify-content-center fs15 bg2 selected">Register</button>
  </div>
  <div class="fs15 pt-3 text-center d-hide errcolor" id="regErr"></div>
</div>
{{end}}