{{define "walletConfigTemplates"}}
<h6 data-tmpl="walletSettingsHeader">
  [[[Wallet Settings]]]
</h6>
<div>
  <div data-tmpl="fileSelector" class="d-inline-block hoverbg pointer fs14"><span class="ico-textfile me-1"></span> [[[load from file]]]</div>
  <input data-tmpl="fileInput" type="file" class="d-none" accept=".conf, .cfg, .cnf, .ini">
</div>
<div data-tmpl="allSettings">
  <div data-tmpl="dynamicOpts" class="dynamicopts">
    <div data-tmpl="textInput" class="px-0 d-flex flex-column justify-content-end mt-3">
      <label class="small"> <span class="ico-info"></span></label>
      <input type="text">
    </div>
    <div data-tmpl="checkbox" class="d-flex align-items-center mt-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label fs14"> <span class="ico-info fs13"></span></label>
      </div>
    </div>
    <div data-tmpl="dateInput" class="px-0 d-flex flex-column justify-content-end mt-3">
      <label class="small"> <span class="ico-info"></span></label>
      <input type="date">
    </div>
  </div>
  <div data-tmpl="repeatableInput" class="w-100 mb-3">
    <label class="small"> <span class="ico-info"></span></label>
    <div class="d-flex align-items-stretch justify-content-center">
      <input type="text" class="flex-grow-1">
      <div class="ico-plus fs14 p-2 ms-2 pointer hoverbg" data-tmpl="add"></div>
    </div>
  </div>
  <div data-tmpl="showOther" class="d-hide mb-3 pointer d-flex align-items-center justify-content-start">
    <span data-tmpl="showIcon" class="ico-plus fs8 ps-1"></span>
    <span data-tmpl="hideIcon" class="ico-minus fs8 ps-1"></span>
    <span data-tmpl="showHideMsg" class="d-inline-block ps-1 pb-1"></span>
  </div>
  <div data-tmpl="otherSettings" class="d-hide mb-3">
    <div data-tmpl="loadedSettingsMsg" class="fs15 pt-3 pb-1 ps-1">&mdash; [[[loaded from file]]] &mdash;</div>
    <div data-tmpl="loadedSettings" class="dynamicopts"></div>
    <div data-tmpl="defaultSettingsMsg" class="fs15">&mdash; [[[defaults]]] &mdash;</div>
    <div data-tmpl="defaultSettings" class="dynamicopts"></div>
  </div>
</div>
<div data-tmpl="errMsg" class="fs15 pt-3 text-center d-hide text-danger text-break"></div>
{{end}}

{{define "walletCfgGuideTemplate"}}
<a data-tmpl="walletCfgGuide" class="d-flex justify-content-start align-items-center py-2 mt-2 pointer hoverbg" target="_blank">
  <span class="ico-textfile fs18"></span>
  <span class="pointer ps-1">[[[configuration guide]]]</span>
</a>
{{end}}

{{define "newWalletForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<div class="wallet-tabs mb-3" data-tmpl="walletTypeTabs">
  <div class="wtab" data-tmpl="walletTabTmpl"></div>
</div>
<h3 data-tmpl="header">
  [[[add_a_x_wallet]]]
  <small class="flex-center mt-1 d-hide" data-tmpl="tokenMsgBox">
    <span>[[[Token on]]]</span>
    <img data-tmpl="tokenParentLogo" class="ms-1 micro-icon">
    <span data-tmpl="tokenParentName"></span>
  </small>
</h3>
<div class="position-relative" data-tmpl="mainForm">
  <div class="flex-center py-3" data-tmpl="oneBttnBox">
    <button class="one-bttn w-auto" data-tmpl="oneBttn">[[[Create]]]!</button>
  </div>
  <div class="py-2 fs14 grey">
    <span class="hoverbg pointer d-hide" data-tmpl="goBack"><span class="ico-arrowback fs12 me-1"></span> [[[pick a different asset]]]</span>
  </div>
  <div data-tmpl="walletSettings">
    {{template "walletConfigTemplates"}}
  </div>
  {{template "walletCfgGuideTemplate"}}
  <hr class="dashed my-3">
  <div class="d-flex justify-content-between align-items-stretch flex-wrap mb-3" data-tmpl=walletPassAndSubmitBttn>
    <div class="col-11 p-0" data-tmpl="newWalletPassBox">
      <label for="newWalletPass">[[[Wallet Password]]]
        <span class="ico-info" data-tooltip="[[[w_password_tooltip]]]"></span>
      </label>
      <input type="password" data-tmpl="newWalletPass" autocomplete="off">
    </div>
    <div class="hide-pw col-11">
      <label for="nwAppPass">[[[App Password]]]</label>
      <input type="password" id="nwAppPass" data-tmpl="appPass" autocomplete="off">
    </div>
    <span class="col-3 hide-pw"></span> {{/* flex dummy */}}
    <div class="d-grid align-items-end col-10 p-0">
      <button data-tmpl="submitAdd" type="submit" class="go">[[[Add]]]</button>
    </div>
  </div>

  <div class="pt-3 text-center d-hide text-danger text-break" data-tmpl="newWalletErr"></div>
</div>
<div class="d-hide flex-center flex-column" data-tmpl="parentSyncing">
  <div class="p-3">
    [[[Synchronizing]]] <img data-tmpl="parentLogo" class="micro-icon"> <span data-tmpl="parentName"></span>.
  </div>

  <div class="fs20">
    <span data-tmpl="parentSyncPct"></span> %
  </div>
  <div class="p-3">
    <img data-tmpl="childLogo" class="micro-icon"> <span data-tmpl="childName"></span> [[[wallet_wait_synced]]].
  </div>
</div>
{{end}}

{{define "unlockWalletForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3 class="text-center text-nowrap position-relative mb-3">
  [[[Unlock]]]
  <img id="uwAssetLogo" class="micro-icon mx-1">
  <span id="uwAssetName"></span>
  [[[Wallet]]]
</h3>
{{if .}}
  <div class="fs16">{{.}}</div>
  <hr class="dashed my-4">
{{end}}
<div id="uwAppPassBox" class="mb-3">
  <label for="uwAppPass">[[[App Password]]]</label>
  <input type="password" id="uwAppPass" autocomplete="off" autofocus>
  <div class="mb-3 fs14 grey">[[[app_password_reminder]]]</div>
</div>
<div id="submitUnlockDiv" class="d-flex justify-content-end">
  <button id="submitUnlock" type="submit" class="go">[[[Unlock]]]</button>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" id="unlockErr"></div>
{{end}}

{{define "depositAddress"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3 class="text-center position-relative mb-4">
  [[[Receive]]]
  <img id="depositLogo" class="mini-icon mx-1">
  <span id="depositName"></span>
  <div class="flex-center pt-1 d-hide fs18 sans" id="depositTokenMsgBox">
    <span>[[[Token on]]]</span>
    <img id="depositTokenParentLogo" class="ms-1 micro-icon">
    <span id="depositTokenParentName"></span>
  </div>
</h3>
<img class="mb-4" id="qrcode" />
<div class="mono deposit-address border mb-4">
  <span id="depositAddress" class="user-select-all"></span>
  <span id="copyAddressBtn" class="ico-copy mt-2 ml-2 fs18 pointer"></span>
  <span id="copyAlert" class="d-hide">[[[copied]]]</span>
</div>
<div class="d-flex">
  <button id="newDepAddrBttn" type="button" class="go justify-content-center">[[[New Address]]]</button>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" id="depositErr"></div>
{{end}}

{{define "certPicker"}}
<label for="certFile" class="pointer">[[[TLS Certificate]]]</label>
<input type="file" class="d-none" data-tmpl="certFile">
<div class="ps-1 mt-2 fs15">
  <span data-tmpl="selectedCert"></span>
  <u class="ms-3 pointer d-hide" data-tmpl="removeCert">[[[remove]]]</u>
  <u class="ms-3 pointer" data-tmpl="addCert">[[[add a file]]]</u>
</div>
{{end}}

{{define "dexAddrForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3 data-tmpl="addDexHdr" class="d-flex align-items-center justify-content-center"><span class="ico-plus fs12 me-2"></span> [[[Add a DEX]]]</h3>
<h3 data-tmpl="updateDexHdr" class="d-hide"></span> [[[update dex host]]]</h3>
<div class="fs20" data-tmpl="pickServerMsg">
  <hr class="dashed my-2">
  [[[Pick a server]]]
</div>
<div class="flex-stretch-column mt-1" data-tmpl="knownXCs">
  {{range .KnownExchanges}}
    <div class="known-exchange" data-host="{{.}}"><img class="micro-icon me-1" src={{dummyExchangeLogo .}}> {{.}}</div>
  {{end}}
</div>
<div class="fs14" data-tmpl="skipRegistrationBox">
  <hr class="dashed my-2">
  <input class="form-check-input" type="checkbox" data-tmpl="skipRegistration" id="skipRegistration">
  <label for="skipRegistration" class="ps-1">[[[Skip Registration]]]</label>
</div>
<div data-tmpl="showCustom">
  <hr class="dashed my-2">
  <div class="px-1 mt-3 fs14 pointer d-flex justify-content-start align-items-center {{if eq (len .KnownExchanges) 0}}d-hide{{end}}">
    <span class="ico-plus fs11"></span>
    <div class="ps-2">[[[add a different server]]]</div>
  </div>
</div>

<div data-tmpl="customBox" class="mb-3">
  <hr class="dashed my-2">
  <div class="fs20 " data-tmpl="addCustomMsg">[[[Add a custom server]]]</div>
  <div class="mb-3">
    <label for="dexAddr">[[[DEX Address]]]</label>
    <input type="text" data-tmpl="addr" id="dexAddr">
  </div>
  <div class="px-1 mt-3 mb-3 fs14 d-hide" data-tmpl="needCert">
    [[[reg_ssl_needed]]]
  </div>
  {{template "certPicker"}}
</div>
<div class="d-flex d-hide" data-tmpl="auth">
  <div class="col-12 p-0">
    <div data-tmpl="appPWBox" {{if $.UserInfo.PasswordIsCached}}class="d-hide"{{end}}>
      <label for="dexAddrAppPW">[[[App Password]]]</label>
      <input type="password" id="dexAddrAppPW" data-tmpl="appPW" autocomplete="current-password">
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end align-items-end p-0">
    <button data-tmpl="submit" type="button" class="go">[[[Submit]]]</button>
  </div>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" data-tmpl="err"></div>
{{end}}

{{define "discoverAcctForm"}}
<h3 data-tmpl="header">[[[Create Account]]]</h3>
<div class="fs16 text-center mb-3"><span data-tmpl="dexHost"></span></div>
<div data-tmpl="appPWBox" class="mb-3">
  <label for="discoverAcctAppPW">[[[App Password]]]</label>
  <input type="password" id="discoverAcctAppPW" data-tmpl="appPW">
</div>
<div class="d-flex justify-content-center">
  <button data-tmpl="submit" type="button" class="go">[[[Create Account]]]</button>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" data-tmpl="err"></div>
{{end}}

{{define "regAssetForm"}}
<div data-tmpl="whatsABondPanel" class="d-hide">
  <div data-tmpl="whatsABondBack" class="small">
    <span class="ico-wide-headed-left-arrow fs24"></span>
  </div>
  <h4 class="flex-center fs22 mb-3">[[[What is a fidelity bond]]]</h4>
  <ul>
    <li>
      [[[bond_definition]]]
    </li>
    <li>
      [[[bonds_can_be_revoked]]]
    </li>
    <li>
      [[[bigger_bonds_higher_limit]]]
    </li>
    <li>
      [[[limits_reputation]]]
    </li>
    <li>
      [[[wallet_bond_reserves]]]
    </li>
  </ul>
  <div class="flex-center p-3">
    <div data-tmpl="bondGotIt">[[[Got it]]]</div>
  </div>
</div>

<div data-tmpl="assetForm">
  <h3 class="text-center">[[[Select your bond asset]]]</h3>
  <div data-tmpl="regAssetErr" class="fs14 text-danger flex-center"></div>
  <div data-tmpl="bondAssets">

    <div data-tmpl="bondAssetTmpl" class="border rounded3 d-flex align-items-stretch p-2 hoverbg pointer mt-3">
      <div class="flex-center pe-4">
        <div class="flex-center">
          <img class="medium-icon" data-tmpl="logo">
          <span class="fs28 ms-2" data-tmpl="name"></span>
        </div>
        <div class="fs14 readygreen" data-tmpl="ready"></div>
      </div>
      <div class="d-flex flex-column align-items-end justify-content-center flex-grow-1">
        <div class="flex-center lh1">
          <span data-tmpl="feeAmt" class="fs22"></span>
          <span data-tmpl="feeSymbol" class="fs20 grey ms-1"></span>
        </div>
        <div data-tmpl="fiatBox" class="flex-center lh1">
          <span>~</span>
          <span data-tmpl="fiatBondAmount" class="fs18"></span>
          <span class="grey ms-1 fs16">USD</span>
        </div>
      </div>
    </div>

  </div>
  <button type="button" data-tmpl="usePrepaidBond" class="w-100 mt-3">
    <span class="ico-ticket fs22 me-2"></span>
    <span class="fs22">Use a pre-paid bond</span>
  </button>
  <div data-tmpl="whatsABond" class="flex-center fs18 hoverbg pointer underline pt-2 pb-1 mt-1">[[[what_s_a_bond]]]</div>
</div>

<div data-tmpl="tradingTierForm" class="d-hide">
  <h3>[[[Choose your trading tier]]]</h3>
  <div class="d-flex align-items-center mb-2">
    <div class="flex-grow-1 flex-column px-2">
      <div class="fs15">[[[trading_tier_message]]]</div>
    </div>
    <div class="flex-center flex-grow-1">
      <div class="position-relative d-flex align-items-stretch user-select-none">
        <input data-tmpl="tradingTierInput" type="number" class="text-center fs24 p-2" value="1" min="0" step="1">
        <input type="text" class="d-hide"> <!--two inputs to prevent auto form submission-->
        <div class="flex-stretch-column border-top border-end border-bottom">
          <div data-tmpl="tierUp" class="hoveropaque flex-grow-1 flex-center ico-arrowup pointer hoverbg border-bottom px-2"></div>
          <div data-tmpl="tierDown" class="hoveropaque flex-grow-1 flex-center ico-arrowdown pointer hoverbg px-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div data-tmpl="tradingTierErr" class="fs14 text-danger flex-center"></div>
  <div>
    <div data-tmpl="goBackToAssets" class="d-inline-block fs16 grey pointer hoverbg py-1">
      <span class="ico-wide-headed-left-arrow"></span>
      [[[choose a different asset]]]
    </div>
  </div>
  <table class="cell-border compact mt-1">
    <thead>
      <tr>
        <th class="text-center">Bond</th>
        <th class="text-center">Tier</th>
        <th class="text-center">Reserves</th>
        <th class="text-center">Bond Lock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">
          <span data-tmpl="bondSizeDisplay" class="fs18"></span>
          <span class="fs16 grey" data-bond-asset-ticker></span>
        </td>
        <td class="text-center fs18">
          x <span data-tier></span>
        </td>
        <td class="text-center fs18">x 2</td>
        <td>
          <div class="text-center lh1">
            <span>=</span>
            <span data-tmpl="bondLockDisplay" class="fs18 demi"></span>
            <span class="fs16 grey" data-bond-asset-ticker></span>
          </div>
          <div data-tmpl="fiatLockBox" class="text-center lh1">
            <span>~</span>
            <span data-tmpl="fiatLockDisplay" class="fs16 demi"></span>
            <span class="fs14 grey">USD</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" data-tmpl="submitTradingTier" class="w-100 large go mt-3">[[[Submit]]]</button>
  <div data-tmpl="currentBondBox" class="mt-3">
    <table class="cell-border lh1">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Current Bond Lock</th>
        </tr>
      </thead>
      <tbody data-tmpl="currentBonds">
        <tr data-tmpl="currentBondTmpl">
          <td class="no-stretch">
            <div class="flex-center">
              <img data-tmpl="icon" class="mini-icon me-2">
              <span data-tmpl="name" class="fs20"></span>
            </div>
          </td>
          <td>
            <div class="flex-stretch-column">
              <div class="d-flex align-items-center justify-content-end lh1">
                <span data-tmpl="amt" class="fs18 me-1"></span>
                <span data-tmpl="ticker" class="fs16 grey"></span>
              </div>
              <div data-tmpl="fiatBox" class="d-flex align-items-center justify-content-end lh1">
                <span>~</span>
                <span data-tmpl="fiatAmt" class="fs16 me-1"></span>
                <span class="fs14 grey">USD</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center fs22 mt-3">Tier <span data-tier></span> Trading Limits</div>
  <table class="cell-border">
    <thead>
      <tr class="fs16">
        <th class="no-stretch">[[[Market]]]</th>
        <th class="text-end text-nowrap">Starting Limit</th>
        <th class="text-nowrap">Good Reputation Limit</th>
      </tr>
    </thead>
    <tbody data-tmpl="markets">

      <tr data-tmpl="marketTmpl">
        <td class="no-stretch">
          <div class="d-flex align-items-center lh1">
            <img data-tmpl="baseLogo" class="micro-icon me-1">
            <img data-tmpl="quoteLogo" class="micro-icon me-1">
            <span data-base-ticker></span>-<span data-quote-ticker></span>
          </div>
        </td>
        <td>
          <div class="flex-stretch-column">
            <div class="d-flex align-items-center justify-content-end lh1">
              <span data-tmpl="tradeLimitLow" class="fs18 me-1"></span>
              <span class="fs16 grey" data-base-ticker></span>
            </div>
            <div data-tmpl="fiatTradeLowBox" class="d-flex align-items-center justify-content-end lh1">
              <span>~</span>
              <span data-tmpl="fiatTradeLimitLow" class="fs16 me-1"></span>
              <span class="fs14 grey">USD</span>
            </div>
          </div>
        </td>
        <td>
          <div class="flex-stretch-column">
            <div class="d-flex align-items-center justify-content-end lh1">
              <span data-tmpl="tradeLimitHigh" class="fs18 me-1"></span>
              <span class="fs16 grey" data-base-ticker></span>
            </div>
            <div data-tmpl="fiatTradeHighBox" class="d-flex align-items-center justify-content-end lh1">
              <span>~</span>
              <span data-tmpl="fiatTradeLimitHigh" class="fs16 me-1"></span>
              <span class="fs14 grey">USD</span>
            </div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<div data-tmpl="prepaidBonds" class="d-hide">
  <div class="py-2 fs14 grey">
    <span class="hoverbg pointer" data-tmpl="ppbGoBack"><span class="ico-arrowback fs12 me-1"></span> go back</span>
  </div>
  <h3>Redeem Pre-paid Bond</h3>
  <label for="prepaidBondCode">Code</label>
  <input type="text" data-tmpl="prepaidBondCode" autocomplete="off">
  <div data-tmpl="prepaidBondPWBox">
    <label for="ppbAppPW">[[[Password]]]</label>
    <input type="password" data-tmpl="prepaidBondPW" autocomplete="off">
  </div>
  <div data-tmpl="prepaidBondErr" class="pt-2 px-2 text-danger d-hide"></div>
  <div class="text-left mt-2">
    <button data-tmpl="submitPrepaidBond" type="button" class="go">[[[Submit]]]</button>
  </div>
</div>
{{end}}

{{define "loginForm"}}
<h3 data-tmpl="header">[[[Log In]]]</h3>
<div class="mb-2">
  <label for="pw">[[[Password]]]</label>
  <input type="password" data-tmpl="pw" autocomplete="current-password">
</div>
<div class="mb-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" data-tmpl="rememberPass" id="logRememberPass">
      <label for="logRememberPass" class="form-check-label">[[[Remember my password]]]</label>
    </div>
</div>
<div class="d-flex justify-content-center mb-3">
  <button data-tmpl="submit" type="button" class="go px-5" id="loginSubmit">[[[Submit]]]</button>
</div>
<div class="d-flex justify-content-center">
  <strong id="forgotPassBtn" class="grey pointer">[[[Forgot Password]]]</strong>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" data-tmpl="errMsg"></div>
{{end}}

{{define "confirmRegistrationForm"}}
<div class="w-100 flex-stretch-column">
  <span class="hoverbg pointer grey mb-3" data-tmpl="goBack"><span class="ico-arrowback fs12 me-1"></span> [[[pick a different asset]]]</span>
  <h3>[[[Confirm Bond Options]]]</h3>
  <div class="d-flex align-items-stretch">
    <div class="flex-grow-1 flex-stretch-column pe-3">
      <div class="d-flex justify-content-between">
        <span>[[[Host]]]</span>
        <span data-tmpl="host"></span>
      </div>
      <div class="d-flex justify-content-between">
        <span>[[[Trading Tier]]]</span>
        <span data-tmpl="tradingTier"></span>
      </div>
      <div class="d-flex justify-content-between">
        <span>[[[Bond Lock]]]</span>
        <span>
          <span data-tmpl="bondLock"></span>
          <span data-tmpl="bondUnit"></span>
          <img data-tmpl="logo" class="micro-icon ms-1">
        </span>
      </div>
      <div data-tmpl="bondLockUSDBox" class="d-flex justify-content-between lh1 fs14 grey">
        <span></span>
        <span><span>~</span><span data-tmpl="bondLockUSD"></span> <span>USD</span></span>
      </div>
      <div class="d-flex justify-content-between">
        <span>[[[Fee Reserves]]]</span>
        <span><span data-tmpl="feeReserves"></span> <span data-tmpl="reservesUnit"></span></span>
      </div>
    </div>
    <div class="flex-center flex-column border-start mw50">
      <div data-tmpl="passBox" class="text-center px-3 mt-1">
        <span class="fs14">[[[app_pw_reg]]]</span>
        <input type="password" class="app-pass mt-3" data-tmpl="appPass" autocomplete="current-password">
      </div>
      <div class="flex-center p-3 mt-1">
        <button data-tmpl="submit" class="go">[[[Submit]]]</button>
      </div>
    </div>
  </div>
  <div class="fs15 pt-3 text-center d-hide text-danger text-break" data-tmpl="regErr"></div>
  <hr class="dashed my-3">
  <div class="fs16 reg-conf-msg" data-tmpl="text">
    <span class="ico-info"></span> [[[reg_confirm_submit]]]
  </div>
</div>
{{end}}

{{define "authorizeAccountExportForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3>
  [[[Authorize Export]]]
</h3>
<p class="mb-3">
  [[[export_app_pw_msg]]]: <span id="exportAccountHost"></span>.
</p>
<hr class="dashed mb-3">
<div class="mb-3">
  <label for="exportAccountAppPass">[[[Password]]]</label>
  <input type="password" id="exportAccountAppPass" autocomplete="current-password">
</div>
<div class="d-flex justify-content-end">
  <button id="authorizeExportAccountConfirm" type="button" class="go">[[[Authorize Export]]]</button>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" id="exportAccountErr"></div>
{{end}}

{{define "disableAccountForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3>
  [[[Disable Account]]]
</h3>
<div class="mb-3">
  [[[disable_app_pw_msg]]]: <span id="disableAccountHost"></span>.
</div>
<hr class="dashed mb-3">
<div class="mb-3">
  [[[disable_dex_server]]]
</div>
<hr class="dashed mb-3">
<div class="mb-3">
  <label for="disableAccountAppPW">[[[Password]]]</label>
  <input type="password" id="disableAccountAppPW" autocomplete="current-password">
</div>
<div class="d-flex justify-content-end">
  <button id="disableAccountConfirm" type="button" class="go">[[[Disable Account]]]</button>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" id="disableAccountErr"></div>
{{end}}

{{define "authorizeAccountImportForm"}}
{{$passwordIsCached := .UserInfo.PasswordIsCached}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3>
  [[[Authorize Import]]]
</h3>
<div class="mb-3">
  <label for="accountFile">[[[Account File]]]</label>
  <input type="file" class="d-none" id="accountFile">
  <small class="pointer">
    <span id="selectedAccount"></span>
    <u class="ms-3 pointer d-hide" id="removeAccount">[[[remove]]]</u>
    <u class="ms-3 pointer" id="addAccount"><span class="ico-textfile me-1"></span> [[[load from file]]]</u>
  </small>
</div>
<hr class="dashed mb-3">
<div class="mb-3 {{if $passwordIsCached}} d-hide{{end}}">
  <label for="importAccountAppPass">[[[Password]]]</label>
  <input type="password" id="importAccountAppPass" autocomplete="current-password">
  <div class="fs14 grey">[[[app_pw_import_msg]]]</div>
</div>
<div class="d-flex justify-content-end">
  <button id="authorizeImportAccountConfirm" type="button" class="go">[[[Authorize Import]]]</button>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" id="importAccountErr"></div>
{{end}}

{{define "changeAppPWForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3>
  [[[Change Application Password]]]
</h3>
<div class="mb-3">
  <label for="appPW">[[[Current Password]]]</label>
  <input type="password" id="appPW" autocomplete="current-password">
</div>
<div class="mb-3">
  <label for="newAppPW">[[[New Password]]]</label>
  <input type="password" id="newAppPW" autocomplete="new-password">
</div>
<div class="mb-3">
  <label for="confirmNewPW">[[[Confirm New Password]]]</label>
  <input type="password" id="confirmNewPW" autocomplete="new-password">
</div>
<div class="d-flex justify-content-end">
  <button id="submitNewPW" type="submit" class="go">[[[Submit]]]</button>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" id="changePWErrMsg"></div>
{{end}}

{{define "cancelOrderForm"}}
{{$passwordIsCached := .UserInfo.PasswordIsCached}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3>
  [[[:title:cancel_order]]]
</h3>
<div class="mb-3">
  [[[cancel_no_pw]]]
  <span id="cancelRemain" class="fs16 sans"></span>
  <span id="cancelUnit" class="fs14 sans"></span>.<br>
  [[[cancel_remain]]]
</div>
<hr class="dashed mb-3">
<div class="d-flex justify-content-end">
  <button id="cancelSubmit" type="button" class="go px-4">[[[Submit]]]</button>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger" id="cancelErr"></div>
{{end}}

{{define "accelerateForm"}}
{{$passwordIsCached := .UserInfo.PasswordIsCached}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3>[[[:title:accelerate_order]]]</h3>
<div id=accelerateMainDiv>
  <div id="configureAccelerationDiv">
    [[[acceleration_text]]]
    <br />
    <div class="text-center fs17 position-relative">
      [[[effective_swap_tx_rate]]]: <span id="accelerateAvgFeeRate"></span>
    </div>
    <div class="text-center fs17 position-relative">
      [[[current_fee]]]: <span id="accelerateCurrentFeeRate"></span>
    </div>
    <div id="sliderContainer" class="slider-container">
    </div>
    <div id="feeEstimateDiv" class="text-center fs17 position-relative d-hide">
      [[[acceleration_cost_msg]]]
    </div>
    <hr class="dashed mt-2">
    <div class="d-flex flex-row align-items-end {{if $passwordIsCached}}justify-content-end{{end}} pb-4">
      <div class="col-12 p-0 {{if $passwordIsCached}}d-hide{{end}}">
        <label for="acceleratePass">[[[Password]]]</label>
        <input type="password" id="acceleratePass" autocomplete="off">
      </div>
      <div class="col-12 pt-2 {{if not $passwordIsCached}}px-5{{end}}">
        <button id="accelerateSubmit" type="button" class="go">[[[Submit]]]</button>
      </div>
    </div>
  </div>
  <div class="d-hide" id="earlyAccelerationDiv">
    <div id="recentAccelerationMsg">[[[recent_acceleration_msg]]]</div>
    <div id="recentSwapMsg">[[[recent_swap_msg]]]</div>
    <br/>
    [[[early_acceleration_help_msg]]]
    <div class="d-flex flex-row align-items-end justify-content-end pb-4">
      <div class="col-12 pt-2">
        <button id="submitEarlyConfirm" type="button" class="go">[[[Submit]]]</button>
      </div>
    </div>
  </div>
  <div class="fs15 pt-3 text-center d-hide text-danger text-break" id="accelerateErr"></div>
</div>
  {{/* range option template goes here */}}
<div id="accelerateMsgDiv" class="d-hide">
  <div class="fs15 pt-3 text-center d-hide text-danger text-break" id="preAccelerateErr"></div>
  <div class="fs15 pt-3 text-left d-hide text-break" id="accelerateSuccess">
    [[[accelerate_success]]]
  </div>
</div>
{{end}}

{{define "waitingForWalletForm"}}
<div class="text-center mb-4"><img class="large-icon" data-tmpl="logo" src="/img/coins/dcr.png"></div>
<div class="d-flex flex-column align-items-start border-start ps-3 mb-4">
  <div class="flex-center flex-row">
    <div class="icons text-end pe-3">
      <span class="ico-check fs16 d-hide" data-tmpl="syncCheck"></span>
      <span class="ico-checkbox d-hide fs14" data-tmpl="syncUncheck"></span>
      <div class="ico-spinner spinner d-hide fs14 d-inline-block" data-tmpl="syncSpinner"></div>
    </div>
    <span class="fs20 ">[[[1 Sync the Blockchain]]]</span>
  </div>
  <div class="flex-center mt-1">
    <span class="fs16 me-1">[[[Progress]]]:</span>
    <span class="fs20 mx-1" data-tmpl="progress"></span>
    <span class="fs16 grey">%</span>
  </div>
  <div class="mt-1 flex-center flex-row fs14 d-hide" data-tmpl="syncRemainBox">
    <span data-tmpl="syncRemaining"><span data-tmpl="syncRemain" class="me-1"></span> [[[remaining]]]</span>
    <span data-tmpl="syncFinishingUp" class="me-1"></span>
  </div>
</div>

<div class="d-flex flex-column align-items-start ps-3 mb-3 border-start">
  <div class="flex-center flex-row mb-2">
    <div class="icons text-end pe-3">
      <span class="ico-checkbox fs14 d-hide" data-tmpl="balUncheck"></span>
      <span class="ico-check d-hide fs16" data-tmpl="balCheck"></span>
    </div>
    <span class="fs20">[[[2 Fund your Wallet]]]</span>
  </div>
  <div class="d-flex flex-column align-items-start" data-tmpl="balanceBox">
    <div class="flex-center mb-2">
      <span class="me-1">[[[Available Balance]]]:</span>
      <strong class="me-1" data-tmpl="balance"></strong>
      <span class="grey unit">XYZ</span>
    </div>
    <div class="flex-center flex-row mb-2">
      <span class="me-1">[[[bond_lock]]]</span>
      <strong class="me-1" data-tmpl="fee"></strong>
      <span class="grey unit">XYZ</span>
    </div>
    <div data-tmpl="bondCostBreakdown" class="mb-2 grey">[[[bond_cost_breakdown]]]</div>
    <span data-tmpl="sendEnoughWithEst" class="grey">[[[Send enough with estimate]]]</span> {{- /* NOTE: includes totalForBond */}}
    <span data-tmpl="sendEnoughForToken" class="grey">[[[Send funds for token]]]</span>
    <div class="mb-1 flex-center flex-row d-hide" data-tmpl="txFeeBox">
      <span class="fs16 me-1">[[[Reserves for tx fees]]]</span>
      <span class="fs20 me-1" data-tmpl="txFee"></span>
      <span class="fs16 grey unit" data-tmpl="txFeeUnit">XYZ</span>
    </div>
    <div class="mb-3 flex-center flex-row d-hide" data-tmpl="txFeeBalanceBox">
      <span class="fs16 me-1">[[[Tx Fee Balance]]]</span>
      <span class="fs20 me-1" data-tmpl="parentBal">0</span>
      <span class="fs16 grey unit" data-tmpl="parentBalUnit">XYZ</span>
    </div>
    <hr class="dashed w-100 mb-3">
    <div class="mb-2">[[[Your Deposit Address]]]</div>
    <div class="mono deposit-address border user-select-all" data-tmpl="depoAddr"></div>
    <span data-tmpl="sendEnough">[[[Send enough for bonds]]]</span> {{- /* generic message if the fee buffer is unknown */}}
  </div>
</div>

<div class="hoverbg pointer grey d-inline-block text-center" data-tmpl="goBack">
  <span class="ico-arrowback fs12 mb-1"></span>
  [[[pick a different asset]]]
</div>
{{end}}

{{define "orderOptionTemplates"}}
<div id="orderOptTmpl" class="order-opt d-flex align-items-start">
  <div data-tmpl="toggle" class="opt-check selected"></div>
  <div class="flex-grow-1" data-tmpl="controls">
    <div class="d-flex align-items-center">
      <span data-tmpl="optName" class="flex-grow-1 text-start fs16 ps-2"></span>
      <span data-tmpl="tooltip" class="ico-info me-2" data-tooltip="[[[prevent_temporary_overlocking]]]"></span>
      <img data-tmpl="chainIcon" class="micro-icon me-1">
    </div>
  </div>
</div>
<div id="booleanOptTmpl" class="d-flex justify-content-between align-items-center fs14 ps-2">
  <span data-tmpl="reason"></span>
</div>
<div id="rangeOptTmpl">
  <div data-tmpl="sliderBox" class="d-flex flex-nowrap fs12">
    <span data-tmpl="rangeLblStart"></span>
    <div data-tmpl="slider" class="slider flex-grow-1">
      <div data-tmpl="handle" class="slider-handle"></div>
    </div>
    <span data-tmpl="rangeLblEnd"></span>
  </div>
  <div class="d-flex justify-content-between align-items-center fs14">
    <span>
      <input type="text" pattern="[0-9]+([\.,][0-9]+)?" data-tmpl="xInput" class="xy-range-input d-hide">
      <span data-tmpl="x" class="pointer"></span> <span data-tmpl="xUnit"></span>
    </span>
    <span>
      <input type="text" pattern="[0-9]+([\.,][0-9]+)?" data-tmpl="yInput" class="xy-range-input d-hide">
      <span data-tmpl="y" class="pointer"></span> <span data-tmpl="yUnit"></span>
    </span>
  </div>
</div>
{{end}}

{{define "toggleWalletStatusConfirm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<h3>
   <span id="walletStatusDisable" class="d-hide">[[[disable_wallet]]]</span>
    <span id="walletStatusEnable" class="d-hide">[[[enable_wallet]]]</span>
</h3>
<div class="fs15 text-left mb-3">
 <span id="disableWalletMsg" class="hide">[[[disable_wallet_warning]]]</span>
 <span id="enableWalletMsg" class="hide">[[[enable_wallet_message]]]</span>
</div>
<div class="d-flex justify-content-end">
  <button id="toggleWalletStatusSubmit" type="button" class="go">[[[Submit]]]</button>
</div>
<div class="fs15 pt-3 text-center d-hide text-danger" id="toggleWalletStatusErr"></div>
{{end}}

{{define "appPassResetForm"}}
 <div class="form-closer" id="resetPassFormCloser"><span class="ico-cross"></span></div>
 <h3>[[[Reset App Password]]]</h3>
 <div class="fs18 mb-3">[[[reset_app_pw_msg]]]</div>
 <hr class="dashed mb-3">
 <div class="mb-3">
   <label for="newAppPassword">[[[New Password]]]</label>
   <input type="password" id="newAppPassword" autocomplete="new-password">
 </div>
 <div class="mb-3">
   <label for="confirmNewAppPassword">[[[Confirm New Password]]]</label>
   <input type="password" id="confirmNewAppPassword" autocomplete="off">
 </div>
 <div class="mb-3">
   <label for="seedInput">[[[Restoration Seed]]]</label>
   <textarea class="mono" id="seedInput" rows="4" autocomplete="off" spellcheck="false"></textarea>
 </div>
 <div class="d-flex justify-content-end">
    <button id="resetAppPWSubmitBtn" type="button" class="go">[[[Submit]]]</button>
 </div>
 <div class="fs15 pt-3 text-center d-hide text-danger text-break" id="appPWResetErrMsg"></div>
 <div id="appPWResetSuccessMsg" class="d-hide text-break text-center pt-3 fs15"></div> 
{{end}}

{{define "reputationMeter"}}
<div class="flex-stretch-column py-2">
  <div class="d-flex justify-content-between align-items-center pb-1">
    <span data-tmpl="scoreMin"></span>
    <span class="fs15">
      <span>[[[Limit Bonus]]]</span>
      <span data-tmpl="limitBonus"></span><span>x</span>
    </span>
    <span data-tmpl="scoreMax"></span>
  </div>
  <div data-tmpl="scoreTray" class="position-relative pt-2">
    <div data-tmpl="scoreWarn"></div>
    <div data-tmpl="penaltyMarkerTmpl" class="penalty-marker"></div>
  </div>
  <div class="position-relative mb-2">
    <span data-tmpl="scorePointer" class="d-inline-block position-relative ico-arrowup fs15 lh1">
      <span data-tmpl="scoreData" class="d-inline-block position-absolute fs15 px-1 text-nowrap sans">
        <span>[[[Score]]]:</span>
        <span data-tmpl="score"></span>
      </span>
    </span>
  </div>
  <div class="fs14 grey">
    [[[score_factors]]]
  </div>
</div>
{{end}}

{{define "tokenApprovalForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<div class="px-2 py-1 text-center fs22 text-nowrap position-relative">
  [[[:title:Approve]]] <div data-tmpl="tokenSymbol" class="d-inline-block"></div>
</div>
<div data-tmpl="submissionElements">
  <div class="fs15 text-start mt-2">
    [[[approve_token_text]]]
  </div>
  <hr class="dashed my-2">
  <div class="d-flex justify-content-between align-items-stretch flex-wrap">
    <div data-tmpl="pwBox" class="col-11 p-0">
      <label for="tokenApprovalPW" class="pt-3 ps-1">[[[App Password]]]</label>
      <input type="password" id="tokenApprovalPW" data-tmpl="pw" data-tmpl="appPass" autocomplete="off">
    </div>
    <span class="col-3 hide-pw"></span> {{/* flex dummy */}}
    <div class="d-grid align-items-end col-10 p-0">
      <button data-tmpl="submit" type="button" class="fs15 feature">[[[Approve]]]</button>
    </div>
  </div>
</div>
<span data-tmpl="txMsg" class="text-center fs17 d-hide">[[[token_approval_tx_msg]]]</span>
<a target="_blank" class="subtlelink fs14" data-tmpl="txid"></a>
<div class="fs15 pt-3 text-center d-hide text-danger text-break" data-tmpl="errMsg"></div>
<div data-tmpl="balanceBox" class="flex-center w-100 mt-3 pt-3 border-top fs15">
  [[[Available fee balance]]]: <span data-tmpl="balance" class="ms-2"></span> <span data-tmpl="parentTicker" class="grey ms-1"></span>
</div>
<div data-tmpl="addressBox" class="flex-center mt-2 fs15 d-hide">
  [[[approve_token_wallet_addr]]] <span data-tmpl="address" class="ms-2"></span>
</div>
{{end}}