{{define "walletConfigTemplates"}}
<div class="d-flex align-items-center justify-content-between">
  <span data-tmpl="walletSettingsHeader" class="fs20">
    [[[Wallet Settings]]]
  </span>
  <div class="flex-center">
    <button data-tmpl="fileSelector" type="button" class="small">
      <span>[[[load from file]]]</span>
      <span class="ico-textfile ms-1 fs14"></span>
    </button>
    <input data-tmpl="fileInput" type="file" class="d-none" accept=".conf, .cfg, .cnf, .ini">
  </div>
</div>

<div data-tmpl="allSettings">
  <div data-tmpl="dynamicOpts" class="dynamicopts">
    <div data-tmpl="textInput" class="px-0 d-flex flex-column justify-content-end mt-2">
      <label class="small"> <span class="ico-info"></span></label>
      <input type="text">
    </div>
    <div data-tmpl="checkbox" class="d-flex align-items-center mt-2 text-nowrap">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label fs14"> <span class="ico-info fs13"></span></label>
      </div>
    </div>
    <div data-tmpl="dateInput" class="px-0 d-flex flex-column justify-content-end mt-2">
      <label class="small"> <span class="ico-info"></span></label>
      <input type="date">
    </div>
  </div>
  <div data-tmpl="repeatableInput" class="w-100 mt-2">
    <label class="small"> <span class="ico-info"></span></label>
    <div class="d-flex align-items-stretch justify-content-center">
      <input type="text" class="flex-grow-1">
      <div class="ico-plus fs14 p-2 ms-2 pointer hoverbg" data-tmpl="add"></div>
    </div>
  </div>
  <div data-tmpl="showOther" class="d-hide mt-2 pointer d-flex align-items-center justify-content-start">
    <span data-tmpl="showIcon" class="ico-plus fs8 ps-1"></span>
    <span data-tmpl="hideIcon" class="ico-minus fs8 ps-1"></span>
    <span data-tmpl="showHideMsg" class="d-inline-block ps-1 pb-1"></span>
  </div>
  <div data-tmpl="otherSettings" class="d-hide mt-3">
    <div data-tmpl="loadedSettingsMsg" class="fs15 pt-3 pb-1 ps-1">&mdash; [[[loaded from file]]] &mdash;</div>
    <div data-tmpl="loadedSettings" class="dynamicopts"></div>
    <div data-tmpl="defaultSettingsMsg" class="fs15">&mdash; [[[defaults]]] &mdash;</div>
    <div data-tmpl="defaultSettings" class="dynamicopts"></div>
  </div>
</div>
<div data-tmpl="errMsg" class="fs15 pt-3 text-center d-hide text-danger text-break"></div>
{{end}}

{{define "walletCfgGuideTemplate"}}
<a data-tmpl="walletCfgGuide" class="d-flex justify-content-start align-items-center pt-2 mx-3 pointer hoverbg" target="_blank">
  <span class="ico-textfile me-2"></span>
  <span class="pointer">[[[configuration guide]]]</span>
</a>
{{end}}

{{define "newWalletForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<header>
  <span class="fs14 ico-plus grey me-2"></span>
  <span>[[[add_a_x_wallet]]]</span>
</header>
<div class="flex-center pb-2 border-bottom d-hide" data-tmpl="tokenMsgBox">
  <span>[[[Token on]]]</span>
  <img data-tmpl="tokenParentLogo" class="ms-1 micro-icon">
  <span data-tmpl="tokenParentName"></span>
</div>
<div data-tmpl="walletTypeTabs" class="d-flex justify-content-stretch border-bottom p-0">
  <div data-tmpl="walletTabTmpl" class="wtab px-3 py-2 border-end user-select-none"></div>
</div>
<div class="position-relative" data-tmpl="mainForm">
  <div class="flex-center pt-3" data-tmpl="oneBttnBox">
    <button class="one-bttn w-auto" data-tmpl="oneBttn">[[[Create]]]!</button>
  </div>
  <div data-tmpl="goBack" class="pt-3 d-flex align-items-center fs14 grey d-hide">
    <span class="ico-arrowleft fs12 me-1"></span>
    <span>[[[pick a different asset]]]</span>
  </div>
  <div data-tmpl="walletSettings" class="pt-3">
    {{template "walletConfigTemplates"}}
  </div>
  {{template "walletCfgGuideTemplate"}}
  <div class="d-flex align-items-end flex-wrap mt-3" data-tmpl="walletPassAndSubmitBttn">
    <div class="flex-grow-1 me-3" data-tmpl="newWalletPassBox">
      <label for="newWalletPass">[[[Wallet Password]]]
        <span class="ico-info" data-tooltip="[[[w_password_tooltip]]]"></span>
      </label>
      <input type="password" data-tmpl="newWalletPass" autocomplete="off">
    </div>
    <button data-tmpl="submitAdd" type="submit" class="feature flex-grow-1">[[[Add]]]</button>
  </div>
  <div class="p-3 text-center d-hide text-danger text-break" data-tmpl="newWalletErr"></div>
</div>
<div class="d-hide flex-center flex-column" data-tmpl="parentSyncing">
  <div>
    [[[Synchronizing]]] <img data-tmpl="parentLogo" class="micro-icon"> <span data-tmpl="parentName"></span>.
  </div>

  <div class="fs20 pt-3">
    <span data-tmpl="parentSyncPct"></span> %
  </div>
  <div class="pt-3">
    <img data-tmpl="childLogo" class="micro-icon"> <span data-tmpl="childName"></span> [[[wallet_wait_synced]]].
  </div>
</div>
{{end}}

{{define "depositAddress"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<header>
  [[[Receive]]]
  <img id="depositLogo" class="mini-icon mx-1">
  <span id="depositName"></span>
</header>
<div class="flex-center d-hide fs18 sans pb-3 border-bottom" id="depositTokenMsgBox">
  <span>[[[Token on]]]</span>
  <img id="depositTokenParentLogo" class="ms-1 micro-icon">
  <span id="depositTokenParentName"></span>
</div>
<div class="flex-center">
  <img id="qrcode" />
</div>
<div>
  <div class="mono fs15 px-2 py-1 border word-break-all border">
    <span id="depositAddress" class="user-select-all"></span>
    <span id="copyAddressBtn" class="ico-copy mt-2 ml-2 fs18 pointer"></span>
    <span id="copyAlert" class="d-hide text-nowrap">[[[copied]]]</span>
  </div>
</div>

<div id="unifiedReceivers" class="d-flex align-items-stretch">
  <div id="unifiedReceiverTmpl" class="p-1 me-2 hoverbg lh1 fs15 pointer brdr selectable"></div>
</div>
<div id="newDepAddrBttnBox" class="flex-stretch-column">
  <button id="newDepAddrBttn" type="button" class="feature">[[[New Address]]]</button>
</div>
<div class="fs15 text-center d-hide text-danger text-break" id="depositErr"></div>
{{end}}

{{define "certPicker"}}
<label for="certFile" class="pointer">[[[TLS Certificate]]]</label>
<input type="file" class="d-none" data-tmpl="certFile">
<div class="ps-1 mt-2 fs15">
  <span data-tmpl="selectedCert"></span>
  <u class="ms-3 pointer d-hide" data-tmpl="removeCert">[[[remove]]]</u>
  <u class="ms-3 pointer" data-tmpl="addCert">[[[add a file]]]</u>
</div>
{{end}}

{{define "dexAddrForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<div class="flex-center pt-2 px-3">
  <img class="dex-logo mini-icon me-2">
  <div data-tmpl="addDexHdr" class="fs26 d-flex align-items-center justify-content-center">[[[Add a DEX]]]</div>
  <div data-tmpl="updateDexHdr" class="fs26 d-hide">[[[update dex host]]]</div>
</div>
<div data-tmpl="pickServerMsg" class="fs20 mt-2 border-top">
  [[[Pick a server]]]
</div>
<div data-tmpl="knownXCs" class="flex-stretch-column">
  {{range .KnownExchanges}}
    <div class="known-exchange" data-host="{{.}}"><img class="micro-icon me-1" src={{dummyExchangeLogo .}}> {{.}}</div>
  {{end}}
</div>
<div data-tmpl="skipRegistrationBox" class="fs14">
  <input class="form-check-input" type="checkbox" data-tmpl="skipRegistration" id="skipRegistration">
  <label for="skipRegistration" class="ps-1">[[[Skip Registration]]]</label>
</div>
<div data-tmpl="showCustom">
  <div class="px-1 mb-2 fs14 pointer d-flex justify-content-start align-items-center {{if eq (len .KnownExchanges) 0}}d-hide{{end}}">
    <span class="ico-plus fs11"></span>
    <div class="ps-2">[[[add a different server]]]</div>
  </div>
</div>

<div data-tmpl="customBox" class="mt-2 border-top">
  <div class="fs20 " data-tmpl="addCustomMsg">[[[Add a custom server]]]</div>
  <div class="mb-3">
    <label for="dexAddr">[[[DEX Address]]]</label>
    <input type="text" data-tmpl="addr" id="dexAddr">
  </div>
  <div class="fs14 d-hide" data-tmpl="needCert">
    [[[reg_ssl_needed]]]
  </div>
  {{template "certPicker"}}
</div>
<div class="flex-stretch-column d-hide" data-tmpl="auth">
  <button data-tmpl="submit" type="button" class="feature">[[[Submit]]]</button>
</div>
<div class="fs15 text-center d-hide text-danger text-break" data-tmpl="err"></div>
{{end}}

{{define "discoverAcctForm"}}
<header data-tmpl="header">[[[Create Account]]]</header>
<div class="fs16 text-center"><span data-tmpl="dexHost"></span></div>
<div class="flex-stretch-column">
  <button data-tmpl="submit" type="button" class="feature">[[[Create Account]]]</button>
</div>
<div class="fs15 text-center d-hide text-danger text-break" data-tmpl="err"></div>
{{end}}

{{define "regAssetForm"}}
<div data-tmpl="whatsABondPanel" class="d-hide">
  <div data-tmpl="whatsABondBack" class="small">
    <span class="ico-wide-headed-left-arrow pointer hoverbg fs24"></span>
  </div>
  <h4 class="flex-center fs22 mb-3">[[[What is a fidelity bond]]]</h4>
  <ul>
    <li>
      [[[bond_definition]]]
    </li>
    <li>
      [[[bonds_can_be_revoked]]]
    </li>
    <li>
      [[[bigger_bonds_higher_limit]]]
    </li>
    <li>
      [[[limits_reputation]]]
    </li>
    <li>
      [[[wallet_bond_reserves]]]
    </li>
  </ul>
  <div class="flex-center">
    <button type="button" data-tmpl="bondGotIt" class="mt-3">[[[Got it]]]</button>
  </div>
</div>

<div data-tmpl="assetForm" class="flex-stretch-column">
  <div class="flex-center fs26">
    <span>[[[Select your bond asset]]]</span>
  </div>
  <div data-tmpl="regAssetErr" class="fs14 text-danger flex-center p-3"></div>
  <div data-tmpl="bondAssets" class="mt-3 border-top">
    <div data-tmpl="bondAssetTmpl" class="border rounded3 d-flex align-items-stretch p-2 hoverbg pointer mt-3">
      <div class="flex-center pe-4">
        <div class="flex-center">
          <img class="small-icon" data-tmpl="logo">
          <span class="fs26 ms-2" data-tmpl="name"></span>
        </div>
        <div class="fs14 readygreen" data-tmpl="ready"></div>
      </div>
      <div class="d-flex flex-column align-items-end justify-content-center flex-grow-1">
        <div class="d-flex align-items-end lh1">
          <span data-tmpl="feeAmt" class="fs20"></span>
          <span data-tmpl="feeSymbol" class="fs17 grey ms-1"></span>
        </div>
        <div data-tmpl="fiatBox" class="d-flex align-items-end grey fs15 lh1">
          <span class="me-1">~</span>
          <span data-tmpl="fiatBondAmount"></span>
          <span class="ms-1 fs14">USD</span>
        </div>
      </div>
    </div>
  </div>
  <button type="button" data-tmpl="usePrepaidBond" class="mt-3">
    <span class="ico-ticket fs20 me-2"></span>
    <span class="fs22">Use a pre-paid bond</span>
  </button>
  <div data-tmpl="whatsABond" class="flex-center fs18 hoverbg pointer underline py-2">[[[what_s_a_bond]]]</div>
</div>

<div data-tmpl="tradingTierForm" class="flex-stretch-column d-hide">
  <div class="flex-center fs26">
    [[[Choose your trading tier]]]
  </div>
  <div class="d-flex align-items-center pt-3 mt-3 border-top">
    <div class="flex-grow-1 flex-column pe-2">
      <div class="fs15">[[[trading_tier_message]]]</div>
    </div>
    <div class="flex-center flex-grow-1">
      <div class="position-relative d-flex align-items-stretch user-select-none">
        <input data-tmpl="tradingTierInput" type="number" class="text-center fs24 p-2" value="1" min="0" step="1">
        <input type="text" class="d-hide"> <!--two inputs to prevent auto form submission-->
        <div class="flex-stretch-column border-top border-end border-bottom">
          <div data-tmpl="tierUp" class="hoveropaque flex-grow-1 flex-center ico-arrowup pointer hoverbg border-bottom px-2"></div>
          <div data-tmpl="tierDown" class="hoveropaque flex-grow-1 flex-center ico-arrowdown pointer hoverbg px-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div data-tmpl="tradingTierErr" class="fs14 text-danger flex-center p-3"></div>
  <div class="pt-1">
    <div data-tmpl="goBackToAssets" class="d-inline-block fs16 grey pointer hoverbg">
      <span class="ico-wide-headed-left-arrow"></span>
      [[[choose a different asset]]]
    </div>
  </div>
  <table class="cell-border w-auto compact mt-3">
    <thead>
      <tr>
        <th class="text-center">Bond</th>
        <th class="text-center">Tier</th>
        <th class="text-center">Reserves</th>
        <th class="text-center">Bond Lock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">
          <span data-tmpl="bondSizeDisplay" class="fs18"></span>
          <span class="fs16 grey" data-bond-asset-ticker></span>
        </td>
        <td class="text-center fs18">
          x <span data-tier></span>
        </td>
        <td class="text-center fs18">x 2</td>
        <td>
          <div class="text-center lh1">
            <span>=</span>
            <span data-tmpl="bondLockDisplay" class="fs18 demi"></span>
            <span class="fs16 grey" data-bond-asset-ticker></span>
          </div>
          <div data-tmpl="fiatLockBox" class="text-center lh1">
            <span>~</span>
            <span data-tmpl="fiatLockDisplay" class="fs16 demi"></span>
            <span class="fs14 grey">USD</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" data-tmpl="submitTradingTier" class="feature mt-3">[[[Submit]]]</button>
  <table data-tmpl="currentBondBox" class="cell-border w-auto mt-3 lh1">
    <thead>
      <tr>
        <th colspan="2" class="text-center">Current Bond Lock</th>
      </tr>
    </thead>
    <tbody data-tmpl="currentBonds">
      <tr data-tmpl="currentBondTmpl">
        <td class="no-stretch">
          <div class="flex-center">
            <img data-tmpl="icon" class="mini-icon me-2">
            <span data-tmpl="name" class="fs20"></span>
          </div>
        </td>
        <td>
          <div class="flex-stretch-column">
            <div class="d-flex align-items-center justify-content-end lh1">
              <span data-tmpl="amt" class="fs18 me-1"></span>
              <span data-tmpl="ticker" class="fs16 grey"></span>
            </div>
            <div data-tmpl="fiatBox" class="d-flex align-items-center justify-content-end lh1">
              <span>~</span>
              <span data-tmpl="fiatAmt" class="fs16 me-1"></span>
              <span class="fs14 grey">USD</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center fs22 pt-3">Tier <span data-tier></span> Trading Limits</div>
  <table class="cell-border w-auto mt-3">
    <thead>
      <tr class="fs16">
        <th class="no-stretch">[[[Market]]]</th>
        <th class="text-end text-nowrap">Starting Limit</th>
        <th class="text-nowrap">Upper Limit</th>
      </tr>
    </thead>
    <tbody data-tmpl="markets">

      <tr data-tmpl="marketTmpl">
        <td class="no-stretch">
          <div class="d-flex align-items-center lh1">
            <img data-tmpl="baseLogo" class="micro-icon me-1">
            <img data-tmpl="quoteLogo" class="micro-icon me-1">
            <span data-base-ticker></span>-<span data-quote-ticker></span>
          </div>
        </td>
        <td>
          <div class="flex-stretch-column">
            <div class="d-flex align-items-center justify-content-end lh1">
              <span data-tmpl="tradeLimitLow" class="fs18 me-1"></span>
              <span class="fs16 grey" data-base-ticker></span>
            </div>
            <div data-tmpl="fiatTradeLowBox" class="d-flex align-items-center justify-content-end lh1">
              <span>~</span>
              <span data-tmpl="fiatTradeLimitLow" class="fs16 me-1"></span>
              <span class="fs14 grey">USD</span>
            </div>
          </div>
        </td>
        <td>
          <div class="flex-stretch-column">
            <div class="d-flex align-items-center justify-content-end lh1">
              <span data-tmpl="tradeLimitHigh" class="fs18 me-1"></span>
              <span class="fs16 grey" data-base-ticker></span>
            </div>
            <div data-tmpl="fiatTradeHighBox" class="d-flex align-items-center justify-content-end lh1">
              <span>~</span>
              <span data-tmpl="fiatTradeLimitHigh" class="fs16 me-1"></span>
              <span class="fs14 grey">USD</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div data-tmpl="prepaidBonds" class="d-hide">
  <div class="flex-center fs26">
    <span>Redeem Pre-paid Bond</span>
  </div>
  <div class="flex-stretch-column mt-3 border-top">
    <label for="prepaidBondCode">Code</label>
    <input type="text" data-tmpl="prepaidBondCode" autocomplete="off">
    <div data-tmpl="prepaidBondErr" class="p-3 text-danger d-hide"></div>
    <button data-tmpl="submitPrepaidBond" type="button" class="feature mt-3">[[[Submit]]]</button>
  </div>
  <div class="pt-3 fs14 grey">
    <span class="hoverbg pointer" data-tmpl="ppbGoBack"><span class="ico-arrowleft fs12 me-1"></span> go back</span>
  </div>
</div>
{{end}}

{{define "loginForm"}}
<header>
  <span class="ico-locked fs20 grey me-1"></span>
  <span>[[[Log In]]]</span>
</header>
<div class="d-flex align-items-end">
  <div class="flex-grow-1">
    <label for="pw">[[[Password]]]</label>
    <input type="password" data-tmpl="pw" autocomplete="current-password">
  </div>
  <button data-tmpl="submit" type="button" class="feature ms-3" id="loginSubmit">[[[Submit]]]</button>
</div>
<div class="d-flex justify-content-center">
  <div id="forgotPassBtn" class="grey demi pointer pointer hoverbg">[[[Forgot Password]]]</div>
</div>
<div class="fs15 text-center d-hide text-danger text-break" data-tmpl="errMsg"></div>
{{end}}

{{define "confirmRegistrationForm"}}
<header>
  [[[Confirm Bond Options]]]
</header>
<div class="d-flex align-items-stretch">
  <div class="flex-grow-1 flex-stretch-column pe-3">
    <div class="d-flex justify-content-between">
      <span>[[[Host]]]</span>
      <span data-tmpl="host"></span>
    </div>
    <div class="d-flex justify-content-between">
      <span>[[[Trading Tier]]]</span>
      <span data-tmpl="tradingTier"></span>
    </div>
    <div class="d-flex justify-content-between">
      <span>[[[Bond Lock]]]</span>
      <span>
        <span data-tmpl="bondLock"></span>
        <span data-tmpl="bondUnit"></span>
        <img data-tmpl="logo" class="micro-icon ms-1">
      </span>
    </div>
    <div data-tmpl="bondLockUSDBox" class="d-flex justify-content-between lh1 fs14 grey">
      <span></span>
      <span><span>~</span><span data-tmpl="bondLockUSD"></span> <span>USD</span></span>
    </div>
    <div class="d-flex justify-content-between">
      <span>[[[Fee Reserves]]]</span>
      <span><span data-tmpl="feeReserves"></span> <span data-tmpl="reservesUnit"></span></span>
    </div>
  </div>
  <div class="flex-center flex-column border-start ps-3">
    <button data-tmpl="submit" class="large feature">[[[Submit]]]</button>
  </div>
</div>
<div class="fs15 text-center d-hide text-danger text-break" data-tmpl="regErr"></div>
<div data-tmpl="text" class="fs16 reg-conf-msg mt-3 border-top">
  <span class="ico-info"></span> [[[reg_confirm_submit]]]
</div>
<div class="hoverbg pointer grey pt-2" data-tmpl="goBack"><span class="ico-arrowleft fs12 me-1"></span> [[[pick a different asset]]]</div>
{{end}}

{{define "authorizeAccountImportForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<header>
  [[[Authorize Import]]]
</header>
<div>
  <label for="accountFile">[[[Account File]]]</label>
  <input type="file" class="d-none" id="accountFile">
  <small class="pointer">
    <span id="selectedAccount"></span>
    <u class="ms-3 pointer d-hide" id="removeAccount">[[[remove]]]</u>
    <u class="ms-3 pointer" id="addAccount"><span class="ico-textfile me-1"></span> [[[load from file]]]</u>
  </small>
</div>
<div class="flex-stretch-column">
  <button id="authorizeImportAccountConfirm" type="button" class="mt-2 mx-3 mb-3 feature">[[[Authorize Import]]]</button>
</div>
<div class="fs15 text-center d-hide text-danger text-break" id="importAccountErr"></div>
{{end}}

{{define "changeAppPWForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<div class="flex-center pt-2 px-3">
  <span class="ico-locked fs16 grey me-2"></span>
  <span class="fs26">[[[Change Application Password]]]</span>
</div>
<div class="mt-2 pt-2 px-3 border-top">
  <label for="appPW">[[[Current Password]]]</label>
  <input type="password" id="appPW" autocomplete="current-password">
</div>
<div class="pt-2 px-3">
  <label for="newAppPW">[[[New Password]]]</label>
  <input type="password" id="newAppPW" autocomplete="new-password">
</div>
<div class="pt-2 px-3">
  <label for="confirmNewPW">[[[Confirm New Password]]]</label>
  <input type="password" id="confirmNewPW" autocomplete="new-password">
</div>
<div class="flex-stretch-column pt-2 px-3 pb-3">
  <button id="submitNewPW" type="submit" class="feature">[[[Submit]]]</button>
</div>
<div class="fs15 p-3 text-center d-hide text-danger text-break" id="changePWErrMsg"></div>
{{end}}

{{define "cancelOrderForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<header>
  [[[:title:cancel_order]]]
</header>
<div>
  [[[cancel_no_pw]]]
  <span id="cancelRemain" class="fs16 sans"></span>
  <span id="cancelUnit" class="fs14 sans"></span>.<br>
  [[[cancel_remain]]]
</div>
<div class="flex-stretch-column">
  <button id="cancelSubmit" type="button" class="feature">[[[Submit]]]</button>
</div>
<div class="fs15 text-center d-hide text-danger" id="cancelErr"></div>
{{end}}

{{define "accelerateForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<header>[[[:title:accelerate_order]]]</header>
<div id="accelerateMainDiv">
  <div id="configureAccelerationDiv">
    [[[acceleration_text]]]
    <br />
    <div class="text-center fs17 position-relative">
      [[[effective_swap_tx_rate]]]: <span id="accelerateAvgFeeRate"></span>
    </div>
    <div class="text-center fs17 position-relative">
      [[[current_fee]]]: <span id="accelerateCurrentFeeRate"></span>
    </div>
    <div id="sliderContainer" class="slider-container">
    </div>
    <div id="feeEstimateDiv" class="text-center fs17 position-relative d-hide">
      [[[acceleration_cost_msg]]]
    </div>
    <hr class="dashed mt-2">
    <div class="d-flex flex-row align-items-end justify-content-end pb-4">
      <div class="col-12 pt-2">
        <button id="accelerateSubmit" type="button" class="go">[[[Submit]]]</button>
      </div>
    </div>
  </div>
  <div class="d-hide" id="earlyAccelerationDiv">
    <div id="recentAccelerationMsg">[[[recent_acceleration_msg]]]</div>
    <div id="recentSwapMsg">[[[recent_swap_msg]]]</div>
    <br/>
    [[[early_acceleration_help_msg]]]
    <div class="d-flex flex-row align-items-end justify-content-end pb-4">
      <div class="col-12 pt-2">
        <button id="submitEarlyConfirm" type="button" class="go">[[[Submit]]]</button>
      </div>
    </div>
  </div>
  <div class="fs15 pt-3 text-center d-hide text-danger text-break" id="accelerateErr"></div>
</div>
  {{/* range option template goes here */}}
<div id="accelerateMsgDiv" class="d-hide">
  <div class="fs15 pt-3 text-center d-hide text-danger text-break" id="preAccelerateErr"></div>
  <div class="fs15 pt-3 text-left d-hide text-break" id="accelerateSuccess">
    [[[accelerate_success]]]
  </div>
</div>
{{end}}

{{define "waitingForWalletForm"}}
<div class="flex-center"><img class="large-icon" data-tmpl="logo" src="/img/coins/dcr.png"></div>
<div class="d-flex flex-column align-items-start border-start">
  <div class="flex-center flex-row">
    <div class="icons text-end pe-3">
      <span class="ico-check fs16 d-hide" data-tmpl="syncCheck"></span>
      <span class="ico-checkbox d-hide fs14" data-tmpl="syncUncheck"></span>
      <div class="ico-spinner spinner d-hide fs14 d-inline-block" data-tmpl="syncSpinner"></div>
    </div>
    <span class="fs20 ">[[[1 Sync the Blockchain]]]</span>
  </div>
  <div class="flex-center mt-1">
    <span class="fs16 me-1">[[[Progress]]]:</span>
    <span class="fs20 mx-1" data-tmpl="progress"></span>
    <span class="fs16 grey">%</span>
  </div>
  <div class="mt-1 flex-center flex-row fs14 d-hide" data-tmpl="syncRemainBox">
    <span data-tmpl="syncRemaining"><span data-tmpl="syncRemain" class="me-1"></span> [[[remaining]]]</span>
    <span data-tmpl="syncFinishingUp" class="me-1"></span>
  </div>
</div>

<div class="d-flex flex-column align-items-start ps-3 mb-3 border-start">
  <div class="flex-center flex-row mb-2">
    <div class="icons text-end pe-3">
      <span class="ico-checkbox fs14 d-hide" data-tmpl="balUncheck"></span>
      <span class="ico-check d-hide fs16" data-tmpl="balCheck"></span>
    </div>
    <span class="fs20">[[[2 Fund your Wallet]]]</span>
  </div>
  <div class="d-flex flex-column align-items-start" data-tmpl="balanceBox">
    <div class="flex-center mb-2">
      <span class="me-1">[[[Available Balance]]]:</span>
      <strong class="me-1" data-tmpl="balance"></strong>
      <span class="grey unit">XYZ</span>
    </div>
    <div class="flex-center flex-row mb-2">
      <span class="me-1">[[[bond_lock]]]</span>
      <strong class="me-1" data-tmpl="fee"></strong>
      <span class="grey unit">XYZ</span>
    </div>
    <div data-tmpl="bondCostBreakdown" class="mb-2 grey">[[[bond_cost_breakdown]]]</div>
    <span data-tmpl="sendEnoughWithEst" class="grey">[[[Send enough with estimate]]]</span> {{- /* NOTE: includes totalForBond */}}
    <span data-tmpl="sendEnoughForToken" class="grey">[[[Send funds for token]]]</span>
    <div class="mb-1 flex-center flex-row d-hide" data-tmpl="txFeeBox">
      <span class="fs16 me-1">[[[Reserves for tx fees]]]</span>
      <span class="fs20 me-1" data-tmpl="txFee"></span>
      <span class="fs16 grey unit" data-tmpl="txFeeUnit">XYZ</span>
    </div>
    <div class="mb-3 flex-center flex-row d-hide" data-tmpl="txFeeBalanceBox">
      <span class="fs16 me-1">[[[Tx Fee Balance]]]</span>
      <span class="fs20 me-1" data-tmpl="parentBal">0</span>
      <span class="fs16 grey unit" data-tmpl="parentBalUnit">XYZ</span>
    </div>
    <hr class="dashed w-100 mb-3">
    <div class="mb-2">[[[Your Deposit Address]]]</div>
    <div class="mono fs15 p-2 border word-break-all border user-select-all" data-tmpl="depoAddr"></div>
    <span data-tmpl="sendEnough">[[[Send enough for bonds]]]</span> {{- /* generic message if the fee buffer is unknown */}}
  </div>
</div>

<div class="hoverbg pointer grey d-inline-block text-center" data-tmpl="goBack">
  <span class="ico-arrowleft fs12 mb-1"></span>
  [[[pick a different asset]]]
</div>
{{end}}

{{define "orderOptionTemplates"}}
<div id="orderOptTmpl" class="order-opt d-flex align-items-start">
  <div data-tmpl="toggle" class="opt-check selected"></div>
  <div class="flex-grow-1" data-tmpl="controls">
    <div class="d-flex align-items-center">
      <span data-tmpl="optName" class="flex-grow-1 text-start fs16 ps-2"></span>
      <span data-tmpl="tooltip" class="ico-info me-2" data-tooltip="[[[prevent_temporary_overlocking]]]"></span>
      <img data-tmpl="chainIcon" class="micro-icon me-1">
    </div>
  </div>
</div>
<div id="booleanOptTmpl" class="d-flex justify-content-between align-items-center fs14 ps-2">
  <span data-tmpl="reason"></span>
</div>
<div id="rangeOptTmpl">
  <div data-tmpl="sliderBox" class="d-flex flex-nowrap fs12">
    <span data-tmpl="rangeLblStart"></span>
    <div data-tmpl="slider" class="slider flex-grow-1">
      <div data-tmpl="handle" class="slider-handle"></div>
    </div>
    <span data-tmpl="rangeLblEnd"></span>
  </div>
  <div class="d-flex justify-content-between align-items-center fs14">
    <span>
      <input type="text" pattern="[0-9]+([\.,][0-9]+)?" data-tmpl="xInput" class="xy-range-input d-hide">
      <span data-tmpl="x" class="pointer"></span> <span data-tmpl="xUnit"></span>
    </span>
    <span>
      <input type="text" pattern="[0-9]+([\.,][0-9]+)?" data-tmpl="yInput" class="xy-range-input d-hide">
      <span data-tmpl="y" class="pointer"></span> <span data-tmpl="yUnit"></span>
    </span>
  </div>
</div>
{{end}}

{{define "toggleWalletStatusConfirm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<header>
   <span id="walletStatusDisable" class="d-hide">[[[disable_wallet]]]</span>
    <span id="walletStatusEnable" class="d-hide">[[[enable_wallet]]]</span>
</header>
<div class="fs15 text-left">
 <span id="disableWalletMsg" class="hide">[[[disable_wallet_warning]]]</span>
 <span id="enableWalletMsg" class="hide">[[[enable_wallet_message]]]</span>
</div>
<div class="flex-stretch-column">
  <button id="toggleWalletStatusSubmit" type="button" class="feature">[[[Submit]]]</button>
</div>
<div class="fs15 text-center d-hide text-danger" id="toggleWalletStatusErr"></div>
{{end}}

{{define "appPassResetForm"}}
 <div class="form-closer" id="resetPassFormCloser"><span class="ico-cross"></span></div>
 <header>[[[Reset App Password]]]</header>
 <div>[[[reset_app_pw_msg]]]</div>
 <div class="mt-3 border-top">
   <label for="newAppPassword">[[[New Password]]]</label>
   <input type="password" id="newAppPassword" autocomplete="new-password">
 </div>
 <div>
   <label for="confirmNewAppPassword">[[[Confirm New Password]]]</label>
   <input type="password" id="confirmNewAppPassword" autocomplete="off">
 </div>
 <div>
   <label for="seedInput">[[[Restoration Seed]]]</label>
   <textarea class="mono" id="seedInput" rows="4" autocomplete="off" spellcheck="false"></textarea>
 </div>
 <div class="flex-stretch-column">
    <button id="resetAppPWSubmitBtn" type="button" class="feature">[[[Submit]]]</button>
 </div>
 <div class="fs15 text-center d-hide text-danger text-break" id="appPWResetErrMsg"></div>
 <div id="appPWResetSuccessMsg" class="d-hide text-break text-center fs15"></div> 
{{end}}

{{define "reputationMeter"}}
<div class="flex-stretch-column py-2">
  <div class="d-flex justify-content-between align-items-center pb-1">
    <span data-tmpl="scoreMin"></span>
    <span class="fs15">
      <span>[[[Limit Bonus]]]</span>
      <span data-tmpl="limitBonus"></span><span>x</span>
    </span>
    <span data-tmpl="scoreMax"></span>
  </div>
  <div data-tmpl="scoreTray" class="position-relative pt-2">
    <div data-tmpl="scoreWarn"></div>
    <div data-tmpl="penaltyMarkerTmpl" class="penalty-marker"></div>
  </div>
  <div class="position-relative mb-2">
    <span data-tmpl="scorePointer" class="d-inline-block position-relative ico-arrowup fs15 lh1">
      <span data-tmpl="scoreData" class="d-inline-block position-absolute fs15 px-1 text-nowrap sans">
        <span>[[[Score]]]:</span>
        <span data-tmpl="score"></span>
      </span>
    </span>
  </div>
  <div class="fs14 grey">
    [[[score_factors]]]
  </div>
</div>
{{end}}

{{define "tokenApprovalForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<header>
  [[[:title:Approve]]] <div data-tmpl="tokenSymbol" class="d-inline-block"></div>
</header>
<div data-tmpl="submissionElements">
  <div class="fs15 text-start mt-2">
    [[[approve_token_text]]]
  </div>
  <div class="flex-stretch-column mt-2 flex-wrap">
    <button data-tmpl="submit" type="button" class="fs15 feature">[[[Approve]]]</button>
  </div>
</div>
<div data-tmpl="txMsg">
  <span class="text-center fs17 pt-2 px-3 d-hide">[[[token_approval_tx_msg]]]</span>
  <a target="_blank" class="subtlelink word-break-all fs14" data-tmpl="txid"></a>
</div>
<div class="fs15 text-center d-hide text-danger text-break" data-tmpl="errMsg"></div>
<div data-tmpl="balanceBox" class="flex-center w-100 py-2 mt-2 px-3 border-top fs15">
  [[[Available fee balance]]]: <span data-tmpl="balance" class="ms-2"></span> <span data-tmpl="parentTicker" class="grey ms-1"></span>
</div>
<div data-tmpl="addressBox" class="flex-center fs15 d-hide">
  [[[approve_token_wallet_addr]]] <span data-tmpl="address" class="ms-2 px-2"></span>
</div>
{{end}}

{{define "cexConfigForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<div data-tmpl="cexConfigPrompt" class="pt-4 fs18">
  [[[configure_cex_prompt]]]
</div>
<div class="flex-center flex-column mt-3 border-top">
  <img class="xclogo enourmous-icon" data-cex-logo>
  <div class="mt-2 fs20" data-cex-name></div>
</div>
<div data-tmpl="cexConnectErrBox" class="flex-center flex-column text-danger">
  <span class="ico-disconnected fs24"></span>
  <span>[[[err_with_cex_creds]]]</span>
  <span data-tmpl="cexConnectErr" class="fs14 mt-2 text-break"></span>
</div>
<div class="d-flex flex-column">
  <label for="cexApiKeyInput">[[[API Key]]]</label>
  <input type="text" data-tmpl="cexApiKeyInput" autocomplete="off">
</div>
<div class="d-flex flex-column">
  <label for="cexSecretInput">[[[API Secret]]]</label>
  <input type="text" data-tmpl="cexSecretInput" autocomplete="off">
</div>
<div data-tmpl="cexFormErr" class="flex-center text-danger text-break d-hide"></div>
<div class="flex-stretch-column">
  <button type="button" data-tmpl="cexSubmit" class="feature">[[[Submit]]]</button>
</div>
{{end}}

{{define "runningBotDisplay"}}
<div data-tmpl="stats" class="d-hide">
  <div class="d-flex align-items-center justify-content-between px-3">
    <span class="d-flex align-items-center fs28">
      <span data-tmpl="plSign" class="me-1 fs10"></span>
      <span data-tmpl="profitLoss"></span>
      <span class="fs20 grey ms-1">USD</span>
    </span>
    <span data-tmpl="runTime" class="fs28 mono lh1">00:00:00</span>
  </div>
  <div class="pt-2 mt-2 border-top">
    <table class="row-border fs18 lh1">
      <thead>
        <tr class="fs16">
          <th class="no-stretch ps-3">[[[Inventory]]]</th>
          <th class="text-end">
            <div class="d-inline-flex align-items-center">
              <img class="micro-icon me-2" data-base-logo>
              <span data-base-ticker></span>
            </div>
          </th>
          <th class="text-end pe-3 no-stretch">
            <div class="d-inline-flex align-items-center">
              <img class="micro-icon me-2" data-quote-logo>
              <span data-quote-ticker></span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="no-stretch ps-3">
            <img class="logo-square small">
          </td>
          <td class="text-end">
            <div class="d-inline-flex flex-column align-items-end text-nowrap">
              <span data-tmpl="walletBaseInventory"></span>
              <span class="fs14 grey">
                <span>~</span>
                <span data-tmpl="walletBaseInvFiat"></span>
                <span>USD</span>
              </span>
            </div>
          </td>
          <td class="no-stretch pe-3">
            <div class="d-inline-flex flex-column text-nowrap">
              <span data-tmpl="walletQuoteInventory"></span>
              <span class="fs14 grey">
                <span>~</span>
                <span data-tmpl="walletQuoteInvFiat"></span>
                <span>USD</span>
              </span>
            </div>
          </td>
        </tr>
        <tr data-tmpl="cexRow">
          <td class="ps-3">
            <img class="mini-icon" data-cex-logo>
          </td>
          <td class="text-end">
            <div class="d-inline-flex flex-column align-items-end text-nowrap">
              <span data-tmpl="cexBaseInventory"></span>
              <span class="fs14 grey">
                <span>~</span>
                <span data-tmpl="cexBaseInventoryFiat"></span>
                <span>USD</span>
              </span>
            </div>
          </td>
          <td class="no-stretch text-end pe-3">
            <div class="d-inline-flex flex-column text-nowrap">
              <span data-tmpl="cexQuoteInventory"></span>
              <span class="fs14 grey">
                <span>~</span>
                <span data-tmpl="cexQuoteInventoryFiat"></span>
                <span>USD</span>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex-stretch-column mt-2 px-3">
    <div data-tmpl="buyOrdersReportBox" class="d-flex justify-content-between align-items-center d-hide">
      <span data-tmpl="buyOrdersSuccess" class="text-buycolor">[[[buy_orders_success]]]</span>
      <span data-tmpl="buyOrdersFailed" class="d-hide text-warning">[[[buy_orders_failed]]]</span>
      <button data-tmpl="buyOrdersBttn" class="ico-open"></button>
    </div>

    <div data-tmpl="sellOrdersReportBox" class="d-flex justify-content-between align-items-center d-hide">
      <span data-tmpl="sellOrdersSuccess" class="text-buycolor">[[[sell_orders_success]]]</span>
      <span data-tmpl="sellOrdersFailed" class="d-hide text-warning">[[[sell_orders_failed]]]</span>
      <button data-tmpl="sellOrdersBttn" class="ico-open"></button>
    </div>

    <div data-tmpl="preOrderProblemsBox" class="d-flex flex-column bot-problems-section">
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <span>[[[Profit]]]</span>
      <span class="flex-center">
        <span data-tmpl="profitSign" class="fs8 me-1"></span>
        <span data-tmpl="profit">
        </span>%</span>
      </span>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <span>[[[Booked orders]]]</span>
      <span data-tmpl="nBookedOrders"></span>
    </div>

    <div data-tmpl="baseFeeReservesBox" class="d-flex justify-content-between align-items-center">
      <span>
        <span>[[[Fee reserves]]]</span>
        <img data-tmpl="baseFeeLogo" class="micro-icon">
      </span>
      <span>
        <span data-tmpl="baseFeeReserves"></span>
        <span data-tmpl="baseFeeTicker"></span>
      </span>
    </div>

    <div data-tmpl="quoteFeeReservesBox" class="d-flex justify-content-between align-items-center">
      <span>
        <span>[[[Fee reserves]]]</span>
        <img data-tmpl="quoteFeeLogo" class="micro-icon">
      </span>
      <span>
        <span data-tmpl="quoteFeeReserves"></span>
        <span data-tmpl="quoteFeeTicker"></span>
      </span>
    </div>

    <div data-tmpl="pendingDepositBox" class="d-flex justify-content-between align-items-center">
      <span>[[[Pending deposits]]]</span>
      <span data-tmpl="pendingDeposits"></span>
    </div>

    <div data-tmpl="pendingWithdrawalBox" class="d-flex justify-content-between align-items-center">
      <span>[[[Pending withdrawals]]]</span>
      <span data-tmpl="pendingWithdrawals"></span>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <span>[[[Settled matches]]]</span>
      <span data-tmpl="completedMatches"></span>
    </div>

    <div data-tmpl="tradedUSDBox" class="d-flex justify-content-between align-items-center">
      <span>[[[Traded]]]</span>
      <span>
        <span data-tmpl="tradedUSD"></span>
        <span class="fs14 grey">USD</span>
      </span>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <span>[[[Basis price]]]</span>
      <span data-tmpl="basisPrice"></span>
    </div>

    <div data-tmpl="feeGapBox" class="d-flex justify-content-between align-items-center">
      <span>
        [[[Fee gap]]]
        <span class="ico-info" data-tooltip="[[[feegap_tooltip]]]"></span>
      </span>
      <span>
        <span data-tmpl="feeGap"></span> (<span data-tmpl="feeGapPct"></span>%)
      </span>
    </div>

    <div data-tmpl="gapStrategyBox" class="d-flex justify-content-between align-items-center">
      <span>Gap strategy</span>
      <span data-tmpl="gapStrategy"></span>
    </div>

    <div data-tmpl="remoteGapBox" class="d-flex justify-content-between align-items-center">
      <span>
        [[[Remote gap]]]
        <span class="ico-info" data-tooltip="[[[remotegap_tooltip]]]"></span>
      </span>
      <span>
        <span data-tmpl="remoteGap"></span> (<span data-tmpl="remoteGapPct"></span>%)
      </span>
    </div>

    <div data-tmpl="roundTripFeesBox" class="d-flex justify-content-between align-items-center">
      <span>[[[Round_trip fees]]]</span>
      <span>
        <span data-tmpl="roundTripFeesUSD"></span>
        <span class="fs14 grey">USD</span>
      </span>
    </div>
  </div>

  <div class="d-flex align-items-stretch px-3 pt-2 py-2 mt-2 border-top">
    <div class="flex-grow-1 d-flex align-items-center justify-content-between pe-3">
      <span>
        <span data-tmpl="profitLabel">Profit threshold</span>
        <span data-tmpl="gapLabel">Gap</span>
        <span data-tmpl="multiplierLabel">Multiplier</span>
      </span>
      <div class="d-flex align-items-end">
        <span data-tmpl="gapFactor"></span>
        <span data-tmpl="profitUnit" class="fs14 grey ms-1">%</span>
        <span data-tmpl="gapUnit" class="fs14 grey ms-1">
          <span data-quote-ticker></span>/<span data-base-ticker></span>
        </span>
        <span data-tmpl="multiplierUnit" class="fs14 grey ms-1">X</span>
      </div>
    </div>
    <div class="d-flex align-items-stretch ps-3 border-start">
      <button data-tmpl="runLogsBttn" class="ico-textfile"></button>
      <button data-tmpl="stopBttn" class="ms-3 position-relative">Stop</button>
    </div>
  </div>
</div>
{{end}}

{{define "orderReportForm"}}
<div class="form-closer"><span class="ico-cross"></span></div>
<div>
  <header id="orderReportTitle"></header>
  <div id="orderReportError" class="text-danger d-flex flex-column"></div>
  <div id="orderReportDetails" class="d-flex flex-column">
    <div class="fs18 mt-3 align-self-start"><img class="logo-square small"><span class="ms-2">[[[Wallet Balances]]]</span></div>
    <table class="table striped border mt-3 w-auto mx-auto">
      <thead>
        <tr>
          <th class="border text-center">[[[Asset]]]</th>
          <th class="border text-center">[[[Available]]]</th>
          <th class="border text-center">[[[Locked]]]</th>
          <th class="border text-center">[[[Pending]]]</th>
          <th class="border text-center">[[[Required]]]</th>
          <th class="border text-center">[[[Used]]]</th>
          <th class="border text-center">[[[Remaining]]]</th>
          <th id="dexDeficiencyHeader" class="border text-center">[[[Deficiency]]]</th>
          <th id="dexDeficiencyWithPendingHeader" class="border text-center">[[[Deficiency with Pending]]]</th>
        </tr>
      </thead>
      <tbody id="dexBalancesBody">
        <tr id="dexBalancesRowTmpl">
          <td class="border text-center"><img data-tmpl="assetLogo" class="micro-icon me-1"><span data-tmpl="asset"></span></td>
          <td class="border text-center" data-tmpl="available"></td>
          <td class="border text-center" data-tmpl="locked"></td>
          <td class="border text-center" data-tmpl="pending"></td>
          <td class="border text-center" data-tmpl="required"></td>
          <td class="border text-center" data-tmpl="used"></td>
          <td class="border text-center" data-tmpl="remaining"></td>
          <td class="border text-center" data-tmpl="deficiency"></td>
          <td class="border text-center" data-tmpl="deficiencyWithPending"></td>
        </tr>
      </tbody>
    </table>
    <hr>

    <div class="fs18 align-self-start"><img id="cexLogo" src="/img/binance.com.png" class="small-icon"><span class="ms-2" id="cexBalancesTitle"></span></div>
    <table id="cexBalancesTable" class="table striped border mt-3 w-auto mx-auto">
      <thead>
        <tr>
          <th class="border text-center">[[[Asset]]]</th>
          <th class="border text-center">[[[Available]]]</th>
          <th class="border text-center">[[[Locked]]]</th>
          <th class="border text-center">[[[Pending]]]</th>
          <th class="border text-center">[[[Required]]]</th>
          <th class="border text-center">[[[Used]]]</th>
          <th class="border text-center">[[[Remaining]]]</th>
          <th id="cexDeficiencyHeader" class="border text-center">[[[Deficiency]]]</th>
          <th id="cexDeficiencyWithPendingHeader" class="border text-center">[[[Deficiency with Pending]]]</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border text-center"><img id="cexAssetLogo" class="micro-icon me-1"><span id="cexAsset"></span></td>
          <td id="cexAvailable" class="border text-center"></td>
          <td id="cexLocked" class="border text-center"></td>
          <td id="cexPending" class="border text-center"></td>
          <td id="cexRequired" class="border text-center"></td>
          <td id="cexUsed" class="border text-center"></td>
          <td id="cexRemaining" class="border text-center"></td>
          <td id="cexDeficiency" class="border text-center"></td>
          <td id="cexDeficiencyWithPending" class="border text-center"></td>
        </tr>
      </tbody>
    </table>
    <hr>

    <div class="fs18 align-self-start">Placements</div>
    <table id="placementsTable" class="table striped border mt-3 w-auto mx-auto">
      <thead>
        <tr>
          <th class="border text-center">[[[Priority]]]</th>
          <th class="border text-center">[[[Lots]]]</th>
          <th class="border text-center">[[[Standing Lots]]]</th>
          <th class="border text-center">[[[Ordered Lots]]]</th>
          <th class="border text-center">[[[Rate]]]</th>
          <th class="border text-center" id="counterTradeRateHeader">[[[Arb Rate]]]</th>
          <th class="border text-center">[[[Required DEX]]]</th>
          <th class="border text-center">[[[Used DEX]]]</th>
          <th class="border text-center">[[[Required CEX]]]</th>
          <th class="border text-center">[[[Used CEX]]]</th>
          <th class="border text-center" id="errorHeader">[[[Error]]]</th>
        </tr>
      </thead>
      <tbody id="placementsBody">
        <tr id="placementRowTmpl">
          <td data-tmpl="priority" class="text-center border"></td>
          <td data-tmpl="lots" class="text-center border"></td>
          <td data-tmpl="standingLots" class="text-center border"></td>
          <td data-tmpl="orderedLots" class="text-center border"></td>
          <td data-tmpl="rate" class="text-center border"></td>
          <td data-tmpl="counterTradeRate" class="text-center border"></td>
          <td data-tmpl="requiredDEX" class="text-center border">
            <span id="placementAmtRowTmpl" class="d-flex justify-content-end">
              <span data-tmpl="amt"></span>
              <img data-tmpl="assetLogo" class="micro-icon mx-1 mt-1">
              <span data-tmpl="assetSymbol"></span>
            </span>
          </td>
          <td data-tmpl="usedDEX" class="text-center border"></td>
          <td data-tmpl="requiredCEX" class="text-center border"></td>
          <td data-tmpl="usedCEX" class="text-center border"></td>
          <td data-tmpl="error" class="text-center border text-danger" style="max-width: 200px"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{{end}}
