{{define "login"}}
{{template "top" .}}
<div id="main" data-handler="login" class="main">
  <div id="forms" class="flex-center">
    {{- /* LOGIN FORM */ -}}
    <form class="d-hide" id="loginForm">
      {{template "loginForm"}}
    </form>

     {{- /* RESET APP PASSWORD */ -}}
    <form class="d-hide" id="resetAppPWForm">
      {{template "appPassResetForm"}}
    </form>
  </div>
</div>
{{template "bottom"}}
{{end}}
