{{define "login"}}
{{template "top" .}}
<div id="main" data-handler="login" class="main align-items-center justify-content-center flex-column">
  <div class="d-flex flex-column w-100" id="forms">
    {{- /* LOGIN FORM */ -}}
    <form class="mx-auto my-5 d-hide dialog-panel" id="loginForm">
      {{template "loginForm"}}
    </form>

     {{- /* RESET APP PASSWORD */ -}}
    <form class="mx-auto my-5 d-hide dialog-panel" id="resetAppPWForm">
      {{template "appPassResetForm"}}
    </form>
  </div>
</div>
{{template "bottom"}}
{{end}}
