{{define "login"}}
{{template "top" .}}
<div id="main" data-handler="login" class="main align-items-center justify-content-center flex-column">
  <div class="d-flex flex-column overflow-auto w-100">
    <form class="auth mx-auto my-5 p-4 bg1">
      <div class="d-flex">
        <button type="button" class="col-12 justify-content-center fs15 bg2 selected">Log In</button>
        <button type="button" data-pagelink="register" class="col-12 justify-content-center fs15 bg2">Register</button>
      </div>
      <div>
        <label for="dex" class="fs17 pt-4 pl-1 mb-1">DEX</label>
        <select class="form-control select" id="dex">
        </select>
      </div>
      <div class="pb-3">
        <label for="pw" class="fs17 pt-4 pl-1 mb-1">Password</label>
        <input type="password" class="form-control select" id="pw" autocomplete="current-password">
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button id="submit" type="button" class="col-12 justify-content-center fs15 bg2 selected">Submit</button>
      </div>
    </form>
  </div>
</div>
{{template "bottom"}}
{{end}}
