{{define "walletIcons"}}
<span data-state="sleeping" class="ico-sleeping grey d-hide"></span>
<span data-state="locked" class="ico-locked grey d-hide"></span>
<span data-state="unlocked" class="ico-unlocked d-hide"></span>
<span data-state="nowallet"></span> {{/* not showing ico-cross */}}
{{end}}

{{define "markets"}}
{{template "top" .}}
<div id="main" data-handler="markets" class="main align-items-stretch justify-content-center">

  {{- /* MARKET LIST */ -}}
  <div class="marketlist">

    {{- /* SEARCH INPUT */ -}}
    <label class="market-search">
        <input class="flex-grow-1 pl-2" type="text" id="marketSearch">
        <span class="ico-search px-1"></span>
    </label>

    {{- /* LIST OF EXCHANGE SECTIONS WITH MARKETS */ -}}
    <div id="marketList">
      <div data-tmpl="xc">
        <div class="fs16 py-1 pl-2 bg1" data-tmpl="header">
          <span class="ico-disconnected" title="disconnected" data-tmpl="disconnected"></span>
        </div>
        <div data-tmpl="mkts">
          <div class="marketrow" data-tmpl="mktrow">
            <img class="micro-icon mr-1" data-tmpl="baseicon">
            <img class="micro-icon mr-1" data-tmpl="quoteicon">
          </div>
        </div>
      </div>
    </div>

  </div>

  {{- /* RIGHT COLUMN */ -}}
  <div id="rightSide" class="d-flex flex-column flex-grow-1">

    {{- /* CHART */ -}}

    <div id="marketChart" class="w-100">
      <div id="marketLoader" class="fill-abs flex-center">
        <div class="ico-spinner spinner"></div>

      </div>
      <div id="chartResizer"></div>
    </div>

    {{- /* ORDERS */ -}}
    <div id="orders" class="w-100 d-flex flex-grow-1 bg1">

      <div class="col-14 p-0">
        <div class="fill-abs d-flex justify-content-around align-items-stretch">

          {{- /* BUY ORDER LIST */ -}}
          <div class="marketorders col-7 p-0 bg1">
            <div class="market-header text-center fs14 py-1">Buy Orders</div>
            <table class="ordertable bg0">
              {{block "thead" .}}
              <thead>
                <tr>
                  <th class="text-left pl-2">Quantity</th>
                  <th class="text-right pr-2">Rate</th>
                  <th class="text-right pr-2">Epoch</th>
                </tr>
              </thead>
              {{end}}
              <tbody id="buyRows">
                {{- /* This row is used by the app as a template. */ -}}
                <tr id="rowTemplate">
                  <td class="text-left pl-2" data-type="qty">-</td>
                  <td class="text-right pr-2" data-type="rate">-</td>
                  <td class="text-right pr-3" data-type="epoch"></td>
                </tr>
              </tbody>
            </table>
          </div>

          {{- /* ORDER PANEL */ -}}
          <div class="col-10 p-0 brdrleft brdrright d-flex flex-column">
            <div class="market-header fs14 d-flex justify-content-start pl-4 align-items-stretch">
              <button id="limitBttn" type="button" class="flex-center px-3 py-0 markettab brdrleft selected">Limit Order</button>
              <button id="marketBttn" type="button" class="flex-center px-3 py-0 markettab brdrleft brdrright">Market Order</button>
            </div>

            <div class="flex-grow-1 position-relative">
              <div class="fill-abs px-4 stylish-overflow">

                <div class="fs15 pt-3 text-center d-hide" id="loaderMsg"></div>

                {{- /* REGISTRATION STATUS */ -}}
                <div class="d-hide p-2 mt-2" id="registrationStatus">
                  <div class="p-0 w-100">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <span id="regStatusTitle" class="title"></span>
                      <p id="regStatusMessage">In order to trade at <span id="regStatusDex"></span>, the registration fee payment
                        needs <span id="confReq"></span> confirmations.
                      </p>
                      <span id="regStatusConfsDisplay"></span>
                    </div>
                  </div>
                </div>

                {{- /* ORDER FORM */ -}}
                <form id="orderForm" class="bg1">
                  <div class="p-0 w-100">

                    {{- /* BUY - SELL SELECTOR */ -}}
                    <div class="d-flex justify-content-start pt-4 pb-2 fs14">
                      <button id="buyBttn" type="button" class="bg2 selected">
                        Buy
                        <span data-unit="base"></span>
                      </button>
                      <button id="sellBttn" type="button" class="bg2 ml-2">
                        Sell
                        <span data-unit="base"></span>
                      </button>
                      <span></span>
                    </div>

                    {{- /* MARKET CONFIG */ -}}
                    <div class="d-flex justify-content-between my-2 fs14">
                      <div>
                        Lot Size:
                        <span id="lotSize"></span>
                        <span data-unit="base"></span>
                      </div>
                      <div>
                        Rate Step:
                        <span id="rateStep"></span>
                        <span data-unit="quote"></span>
                      </div>
                    </div>

                    {{- /* RATE AND QUANTITY INPUTS */ -}}
                    <div class="d-flex mt-3" id="priceBox">
                      <label for="rateField" class="col-6 d-flex align-items-center p-0">Price</label>
                      <div class="col-18 p-0 position-relative">
                        <input type="number" class="form-control select bg1" id="rateField">
                        <span class="unitbox"><span class="unit" data-unit="quote"></span>/<span class="unit" data-unit="base"></span></span>
                      </div>
                    </div>
                    <div class="d-flex mt-4" id="qtyBox">
                      <label for="qtyField" class="col-6 d-flex align-items-center p-0">Quantity</label>
                      <div class="col-6 p-0 position-relative">
                        <input type="number" class="form-control select bg1" id="lotField">
                        <span class="unit unitbox">Lots</span>
                      </div>
                      <div class="col-1 p-0"></div> {{/* spacer */}}
                      <div class="col-11 p-0">
                        <input type="number" class="form-control select bg1" id="qtyField">
                        <span class="unit unitbox" data-unit="base"></span>
                      </div>
                    </div>

                    {{- /* MARKET BUY ORDER QUANTITY INPUT */ -}}
                    <div id="mktBuyBox" class="d-hide">
                      <div class="text-center mt-2 fs15">
                        min trade is about <span id="minMktBuy"></span> <span data-unit="quote"></span>
                      </div>
                      <div class="d-flex justify-content-center mt-2">
                        <!-- <label for="mktBuyField" class="flex-center col-12 p-0">Trading</label> -->
                        <div class="col-12 p-0 position-relative">
                          <input type="number" class="form-control select bg1" id="mktBuyField">
                          <span class="unit unitbox" data-unit="quote"></span>
                        </div>
                      </div>
                      <div class="p-0 fs14 flex-center mt-1">
                        <span>
                          ~ <span id="mktBuyScore">0</span> <span data-unit="base"></span>
                          @ <span id="mktBuyLots">0</span> <span >Lots</span><br>

                        </span>
                      </div>
                    </div>

                    {{- /* ORDER PREVIEW */ -}}
                    <div class="mt-2 fs14 text-right" id="orderPreview"></div>

                    {{- /* TIME-IN-FORCE CHECK BOX */ -}}
                    <div class="mt-2 text-left pl-4" id="tifBox">
                      <input id="tifNow" class="form-check-input" type="checkbox" value="">
                      <label class="form-check-label" for="tifNow">
                        Match for one epoch only
                      </label>
                    </div>

                    {{- /* SUBMIT ORDER BUTTON */ -}}
                    <div class="text-right">
                      <button id="submitBttn" type="button" class="my-1 fs14 submit text-center">Submit Order</button>
                    </div>
                  </div>
                  <div class="fs15 pt-3 text-center d-hide errcolor" id="orderErr"></div>
                </form>

                {{- /* BALANCES */ -}}
                <div class="market-bal pt-2 pb-1 my-3 position-relative">
                  <span class="market-bal-lbl">Balances</span>
                  <table class="balance-table" id="balanceTable">
                    <thead>
                      <tr>
                        <th></th>
                        <th>
                          <div class="d-flex align-items-center pb-1" id="baseWalletIcons">
                            <img id="baseImg" class="micro-icon mr-1">
                            <span data-unit="base"></span>
                            <div class="flex-grow-1"></div>
                            <div id="baseWalletState" class="fs12">{{template "walletIcons"}}</div>
                            <span class="ico-expired fs16 pl-1" id="baseExpired" data-tooltip="Balance may be outdated. Connect to the wallet to refresh."></span>
                          </div>
                        </th>
                        <th>
                          <div class="d-flex align-items-center pb-1" id="quoteWalletIcons">
                            <img id="quoteImg" class="micro-icon mr-1">
                            <span data-unit="quote"></span>
                            <div class="flex-grow-1"></div>
                            <div id="quoteWalletState" class="fs12">{{template "walletIcons"}}</div>
                            <span class="ico-expired fs16 pl-1" id="quoteExpired" data-tooltip="Balance may be outdated. Connect to the wallet to refresh."></span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="fs16">available</td>
                        <td id="baseUnsupported" rowspan="3">
                          <div class="ico-cross"></div>
                        </td>
                        <td id="baseConnect" rowspan="3" class="pointer" data-tooltip="Click to connect and refresh">
                          <div class="ico-sleeping"></div>
                        </td>
                        <td id="baseSpinner" rowspan="3">
                          <div class="ico-spinner spinner"></div>
                        </td>
                        <td id="baseNewWalletRow" rowspan="3">
                          <button id="baseNewButton" type="button" class="newwallet bg1 text-center">Add a<br><span data-unit="base"></span><br>wallet</button>
                        </td>
                        <td id="baseAvail" class="fs16"></td>
                        <td id="quoteUnsupported" rowspan="3">
                          <div class="ico-cross"></div>
                        </td>
                        <td id="quoteConnect" rowspan="3" class="pointer" data-tooltip="Click to connect and refresh">
                          <div class="ico-sleeping"></div>
                        </td>
                        <td id="quoteSpinner" rowspan="3">
                          <div class="ico-spinner spinner"></div>
                        </td>
                        <td id="quoteNewWalletRow" rowspan="3" class="brdr-left">
                          <button id="quoteNewButton" type="button" class="newwallet bg1 text-center">Add a<br><span data-unit="quote"></span><br>wallet</button>
                        </td>
                        <td id="quoteAvail" class="brdr-left fs16"></td>
                      </tr>
                      <tr>
                        <td>locked</td>
                        <td id="baseLocked"></td>
                        <td id="quoteLocked" class="brdr-left"></td>
                      </tr>
                      <tr>
                        <td>immature</td>
                        <td id="baseImmature"></td>
                        <td id="quoteImmature" class="brdr-left"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          {{- /* SELL ORDER LIST */ -}}
          <div class="marketorders col-7 p-0 bg1">
            <div class="market-header text-center fs14 py-1">Sell Orders</div>
            <table class="ordertable bg0">
              {{template "thead"}}
              <tbody id="sellRows"></tbody>
            </table>
          </div>
        </div>
      </div>

      {{- /* USER ORDERS: TODO */ -}}
      <div class="bg0 p-0 col-10 d-flex flex-column align-items-stretch">
        <div class="market-header text-center fs14 py-1 brdrleft">Your Orders</div>
        <div class="brdrleft flex-grow-1 bg1 position-relative">

          <div class="fill-abs stylish-overflow">
            <table id="liveTable" class="ordertable">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Side</th>
                  <th>Age</th>
                  <th>Rate</th>
                  <th>Quantity</th>
                  <th>Filled</th>
                  <th>Settled</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="liveList">
                <tr id="liveTemplate">
                  <td data-tmpl="type"></td>
                  <td data-tmpl="side"></td>
                  <td data-tmpl="age"></td>
                  <td data-tmpl="rate"></td>
                  <td data-tmpl="qty"></td>
                  <td data-tmpl="filled"></td>
                  <td data-tmpl="settled"></td>
                  <td data-tmpl="status"></td>
                  <td class="text-center">
                    <span data-tmpl="cancelBttn" class="ico-cross d-hide"></span>
                    <span data-tmpl="cancelStatus" class="d-hide"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{- /* POP-UP FORMS */ -}}
  <div id="forms" class="marketforms d-flex flex-center p-4 overflow-auto d-hide">

    {{- /* UNLOCK WALLET */ -}}
    <form class="card bg1 position-relative d-hide" id="openForm" autocomplete="off">
      {{template "unlockWalletForm"}}
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="card bg1 m-auto d-hide" id="walletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* VERIFY ORDER */ -}}
    <form class="card bg1 p-4 position-relative fs16 text-center d-hide" id="verifyForm" autocomplete="off">
      You are submitting an order to
      <div class="fs20 demi py-1">
        <span id="vSide"></span>
        <span id="vQty"></span>
        <span id="vBase"></span>
      </div>
      <div id="verifyLimit">
        at a rate of
        <div class="fs20 demi py-1">
          <span id="vRate"></span>
          <sup data-unit="quote"></sup>/<sub data-unit="base"></sub>
        </div>
        for a total of
        <div class="fs20 demi py-1">
          <span id="vTotal"></span>
          <span id="vQuote"></span>
        </div>
      </div>
      <div id="verifyMarket">
        This is a market order and will match the best available order(s) on the
        book. Based on the current market mid-gap rate, you might receive about
        <div class="fs20 demi py-1">
          <span id="vmTotal"></span>
          <span id="vmAsset"></span>
          <span class="fs15">(<div class="d-inline" id="vmLots"></div class="d-inline"> lots)</span>
        </div>
      </div>
      <hr class="dashed my-4 mx-4">
      <div class="fs16 text-center">Authorize this order with your app password.</div>
      <div class="d-flex mt-3">
        <div class="col-12 p-0 text-left">
          <label for="vPass" class="pl-1 mb-1">Password</label>
          <input type="password" class="form-control select" id="vPass">
        </div>
        <div class="col-12 p-0 text-right">
          <div>&nbsp;</div>
          <button id="vSubmit" type="button" class="w-75 mt-1 justify-content-center fs15 bg2 selected">Submit</button>
        </div>
      </div>
    </form>

    <form class="card bg1 d-hide" id="cancelForm" autocomplete="off">
      <div class="bg2 px-2 py-1 text-center fs18">
        Cancel Order
      </div>
      <div class="p-3">
        Enter your password to submit a cancel order for the remaining
        <span id="cancelRemain"></span>
        <span id="cancelUnit"></span>
        The remaining amount may change before the cancel order is matched.
      </div>
      <hr class="dashed mt-2">
      <div class="d-flex flex-row align-items-end pb-4 px-3">
        <div class="col-12 p-0">
          <label for="cancelPass" class="pt-3 pl-1 mb-0">Password</label>
          <input type="password" class="form-control select" id="cancelPass" autocomplete="off">
        </div>
        <div class="col-12 py-1 pl-5">
          <button id="cancelSubmit" type="button" class="w-100 fs15 bg2 selected">Submit</button>
        </div>
      </div>
    </form>

  </div>

</div>
{{template "bottom"}}
{{end}}
