{{define "walletIcons"}}
<span data-state="sleeping" class="ico-sleeping grey d-hide"></span>
<span data-state="locked" class="ico-locked grey d-hide"></span>
<span data-state="unlocked" class="ico-unlocked d-hide"></span>
<span data-state="syncing" class="ico-sync fs12 d-hide" data-tooltip="placeholder text"></span>
<span data-state="nopeers" class="ico-disconnected fs12 d-hide" data-tooltip="no peers!"></span>
<span data-state="nowallet"></span> {{/* not showing ico-cross */}}
<span data-state="disabled" class="ico-cross errcolor d-hide" data-tooltip="placeholder text"></span>
{{end}}

{{define "markets"}}
{{template "top" .}}
<div id="main" data-handler="markets" class="main m-0 flex-nowrap v1">
  {{- /* MARKET LIST */ -}}
  <div id="leftMarketDock" class="flex-column align-items-end v1 default">
    <div class="h-100 d-flex flex-column align-items-stretch">

      <div class="d-flex align-items-stretch" id="searchBoxV1">
        <div class="flex-grow-1 p-1 position-relative">
          <input type="text" id="marketSearchV1"  placeholder=" " spellcheck="false" class="my-1">
          <div class="ico-search fs22"></div>
        </div>
        <div id="leftHider" class="flex-center pointer hoverbg">
          <span class="ico-arrowback d-inline-block fs24">
        </div>
      </div>

      <div class="flex-grow-1 overflow-y-hidden">
        <div id="marketListV1" class="stylish-overflow hoveronly overflow-x-hidden">
          <div id="marketTmplV1" class="market-tmpl-v1 d-flex align-items-stretch p-2 my-1 pointer hoverbg">
            <div class="flex-center flex-column me-1">
              <div class="d-flex align-items-start justify-content-start flex-grow-1">
                <img data-tmpl="baseIcon">
                <img data-tmpl="quoteIcon" class="ms-1">
                <span class="errcolor ico-disconnected d-hide ps-1" data-tmpl="disconnectedIco"></span>
              </div>
              <div class="fs10 demi text-start text-nowrap dexname" data-tmpl="host"></div>
            </div>
            <div class="d-flex flex-column pe-4 ps-2 flex-grow-1">
              <span class="fs17 demi">
                <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
              </span>
              <span class="fs15 grey" data-tmpl="baseName"></span>
            </div>
            <div class="d-flex flex-column align-items-end ps-3">
              <span data-tmpl="price" class="fs17">-</span>
              <span data-tmpl="change" class="fs15">-</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="marketReopener" class="flex-center pointer hoverbg">
    <span class="ico-arrowright d-inline-block fs24">
  </div>

  {{- /* MAIN CONTENT */ -}}
  <div class="flex-grow-1 position-relative v1">
    <div class="stylish-overflow h-100 w-100 overflow-x-hidden d-flex flex-column align-items-stretch">

      {{- /* MARKET STATS - SMALL SCREENS */ -}}
      <div id="marketStatsV1" class="market-stats-v1 align-items-center justify-content-center p-2 flex-wrap">
        <div class="flex-center me-2 pointer hoverbg" data-tmpl="marketSelect">
          <div class="flex-center">
            <img data-tmpl="baseIcon"><img data-tmpl="quoteIcon" class="ms-1">
          </div>
          <div class="flex-center fs24 demi ms-2">
            <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
          </div>
          <span class="ico-arrowdown fs8 grey ms-1"></span>
          <span class="ico-arrowup fs8 grey ms-1"></span>
        </div>
  
        <div class="data-point">
          <span class="label grey">[[[:title:price]]]</span>
          <div class="flex-center me-2">
            <span data-tmpl="price"></span>
            <div data-tmpl="change" class="ms-2"></div>
          </div>
        </div>

        <div class="twentyfour flex-center align-items-stretch">
          <div class="data-point">
            <span class="label grey">24 Hr.</span>
          </div>
    
          <div class="data-point">
            <span class="label grey">[[[:title:volume]]]</span>
            <div class="flex-center me-2">
              <div data-tmpl="volume">-</div>
            </div>
          </div>
    
          <div class="data-point">
            <span class="label grey">High</span>
            <div class="flex-center ms-2">
              <div data-tmpl="high">-</div>
            </div>
          </div>
    
          <div class="data-point">
            <span class="label grey">Low</span>
            <div class="flex-center ms-2">
              <div data-tmpl="low">-</div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-grow-1 position-relative">
        <div id="mainContent">

          {{- /* ORDER BOOK */ -}}
          <div class="d-flex flex-column orderbook">
            <div class="stylish-overflow hoveronly overflow-x-hidden flex-grow-1 ordertable-wrap reversible">

              {{- /* SELL ORDER LIST */ -}}
              <table class="ordertable">
                <tbody id="sellRows"></tbody>
              </table>
            </div>

            <div class="ordertable-header flex-center fs15">
              <span class="flex-grow-1">Order Book</span>
              <span class="flex-center">
                <span id="obUp" class="ico-arrowup buycolor fs11"></span>
                <span id="obDown" class="ico-arrowdown sellcolor fs11 d-hide"></span>
                <span id="obPrice" class="buycolor ms-1"></span>
              </span>
            </div>

            <div class="stylish-overflow hoveronly overflow-x-hidden flex-grow-1 ordertable-wrap">

              {{- /* BUY ORDER LIST */ -}}
              <table class="ordertable buys">
                <tbody id="buyRows">
                  {{- /* This row is used by the app as a template. */ -}}
                  <tr id="rowTemplate">
                    <td class="ps-2">
                      <div class="d-flex justify-content-start align-items-center">
                        <div data-tmpl="qty">-</div>
                        <div class="numorders text-center ms-2" data-tmpl="numorders">-</div>
                      </div>
                    </td>
                    <td class="text-end pe-2" data-tmpl="rate">-</td>
                    <td class="text-end pe-3" data-tmpl="epoch"></td>
                  </tr>
                </tbody>
              </table> {{- /* END BUY ORDER LIST */ -}}
            </div>
          </div> {{- /* END ORDER BOOK */ -}}

          {{- /* CHARTS */ -}}
          <div class="flex-grow-1 position-relative">
            <div class="fill-abs d-flex flex-column align-items-stretch">
              <div id="candlesChart" class="market-chart">
                <div id="durBttnBox"><button class="candle-dur-bttn" id="durBttnTemplate"></button></div>
              </div>

              <div class="chart-legend">
                <div id="chartErrMsg" class="p-2 flex-center errcolor w-100"></div>
                <div class="flex-grow-1">
                  <div id="hoverData" class="d-flex align-items-center d-hide">
                    <span class="ico-target fs11 me-1"></span>
                    <span id="depthHoverData">
                      [[[price]]]: <span id="hoverPrice"></span>,
                      [[[volume]]]: <span id="hoverVolume"></span>
                    </span>
                    <span class="d-hide" id="candleHoverData">
                      S: <span id="candleStart"></span>,
                      E: <span id="candleEnd"></span>,
                      L: <span id="candleLow"></span>,
                      H: <span id="candleHigh"></span>,
                      V: <span id="candleVol"></span>
                    </span>
                  </div>
                </div>

                <div id="depthSummary" class="d-flex align-items-center d-hide">
                  <span>[[[sells]]]: <span id="sellBookedBase"></span> <span data-unit="base"></span>, <span id="sellBookedQuote"></span> <span data-unit="quote"></span></span>
                  |
                  <span class="me-2">[[[buys]]]: <span id="buyBookedBase"></span> <span data-unit="base"></span>, <span id="buyBookedQuote"></span> <span data-unit="quote"></span></span>
                </div>
              </div>

              <div id="depthChart" class="market-chart">
                <div id="epochLine" class="d-hide"><div class="epoch-line"></div> [[[epoch]]]</div>
              </div>
            </div>
          </div>

          {{- /* ORDER FORM */ -}}
          <div class="order-panel pb-3 position-relative">
            <div class="d-flex flex-column align-items-stretch">

              {{- /* TOKEN APPROVAL */ -}}
              <div class="fs15 pt-1 pb-3 text-center brdrbottom d-hide" id="tokenApproval">
                <span class="p-3 flex-center fs16 grey d-hide" id="approvalRequiredBuy">[[[approval_required_buy]]]</span>
                <span class="p-3 flex-center fs16 grey d-hide" id="approvalRequiredSell">[[[approval_required_sell]]]</span>
                <span class="p-3 flex-center fs16 grey d-hide" id="approvalRequiredBoth">[[[approval_required_both]]]</span>
                <button id="approveBaseBttn" type="button" class="pointer hoverbg text-center p-2 text-nowrap">[[[Approve]]] <span id="baseTokenAsset"></span></button>
                <div id="approvalPendingBase" class="d-hide flex-center position-relative py-2">
                  <span class="px-1" id="approvalPendingBaseSymbol"></span> [[[approval_change_pending]]] <div class="px-2 ico-spinner spinner fs15"></div>
                </div>
                <button id="approveQuoteBttn" type="button" class="pointer hoverbg text-center p-2 text-nowrap">[[[Approve]]] <span id="quoteTokenAsset"></span></button>
                <div id="approvalPendingQuote" class="d-hide flex-center position-relative py-2">
                  <span class="px-1" id="approvalPendingQuoteSymbol"></span> [[[approval_change_pending]]] <div class="px-2 ico-spinner spinner fs15"></div>
                </div>
              </div>

              {{- /* ORDER TYPE BUTTONS */ -}}
              <div id="orderTypeBttns" class="fs14 d-flex justify-content-start align-items-stretch d-hide min-fit">
                <button id="limitBttn" type="button" class="flex-center px-3 py-0 markettab brdrbottom selected">[[[Limit Order]]]</button>
                <button id="marketBttn" type="button" class="flex-center px-3 py-0 markettab brdrbottom brdrleft brdrright">[[[Market Order]]]</button>
              </div>

              <div class="fs15 pt-3 text-center d-hide" id="loaderMsg"></div>

              {{- /* CREATE ACCOUNT TO TRADE */ -}}
              <div id="notRegistered" class="d-hide">
                <div class="p-3 flex-center fs16 grey">[[[create_account_to_trade]]]</div>
                <div class="brdrtop brdrbottom flex-center p-2">
                  <p class="text-center fs14 p-2 m-0">[[[need_to_register_msg]]]</p>
                  <button data-tmpl="registerBttn" type="button" class="pointer hoverbg text-center p-2 text-nowrap">[[[Create Account]]]</button>
                </div>
              </div>

              {{- /* BOND CREATION PENDING */ -}}
              <div class="d-hide p-2 mt-2" id="bondCreationPending">
                <div class="p-0 w-100">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p id="postingBondsShortlyTitle" class="title">[[[posting_bonds_shortly]]]
                    </p>
                    <p id="bondCreationPendingMessage">[[[bond_creation_pending_msg]]]
                    </p>
                  </div>
                </div>
              </div>

              {{- /* REGISTRATION STATUS */ -}}
              <div class="d-hide p-2 mt-2" id="registrationStatus">
                <div class="p-0 w-100">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <span id="regStatusTitle" class="title"></span>
                    <p id="regStatusMessage">[[[reg_status_msg]]]
                    </p>
                    <span id="regStatusConfsDisplay"></span>
                  </div>
                </div>
              </div>

              {{- /* BOND REQUIRED TO TRADE */ -}}
              <div class="d-hide p-2 mt-2" id="bondRequired">
                <div class="p-3 flex-center fs16 grey">[[[action_required_to_trade]]]</div>
                <div class="brdrtop brdrbottom flex-center p-2">
                  <p class="text-center fs14 sans-light p-2 m-0">
                  [[[acct_tier_post_bond]]]
                  <a id="dexSettingsLink" class="fs15 hoverbg subtlelink">[[[enable_bond_maintenance]]]</a>
                  </p>
                </div>
              </div>

              {{- /* ORDER FORM */ -}}
              <form id="orderForm" class="p-3 d-hide">
                <div class="p-0 w-100">

                  {{- /* BUY - SELL SELECTOR */ -}}
                  <div class="d-flex justify-content-start pb-2 fs14">
                    <button id="buyBttn" type="button" class="buygreen-bg selected">
                      [[[Buy]]]
                      <span data-unit="base"></span>
                    </button>
                    <button id="sellBttn" type="button" class="sellred-bg ms-2">
                      [[[Sell]]]
                      <span data-unit="base"></span>
                    </button>
                    <span></span>
                  </div>

                  {{- /* MARKET CONFIG */ -}}
                  <div class="d-flex justify-content-between my-2 fs14">
                    <div>
                      [[[:title:lot_size]]]:
                      <span id="lotSize"></span>
                      <span data-unit="base"></span>
                    </div>
                    <div>
                      [[[Rate Step]]]:
                      <span id="rateStep"></span>
                      <span data-unit="quote"></span>
                    </div>
                  </div>
                  <div class="my-2 fs14 h21" id="maxBox">
                    <div id="maxOrd" class="d-hide position-relative pointer">
                      <span id="maxLotBox" class="d-hide">
                        <span class="underline">[[[Max]]] <span id="maxLbl">[[[Buy]]]</span></span>:
                        <span id="maxFromLots"></span>
                        <span id="maxFromLotsLbl">[[[lot]]]</span>
                      </span>
                      <span id="maxAboveZero" class="d-hide">
                        ,
                        <span id="maxFromAmt"></span>
                        <span id="maxFromTicker"></span>
                        <!-- &rarr;
                        <span id="maxToAmt"></span>
                        <span id="maxToTicker"></span> -->
                      </span>
                    </div>
                  </div>

                  {{- /* RATE AND QUANTITY INPUTS */ -}}
                  <div class="d-flex mt-3" id="priceBox">
                    <label for="rateField" class="form-label col-6 d-flex align-items-center p-0">[[[:title:price]]]</label>
                    <div class="col-18 p-0 position-relative">
                      <input type="number" class="form-control select bg1" id="rateField">
                      <span class="unitbox"><span class="unit" data-unit="quote"></span>/<span class="unit" data-unit="base"></span></span>
                    </div>
                  </div>
                  <div class="d-flex mt-4" id="qtyBox">
                    <label for="qtyField" class="form-label col-6 d-flex align-items-center p-0">[[[Quantity]]]</label>
                    <div class="col-6 p-0 position-relative">
                      <input type="number" class="form-control select bg1" id="lotField">
                      <span class="unit unitbox">[[[:title:lots]]]</span>
                    </div>
                    <div class="col-1 p-0"></div> {{/* spacer */}}
                    <div class="col-11 p-0 position-relative">
                      <input type="number" class="form-control select bg1" id="qtyField">
                      <span class="unit unitbox" data-unit="base"></span>
                    </div>
                  </div>

                  {{- /* MARKET BUY ORDER QUANTITY INPUT */ -}}
                  <div id="mktBuyBox" class="d-hide">
                    <div class="text-center mt-2 fs15">
                      [[[min trade is about]]] <span id="minMktBuy"></span> <span data-unit="quote"></span>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                      <!-- <label for="mktBuyField" class="flex-center col-12 p-0">Trading</label> -->
                      <div class="col-12 p-0 position-relative">
                        <input type="number" class="form-control select bg1" id="mktBuyField">
                        <span class="unit unitbox" data-unit="quote"></span>
                      </div>
                    </div>
                    <div class="p-0 fs14 flex-center mt-1">
                      <span>
                        ~ <span id="mktBuyScore">0</span> <span data-unit="base"></span>
                        @ <span id="mktBuyLots">0</span> <span >[[[:title:lots]]]</span><br>

                      </span>
                    </div>
                  </div>

                  {{- /* ORDER PREVIEW */ -}}
                  <div class="mt-2 fs14 text-end" id="orderPreview"></div>

                  {{- /* TIME-IN-FORCE CHECK BOX */ -}}
                  <div class="my-1 text-start form-check" id="tifBox">
                    <input id="tifNow" class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="tifNow">
                      [[[Immediate or cancel]]]
                      <span class="ico-info fs12" data-tooltip="[[[immediate_explanation]]]"></span>
                    </label>
                  </div>

                  {{- /* SUBMIT ORDER BUTTON */ -}}
                  <div class="text-end">
                    <button id="submitBttn" type="button" class="my-1 fs14 submit text-center buygreen-bg"></button> {{/* textContent set by script */}}
                  </div>
                </div>
                <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="orderErr"></div>
              </form>

              {{- /* BALANCES */ -}}
              <div id="noWallet" class="p-3 flex-center fs16 grey d-hide">
                Create wallets to trade
              </div>
              <div id="walletInfoTmpl" class="brdrtop brdrbottom mb-3 d-flex flex-column align-items-stretch min-fit">
                <div class="d-flex align-items-center px-3 py-1 brdrbottom" data-tmpl="walletIcons">
                  <img data-tmpl="logo" class="micro-icon me-1">
                  <span data-tmpl="symbol"></span>
                  <div class="flex-grow-1"></div>
                  <div data-tmpl="walletState" class="fs12">{{template "walletIcons"}}</div>
                  <div data-tmpl="walletAddr" class="ico-qrcode fs12 p-2 pointer hoverbg"></div>
                  <span class="ico-expired fs16 ps-1" data-tmpl="expired" data-tooltip="[[[outdated_tooltip]]]"></span>
                </div>
                <div data-tmpl="unsupported" class="flex-center position-relative py-2 d-hide">
                  <div class="fs13 ico-cross"></div>
                  <span class="fs15 grey ms-1">asset not supported</span>
                </div>
                <div data-tmpl="connect" class="pointer d-hide" data-tooltip="[[[connect_refresh_tooltip]]]">
                  <div class="ico-sleeping"></div>
                </div>
                <div data-tmpl="newWalletRow" class="flex-center p-2 d-hide">
                  <button data-tmpl="newWalletBttn" type="button" class="pointer hoverbg text-center p-2 text-nowrap">[[[add_a_wallet]]]</button>
                </div>
                <div data-tmpl="spinner" class="flex-center position-relative py-2">
                  <div class="ico-spinner spinner fs15"></div>
                </div>
                <div data-tmpl="balanceRows" class="d-flex flex-column align-items-stretch brdrbottom lh1">
                  <div class="d-flex justify-content-between align-items-center px-3 py-1 fs15" data-tmpl="balanceRowTmpl">
                    <span data-tmpl="title"></span>
                    <div data-tmpl="bal"></div>
                  </div>
                </div>
              </div>

              {{- /* USER ORDERS */ -}}
              <div class="text-center fs20 sans-light my-1">[[[Your Orders]]]</div>
              <div id="unreadyOrdersMsg" class="d-hide px-3 py-1 flex-center fs16 red">[[[unready_wallets_msg]]]</div>
              <div id="userNoOrders" class="p-3 flex-center fs16 grey">no active orders</div>
              <div id="userOrders" class="mb-3">
                <div id="userOrderTmpl" class="user-order">
                  <div data-tmpl="header" class="user-order-header">
                    <div data-tmpl="sideLight" class="side-indicator"></div>
                    <span data-tmpl="side"></span>
                    <span data-tmpl="qty" class="ms-1"></span>
                    <span data-tmpl="baseSymbol" class="ms-1 grey"></span>
                    <span class="ms-1">@</span>
                    <span data-tmpl="rate" class="ms-1"></span>
                    <span class="flex-grow-1 d-flex align-items-center justify-content-end">
                      <span data-tmpl="status"></span>
                      <span data-tmpl="activeLight" class="active-indicator active"></span>
                    </span>
                    <div data-tmpl="expander" class="p-1 pointer hoverbg fs11 ico-arrowdown"></div>
                    
                    <!-- <span class="fs11 ico-open ms-2"></span> -->
                  </div>
                  <div data-tmpl="details" class="order-details d-hide">
                    <div class="user-order-datum full-span d-flex flex-row justify-content-start align-items-center brdrbottom fs12 p-2">
                      <span data-tmpl="accelerateBttn" class="ico-rocket pointer hoverbg d-hide me-3" data-tooltip="[[[accelerate_order]]]"></span>
                      <span data-tmpl="cancelBttn" class="ico-cross pointer hoverbg fs11 d-hide me-3" data-tooltip="[[[cancel_order]]]"></span>
                      <a data-tmpl="link" class="ico-open pointer hoverbg me-3 fs13 plainlink" data-tooltip="[[[order details]]]"></a>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Type]]]</span>
                      <span data-tmpl="type"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Side]]]</span>
                      <span data-tmpl="side"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Status]]]</span>
                      <span data-tmpl="status"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Age]]]</span>
                      <span data-tmpl="age"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Quantity]]]</span>
                      <span data-tmpl="qty"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Rate]]]</span>
                      <span data-tmpl="rate"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Filled]]]</span>
                      <span data-tmpl="filled"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Settled]]]</span>
                      <span data-tmpl="settled"></span>
                    </div>
                  </div>
                </div>
              </div>{{- /* END USER ORDERS */ -}}

              <a href="/orders" class="flex-center my-2 plainlink">[[[view order history]]]</a>

              {{- /* RECENT MATCHES */ -}}
              <div id=recentMatchesBox  class="d-flex flex-column align-items-stretch px-3 pb-4 mt-2 brdrtop">
                <div class="text-center fs20 sans-light my-3">[[[Recent Matches]]]</div>
                <table id="recentMatchesTable" class="ordertable">
                  <thead>
                    <tr class="pointer">
                      <th data-ordercol="age" class="text-nowrap">[[[Age]]] <span class="ico-arrowdown"></span></th>
                      <th data-ordercol="rate" class="text-end pe-2 text-nowrap"><span class="ico-arrowdown"></span> [[[Rate]]]</th>
                      <th data-ordercol="qty" class="text-end text-nowrap"><span class="ico-arrowdown"></span> [[[Quantity]]]</th>
                    </tr>
                  </thead>
                  <tbody id="recentMatchesLiveList">
                    <tr id="recentMatchesTemplate">
                      <td data-tmpl="age"></td>
                      <td data-tmpl="rate" class="text-end pe-2"></td>
                      <td data-tmpl="qty" class="text-end"></td>
                    </tr>
                  </tbody>
                </table>
              </div>{{- /* END RECENT MATCHES */ -}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>{{- /* END CONTENT */ -}}

  {{- /* POP-UP FORMS */ -}}
  <div id="forms" class="d-hide">

    {{- /* UNLOCK WALLET */ -}}
    <form class="position-relative d-hide" id="unlockWalletForm" autocomplete="off">
      {{template "unlockWalletForm"}}
    </form>

    {{- /* DEPOSIT ADDRESS */ -}}
    <form class="position-relative flex-center flex-column fs20 d-hide" id="deposit">
      {{template "depositAddress"}}
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="m-auto d-hide" id="newWalletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* TOGGLE WALLET STATUS AUTHORIZATION */ -}}
    <form class="d-hide" id="toggleWalletStatusConfirm">
      {{template "toggleWalletStatusConfirm"}}
    </form>

    {{- /* VERIFY FORM */ -}}
      <form class="position-relative fs16 text-center d-hide" id="verifyForm" autocomplete="off">
        <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
        <div class="py-1 text-center fs18 position-relative header buygreen-bg" id="vHeader">
          <span id="vBuySell"></span> <span data-unit="base"></span>
        </div>
        <div class="d-flex justify-content-between align-items-center py-2 fs13">
          <span id="vOrderType" class="grey"></span>
          <span id="vOrderHost" class="grey"></span>
        </div>

        <hr class="dashed mt-0 mb-2">

        {{- /* Price, Quantity, Total Section */ -}}
        <div id="verifyLimit">
          <div class="d-flex align-items-center justify-content-between">
            <span class="grey fs17 flex-grow-1 text-start">[[[:title:price]]]</span>
            <span id="vRate" class="fs18 demi"></span>
            <span class="grey fs14 ms-2">
              <sup data-unit="quote"></sup>/<sub data-unit="base"></sub>
            </span>
          </div>
          <div class="d-flex align-items-center mt-1">
            <span class="grey fs17 flex-grow-1 text-start">[[[Quantity]]]</span>
            <span id="vQty" class="fs18 demi"></span>
            <span data-unit="base" class="grey fs14 ms-2"></span>
          </div>
          <div class="d-flex align-items-center mt-1">
            <span class="grey fs17 flex-grow-1 text-start">[[[Total]]]</span>
            <span id="vTotal" class="fs18 demi"></span>
            <span data-unit="quote" class="grey fs14 ms-2"></span>
          </div>
          <span class="d-flex d-hide justify-content-end grey fs14">
          ~<span id="vFiatTotal" class="mx-1"></span>USD
          </span>
        </div>
        <div id="verifyMarket">
          <div class="d-flex align-items-center justify-content-between">
            <span class="grey fs17 flex-grow-1 text-start">[[[Trading]]]</span>
            <span id="vmFromTotal" class="fs18 demi"></span>
            <span id="vmFromAsset" class="grey fs14 ms-2"></span>
          </div>
          <span class="d-flex d-hide justify-content-end grey fs14">
           ~<span id="vmFromTotalFiat" class="mx-1"></span>USD
          </span>
          <div id="vMarketEstimate" class="d-flex align-items-center justify-content-between">
            <span class="grey fs17 flex-grow-1 text-start">
              [[[Receiving Approximately]]]
              <span class="ico-info fs12" data-tooltip="[[[verify_market]]]"></span>
            </span>
            <span id="vmToTotal" class="fs18 demi"></span>
            <span id="vmToAsset" class="grey fs14 ms-2"></span>
          </div>
          <span class="d-flex d-hide justify-content-end grey fs14">
           ~<span id="vmTotalFiat" class="mx-1"></span>USD
          </span>
        </div>

        <hr class="dashed my-2">

        {{- /* Auth Section */ -}}
        {{$passwordIsCached := .UserInfo.PasswordIsCached}}
        <div class="fs16 text-center {{if $passwordIsCached}}d-hide{{end}}">[[[auth_order_app_pw]]]</div>
        <div class="d-flex mt-3 {{if $passwordIsCached}}justify-content-end{{end}}" >
          <div class="col-12 p-0 text-start {{if $passwordIsCached}}d-hide{{end}}">
            <label for="vPass" class="form-label ps-1 mb-1">[[[Password]]]</label>
            <input type="password" class="form-control select" id="vPass">
          </div>
          <div class="col-12 p-0 d-flex justify-content-end">
            <button id="vSubmit" type="button" class="w-75 mt-1 justify-content-center fs15 selected">
              <span id="vSideSubmit"></span>
              <span data-unit="base"></span>
            </button>
            <div id="vLoader" class="loader flex-center d-hide">
              <div class="ico-spinner spinner"></div>
            </div>
          </div>
        </div>
        <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="vErr"></div>{{- /* End Auth Section */ -}}

        <div id="vPreorder">
          <div id="vPreorderEstimates">
            <hr class="dashed mb-2 mt-3">

            <div class="d-flex justify-content-between align-items-center">
              <span class="grey fs18">
                [[[Fee Projection]]]
                <span class="ico-info fs12" data-tooltip="[[[fee_projection_tooltip]]]"></span>
              </span>
              <span class="grey fs14 underline pointer hoverbg" id="vFeeDetails">[[[details]]]</span>
            </div>

            <div class="py-1 d-flex align-items-center justify-content-center fs18" id="vFeeSummaryPct">
              <span id="vFeeSummaryLow"></span>
              <span class="fs15">%</span>
              <span class="fs15 px-2">[[[to]]]</span>
              <span id="vFeeSummaryHigh"></span>
              <span class="fs15">%</span>
            </div>

            <div class="py-1 flex-column align-items-center justify-content-center fs18" id="vFeeSummary">
              <div class="d-flex flex-row align-items-center justify-content-center">
                <img class="micro-icon mx-1" data-icon="from">
                <span id="summarySwapFeesLow"></span>
                <span class="px-1">&ndash;</span>
                <span id="summarySwapFeesHigh"></span>
              </div>
              <div class="d-flex flex-row align-items-center justify-content-center">
                <img class="micro-icon mx-1" data-icon="to">
                <span id="summaryRedeemFeesLow"></span>
                <span class="px-1">&ndash;</span>
                <span id="summaryRedeemFeesHigh"></span>
              </div>
            </div>
          </div>

          <hr class="dashed mb-2 mt-3">

          <div class="grey fs18 d-flex justify-content-between align-items-center">
            [[[Options]]]
            <span class="grey fs14 underline pointer hoverbg" id="showAdvancedOptions">
              [[[show advanced options]]]
            </span>
            <span class="grey fs14 underline pointer hoverbg d-hide" id="hideAdvancedOptions">
              [[[hide advanced options]]]
            </span>
          </div>

          <div id="vDefaultOrderOpts">
            {{template "orderOptionTemplates"}}
          </div>
          <div id="vOtherOrderOpts" class="d-hide"></div>
        </div> {{- /* END id="vPreorder" */ -}}

        <div id="vUnlockPreorder">
          <hr class="dashed mb-2 mt-3">
          <div class="flex-center flex-column my-2 p-3">
            <span class="ico-locked my-2"></span>
            <span>[[[unlock_for_details]]]</span>
            <div class="d-flex align-items-stretch w-100">
              <div class="col-12 p-0 text-start">
                <label for="vUnlockPass" class="form-label ps-1 mb-1">[[[Password]]]</label>
                <input type="password" class="form-control select w-100" id="vUnlockPass">
              </div>
              <div class="col-12 p-0 d-flex align-items-end justify-content-end">
                <button type="button" id="vUnlockSubmit" class="selected buygreen-bg">[[[Unlock]]]</button>
              </div>
            </div>
          </div>
        </div>

        <div id="vPreorderErr" class="mt-2">
          [[[estimate_unavailable]]]
          <span class="ico-info red fs12" id="vPreorderErrTip" data-tooltip=" "></span>
        </div>

        <hr class="dashed mt-2 mb-0">
        <div id="disclaimer" class="disclaimer fs14 mt-2">
          [[[order_disclaimer]]]
        </div>
        <div id="disclaimerAck" class="grey text-start pointer hoverbg py-1 fs14 lh1">
          <span class="ico-check fs12"></span> [[[acknowledge_and_hide]]]
        </div>
        <div id="showDisclaimer" class="d-flex align-items-center grey text-start pointer hoverbg fs14 lh1 py-1 d-hide">
          <span class="fs8 ico-plus me-1 mt-1"></span> [[[show_disclaimer]]]
        </div>
      </form>

      {{- /* FEE DETAIL BREAKDOWN */ -}}
      <form id="vDetailPane" class="d-hide fs16 pb-2">
        <div class="d-flex justify-content-between align-items-center py-1 px-3">
          <span>[[[Fee Details]]]</span>
          <span class="ico-cross fs12 pointer" id="closeDetailPane"></span>
        </div>
        <div class="px-3">
          <div class="m-1">
            [[[estimate_market_conditions]]]
          </div>

          <div class="fs18 mt-2 demi">[[[Best Case Fees]]]</div>
          <div class="px-3 indent">
            <div>
              [[[best_case_conditions]]]
            </div>
            <div class="d-flex">
              <table class="fee-breakout">
                <tr>
                  <td><img class="micro-icon" data-icon="from"> [[[Swap]]]</td>
                  <td><img class="micro-icon" data-icon="to"> [[[Redeem]]]</td>
                </tr>
                <tr>
                  <td><span id="vSwapFeesLow"></span> <span id="vSwapFeesLowPct"></span></td>
                  <td><span id="vRedeemFeesLow"></span> <span id="vRedeemFeesLowPct"></span></td>
                </tr>
              </table>
            </div>
          </div>

          <div class="fs18 mt-2 demi">[[[Worst Case Fees]]]</div>
          <div class="px-3 indent">
            <div>
              [[[worst_case_conditions]]]
            </div>
            <div class="d-flex">
              <table class="fee-breakout">
                <tr>
                  <td><img class="micro-icon" data-icon="from"> [[[Swap]]]</td>
                  <td><img class="micro-icon" data-icon="to"> [[[Redeem]]]</td>
                </tr>
                <tr>
                  <td><span id="vSwapFeesHigh"></span> <span id="vSwapFeesHighPct"></span></td>
                  <td><span id="vRedeemFeesHigh"></span> <span id="vRedeemFeesHighPct"></span></td>
                </tr>
              </table>
            </div>
          </div>

          <div class="fs18 mt-2 demi">[[[Maximum Possible Swap Fees]]]</div>
          <div class="px-3 indent">
            <div>
              [[[max_fee_conditions]]]
            </div>
            <div>
              <img class="micro-icon me-1" data-icon="from">
              <span id="vSwapFeesMax"></span>  <span id="vSwapFeesMaxPct"></span>
            </div>
          </div>

        </div>
      </form>

      <form id="approveTokenForm" class="position-relative flex-center flex-column fs20 d-hide">
        <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
        <div class="px-2 py-1 text-center fs22 text-nowrap sans-light position-relative">
          [[[:title:Approve]]] <span id="approveTokenSymbol"></span>
        </div>
        <div id="tokenApprovalSubmissionElements">
          <div id="approveTokenMainDiv" class="fs15 text-start mt-2">
            [[[approve_token_text]]]
          </div>
          <hr class="dashed my-2">
          <div class="d-flex justify-content-between align-items-stretch flex-wrap">
            <div id="tokenApprovalPWBox" class="col-11 p-0">
              <label for="tokenApprovalPW" class="form-label pt-3 ps-1 mb-1">[[[App Password]]]</label>
              <input type="password" class="form-control select" id="tokenApprovalPW" data-tmpl="appPass" autocomplete="off">
            </div>
            <span class="col-3 hide-pw"></span> {{/* flex dummy */}}
            <div class="d-grid align-items-end col-10 p-0">
              <button id="approveTokenButton" type="button" class="fs15 bg2 selected">[[[Approve]]]</button>
            </div>
          </div>
        </div>
        <span id="tokenApprovalTxMsg" class="text-center fs17 sans-light d-hide">[[[token_approval_tx_msg]]]</span>
        <a target="_blank" class="subtlelink" id="tokenApprovalTxID"></a>
        <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="approveTokenErr"></div>
      </form>

      {{- /* CANCEL ORDER FORM */ -}}
      <form class="d-hide" id="cancelForm" autocomplete="off">
        {{template "cancelOrderForm" .}}
      </form>
      <form class="d-hide" id="accelerateForm">
        {{template "accelerateForm" .}}
      </form>
    </div>
  </div>

</div>
{{template "bottom"}}
{{end}}
