{{define "mm"}}
{{template "top" .}}
<div id="main" data-handler="mm" class="main mm w-100 overflow-y-auto">
  <div class="d-flex align-items-stretch justify-content-center flex-column align-items-stretch w-100 p-2">
    <div class="flex-center align-items-stretch py-2">
      <button type="button" class="fs20 mx-1 px-2 selected" id="archivedLogsBtn">[[[previous_run_logs]]]</button>
    </div>

    <div id="onOff" class="flex-center align-items-stretch py-2">
      <div class="flex-center flex-column p-3">
        <div class="fs28 text-nowrap">[[[Market Making]]]</div>
        <div class="flex-center mt-1 fs20">
          <span id="onIndicator" class="on-indicator off me-2"></span>
          <span id="onMsg" class="d-hide">[[[Running]]]</span>
          <span id="offMsg">[[[Off]]]</span>
        </div>
      </div>
      <div class="flex-center p-3 border-start">
        <button class="go large px-4" id="startBotsBtn">
          <span class="ico-arrowright me-1"></span>
          [[[start_market_making]]]
        </button>
        <button class="danger large px-4 d-hide" id="stopBotsBtn">
          <span class="ico-pause me-1"></span>
          [[[stop_market_making]]]
        </button>
      </div>
    </div>

    <div id="noBots" class="w-100 flex-center flex-column">
      <div class="d-flex align-items-stretch border-start border-end">
        <div class="col-12 flex-stretch-column mw-425 p-2">
          <h3 class="flex-center text-nowrap border-bottom pb-3">[[[Market Making]]]</h3>
          <p class="p-2">
            [[[whats_a_market_maker]]]
          </p>
        </div>
        <div class="col-12 flex-center flex-column mw-425 p-3 border-start">
          <span class="ico-robot mb-3"></span>
          <button id="addBotBtnNoExisting" class="large go">[[[Add a Market Maker Bot]]]</button>
        </div>
      </div>
    </div>

    <div id="mmErr"  class="flex-center text-danger d-hide"></div>

    <div class="px-5 py-3 w-100">
      <table id="botTable" class="row-border d-hide mb-3">
        <thead>
          <th id="enabledHeader">[[[enabled]]]</th>
          <th id="runningHeader" class="d-hide">[[[running]]]</th>
          <th>[[[Host]]]</th>
          <th>[[[Market]]]</th>
          <th>[[[bot_type]]]</th>
          <th>[[[base_balance]]]</th>
          <th>[[[quote_balance]]]</th>
          <th id="profitLossHeader">[[[profit_loss]]]</th>
          <th id="removeHeader" class="text-end">[[[Remove]]]</th>
          <th class="text-end">[[[Settings]]]</th>
          <th id="logsHeader" class="text-end">[[[run_logs]]]</th>
        </thead>
        <tbody id="botTableBody" class="fs18">
          <tr id="botTableRowTmpl">
            <td data-tmpl="enabled"><input data-tmpl="enabledCheckbox" class="form-check-input" type="checkbox"></td>
            <td class="d-hide" data-tmpl="running">
              <span class="ico-rocket fs20 mx-2" data-tmpl="runningIcon"></span>
              <span class="ico-sleeping fs20 mx-2" data-tmpl="notRunningIcon"></span>
            </td>
            <td data-tmpl="host"></td>
            <td>
              <div class="d-flex align-items-center justify-content-start">
                <img data-tmpl="baseMktLogo" class="micro-icon">
                <img class="mx-1 micro-icon" data-tmpl="quoteMktLogo">
                <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
              </div>
            </td>
            <td>
              <span data-tmpl="botType" class="me-1"></span>
              <span data-tmpl="cexLink" class="d-hide">
                <span class="fs16 ico-exchange me-1"></span>
                <img data-tmpl="cexLogo" class="micro-icon">
                <span data-tmpl="cexName"></span>
              </span>
            </td>
            <td data-tmpl="baseBalanceTd">
              <img src="/img/softened-icon-dark.png" class="micro-icon dark-logo">
              <img src="/img/softened-icon.png" class="micro-icon light-logo">
              <span data-tmpl="baseBalance"></span><img class="mx-1 micro-icon" data-tmpl="baseBalanceLogo">
                <span class="ico-info fs12 ms-1" data-tmpl="baseBalanceDetails"></span>
                <div data-tmpl="baseBalanceHoverContainer" class="balance-layover d-flex flex-column d-hide">
                  <span>[[[Available]]]: <span data-tmpl="runningBaseBalanceAvailable"></span></span>
                  <span>[[[Locked]]]: <span data-tmpl="runningBaseBalanceLocked"></span></span>
                  <span>[[[Pending]]]: <span data-tmpl="runningBaseBalancePending"></span></span>
                </div>
                </br>
                <span data-tmpl="cexBaseBalanceContainer">
                  <img data-tmpl="baseBalanceCexLogo" class="micro-icon">
                  <span data-tmpl="cexBaseBalanceLoaded">
                    <span data-tmpl="cexBaseBalance"></span><img class="mx-1 micro-icon" data-tmpl="cexBaseBalanceLogo">
                    <span class="ico-info fs12 ms-1" data-tmpl="cexBaseBalanceDetails"></span>
                  </span>
                  <div class="ico-spinner spinner fs14 d-inline-block d-hide" data-tmpl="cexBaseBalanceSpinner"></div>
                  <div data-tmpl="cexBaseBalanceHoverContainer" class="balance-layover d-flex flex-column d-hide">
                    <span>[[[Available]]]: <span data-tmpl="runningCexBaseBalanceAvailable"></span></span>
                    <span>[[[Locked]]]: <span data-tmpl="runningCexBaseBalanceLocked"></span></span>
                  </div>
                </span>
              </div>
            </td>
            <td data-tmpl="quoteBalanceTd">
              <img src="/img/softened-icon-dark.png" class="micro-icon dark-logo">
              <img src="/img/softened-icon.png" class="micro-icon light-logo">
              <span data-tmpl="quoteBalance"></span><img class="mx-1 micro-icon" data-tmpl="quoteBalanceLogo">
                <span class="ico-info fs12 ms-1" data-tmpl="quoteBalanceDetails"></span>
                <div data-tmpl="quoteBalanceHoverContainer" class="balance-layover d-flex flex-column d-hide">
                  <span>[[[Available]]]: <span data-tmpl="runningQuoteBalanceAvailable"></span></span>
                  <span>[[[Locked]]]: <span data-tmpl="runningQuoteBalanceLocked"></span></span>
                  <span>[[[Pending]]]: <span data-tmpl="runningQuoteBalancePending"></span></span>
                </div>
                </br>
                <span data-tmpl="cexQuoteBalanceContainer">
                  <img data-tmpl="quoteBalanceCexLogo" class="micro-icon">
                  <span data-tmpl="cexQuoteBalanceLoaded">
                    <span data-tmpl="cexQuoteBalance"></span><img class="mx-1 micro-icon" data-tmpl="cexQuoteBalanceLogo">
                    <span class="ico-info fs12 ms-1" data-tmpl="cexQuoteBalanceDetails"></span>
                  </span>
                  <div class="ico-spinner spinner fs14 d-inline-block d-hide" data-tmpl="cexQuoteBalanceSpinner"></div>
                  <div data-tmpl="cexQuoteBalanceHoverContainer" class="balance-layover d-flex flex-column d-hide">
                    <span>[[[Available]]]: <span data-tmpl="runningCexQuoteBalanceAvailable"></span></span>
                    <span>[[[Locked]]]: <span data-tmpl="runningCexQuoteBalanceLocked"></span></span>
                  </div>
                </span>
              </div>
            </td>
            <td class="text-end hoverbg pointer" data-tmpl="removeTd"><span class="ico-cross fs20 p-2 text-danger"></span></td>
            <td class="text-end hoverbg pointer" data-tmpl="settings"><span class="ico-settings fs24 p-2"></span></td>
            <td class="text-end hoverbg pointer" data-tmpl="logs"><span class="ico-open fs20 p-2"></span></td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td colspan="9">
              <div class="flex-center">
                <button class="large" id="addBotBtnWithExisting">
                  <span class="ico-plus me-2"></span>
                  [[[Add another bot]]]
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
    

  {{- /* FORMS */ -}}
  <div id="forms" class="d-hide">
    {{template "orderOptionTemplates"}}

    {{- /* APP PASSWORD */ -}}
    <form id="pwForm" class="flex-stretch-column">
      <div class="form-closer"><span class="ico-cross"></span></div>
      <div class="mb-3">
        <label for="pwInput">[[[App Password]]]</label>
        <input type="password" id="pwInput" autocomplete="off">
      </div>
      <div class="text-end">
        <button id="pwSubmit" class="go">[[[Submit]]]</button>
      </div>
    </form>
  </div>  {{- /* END FORMS */ -}}
</div>
{{template "bottom"}}
{{end}}