{{define "mmlogs"}}
{{template "top" .}}
<div id="main" data-handler="mmlogs" class="flex-grow-1 d-flex flex-column align-items-stretch stylish-overflow">
  <div class="d-flex brdrbottom align-items-stretch">
    <div id="backButton" class="fs18 p-2 hoverbg pointer flex-center brdrright">
      <span class="ico-wide-headed-left-arrow fs28"></span>
    </div>
    <div class="flex-center fs24 p-2 flex-grow-1">
      <span class="px-2">[[[logs_for]]] </span> 
      <img class="mini-icon" data-base-logo><img class="mini-icon" data-quote-logo><span data-base-ticker></span>-<span data-quote-ticker></span>
       @  <span class="px-2" data-host></span>
    </div>
  </div>
  <div class="px-5 py-3 w-100">
    <div class="d-flex flex-wrap">
      <div class="order-datum border my-1 me-2">
        <div class="border-bottom py-1 px-3">[[[start_time]]]</div>
        <div id="startTime" class="border-bottom py-1 px-3"></div>
      </div>
      <div class="order-datum border my-1 me-2" id="endTimeBlock">
        <div class="border-bottom py-1 px-3">[[[end_time]]]</div>
        <div id="endTime" class="border-bottom py-1 px-3"></div>
      </div>
      <div class="order-datum border my-1 me-2">
        <div class="border-bottom py-1 px-3">[[[profit_loss]]]</div>
        <div class="py-1 px-3" id="profitLoss"></div>
      </div>
    </div>

    <table id="eventsTable" class="my-3 striped row-hover compact border row-border">
      <thead>
        <th>[[[Time]]]</th>
        <th>[[[Type]]]</th>
        <th>[[[ID]]]</th>
        <th>[[[base_change]]]</th>
        <th>[[[quote_change]]]</th>
        <th>[[[base_fees]]]</th>
        <th>[[[quote_fees]]]</th>
        <th>Sum USD</th>
        <th scope="col">[[[Details]]]</th>
      </thead>
      <tbody id="eventsTableBody">
        <tr id="eventTableRowTmpl">
          <td data-tmpl="time"></td>
          <td data-tmpl="eventType"></td>
          <td data-tmpl="eventID"></td>
          <td data-tmpl="baseDelta"></td>
          <td data-tmpl="quoteDelta"></td>
          <td data-tmpl="baseFees"></td>
          <td data-tmpl="quoteFees"></td>
          <td data-tmpl="sumUSD"></td>
          <td><span class="ico-open fs20 pointer mx-2" data-tmpl="details"></span></td>        
        </tr>
      </tbody>
    </table>
  </div>

  <div id="forms" class="d-hide">
    <form id="dexOrderDetailsForm" class="position-relative flex-center flex-column fs20 d-hide">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <header>
          [[[dex_order_details]]]
      </header>
      <div class="flex-stretch-column">
        <span class="d-flex justify-content-between w-100">
          <span>[[[ID]]]</span>
          <span id="dexOrderID"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Rate]]]</span>
          <span id="dexOrderRate"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Quantity]]]</span>
          <span id="dexOrderQty"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Side]]]</span>
          <span id="dexOrderSide"></span>
        </span>
        <table id="dexOrderTxsTable" class="mt-3 striped row-hover compact border row-border">
          <thead>
            <th scope="col">[[[ID]]]</th>
            <th scope="col">[[[Type]]]</th>
            <th scope="col">[[[Amount]]]</th>
            <th scope="col">[[[Fees]]]</th>
          </thead>
          <tbody id="dexOrderTxsTableBody">
            <tr id="dexOrderTxRowTmpl">
              <td data-tmpl="id"></td>
              <td data-tmpl="type"></td>
              <td data-tmpl="amt"></td>
              <td data-tmpl="fees"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>

    <form id="cexOrderDetailsForm" class="position-relative flex-center flex-column fs20 d-hide">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <header>
          [[[cex_order_details]]]
      </header>
      <div class="flex-stretch-column">
        <span class="d-flex justify-content-between w-100">
          <span>[[[ID]]]</span>
          <span id="cexOrderID"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Rate]]]</span>
          <span id="cexOrderRate"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Quantity]]]</span>
          <span id="cexOrderQty"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Side]]]</span>
          <span id="cexOrderSide"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[base_filled]]]</span>
          <span id="cexOrderBaseFilled"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[quote_filled]]]</span>
          <span id="cexOrderQuoteFilled"></span>
        </span>
      </div>
    </form>

    <form id="depositDetailsForm" class="position-relative flex-center flex-column fs20 d-hide">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <header>
          [[[deposit_details]]]
      </header>
      <div class="flex-stretch-column">
        <span class="d-flex justify-content-between w-100">
          <span>[[[ID]]]</span>
          <span id="depositID"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Amount]]]</span>
          <span id="depositAmt"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Fees]]]</span>
          <span id="depositFees"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Status]]]</span>
          <span id="depositStatus"></span>
        </span>
        <span id="depositCreditSection" class="d-flex justify-content-between w-100">
          <span>[[[credited_amt]]]</span>
          <span id="depositCredit"></span>
        </span>
      </div>
    </form>

    <form id="withdrawalDetailsForm" class="position-relative flex-center flex-column fs20 d-hide">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <header>
          [[[withdrawal_details]]]
      </header>
      <div class="flex-stretch-column">
        <span class="d-flex justify-content-between w-100">
          <span>[[[ID]]]</span>
          <span id="withdrawalID"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Amount]]]</span>
          <span id="withdrawalAmt"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[Status]]]</span>
          <span id="withdrawalStatus"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[tx_id]]]</span>
          <span id="withdrawalTxID"></span>
        </span>
        <span class="d-flex justify-content-between w-100">
          <span>[[[amt_received]]]</span>
          <span id="withdrawalReceived"></span>
        </span>
      </div>
    </form>
  </div>
</div>
{{template "bottom"}}
{{end}}
