{{define "mmsettings"}}
{{template "top" .}}
<div id="main" data-handler="mmsettings" class="flex-grow-1 flex-stretch-column stylish-overflow">
  <div class="w-100 flex-center p-2 fs28 d-flex d-md-none border-bottom">[[[Market Maker Settings]]]</div>
  <div id="noMarket" class="flex-grow-1 flex-center">
    <button id="noMarketBttn" class="large">[[[Select a Market]]]</button>
  </div>
  <div id="marketLoading" class="flex-grow-1 flex-center d-hide">
    <div class="flex-center position-relative me-2 fs16">
      <div class="ico-spinner spinner"></div>
    </div>
    <span class="fs18">[[[Loading market data]]]</span>
  </div>
  <div id="missingFiatRates" class="flex-column flex-center flex-grow-1">
    <div class="flex-center">
      <span class="text-warning fs28 demi me-2">!</span>
      <span class="fs22">Missing fiat exchange rates</span>
    </div>
    <div class="mt-2 mw-425">
      Enable external fiat rate sources in
      <a href="/settings">settings</a>
    </div>
  </div>

  <div id="botSettingsContainer" class="flex-grow-1 d-flex flex-wrap d-hide justify-content-center">
    {{- /* PLACEMENTS */ -}}
    <div class="col-24 col-lg-12 col-xl-8 mw-500">
      <section class="p-3">
        <div class="position-relative">
          <div id="mmTitle" class="flex-center fs28 d-none d-md-block lh1">[[[Market Maker Settings]]]</div>
          <div id="marketBox" class="flex-stretch-column flex-grow-1 d-hide">
            <div class="d-flex">
              {{- /* MARKET NAME DISPLAY */ -}}
              <div id="marketHeader" class="flex-grow-1 d-flex flex-column align-items-start hoverbg pointer">
                <div class="d-flex align-items-center fs24 lh1 pb-1">
                  <img class="mini-icon" data-base-logo><img class="mx-1 mini-icon" data-quote-logo>
                  <span data-base-ticker></span>&ndash;<span data-quote-ticker></span>
                </div>
                <div class="fs14 grey">
                  <span class="me-1">@</span>
                  <span data-host></span>
                </div>
              </div>
              {{- /* BOT TYPE DISPLAY */ -}}
              <div id="botTypeHeader" class="flex-grow-1 d-flex flex-column align-items-end pointer hoverbg">
                <div class="d-flex align-items-center lh1 pb-1">
                  <div id="botTypeDisplay" class="fs20"></div>
                </div>
                <div class="d-flex align-items-center" data-cex-show>
                  <img class="micro-icon greyscale me-1" data-cex-logo>
                  <span class="grey fs15" data-cex-name></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div id="botRunningMsg" class="w-100 d-flex flex-center pb-2 mx-2 fs18">
          <span id="onIndicator" class="on-indicator on me-2"></span> [[[bot_running]]]
        </div>
        
        {{- /* MANUAL CONFIG */ -}}
        <div id="advancedConfig" class="d-hide">
          {{- /* STRATEGY SELECTION */ -}}
          <div id="gapStrategyBox" class="w-100">
            <div class="d-flex flex-column align-items-stretch pb-2">
              <label class="text-nowrap me-2 mb-1 fs18 demi">[[[gap_strategy]]]</label>
              <select id="gapStrategySelect" class="form-select fs18">
                <option value="percent-plus">[[[gap_strategy_percent_plus]]]</option>
                <option value="percent">[[[gap_strategy_percent]]]</option>
                <option value="absolute-plus">
                  [[[gap_strategy_absolute_plus]]]
                </option>
                <option value="absolute">[[[gap_strategy_absolute]]]</option>
                <option value="multiplier">[[[gap_strategy_multiplier]]]</option>
              </select>
            </div>
            {{- /* STRATEGY DESCRIPTIONS */ -}}
            <div id="percentPlusInfo" class="w-100 pb-2 border-bottom fs16 text-justify">
              [[[strategy_percent_plus]]]
            </div>
            <div id="percentInfo" class="w-100 pb-2 border-bottom fs16 text-justify d-hide">
              [[[strategy_percent]]]
            </div>
            <div id="absolutePlusInfo" class="w-100 pb-2 border-bottom fs16 text-justify d-hide">
              [[[strategy_absolute_plus]]]
            </div>
            <div id="absoluteInfo" class="w-100 pb-2 border-bottom fs16 text-justify d-hide">
              [[[strategy_absolute]]]
            </div>
            <div id="multiplierInfo" class="w-100 pb-2 border-bottom fs16 text-justify d-hide">
              [[[strategy_multiplier]]]
            </div>
          </div>

          <div id="profitSelectorBox" class="d-flex align-items-stretch py-2 my-2 border-top border-bottom d-hide">
            <div class="flex-grow-1 d-flex flex-column pe-2">
              <span id="profitPrompt" class="fs18">[[[bot_profit_title]]]</span>
              <span class="fs14 mt-1">
                [[[bot_profit_explainer]]]
              </span>
            </div>
            <div class="w-100 d-flex flex-column align-items-stretch">
              <div class="flex-center p-3 border-left">
                <input type="number" id="profitInput" class="p-2 text-center fs24 me-1">
                <span class="fs24">%</span>
              </div>
              <div id="profitInputErr" class="flex-center fs16 text-danger"></div>
            </div>
          </div>

          <div id="buyPlacementsBox">
            <div class="d-flex align-items-center fs18 mt-3 demi">
              [[[buy_placements]]]
              <span class="ico-info fs12 ms-1" data-tooltip="[[[buy_placements_tooltip]]]"></span>
            </div>
            <div class="d-flex flex-column" id="buyPlacementsTableWrapper">
              <table class="cell-border compact">
                <thead>
                  <th class="no-stretch">[[[priority]]]</th>
                  <th>[[[Lots]]]</th>
                  <th id="buyGapFactorHdr"></th>
                  <th></th>
                </thead>
                <tbody id="buyPlacementsTableBody">
                  <tr id="placementRowTmpl">
                    <td data-tmpl="priority"></td>
                    <td data-tmpl="lots"></td>
                    <td data-tmpl="gapFactor"></td>
                    <td class="no-stretch text-start text-nowrap">
                      <span data-tmpl="removeBtn" class="ico-cross fs15 pointer px-2"></span>
                      <span data-tmpl="upBtn" class="ico-arrowup fs15 pointer px-2"></span>
                      <span data-tmpl="downBtn" class="ico-arrowdown fs15 pointer px-2"></span>
                    </td>
                  </tr>
                  <tr id="addBuyPlacementRow">
                    <td></td>
                    <td><input id="addBuyPlacementLots" class="lots-input p-2" step="1" type="number"></td>
                    <td><input id="addBuyPlacementGapFactor" class="gap-factor-input p-2" type="number"></td>
                    <td class="no-stretch text-start">
                      <span id="addBuyPlacementBtn" class="ico-plus fs15 pointer p-2"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <span id="buyPlacementsErr" class="fs15 pt-3 text-center d-hide text-danger text-break"></span>
            </div>
          </div>

          <div id="sellPlacementsBox">
            <div class="d-flex align-items-center fs18 mt-3 demi">
              [[[sell_placements]]]
              <span class="ico-info fs12 ms-1" data-tooltip="[[[sell_placements_tooltip]]]"></span>
            </div>
            <div class="d-flex flex-column" id="sellPlacementsTableWrapper">
              <table class="cell-border compact">
                <thead>
                  <th class="no-stretch">[[[priority]]]</th>
                  <th>[[[Lots]]]</th>
                  <th id="sellGapFactorHdr"></th>
                  <th></th>
                </thead>
                <tbody id="sellPlacementsTableBody">
                  <tr id="addSellPlacementRow">
                    <td></td>
                    <td><input id="addSellPlacementLots" class="lots-input p-2" step="1" type="number"></td>
                    <td><input id="addSellPlacementGapFactor" class="gap-factor-input p-2" type="number"></td>
                    <td class="no-stretch">
                      <span id="addSellPlacementBtn" class="ico-plus fs15 pointer p-2"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <span id="sellPlacementsErr" class="fs15 pt-3 text-center d-hide text-danger text-break"></span>
            </div>
          </div>
          <div id="switchToQuickConfig" class="flex-center p-2 hoverbg pointer border rounded3 mt-3">
            <span class="ico-settings fs14 me-1"></span>
            <span class="fs15">[[[Quick Placements]]]</span>
          </div>
        </div>

        {{- /* QUICK CONFIG */ -}}
        <div id="quickConfig" class="d-hide">
          <div class="d-flex justify-content-between lh1 pt-2 mt-2 border-top">
            <span id="qcTitle" class="fs20 pt-pt5">[[[Quick Placements]]]</span>
            <button id="switchToAdvanced" class="small">
              <span class="ico-settings fs14 me-1"></span>
              <span class="fs15">[[[Configure manually]]]</span>
            </button>
          </div>

          <div class="d-flex align-items-stretch flex-wrap">

            {{- /* LEVELS PER SIDE */ -}}
            <div id="qcLevelPerSideBox" class="col-12 d-flex flex-column align-items-stretch pt-2 mt-2 mb-2 border-top border-bottom">
              <div class="fs17 pb-1">[[[Price levels per side]]]</div>
              <div id="qcLevelsPerSide" class="d-flex align-items-stretch">
                <input type="number" class="fs18 text-center p-2 fs20" step="1">
                <div class="d-flex flex-column align-items-stretch">
                  <div class="flex-grow-1 flex-center px-2 hoverbg pointer user-select-none lh1 ico-arrowup"></div>
                  <div class="flex-grow-1 flex-center px-2 hoverbg pointer user-select-none lh1 ico-arrowdown"></div>
                </div>
              </div>
            </div>

            {{- /* LOTS PER LEVEL */ -}}
            <div id="qcLotsBox" class="col-12 d-flex flex-column align-items-stretch pt-2 mt-2 mb-2 border-top border-bottom">
              <div class="d-flex align-items-center mb-1">
                <div id="lotsPerLevelLabel" class="fs17 ">[[[Lots per level]]]</div>
                <div id="arbLotsLabel" class="fs17 d-hide">[[[Lots per side]]]</div>
                <span id="switchToUSDPerSide" class="fs12 lh1 grey p-1 ms-1 hoverbg pointer">
                  <span class="ico-arrowleft"></span><span class="ico-arrowright"></span>
                </span>
              </div>
              
              <div id="qcLotsPerLevel" class="d-flex align-items-stretch">
                <input type="number" class="fs18 text-center p-2 fs20" step="1">
                <div class="d-flex flex-column align-items-stretch">
                  <div class="flex-grow-1 flex-center px-2 hoverbg pointer lh1 user-select-none ico-arrowup"></div>
                  <div class="flex-grow-1 flex-center px-2 hoverbg pointer lh1 user-select-none ico-arrowdown"></div>
                </div>
              </div>
              <span class="fs15 grey mt-1">
                <span>~</span>
                <span id="qcUSDPerSideEcho"></span>
                <span>USD per side</span>
              </span>
            </div>

            {{- /* USD PER SIDE */ -}}
            <div id="qcUSDPerSideBox" class="col-12 d-flex flex-column align-items-stretch pt-2 mt-2 mb-2 border-top border-bottom">
              <div class="d-flex align-items-center mb-1">
                <div class="fs17">USD per side</div>
                <span id="switchToLotsPerLevel" class="fs12 lh1 grey p-1 ms-1 hoverbg pointer">
                  <span class="ico-arrowleft"></span><span class="ico-arrowright"></span>
                </span>
              </div>
              <div id="qcUSDPerSide" class="d-flex align-items-stretch">
                <input type="number" class="fs18 text-center p-2 fs20" step="1">
                <div class="d-flex flex-column align-items-stretch">
                  <div class="flex-grow-1 flex-center px-2 hoverbg pointer lh1 user-select-none ico-arrowup"></div>
                  <div class="flex-grow-1 flex-center px-2 hoverbg pointer lh1 user-select-none ico-arrowdown"></div>
                </div>
              </div>
              <span class="fs15 grey mt-1">
                <span>~</span>
                <span id="qcLotsPerLevelEcho"></span>
                <span>lots per level</span>
              </span>
            </div>

            {{- /* PROFIT */ -}}
            <div class="col-12 d-flex flex-column align-items-start mt-2">
              <div class="fs17 pb-1">[[[Profit threshold]]]</div>
              <div class="d-flex flex-column align-items-stretch">
                <div class="d-flex align-items-center">
                  <input id="qcProfit" type="number" class="fs18 text-center p-2 fs20" step="1">
                  <span class="fs28 ms-1">%</span>
                </div>
                <div id="qcProfitSlider" class="mini-slider flex-grow-1 mt-2"></div>
              </div>
            </div>

            {{- /* RATE INCREMENT */ -}}
            <div id="levelSpacingBox" class="col-12 d-flex flex-column align-items-stretch mt-2">
              <div class="fs17 pb-1">[[[Price increment]]]</div>
              <div class="d-flex align-items-center">
                <input id="qcLevelSpacing" type="number" class="fs18 text-center p-2 fs20" step="1">
                <span class="fs28 ms-1">%</span>
              </div>
              <div id="qcLevelSpacingSlider" class="mini-slider flex-grow-1 mt-2"></div>
            </div>

            {{- /* MATCH MULTIPLIER */ -}}
            <div id="matchMultiplierBox" class="col-12 d-flex flex-column align-items-start mt-2">
              <div class="fs17 pb-1">[[[Match buffer]]]</div>
              <div class="d-flex flex-column align-items-stretch">
                <div class="d-flex align-items-center">
                  <input id="qcMatchBuffer" type="number" class="fs18 text-center p-2 fs20" step="1">
                  <span class="fs28 ms-1">%</span>
                </div>
                <div id="qcMatchBufferSlider" class="mini-slider flex-grow-1 mt-2"></div>
              </div>
            </div>
          </div>
          <div id="qcError" class="pt-2 text-danger"></div>
        </div>

        <div class="mt-2 d-flex">
          <button id="resetButton" class="flex-grow-1 mb-2 ms-1 me-1">[[[reset_settings]]]</button>
          <button id="updateButton" class="flex-grow-1 ms-1 me-1 mb-2 feature">[[[update_settings]]]</button>
          <button id="updateStartButton" class="flex-grow-1 mb-2 ms-1 me-1 go">
            <span class="fs16 ico-arrowright"></span>
            [[[Start]]]
          </button>
          <button id="updateRunningButton" class="flex-grow-1 mb-2 ms-1 me-1 go">
            <span class="fs16 ico-arrowright"></span>
            [[[update_running]]]
          </button>
        </div>

        <div id="placementsChartBox" class="pt-2">
          <div id="placementsChart" class="border position-relative"></div>
          <span id="placementChartLegend" class="fs16 grey mt-1">δ = [[[remote exchange gap]]]</span>
        </div>

        {{- /* ORACLES */ -}}
        <div class="flex-stretch-column mt-2 pt-2 border-top">
          <div id="oraclesLoading">
            [[[loading_oracles]]]
            <div class="ico-spinner spinner fs14 d-inline-block" data-tmpl="syncSpinner"></div>
          </div>
          <div id="oraclesErr" class="d-hide p-2">
            <span class="text-danger" id="oraclesErrMsg"></span>
          </div>
          <div id="noOracles" class="d-hide p-2">
            [[[no_oracles]]]
          </div>
  
          <table id="oraclesTable" class="mb-4 d-hide row-border">
            <thead>
              <tr>
                <th>[[[Oracles]]]</th>
                <th colspan="2" class="text-end">avg: <span id="avgPrice"></span></th>
              </tr>
            </thead>
            <tbody id="oracles">
              <tr id="oracleTmpl">
                <td><span class="d-flex align-items-center"><img data-tmpl="logo" class="xclogo micro-icon me-1"><span data-tmpl="host"></span></span></td>
                <td><span data-tmpl="volume"></span> USD</td>
                <td data-tmpl="price" class="text-end"></td>
              </tr>
            </tbody>
          </table>
  
          <table id="fiatRates" class="mb-3 d-hide row-border">
            <thead>
              <tr>
                <th colspan="2">[[[fiat_rates]]]</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img class="xclogo micro-icon me-1" data-base-logo><span data-base-ticker></span></td>
                <td class="text-end"><span id="baseFiatRate"></span> USD</td>
              </tr>
              <tr>
                <td><img class="xclogo micro-icon me-1" data-quote-logo><span data-quote-ticker></span></td>
                <td class="text-end"><span id="quoteFiatRate"></span> USD</td>
              </tr>
            </tbody>
          </table>

          <div id="deleteBttnBox" class="d-flex flex-column pt-2">
            <div>
              <button id="deleteBttn" class="danger">Delete This Program</button>
            </div>
            <div id="deleteErr" class="text-warning pt-2 d-hide"></div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-24 col-lg-12 col-xl-8 mw-500">
      <section class="py-2 px-3">
        <div class="d-flex align-items-center border-bottom pb-2 mb-2">
          <span class="ico-barchart fs20 pe-2"></span>
          <span class="fs22">[[[Asset Allocations]]]</span>
        </div>

        <div id="runningBotAllocationNote" class="d-flex align-items-center mb-2 d-hide">
          <span><span class="ico-info fs13 me-1"></span>[[[running_bot_allocation_note]]]</span>
        </div>

        <div id="quickAllocateSection">
          <button id="manuallyAllocateBttn" class="small mb-2">
            <span class="ico-settings fs14 me-1"></span>
            Configure manually
          </button>
          <br>
          <span class="text-buycolor">Sufficient Funds</span>
          <br>
          <span class="text-danger">Insufficient Funds</span>
          <br>
          <span class="text-warning">Sufficient With Rebalance</span>
          <span class="ico-info fs13 ms-1 text-warning" data-tooltip="Rebalance is enabled and additional funds were allocated on either the CEX or DEX"></span>
          <div id="minAllocationTable">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th class="text-center">
                    <img data-base-logo class="mini-icon">
                    <span data-base-ticker></span>
                  </th>
                  <th class="text-center">
                    <img data-quote-logo class="mini-icon">
                    <span data-quote-ticker></span>
                  </th>
                  <th data-tmpl="baseFeeHeader" class="text-center">
                    <img data-base-fee-logo class="mini-icon">
                    <span data-base-fee-ticker></span>
                  </th>
                  <th data-tmpl="quoteFeeHeader" class="text-center">
                    <img data-quote-fee-logo class="mini-icon">
                    <span data-quote-fee-ticker></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img class="logo-square mini-icon"></td>
                  <td data-tmpl="dexBaseAlloc" class="text-center border"></td>
                  <td data-tmpl="dexQuoteAlloc" class="text-center border"></td>
                  <td data-tmpl="dexBaseFeeAlloc" class="text-center border"></td>
                  <td data-tmpl="dexQuoteFeeAlloc" class="text-center border"></td>
                </tr>
                <tr data-tmpl="cexRow">
                  <td><img data-cex-logo class="mini-icon"></td>
                  <td data-tmpl="cexBaseAlloc" class="text-center border"></td>
                  <td data-tmpl="cexQuoteAlloc" class="text-center border"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex flex-column align-items-start pt-2 mt-2">
            <div class="fs17 pb-1" id="buyBufferLabel">
              Buy Buffer
              <span class="ico-info fs13 ms-1" data-tooltip="Additional funds to allocate beyond the minimum required for buy orders"></span>
            </div>
            <div class="fs17 pb-1" id="numBuysLabel">
              Number of Buys
              <span class="ico-info fs13 ms-1" data-tooltip="Amount of buy lots to allocate"></span>
            </div>
            <div class="ms-2 d-flex flex-column align-items-stretch w-100">
              <div>
                <input id="buyBuffer" type="number" class="fs14 text-center p-2" style="width: 30%" step="1">
              </div>
              <div id="buyBufferSlider" class="mini-slider mt-2 me-3"></div>
            </div>
          </div>

          <div class="d-flex flex-column align-items-start pt-2 mt-2 border-top">
            <div class="fs17 pb-1" id="sellBufferLabel">
              Sell Buffer
              <span class="ico-info fs13 ms-1" data-tooltip="Additional funds to allocate beyond the minimum required for sell orders"></span>
            </div>
            <div class="fs17 pb-1" id="numSellsLabel">
              Number of Sells
              <span class="ico-info fs13 ms-1" data-tooltip="Amount of sell lots to allocate"></span>
            </div>
            <div class="ms-2 d-flex flex-column align-items-stretch w-100">
              <div>
                <input id="sellBuffer" type="number" class="fs14 text-center p-2" style="width: 30%" step="1">
              </div>
              <div id="sellBufferSlider" class="mini-slider mt-2 me-3"></div>
            </div>
          </div>

          <div class="d-flex flex-column align-items-start pt-2 mt-2 border-top">
            <div class="fs17 pb-1">
              Slippage Buffer
              <span class="ico-info fs13 ms-1" data-tooltip="Additional funds to allocate to account for price slippage"></span>
            </div>
            <div class="ms-2 d-flex flex-column align-items-stretch w-100">
              <div class="d-flex align-items-center">
                <input id="slippageBuffer" type="number" class="fs14 text-center p-2" style="width: 30%" step="0.001">
                <span class="fs14 ms-1">%</span>
              </div>
              <div id="slippageBufferSlider" class="mini-slider mt-2 me-3"></div>
            </div>
          </div>

          <div id="buyFeeReserveSection" class="d-flex flex-column align-items-start pt-2 mt-2 border-top">
            <div class="fs17 pb-1">
              Buy Fee Reserve
              <span class="ico-info fs13 ms-1" data-tooltip="Additional funds to reserve for transaction fees on buy orders"></span>
            </div>
            <div class="ms-2 d-flex flex-column align-items-stretch w-100">
              <div>
                <input id="buyFeeReserve" type="number" class="fs14 text-center p-2" style="width: 30%" step="1">
              </div>
              <div id="buyFeeReserveSlider" class="mini-slider mt-2 me-3"></div>
            </div>
          </div>

          <div id="sellFeeReserveSection" class="d-flex flex-column align-items-start pt-2 mt-2 border-top">
            <div class="fs17 pb-1">
              Sell Fee Reserve
              <span class="ico-info fs13 ms-1" data-tooltip="Additional funds to reserve for transaction fees on sell orders"></span>
            </div>
            <div class="ms-2 d-flex flex-column align-items-stretch w-100">
              <div>
                <input id="sellFeeReserve" type="number" class="fs14 text-center p-2" style="width: 30%" step="1">
              </div>
              <div id="sellFeeReserveSlider" class="mini-slider mt-2 me-3"></div>
            </div>
          </div>
        </div>

        <div id="manuallyAllocateSection" class="d-hide">
          <button id="quickConfigBttn" class="small mb-2">
            <span class="ico-settings fs14 me-1"></span>
            Quick config
          </button>

          {{- /* DEX BALANCES */ -}}
          <div class="d-flex align-items-center mb-3">
            <img class="logo-square mini-icon me-2">
            <div class="d-flex flex-grow-1">
              <div class="d-flex flex-column me-4">
                <label class="small">
                  <img data-base-logo class="micro-icon me-1">
                  <span data-base-ticker></span>
                </label>
                <div class="ms-2 d-flex flex-column align-items-stretch w-100">
                  <div>
                    <input id="baseDexBalance" type="number" class="fs14 text-center p-2" step="any">
                  </div>
                  <div id="baseDexBalanceSlider" class="mini-slider mt-2 me-3"></div>
                </div>
              </div>
              <div class="d-flex flex-column me-4">
                <label class="small">
                  <img data-quote-logo class="micro-icon me-1">
                  <span data-quote-ticker></span>
                </label>
                <div class="ms-2 d-flex flex-column align-items-stretch w-100">
                  <div>
                    <input id="quoteDexBalance" type="number" class="fs14 text-center p-2" step="any">
                  </div>
                  <div id="quoteDexBalanceSlider" class="mini-slider mt-2 me-3"></div>
                </div>
              </div>
              <div id="baseDexFeeBalanceSection" class="d-flex flex-column me-4">
                <label class="small">
                  <img data-base-fee-logo class="micro-icon me-1">
                  <span data-base-fee-ticker></span>
                </label>
                <div class="ms-2 d-flex flex-column align-items-stretch w-100">
                  <div>
                    <input id="baseFeeBalance" type="number" class="fs14 text-center p-2" step="any">
                  </div>
                  <div id="baseFeeBalanceSlider" class="mini-slider mt-2 me-3"></div>
                </div>
              </div>
              <div id="quoteDexFeeBalanceSection" class="d-flex flex-column">
                <label class="small">
                  <img data-quote-fee-logo class="micro-icon me-1">
                  <span data-quote-fee-ticker></span>
                </label>
                <div class="ms-2 d-flex flex-column align-items-stretch w-100">
                  <div>
                    <input id="quoteFeeBalance" type="number" class="fs14 text-center p-2" step="any">
                  </div>
                  <div id="quoteFeeBalanceSlider" class="mini-slider mt-2 me-3"></div>
                </div>
              </div>
            </div>
          </div>
        
          {{- /* CEX BALANCES */ -}}
          <div id="adjustManuallyCexBalances" class="d-flex align-items-center">
            <img data-cex-logo class="mini-icon me-2">
            <div class="d-flex flex-grow-1">
              <div class="d-flex flex-column me-4">
                <label class="small">
                  <img data-base-logo class="micro-icon me-1">
                  <span data-base-ticker></span>
                </label>
                <div class="ms-2 d-flex flex-column align-items-stretch w-100">
                  <div>
                    <input id="baseCexBalance" type="number" class="fs14 text-center p-2" step="any">
                  </div>
                  <div id="baseCexBalanceSlider" class="mini-slider mt-2 me-3"></div>
                </div>
              </div>
              <div class="d-flex flex-column me-4">
                <label class="small">
                  <img data-quote-logo class="micro-icon me-1">
                  <span data-quote-ticker></span>
                </label>
                <div class="ms-2 d-flex flex-column align-items-stretch w-100">
                  <div>
                    <input id="quoteCexBalance" type="number" class="fs14 text-center p-2" step="any">
                  </div>
                  <div id="quoteCexBalanceSlider" class="mini-slider mt-2 me-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    {{- /* ASSET SETTINGS */ -}}
    <div class="col-24 col-xl-8 mw-500">

      {{- /* WALLET SETTINGS */ -}}
      <section class="py-2 px-3">          
        <div class="d-flex align-items-center border-bottom pb-2">
          <span class="ico-settings pe-2"></span>
          <span class="fs22">[[[Wallet Options]]]</span>
        </div>
        <div id="walletSettingsBox" class="d-flex flex-row">
          <div id="baseSettings" class="me-2 col-12">
            <span class="d-flex align-items-center pt-2">
              <img data-tmpl="logo" class="mini-icon me-1"> 
              <span data-tmpl="ticker"></span>
            </span>
            <div data-tmpl="walletSettingsNone" class="text-center p-2 my-2 border-top border-bottom rounded3">no settings available</div>
            <div data-tmpl="walletSettings" class="flex-stretch-column fs15">
              <div data-tmpl="boolSettingTmpl" class="d-flex align-items-center pt-2 mt-2 border-top">
                <input type="checkbox" data-tmpl="input" class="form-check-input me-2 mt-0">
                <span data-tmpl="name"></span>
                <span data-tmpl="tooltip" class="ico-info fs12"></span>
              </div>
              <div data-tmpl="rangeSettingTmpl" class="pt-2 mt-2 border-top">
                <div class="d-flex align-items-center justify-content-between">
                  <span data-tmpl="name"></span>
                  <span data-tmpl="tooltip" class="ico-info fs12"></span>
                </div>
                <div class="d-flex align-items-center">
                  <div data-tmpl="slider" class="mini-slider flex-grow-1 me-2"></div>
                  <input type="number" data-tmpl="value" class="micro wide text-end">
                  <div data-tmpl="unit" class="fs14 grey ms-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {{- /* KNOBS */ -}}
      <section class="py-2 px-3">
        <div class="d-flex align-items-center">
          <span class="ico-lever fs20 pe-2"></span>
          <span class="fs22">Knobs</span>
        </div>

        {{- /* DRIFT TOLERANCE */ -}}
        <div id="driftToleranceBox" class="flex-stretch-column">
          <div class="d-flex align-items-center justify-content-between mt-2 pt-2 border-top">
            <span class="fs16">
              [[[Drift tolerance]]]
            </span>
            <span class="ico-info fs12" data-tooltip="[[[drift_tolerance_tooltip]]]"></span>
          </div>
          <div class="d-flex align-items-center">
            <div id="driftToleranceSlider" class="mini-slider flex-grow-1 me-2"></div>
            <input type="number" id="driftToleranceInput" class="micro text-end">
            <span class="fs14 grey ms-1">%</span>
          </div>
        </div>

        {{- /* ORDER PERSISTENCE */ -}}
        <div id="orderPersistenceBox" class="flex-stretch-column mt-2 pt-2 border-top">
          <div class="fs16 mb-2 d-flex align-items-center justify-content-between">
            <span>[[[Order persistence]]]</span>
            <span class="ico-info fs12" data-tooltip="[[[order_persistence_tooltip]]]"></span>
          </div>
          <div class="d-flex align-items-center">
            <div id="orderPersistenceSlider" class="mini-slider flex-grow-1 me-2"></div>
            <input type="number" id="orderPersistence" class="micro thin text-end">
            <span class="fs14 grey ms-1">epochs</span>
          </div>
        </div>
      </section>

      {{- /* AUTO REBALANCE */ -}}
      <section id="rebalanceSection" class="py-2 px-3">
        <div class="d-flex align-items-center border-bottom fs20 pb-2">
          <span class="ico-target pe-2"></span>
          <span class="fs22">Auto Rebalance</span>
        </div>

        <div class="d-flex align-items-center pt-2 mt-2">
          <input type="checkbox" id="enableRebalance" class="form-check-input me-2 mt-0">
          <label for="enableRebalance" class="fs17">Enable Auto Rebalance</label>
          <span class="ico-info fs13 ms-1" data-tooltip="Automatically transfer funds between wallet and CEX to maintain target balances"></span>
        </div>

        <div id="rebalanceSettings">
          <div class="d-flex flex-column align-items-start pt-2 mt-2 border-top">
            <div class="fs17 pb-1">
              <img data-base-logo class="mini-icon">
              <span data-base-ticker></span> Minimum Transfer
              <span class="ico-info fs13 ms-1" data-tooltip="The minimum amount that can be transferred between the wallet and CEX"></span>
            </div>
            <div class="ms-2 d-flex flex-column align-items-stretch w-100">
              <div>
                <input id="baseMinTransfer" type="number" class="fs14 text-center p-2" style="width: 30%" step="any">
              </div>
              <div id="baseMinTransferSlider" class="mini-slider mt-2 me-3"></div>
            </div>
          </div>

          <div class="d-flex flex-column align-items-start pt-2 mt-2 border-top">
            <div class="fs17 pb-1">
              <img data-quote-logo class="mini-icon">
              <span data-quote-ticker></span> Minimum Transfer
              <span class="ico-info fs13 ms-1" data-tooltip="The minimum amount that can be transferred between the wallet and CEX"></span>
            </div>
            <div class="ms-2 d-flex flex-column align-items-stretch w-100">
              <div>
                <input id="quoteMinTransfer" type="number" class="fs14 text-center p-2" style="width: 30%" step="any">
              </div>
              <div id="quoteMinTransferSlider" class="mini-slider mt-2 me-3"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div id="forms" class="d-hide">
    <form class="position-relative mw-425 d-hide" id="cexConfigForm" autocomplete="off">
      {{template "cexConfigForm"}}
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="position-relative d-hide" id="newWalletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* BOT TYPE FORM */ -}}
    <form id="botTypeForm" class="position-relative mw-425 d-hide" autocomplete="off">
      <div class="form-closer"><span class="ico-cross"></span></div>
      <header>
        <img class="mini-icon me-1" data-base-logo>
        <img class="mini-icon me-2" data-quote-logo>
        <span id="botTypeBaseSymbol" class="fs20"></span>-<span id="botTypeQuoteSymbol" class="fs20"></span>
        <span id="botTypeChangeMarket" class="p-2 fs14 ico-edit hoverbg pointer"></span>
      </header>

      <div class="flex-center">
        <span class="fs35 ico-robot me-2"></span>
        <span class="fs22 pt-1">[[[Choose Your Bot]]]</span>
      </div>

      <div id="noCexesConfigured" class="fs18">
        [[[only_basic_mm_no_more_cexes]]]
      </div>

      <div id="noCexMarket" class="fs18">
        [[[only_basic_mm_more_cexes]]]
        <span id="noCexMarketConfigureMore">[[[configure_more_cexes]]]</span>
      </div>

      <div id="botSelect">
        <div id="botTypeBasicMM" data-bot-type="basicMM" class="bot-type-selector mt-2">
          <div class="flex-center fs24 p-2">[[[Basic Market Maker]]]</div>
          <div class="flex-center fs16 px-3 pb-2 d-hide">
            Keep orders on both sides of a DEX market with a configurable spread. If a buy and a sell order both match with minimal market movement in between, you profit.
          </div>
        </div>
  
        <div id="botTypeARbMM" data-bot-type="arbMM" class="bot-type-selector mt-2">
          <div class="flex-center fs24 p-2">[[[mm_plus_arb]]]</div>
          <div class="flex-center fs16 px-3 pb-2 d-hide">
            Maintain orders on a DEX market placed at positions calculated for matching profitable existing orders
            orders on CEX. When the DEX order matches, the CEX order is placed immediately for a profit.
            Unlike basic arbitrage, MM+arb doesn't wait for conditions to be just right,
            it creates the right conditions and waits for action to occur.
          </div>
        </div>
  
        <div id="botTypeBasicArb" data-bot-type="basicArb" class="bot-type-selector mt-2">
          <div class="flex-center fs24 p-2">[[[Basic Arbitrage]]]</div>
          <div class="flex-center fs16 px-3 pb-2 d-hide">
            Watch both CEX and DEX order books and wait for conditions favorable to place
            a pair of orders such that when both match, a profit is made. Basic Arbitrage
            profits when order books (inevitably) get out of sync.
          </div>
        </div>
      </div>

      <div id="cexSelection" class="d-flex flex-wrap justify-content-between">
        <div id="cexOptTmpl" class="position-relative p-2 col-11 flex-center flex-column border rounded3 cex-selector">
          <div data-tmpl="reconfig" class="fs14 ico-settings p-2 hoverbg pointer reconfig"></div>
          <div class="flex-center lh1">
            <img data-tmpl="logo" class="mini-icon me-1 xclogo medium-icon">
            <span data-tmpl="name" class="me-1 fs20 text-nowrap"></span>
          </div>
          <span data-tmpl="needsconfig" class="fs14 grey flex-center">
            <span class="ico-settings fs12 me-1"></span>
            <span>[[[Configure]]]</span>
          </span>
          <span data-tmpl="disconnected" class="flex-center">
            <span class="ico-disconnected fs16 text-danger me-1"></span>
            <span class="fs14 grey">[[[Fix errors]]]</span>
          </span>
          <span data-tmpl="unavailable" class="fs14 grey">[[[Market not available]]]</span>
        </div>
      </div>

      <div id="botTypeErr" class="flex-center text-danger d-hide"></div>

      <div class="flex-stretch-column">
        <button id="botTypeSubmit" type="button" class="feature">[[[Submit]]]</butt>
      </div>
    </form>

    <form id="marketSelectForm">
      <div class="form-closer"><span class="ico-cross"></span></div>
      <header>
        <span class="me-2 ico-robot fs35 pb-1"></span>
        <span class="fs26">[[[Select a Market]]]</span>
      </header>

      <div id="marketFilterBox" class="flex-center">
        <div class="position-relative">
          <input id="marketFilterInput" type="text">
          <span id="marketFilterIcon" class="fs22 ico-search"></span>
        </div>
      </div>

      <div id="marketSelectionTable">
        <table class="row-border">
          <thead>
            <tr>
              <th>[[[Market]]]</th>
              <th>[[[Host]]]</th>
              <th>[[[Arb]]]</th>
            </tr>
          </thead>
          <tbody id="marketSelect">
            <tr id="marketRowTmpl" class="hoverbg pointer">
              <td>
                <img data-tmpl="baseIcon" class="mini-icon me-1">
                <img data-tmpl="quoteIcon" class="mini-icon me-1">
                <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
              </td>
              <td data-tmpl="host"></td>
              <td data-tmpl="arbs">
                <img id="arbBttnTmpl" class="mini-icon me-1">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="noMarkets" class="flex-center">
        [[[No markets available]]]
      </div>
      <div id="needRegBox" class="flex-stretch-column pt-0 d-hide">
        <button type="button" id="needRegTmpl" class="mt-3">
          [[[register_to_enable_mm]]]
        </button>
      </div>
    </form>

    <form id="approveTokenForm" class="mw-425 position-relative flex-center flex-column fs20 d-hide">
      {{template "tokenApprovalForm"}}
    </form>

    <form class="mw-425 d-hide" id="walletAddrForm">
      {{template "depositAddress"}}
    </form>
  </div>

  <div id="vOrderOpts">{{template "orderOptionTemplates"}}</div>
</div>
{{template "bottom"}} {{end}}
