{{define "mmsettings"}}
{{template "top" .}}
<div id="main" data-handler="mmsettings" class="flex-grow-1 d-flex flex-column align-items-stretch stylish-overflow">
  <div class="w-100 flex-center p-2 fs28 d-flex d-md-none border-bottom">[[[Market Maker Settings]]]</div>
  <div class="d-flex border-bottom align-items-stretch">
    <div id="backButton" class="fs18 p-2 hoverbg pointer flex-center border-end">
      <span class="ico-wide-headed-left-arrow fs28"></span>
    </div>
    <div id="mmTitle" class="flex-center fs28 d-none d-md-block">[[[Market Maker Settings]]]</div>
    <div id="marketHeader" class="flex-center fs24 p-2 flex-grow-1 d-hide">
      <div id="botTypeDisplay" class="me-2"></div>
      <div id="cexNameDisplayBox" class="me-2">using <span id="cexNameDisplay"></span></div>
      <span class="me-2">on</span>
      <img id="baseLogo" class="mini-icon"><img id="quoteLogo" class="mx-1 mini-icon">
      <span id="baseHeader"></span> &ndash; <span id="quoteHeader"></span>
      <span class="mx-2">@</span>
      <span id="hostHeader"></span>
      <span id="headerReconfig" class="p-2 fs16 ico-edit hoverbg pointer"></span>
    </div>
  </div>
  <div id="noMarket" class="flex-grow-1 flex-center">
    <button id="noMarketBttn" class="large">[[[Select a Market]]]</button>
  </div>
  <div id="botSettingsContainer" class="flex-grow-1 d-flex flex-wrap d-hide p-2">
    <div class="col-24 col-xl-8 col-xxl-6 px-3">
      {{- /* VIEW-ONLY MODE */ -}}
      <div id="viewOnly" class="w-100 d-flex flex-center pb-2 mb-3 fs18 border-bottom">
        <span id="onIndicator" class="on-indicator on me-2"></span> [[[bots_running_view_only]]]
      </div>
      {{- /* STRATEGY SELECTION */ -}}
      <div id="gapStrategyBox" class="w-100 mb-3">
        <div class="flex-stretch-column pb-2">
          <label class="form-label">[[[gap_strategy]]]</label>
          <select id="gapStrategySelect" class="form-select fs18">
            <option value="percent-plus">[[[gap_strategy_percent_plus]]]</option>
            <option value="percent">[[[gap_strategy_percent]]]</option>
            <option value="absolute-plus">
              [[[gap_strategy_absolute_plus]]]
            </option>
            <option value="absolute">[[[gap_strategy_absolute]]]</option>
            <option value="multiplier">[[[gap_strategy_multiplier]]]</option>
          </select>
        </div>
        {{- /* STRATEGY DESCRIPTIONS */ -}}
        <div class="mb-3 w-100 border-bottom form-text pb-3">
          <div id="percentPlusInfo" class="">
            [[[strategy_percent_plus]]]
          </div>
          <div id="percentInfo" class="d-hide">
            [[[strategy_percent]]]
          </div>
          <div id="absolutePlusInfo" class="d-hide">
            [[[strategy_absolute_plus]]]
          </div>
          <div id="absoluteInfo" class="d-hide">
            [[[strategy_absolute]]]
          </div>
          <div id="multiplierInfo" class="d-hide">
            [[[strategy_multiplier]]]
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end mb-4">
        <button id="resetButton" class="me-auto ms-0">[[[reset_settings]]]</button>
        <button id="updateButton" class="go">[[[update_settings]]]</button>
        <button id="createButton" class="go d-hide">[[[create_bot]]]</button>
      </div>

      <div id="profitSelectorBox" class="d-flex align-items-stretch py-2 my-2 border-top border-bottom d-hide">
        <div class="flex-grow-1 d-flex flex-column pe-2">
          <span id="profitPrompt" class="fs18">[[[bot_profit_title]]]</span>
          <span class="fs14 mt-1">
            [[[bot_profit_explainer]]]
          </span>
        </div>
        <div class="w-100 d-flex flex-column align-items-stretch">
          <div class="flex-center p-3 border-start">
            <input type="number" id="profitInput" class="p-2 text-center fs24 me-1">
            <span class="fs24">%</span>
          </div>
          <div id="profitInputErr" class="flex-center fs16 text-danger"></div>
        </div>
      </div>

      <div id="buyPlacementsBox" class="mb-3">
        <div class="form-label">
          [[[buy_placements]]]
          <span class="ico-info fs12 ms-1" data-tooltip="[[[buy_placements_tooltip]]]"></span>
        </div>
        <div class="d-flex flex-column" id="buyPlacementsTableWrapper">
          <table>
            <thead>
              <th scope="col">[[[priority]]]</th>
              <th scope="col">[[[Lots]]]</th>
              <th scope="col" id="buyGapFactorHdr"></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </thead>
            <tbody id="buyPlacementsTableBody">
              <tr id="placementRowTmpl">
                <td data-tmpl="priority"></td>
                <td data-tmpl="lots"></td>
                <td data-tmpl="gapFactor"></td>
                <td></td>
                <td></td>
                <td class="text-end">
                  <span data-tmpl="removeBtn" class="ico-cross fs15 pointer text-danger"></span>
                </td>
                <td>
                  <span data-tmpl="upBtn" class="ico-arrowup fs15 pointer text-muted"></span>
                </td>
                <td class="text-end">
                  <span
                    class="ico-arrowdown fs15 pointer text-muted"
                    data-tmpl="downBtn"
                  ></span>
                </td>
              </tr>
              <tr id="addBuyPlacementRow">
                <td></td>
                <td><input id="addBuyPlacementLots" class="form-control lots-input" step="1" type="number"></td>
                <td><input id="addBuyPlacementGapFactor" class="form-control gap-factor-input" type="number"></td>
                <td></td>
                <td></td>
                <td class="text-end">
                  <span id="addBuyPlacementBtn" class="ico-plus fs15 pointer text-success"></span>
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <span id="buyPlacementsErr" class="fs15 pt-3 text-center d-hide text-danger text-break"></span>
        </div>
      </div>

      <div id="sellPlacementsBox">
        <label class="form-label">
          [[[sell_placements]]]
          <span class="ico-info fs12 ms-1" data-tooltip="[[[sell_placements_tooltip]]]"></span>
        </label>
        <div class="d-flex flex-column" id="sellPlacementsTableWrapper">
          <table>
            <thead>
              <th scope="col">[[[priority]]]</th>
              <th scope="col">[[[Lots]]]</th>
              <th scope="col" id="sellGapFactorHdr"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </thead>
            <tbody id="sellPlacementsTableBody">
              <tr id="addSellPlacementRow">
                <td></td>
                <td><input id="addSellPlacementLots" class="form-control lots-input" step="1" type="number"></td>
                <td><input id="addSellPlacementGapFactor" class="form-control gap-factor-input" type="number"></td>
                <td></td>
                <td></td>
                <td class="text-end">
                  <span id="addSellPlacementBtn" class="ico-plus fs15 pointer text-success"></span>
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <span id="sellPlacementsErr" class="fs15 pt-3 text-center d-hide text-danger text-break"></span>
        </div>
      </div>
    </div>

    <div class="col-24 col-xl-10 col-xxl-12 d-flex flex-wrap">
      <div class="col-24 col-xxl-8 flex-stretch-column">

        <div id="cexRebalanceSettings" class="settings-card">
          <label for="cexRebalanceCheckbox" class="fs18 d-flex align-items-center justify-content-between w-100">
            <div class="flex-center">
              <input type="checkbox" id="cexRebalanceCheckbox" class="form-check-input me-2 mt-0" checked>
              <span>[[[Arbitrage Rebalance]]]</span>
            </div>
            <span class="ico-info fs12 ms-1" data-tooltip="[[[enable_rebalance_tooltip]]]"></span>
          </label>
        </div>

        <div class="settings-card">
          <div class="fs18 mb-2 d-flex align-items-center justify-content-between">
            <div class="flex-center">
              [[[Drift tolerance]]]
            </div>
            <span class="ico-info fs12 me-1" data-tooltip="[[[drift_tolerance_tooltip]]]"></span>
          </div>
          <div id="driftToleranceContainer" class="slider-container"></div>
        </div>

        <div id="oraclesSettingBox" class="settings-card">
          <label for="useOracleCheckbox" class="fs18 d-flex align-items-center justify-content-between w-100">
            <div class="flex-center">
              <input type="checkbox" id="useOracleCheckbox" class="form-check-input me-2 mt-0" checked>
              <span>[[[use_oracles]]]</span>
            </div>
            <span class="ico-info fs12 ms-1" data-tooltip="[[[use_oracles_tooltip]]]"></span>
          </label>
          <div id="oracleWeightingSection" class="pt-2 mt-2 border-top">
            <div class="d-flex align-items-center justify-content-between">
              <span>[[[Oracle weight]]]</span>
              <span class="ico-info fs12 me-1" data-tooltip="[[[oracle_weighting_tooltip]]]"></span>
            </div>
            <div id="oracleWeightingContainer" class="slider-container"></div>
          </div>
          <div id="oracleBiasSection" class="mt-3">
            <div class="d-flex align-items-center justify-content-between">
              <span>[[[Oracle bias]]]</span>
              <span class="ico-info fs12 me-1" data-tooltip="[[[oracle_bias_tooltip]]]"></span>
            </div>
            <div id="oracleBiasContainer" class="slider-container"></div>
          </div>
        </div>

        <div id="orderPersistenceBox" class="settings-card">
          <div class="fs18 mb-2 d-flex align-items-center justify-content-between">
            <span>[[[Order persistence]]]</span>
            <span class="ico-info fs12 me-1" data-tooltip="[[[order_persistence_tooltip]]]"></span>
          </div>
          <div id="orderPersistenceContainer" class="slider-container"></div>
        </div>

        <div class="settings-card">
          <label for="emptyMarketRateCheckbox" class="fs18 d-flex align-items-center justify-content-between w-100 form-label">
            <div class="flex-center">
              <input type="checkbox" id="emptyMarketRateCheckbox" class="form-check-input me-2 mt-0" checked>
              <span>[[[empty_market_rate]]]</span>
            </div>
            <span class="ico-info fs12 ms-1" data-tooltip="[[[empty_market_rate_tooltip]]]"></span>
          </label>
          <div id="emptyMarketRateInputBox" class="pt-2 mt-2 border-top">
            <input type="number" class="form-control w-25" id="emptyMarketRateInput">
          </div>
          <div id="emptyMarketRateErr" class="pt-2 flex-center text-danger"></div>
        </div>
      </div>

      <div class="col-24 col-xxl-8 flex-stretch-column">
        <div id="baseBalanceBox" class="settings-card">
          <div class="fs18 d-flex align-items-center justify-content-between">
            <div class="flex-center">
              <img id="baseBalanceLogo" class="micro-icon me-1">
              <span>[[[dex_base_asset_balance]]]</span>
            </div>
            <span class="ico-info fs12 me-1" data-tooltip="[[[base_asset_balance_tooltip]]]"></span>
          </div>
          <span class="d-hide text-danger text-break" id="noBaseBalance">[[[no_balance_available]]]</span>
          <div id="baseBalanceContainer" class="slider-container"></div>
          <div id="baseBalanceErr" class="flex-center pt-2 text-danger"></div>
        </div>

        <div id="cexBaseBalanceBox" class="settings-card">
          <div class="fs18 d-flex align-items-center justify-content-between">
            <div class="flex-center">
              <img id="cexBaseCEXLogo" class="micro-icon me-1">
              <img id="cexBaseAssetLogo" class="micro-icon me-1">
              <span class="me-1">[[[cex_base_asset_balance]]]</span>
            </div>
            <span class="ico-info fs12 me-1" data-tooltip="[[[cex_alloc_tooltip]]]"></span>
          </div>
          <span class="d-hide text-danger text-break" id="noBaseCEXBalance">[[[no_balance_available]]]</span>
          <div id="cexBaseBalanceContainer" class="slider-container"></div>
        </div>

        <div id="cexBaseRebalanceOpts" class="settings-card">
          <div class="fs18 d-flex align-items-center">
            <img id="cexBRebalCEXLogo" class="micro-icon me-1">
            <img id="cexBRebalAssetLogo" class="micro-icon me-1">
            <span class="me-1">[[[cex_base_rebalance]]]</span>
          </div>
          <div class="fs18 mt-2 pt-1 border-top d-flex align-items-center justify-content-between">
            <span>[[[Minimum Balance]]]</span>
            <span class="ico-info fs12 me-1" data-tooltip="[[[arb_minbal_tooltip]]]"></span>
          </div>
          <div id="cexBaseMinBalanceContainer" class="slider-container"></div>
          <label for="" class="fs18 mt-2 pt-1 border-top d-flex align-items-center justify-content-between">
            <span>[[[Minimum Transfer]]]</span>
            <span class="ico-info fs12 me-1" data-tooltip="[[[arb_transfer_tooltip]]]"></span>
          </label>
          <div class="d-flex align-items-stretch">
            <input type="number" id="cexBaseTransferInput" class="me-4 text-center fs18 p-2"></input>
            <div class="d-flex flex-column align-items-stretch">
              <div id="cexBaseTransferUp" class="flex-center flex-grow-1 hoverbg pointer lh1 px-3">
                <span class="fs16 ico-arrowup"></span>
              </div>
              <div id="cexBaseTransferDown" class="flex-center flex-grow-1 hoverbg pointer lh1 px-3">
                <span class="fs16 ico-arrowdown"></span>
              </div>
            </div>
          </div>
        </div>

        <div id="baseWalletSettings" class="settings-card">
          <div class="fs18 pb-2 mb-2 border-bottom d-flex align-items-center">
            <img id="baseSettingsLogo" class="micro-icon me-1">
            <span>[[[base_wallet_settings]]]</span>
          </div>
          <div id="baseWalletSettingsContainer">
            <div id="boolSettingTmpl" class="d-flex align-items-center">
              <input type="checkbox" data-tmpl="input" class="form-check-input me-2 mt-0">
              <span data-tmpl="name"></span>
              <span data-tmpl="tooltip" class="ico-info fs12 ms-1"></span>
            </div>
            <div id="rangeSettingTmpl" class="pt-2">
              <span data-tmpl="name"></span>
              <span data-tmpl="tooltip" class="ico-info fs12 me-1"></span>
              <div class="slider-container" data-tmpl="sliderContainer">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-24 col-xxl-8 flex-stretch-column">
        <div id="quoteBalanceBox" class="settings-card">
          <div class="fs18 mb-2 d-flex align-items-center justify-content-between">
            <div class="flex-center">
              <img id="quoteBalanceLogo" class="micro-icon me-1">
              <span class="me-1">[[[dex_quote_asset_balance]]]</span>
            </div>
            <span class="ico-info fs12 ms-1" data-tooltip="[[[quote_asset_balance_tooltip]]]"></span>
          </div>
          <span class="d-hide text-danger text-break" id="noQuoteBalance">[[[no_balance_available]]]</span>
          <div id="quoteBalanceContainer" class="slider-container"></div>
          <div id="quoteBalanceErr" class="flex-center pt-2 text-danger"></div>
        </div>

        <div id="cexQuoteBalanceBox" class="settings-card">
          <div class="fs18 d-flex align-items-center justify-content-between">
            <div class="flex-center">
              <img id="cexQuoteCEXLogo" class="micro-icon me-1">
              <img id="cexQuoteAssetLogo" class="micro-icon me-1">
              <span class="me-1">[[[cex_quote_asset_balance]]]</span>
            </div>
            <span class="ico-info fs12 me-1" data-tooltip="The amount of quote asset balance to initially allocate to this bot on the exchange."></span>
          </div>
          <span class="d-hide text-danger text-break" id="noQuoteCEXBalance">[[[no_balance_available]]]</span>
          <div id="cexQuoteBalanceContainer" class="slider-container"></div>
        </div>
        
        <div id="cexQuoteRebalanceOpts" class="settings-card">
          <div class="fs18 d-flex align-items-center">
            <img id="cexQRebalCEXLogo" class="micro-icon me-1">
            <img id="cexQRebalAssetLogo" class="micro-icon me-1">
            <span class="me-1">[[[cex_quote_rebalance]]]</span>
          </div>
          <div class="fs18 mt-2 pt-1 border-top">
            [[[Minimum Balance]]]
            <span class="ico-info fs12 me-1" data-tooltip="[[[arb_minbal_tooltip]]]"></span>
          </div>
          <div id="cexQuoteMinBalanceContainer" class="slider-container"></div>
          <label for="" class="fs18 mt-2 pt-1 border-top">
            <span>[[[Minimum Transfer]]]</span>
            <span class="ico-info fs12 me-1" data-tooltip="[[[arb_transfer_tooltip]]]"></span>
          </label>
          <div class="d-flex align-items-stretch">
            <input type="number" id="cexQuoteTransferInput" class="me-4 text-center fs18 p-2"></input>
            <div class="d-flex flex-column align-items-stretch">
              <div id="cexQuoteTransferUp" class="flex-center flex-grow-1 hoverbg pointer lh1 px-3">
                <span class="fs16 ico-arrowup"></span>
              </div>
              <div id="cexQuoteTransferDown" class="flex-center flex-grow-1 hoverbg pointer lh1 px-3">
                <span class="fs16 ico-arrowdown"></span>
              </div>
            </div>
          </div>
        </div>

        <div id="quoteWalletSettings" class="settings-card">
          <div class="fs18 pb-2 mb-2 border-bottom d-flex align-items-center">
            <img id="quoteSettingsLogo" class="micro-icon me-1">
            <span>[[[quote_wallet_settings]]]</span>
          </div>
          <div id="quoteWalletSettingsContainer"></div>
        </div>
      </div>
    </div>

    <div class="col-24 col-xl-6">
      <div id="oraclesLoading">
        [[[loading_oracles]]]      
        <div class="ico-spinner spinner fs14 d-inline-block" data-tmpl="syncSpinner"></div>
      </div>
      <div id="oraclesErr" class="d-hide">
        <span class="text-danger text-break" id="oraclesErrMsg"></span>
      </div>
      <div id="noOracles" class="d-hide">
        [[[no_oracles]]]
      </div>

      <table id="oraclesTable" class="mb-3 d-hide border-top">
        <thead>
          <tr>
            <td>[[[Oracles]]]</td>
            <td colspan="2" class="text-end">avg: <span id="avgPrice"></span></td>
          </tr>
        </thead>
        <tbody id="oracles">
          <tr id="oracleTmpl">
            <td><span class="d-flex align-items-center"><img data-tmpl="logo" class="xclogo small me-1"><span data-tmpl="host"></span></span></td>
            <td><span data-tmpl="volume"></span> USD</td>
            <td data-tmpl="price" class="text-end"></td>
          </tr>
        </tbody>
      </table>

      <table id="fiatRates" class="mb-3 d-hide border-top">
        <thead>
          <tr>
            <td colspan="2">[[[fiat_rates]]]</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img id="baseFiatRateLogo" class="xclogo small me-1"><span id="baseFiatRateSymbol"></span></td>
            <td class="text-end"><span id="baseFiatRate"></span> USD</td>
          </tr>
          <tr>
            <td><img id="quoteFiatRateLogo" class="xclogo small me-1"><span id="quoteFiatRateSymbol"></span></td>
            <td class="text-end"><span id="quoteFiatRate"></span> USD</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="forms" class="d-hide">
    <form id="cexConfigForm" class="mw-425">
      <div class="form-closer"><span class="ico-cross"></span></div>
      <h4 id="cexConfigPrompt" class="mt-3 mb-3">
        [[[configure_cex_prompt]]]
      </h4>
      <div class="flex-center flex-column mb-3">
        <img id="cexConfigLogo" class="xclogo large">
        <div id="cexConfigName" class="mt-2 fs20"></div>
      </div>
      <div id="cexConnectErrBox" class="mb-3 flex-center flex-column text-danger">
        <span class="ico-disconnected fs24"></span>
        <span>There was an error encountered connecting with these credentials</span>
        <span id="cexConnectErr" class="fs14 mt-2 text-break"></span>
      </div>
      <div class="d-flex flex-column mb-3">
        <label for="cexApiKeyInput" class="form-label">[[[API Key]]]</label>
        <input type="text" id="cexApiKeyInput" class="form-control">
      </div>
      <div class="d-flex flex-column mb-3">
        <label for="cexSecretInput" class="form-label">[[[API Secret]]]</label>
        <input type="text" id="cexSecretInput" class="form-control">
      </div>
      <div id="cexFormErr" class="flex-center px-3 pt-2 text-danger text-break d-hide"></div>
      <div class="d-flex justify-content-end">
        <div id="cexSubmit" class="go">[[[Submit]]]</div>
      </div>
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="position-relative d-hide" id="newWalletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* BOT TYPE FORM */ -}}
    <form id="botTypeForm" class="position-relative mw-425 d-hide" autocomplete="off">
      <div class="form-closer"><span class="ico-cross"></span></div>

      <h3 class="">
        <img id="botTypeBaseLogo" class="mini-icon me-1">
        <img id="botTypeQuoteLogo" class="mini-icon me-2">
        <span id="botTypeBaseSymbol" class="fs20"></span>-<span id="botTypeQuoteSymbol" class="fs20"></span>
        <span id="botTypeChangeMarket" class="p-2 fs14 ico-edit hoverbg pointer"></span>
      </h3>

      <h4 class="flex-center mb-3">
        <span class="fs35 ico-robot me-2"></span>
        <span class="fs22 pt-1">Choose Your Bot</span>
      </h4>

      <div id="noCexesConfigured" class="fs18 mb-3">
        Only the basic market making bot is available. To enable arbitrage options, configure your exchange API.
      </div>

      <div id="noCexMarket" class="fs18 mb-3">
        Only the basic market making bot is avilable for this market.
        <span id="noCexMarketConfigureMore">Configure other exchanges to maximize your options.</span>
      </div>

      <div id="botSelect" class="mb-3">
        <div id="botTypeBasicMM" data-bot-type="basicMM" class="bot-type-selector mb-3">
          <div class="flex-center fs24 p-2">Basic Market Maker</div>
          <div class="flex-center fs16 px-3 pb-2 d-hide">
            Keep orders on both sides of a DEX market with a configurable spread.
            If a buy and a sell order both match with minimal market movement in between, you profit.
          </div>
        </div>
  
        <div id="botTypeARbMM" data-bot-type="arbMM" class="bot-type-selector mb-3">
          <div class="flex-center fs24 p-2">Market Maker + Arbitrage</div>
          <div class="flex-center fs16 px-3 pb-2 d-hide">
            Maintain orders on a DEX market placed at positions calculated for matching profitable existing orders
            orders on CEX. When the DEX order matches, the CEX order is placed immediately for a profit.
            Unlike basic arbitrage, MM+arb doesn't wait for conditions to be just right,
            it creates the right conditions and waits for action to occur.
          </div>
        </div>
  
        <div id="botTypeBasicArb" data-bot-type="basicArb" class="bot-type-selector mb-3">
          <div class="flex-center fs24 p-2">Basic Arbitrage</div>
          <div class="flex-center fs16 px-3 pb-2 d-hide">
            Watch both CEX and DEX order books and wait for conditions favorable to place
            a pair of orders such that when both match, a profit is made. Basic Arbitrage
            profits when order books (inevitably) get out of sync.
          </div>
        </div>
      </div>

      <div id="cexSelection" class="d-flex flex-wrap mb-4 justify-content-between">
        <div id="cexOptTmpl" class="position-relative p-2 col-11 flex-center flex-column border rounded3 cex-selector">
          <div data-tmpl="reconfig" class="fs14 ico-settings p-2 hoverbg pointer reconfig"></div>
          <div class="flex-center lh1">
            <img data-tmpl="logo" class="mini-icon me-1 xclogo medium">
            <span data-tmpl="name" class="me-1 fs20 text-nowrap"></span>
          </div>
          <span data-tmpl="needsconfig" class="fs14 grey flex-center">
            <span class="ico-settings fs12 me-1"></span>
            <span>[[[Configure]]]</span>
          </span>
          <span data-tmpl="disconnected" class="flex-center">
            <span class="ico-disconnected fs16 text-danger me-1"></span>
            <span class="fs14 grey">Fix errors</span>
          </span>
          <span data-tmpl="unavailable" class="fs14 grey">[[[Market not available]]]</span>
        </div>
      </div>

      <div id="botTypeErr" class="flex-center pt-3 text-danger d-hide"></div>

      <div class="d-flex justify-content-center">
        <div id="botTypeSubmit" class="feature large">[[[Submit]]]</div>
      </div>
    </form>

    <form id="marketSelectForm">
      <div class="form-closer"><span class="ico-cross"></span></div>
      <h3>[[[Select a Market]]]</h3>

      <div id="marketFilterBox" class="flex-center mb-3">
        <div class="position-relative">
          <input id="marketFilterInput" type="text" class="form-control">
          <span id="marketFilterIcon" class="fs22 ico-search"></span>
        </div>
      </div>

      <table id="marketSelectionTable">
        <thead>
          <tr>
            <th>Market</th>
            <th>Host</th>
            <th>Arb</th>
          </tr>
        </thead>
        <tbody id="marketSelect">
          <tr id="marketRowTmpl" class="hoverbg pointer">
            <td>
              <img data-tmpl="baseIcon" class="mini-icon me-1">
              <img data-tmpl="quoteIcon" class="mini-icon me-1">
              <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
            </td>
            <td data-tmpl="host"></td>
            <td data-tmpl="arbs">
              <img id="arbBttnTmpl" class="mini-icon me-1">
            </td>
          </tr>
        </tbody>
      </table>
    </form>

  </div>

  <div id="vOrderOpts">{{template "orderOptionTemplates"}}</div>
</div>
{{template "bottom"}} {{end}}
