{{define "microIcon"}}
<img src="/img/coins/{{.}}.png" class="micro-icon">
{{end}}

{{define "order"}}
{{template "top" .}}
{{$ord := .Order}}
<div id="main" data-handler="order" class="main w-100 overflow-y-auto" data-net="{{.Net}}" data-oid="{{$ord.ID}}">
  <div class="px-5">
    <div class="px-1 py-2">
      <span class="fs22 demi mr-2">Order</span>
      <span class="fs18">{{$ord.ID}}</span>
      <span class="float-right mr-2"><a href="/orders" class="d-inline-block subtlelink fs15"><span class="fs12 ico-textfile"></span> see all orders</a></span>
    </div>

    {{- /* DATA CARDS */ -}}
    <div class="d-flex flex-wrap">
      <div class="order-datum">
        <div>Exchange</div>
        <div>{{$ord.Host}}</div>
      </div>
      <div class="order-datum">
        <div>Market</div>
        <a href="/markets?host={{$ord.Host}}&base={{$ord.BaseID}}&quote={{$ord.QuoteID}}" class="plainlink hoverbg">
          {{template "microIcon" $ord.BaseSymbol}} {{template "microIcon" $ord.QuoteSymbol}} {{toUpper $ord.BaseSymbol}}-{{toUpper $ord.QuoteSymbol}}
        </a>
      </div>
      <div class="order-datum">
        <div>Type</div>
        <div>{{ $ord.TypeString }}</div>
      </div>
      <div class="order-datum">
        <div>Status</div>
        <div>
          <span id="status">{{$ord.StatusString}}</span>
          {{if $ord.Cancelable}}
            <span id="cancelBttn" class="ico-cross fs12 ml-1 pointer hoverbg" data-tooltip="cancel order"></span>
          {{end}}
        </div>
      </div>
      <div class="order-datum">
        <div>Offering</div>
        <div>{{$ord.OfferString}} {{$ord.FromSymbol}} {{template "microIcon" $ord.FromSymbol}}</div>
      </div>
      <div class="order-datum">
        <div>Asking</div>
        <div>
          {{if (not $ord.IsMarketOrder)}}
            {{$ord.AskString}}
          {{end}}
          {{$ord.ToSymbol}} {{template "microIcon" $ord.ToSymbol}}
        </div>
      </div>
      <div class="order-datum">
        <div>Rate</div>
        <div>{{$ord.RateString}}</div>
      </div>
      <div class="order-datum">
        <div>Filled</div>
        <div>
          {{$ord.FilledPercent}}%
          ({{$ord.FilledFrom}} {{template "microIcon" $ord.FromSymbol}}
          &rarr;
          {{$ord.FilledTo}} {{template "microIcon" $ord.ToSymbol}})
        </div>
      </div>
      <div class="order-datum">
        <div>Settled</div>
        <div>
          {{$ord.SettledPercent}}%
          ({{$ord.SettledFrom}} {{template "microIcon" $ord.FromSymbol}}
          &rarr;
          {{$ord.SettledTo}} {{template "microIcon" $ord.ToSymbol}})
        </div>
      </div>
      <div class="order-datum">
        <div>Fees <span class="ico-info fs12" data-tooltip="On-chain transaction fees, typically collected by the miner. Decred DEX collects no trading fees."></span></div>
        <div>
          {{$ord.SwapFeesString}} {{template "microIcon" $ord.FromSymbol}},
          {{$ord.RedemptionFeesString}} {{template "microIcon" $ord.ToSymbol}}
        </div>
      </div>
      <div class="order-datum">
        <div>Age</div>
        <div data-stamp="{{$ord.Stamp}}"></div>
      </div>
    </div> {{- /* END DATA CARDS */ -}}

    {{- /* MATCHES */ -}}
    {{if len $ord.Matches}}
      <div class="fs18 demi pt-4 pb-2">Matches</div>
      <div class="d-flex align-items-stretch justify-content-start flex-wrap">
      {{range $match := $ord.MatchReaders}}
        <div class="match-card">
          <div class="match-header">
            <div class="d-flex justify-content-between align-items-center">
              <span class="match-data-label ml-3">Match ID</span>
              {{if $match.IsCancel}}<span class="red mr-3">cancellation</span>{{end}}
            </div>
            <div class="mono mx-3 fs15">{{$match.MatchID}}</div>
          </div>

          <div class="row py-2">
            <div class="col-10 text-center">
              <span class="match-data-label">Status</span><br>
              <span class="fs15">
                {{$match.StatusString}}
              </span>
            </div>
            <div class="col-14 text-center">
              <span class="match-data-label">Time</span><br>
              <span class="fs15">{{$match.TimeString}}</span> 
              <span class="fs14">(<span class="fs15" data-stamp="{{$match.Stamp}}"></span> ago)</span>
            </div>

          </div>

          <div class="text-center demi fs20 py-2">
            {{$match.FromQuantityString}}  {{template "microIcon" $ord.FromSymbol}}
            &rarr;
            {{$match.ToQuantityString}} {{template "microIcon" $ord.ToSymbol}}
          </div>

          <div class="row py-2">
            <div class="col-10 text-center">
              <span class="match-data-label">Rate</span><br>
              <span class="fs15">
                {{$match.RateString}}
              </span>
            </div>
            <div class="col-7 text-center">
              <span class="match-data-label">Side</span><br>
              <span class="fs15">{{$match.Side}}</span>
            </div>
            <div class="col-7 text-center">
              <span class="match-data-label">Order Portion</span><br>
              <span class="fs15">
                {{$match.OrderPortion}}%
              </span>
            </div>
          </div>

          <div class="pt-3">
            {{if len $match.Swap}}
            <div class="px-3 pb-3">
              <span class="match-data-label">Swap ({{$ord.FromSymbol}}, you)</span><br>
              <a class="mono plainlink" data-explorer-id="{{$ord.FromID}}"
                data-explorer-coin="{{$match.SwapString}}">{{$match.SwapString}}</a>
            </div>
            {{end}}
            {{if len $match.CounterSwap}}
            <div class="px-3 pb-3">
              <span class="match-data-label">Swap ({{$ord.ToSymbol}}, them)</span><br>
              <a class="mono plainlink" data-explorer-id="{{$ord.ToID}}"
                data-explorer-coin="{{$match.CounterSwapString}}">{{$match.CounterSwapString}}</a>
            </div>
            {{end}}
            {{if len $match.Redeem}}
            <div class="px-3 pb-3">
              <span class="match-data-label">Redemption ({{$ord.ToSymbol}}, you)</span><br>
              <a class="mono plainlink" data-explorer-id="{{$ord.ToID}}"
                data-explorer-coin="{{$match.RedeemString}}">{{$match.RedeemString}}</a>
            </div>
            {{end}}
            {{if len $match.CounterRedeem}}
            <div class="px-3 pb-3">
              <span class="match-data-label">Redemption ({{$ord.FromSymbol}}, them)</span><br>
              <a class="mono plainlink" data-explorer-id="{{$ord.FromID}}"
                data-explorer-coin="{{$match.CounterRedeemString}}">{{$match.CounterRedeemString}}</a>
            </div>
            {{end}}
            {{if len $match.Refund}}
            <div class="px-3 pb-3">
              <span class="match-data-label red">Refund ({{$ord.FromSymbol}}, you)</span><br>
              <a class="mono plainlink red" data-explorer-id="{{$ord.FromID}}"
                data-explorer-coin="{{$match.RefundString}}">{{$match.RefundString}}</a>
            </div>
            {{end}}
          </div>

        </div>
      {{end}}
      </div>
    {{end}}

    {{- /* FUNDING COINS */ -}}
    <div class="order-datum d-inline-block my-3">
      <div class="text-left">Funding Coins</div>
      <div class="fs14 text-left">
        {{range $ord.FundingCoinIDs}}
          <a class="plainlink mono" data-explorer-id="{{$ord.FromID}}" data-explorer-coin="{{.}}">{{.}}</a><br>
        {{end}}
      </div>
    </div>

  </div>

  <div id="forms" class="popupforms d-flex flex-center p-4 overflow-auto d-hide">
    <form class="card bg1 d-hide" id="cancelForm" autocomplete="off">
      {{template "cancelOrderForm"}}
    </form>
  </div>
</div>
{{template "bottom"}}
{{end}}
