{{define "register"}}
{{template "top" .}}
<div id="main" data-handler="register" class="main align-items-center justify-content-center flex-column stylish-overflow">
  <div class="position-absolute" id="forms">

    {{- /* Set up the initial application password. Only shown if app is not already initialized. */ -}}
    <form class="d-hide{{if not .UserInfo.Initialized}} selected{{end}}" id="appPWForm">
      <div class="px-2 py-1 text-center fs28 sans-light">[[[Set App Password]]]</div>
      <div class="fs18 mt-2 sans-light">[[[reg_set_app_pw_msg]]]</div>
      <hr class="dashed my-4">
      <div class="pb-3">
        <label for="appPW" class="form-label ps-1 mb-1">[[[Password]]]</label>
        <input type="password" class="form-control select" id="appPW" autocomplete="new-password">
      </div>
      <div class="pb-3">
        <label for="appPWAgain" class="form-label ps-1 mb-1">[[[Password Again]]]</label>
        <input type="password" class="form-control select" id="appPWAgain" autocomplete="off">
      </div>
      <div>
        <input class="form-check-input" type="checkbox" id="rememberPass">
        <label for="rememberPass" class="form-check-label ps-1">[[[Remember my password]]]</label>
      </div>
      <div class="pb-3 d-hide mt-3" id="seedRestore">
        <label for="seedInput" class="form-label ps-1 mb-1">[[[Restoration Seed]]]</label>
        <input type="text" class="form-control select" id="seedInput" autocomplete="off">
      </div>
      <div class="d-flex justify-content-between mt-4">
        <div class="px-1 fs13 pointer d-flex justify-content-start align-items-center" id="showSeedRestore"><span class="ico-plus fs11"></span> <div class="ps-2">[[[Restore from seed]]]</div></div>
        <span></span>
        <button id="appPWSubmit" type="submit" class="col-8 justify-content-center fs15 bg2 selected">[[[Submit]]]</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="appPWErrMsg"></div>
    </form>

    {{- /* LOGIN FORM */ -}}
    <form class="d-hide{{if and (not .UserInfo.Authed) .UserInfo.Initialized }} selected{{end}}" id="loginForm">
      {{template "loginForm"}}
    </form>

    {{- /* Form to set up a wallet. Shown on demand when a user clicks a setupWallet button. */ -}}
    <form class="d-hide" id="newWalletForm">
      {{template "newWalletForm" }}
    </form>

    {{- /* DEX ADDRESS FORM */ -}}
    <form class="d-hide{{if and .UserInfo.Initialized .UserInfo.Authed}} selected{{end}}" id="dexAddrForm">
      {{template "dexAddrForm" .}}
    </form>

    {{- /* REG ASSET SELECTOR */ -}}
    <form class="d-hide" id="regAssetForm">
      {{template "regAssetForm"}}
    </form>

    {{- /* CONFIRM FEE PAYMENT */ -}}
    <form class="d-hide" id="confirmRegForm">
      {{template "confirmRegistrationForm"}}
    </form>

    {{- /* SYNC AND BALANCE FORM */ -}}
    <form class="d-hide" id="walletWait">
      {{template "waitingForWalletForm"}}
    </form>

  </div>
</div>
{{template "bottom"}}
{{end}}
