{{define "register"}}
{{template "top" .}}
<div id="main" data-handler="register" class="main align-items-center justify-content-center flex-column overflow-y-auto">
  <div class="d-flex flex-column vscroll w-100">

    {{- /* Set up the initial application password. Only shown if app is not already initialized. */ -}}
    <form class="card mx-auto my-5 bg1{{if not .InitStep}} d-hide{{end}}" id="appPWForm">
      <div class="bg2 px-2 py-1 text-center fs18">Set App Password</div>
      <div class="p-4">
        <div class="fs16">Set your app password. This password will protect your DEX account keys and connected wallets.</div>
        <hr class="dashed my-4">
        <div class="pb-3">
          <label for="appPW" class="pl-1 mb-1">Password</label>
          <input type="password" class="form-control select" id="appPW" autocomplete="new-password">
        </div>
        <div class="pb-3">
          <label for="appPWAgain" class="pl-1 mb-1">Password Again</label>
          <input type="password" class="form-control select" id="appPWAgain" autocomplete="off">
        </div>
        <label for="rememberPass" class="pl-1 mb-1">Remember my password</label>
        <input type="checkbox" id="rememberPass">
        <div class="pb-3 d-hide" id="seedRestore">
          <label for="seedInput" class="pl-1 mb-1">Restoration Seed</label>
          <input type="text" class="form-control select" id="seedInput" autocomplete="off">
        </div>
        <div class="d-flex justify-content-between mt-4">
          <div class="px-1 fs13 pointer d-flex justify-content-start align-items-center" id="showSeedRestore"><span class="ico-plus fs11"></span> <div class="pl-2">Restore from seed</div></div>
          <span></span>
          <button id="appPWSubmit" type="submit" class="col-8 justify-content-center fs15 bg2 selected">Submit</button>
        </div>
        <div class="fs15 pt-3 text-center d-hide errcolor" id="appPWErrMsg"></div>
      </div>
    </form>

    {{- /* Set up the Decred wallet. Only shown if user has not connected their Decred wallet. */ -}}
    <form class="card mx-auto my-5 bg1{{if not .WalletStep}} d-hide{{end}}" id="newWalletForm">
      {{template "newWalletForm" "Your Decred wallet is required to pay registration fees."}}
    </form>

    {{- /* Unlock Decred wallet. Only shown if not already unlocked. */ -}}
    <form class="card mx-auto my-5 bg1{{if not .OpenStep}} d-hide{{end}}" id="unlockWalletForm">
      {{template "unlockWalletForm" "Unlock your Decred wallet to pay registration fees."}}
    </form>

    {{- /* DEX ADDRESS FORM */ -}}
    <form class="card mx-auto my-5 bg1{{if not .DEXStep}} d-hide{{end}}" id="dexAddrForm">
      {{template "dexAddrForm"}}
    </form>

    {{- /* Confirm registration with app password. */ -}}
    <form class="card mx-auto my-5 bg1 d-hide" id="confirmRegForm">
      <div class="bg2 px-2 py-1 text-center fs18">Confirm Registration</div>
      <div class="p-4">
        <div class="fs16">
          When you submit this form, <span id="feeDisplay"></span> DCR will be spent from your Decred wallet to pay registration fees.
        </div>
        <div class="fs16 mt-4">
          The lot size for the <span id="dcrBaseMarketName" class="mono"></span> market is <span id="dexDCRLotSize"></span> DCR.
          All trades on this market are in multiples of this lot size.
          This is the minimum possible trade amount in DCR.
          {{- /*  this will change when lot size is a market setting, not an asset setting */ -}}
        </div>
        <hr class="dashed mt-4">
        <div id="appPassBox">
          Enter your app password to confirm DEX registration.<br>
          <label for="appPass" class="pl-1 mb-1">Password</label>
          <input type="password" class="form-control select" id="appPass" autocomplete="current-password">
        </div>
        <div class="d-flex justify-content-end mt-4">
          <button id="submitConfirm" type="button" class="col-8 justify-content-center fs15 bg2 selected">Register</button>
        </div>
        <div class="fs15 pt-3 text-center d-hide errcolor" id="regErr"></div>
      </div>
    </form>

    {{- /* registration failed low balance. */ -}}
    <form class="card mx-auto my-5 bg1 d-hide" id="failedRegForm">
      <div class="bg2 px-2 py-1 text-center fs18">Insuficient funds</div>
      <div class="p-4">
        <div class="fs16">
          Registration failed. Look below for more details:
        </div>
        <div class="fs15 pt-3 text-center d-hide errcolor" id="regFundsErr"></div>
        <hr class="dashed mt-4">
      </div>
    </form>

  </div>
</div>
{{template "bottom"}}
{{end}}
