{{define "stateIcons"}}
  {{$w := .Wallet}}
  {{if $w}}
    {{$ready := and $w.Running $w.Open}}
    <span data-state="sleeping" class="ico-sleeping fs17 grey{{if $w.Running}} d-hide{{end}}"></span>
    <span data-state="locked" class="ico-locked grey{{if or $ready (not $w.Running)}} d-hide{{end}}"></span>
    <span data-state="unlocked" class="ico-unlocked{{if not $ready}} d-hide{{end}}"></span>
    <span data-state="nowallet" class="ico-cross fs12 red d-hide"></span>
    <span data-state="status" class="txt-status">{{walletStatusString $w}}</span>
  {{else}}
    <span data-state="sleeping" class="ico-sleeping fs17 grey d-hide"></span>
    <span data-state="locked" class="ico-locked grey d-hide"></span>
    <span data-state="unlocked" class="ico-unlocked d-hide"></span>
    <span data-state="nowallet" class="ico-cross fs12 red"></span>
    <span data-state="status" class="txt-status">no wallet</span>
  {{end}}
{{end}}

{{define "actionButtons"}}
  {{$w := .Wallet}}
  {{if $w}}
    {{$ready := and $w.Running $w.Open}}
    <button data-action="connect"{{if $w.Running}} class="d-hide"{{end}}>Connect</button>
    <button data-action="unlock"{{if $w.Open}} class="d-hide"{{end}}>Unlock</button>
    <button data-action="withdraw"{{if not $ready}} class="d-hide"{{end}}>Withdraw</button>
    <button data-action="deposit"{{if not $ready}} class="d-hide"{{end}}>Deposit</button>
    <button data-action="lock"{{if or (not $ready) (not $w.Encrypted)}} class="d-hide"{{end}}>Lock</button>
    <button data-action="create" class="d-hide">Create a {{.Info.Name}} Wallet</button>
    <span data-action="settings" class="ico-settings fs20 pointer"></span>
  {{else}}
    <button data-action="connect" class="d-hide">Connect</button>
    <button data-action="unlock" class="d-hide">Unlock</button>
    <button data-action="withdraw" class="d-hide">Withdraw</button>
    <button data-action="deposit" class="d-hide">Deposit</button>
    <button data-action="lock" class="d-hide">Lock</button>
    <button data-action="create">Create a {{.Info.Name}} Wallet</button>
    <span data-action="settings" class="ico-settings fs20 pointer d-hide"></span>
  {{end}}
{{end}}

{{define "wallets"}}
{{template "top" .}}
<div id="main" data-handler="wallets" class="main">

  {{- /* LEFT SIDE */ -}}
  <div class="col-14">
    <h3 class="p-3">Wallets</h3>
    <table class="wallets">
      <thead>
        <tr>
          <th>Asset <span id="assetArrow"></span></th>
          <th>Balance <span id="balanceArrow"></span></th>
          <th>Status <span id="statusArrow"></span></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="walletTable">
        {{range .Assets}}
        <tr data-asset-i-d="{{.ID}}" data-symbol="{{.Symbol}}" data-name="{{.Info.Name}}">
          <td>
            <img src="{{logoPath .Symbol}}" class="mini-icon">
            <span class="fs20">{{.Info.Name}}</span>
            <span class="fs15">({{toUpper .Symbol}})</span>
          </td>
          <td data-balance-target="{{.ID}}">
            {{if .Wallet}}
              {{printf "%.8f" (fromAtoms .Wallet.Balance.Available)}}
            {{else}}
              0.00000000
            {{end}}
          </td>
          <td class="status-col fs16">
            {{template "stateIcons" .}}
          </td>
          <td>
            {{template "actionButtons" .}}
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

  {{- /* RIGHT SIDE */ -}}
  <div id="rightBox" class="col-10 px-2 py-5 d-flex justify-content-center align-items-start overflow-auto">

    {{- /* AVAILABLE MARKETS (for selected asset) */ -}}
    <div id="marketsBox" class="d-hide">
      <div class="fs22 text-center py-1"><span id="marketsFor"></span> Markets</div>
      <div id="marketsCard" class="card">
        <div class="bg2 px-2 py-1 text-center fs18" id="dexTitle"></div>
        <div class="d-flex justify-content-center align-items-start flex-wrap mt-2 mb-1" id="markets">
          <div class="asset-market p-1" id="oneMarket">
            <img src="{{logoPath "dcr"}}" class="mini-icon"><br>
            <span>DCR-BTC</span>
          </div>
        </div>
      </div>
    </div>

    {{- /* NEW WALLET */ -}}
    <form class="card bg1 m-auto d-hide" id="walletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* UNLOCK WALLET */ -}}
    <form class="card bg1 position-relative d-hide" id="openForm" autocomplete="off">
      {{template "unlockWalletForm"}}
    </form>

    {{- /* DEPOSIT ADDRESS */ -}}
    <div class="card bg1 text-center fs20 p-2 d-hide" id="deposit">
      Deposit <span id="depositName"></span> to
      <div class="mono d-inline bg0 p-1 mb-1 fs15" id="depositAddress"></div>
      <div class="my-3">
        <button id="newDepAddrBttn" type="button" class=" px-2 mt-1 justify-content-center fs15 bg2 selected">New Deposit Address</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor" id="depositErr"></div>
    </div>

    {{- /* WITHDRAW */ -}}
    <form class="card bg1 pb-3 d-hide" id="withdrawForm" autocomplete="off">
      <div class="bg2 px-2 py-1 text-center fs18">
        Withdraw
        <img id="withdrawLogo" class="micro-icon mx-1">
        <span id="withdrawName"></span>
      </div>
      <div class="px-4 mt-3">
        <label for="withdrawAddr" class="pl-1 mb-1">Address</label>
        <input type="text" class="form-control select" id="withdrawAddr">
      </div>
      <div class="d-flex align-items-stretch px-4">
        <div class="mt-2 col-10 p-0">
          <label for="withdrawAmt" class="pl-1 mb-1">Amount</label>
          <input type="text" class="form-control select" id="withdrawAmt">
        </div>
        <div class="col-14 px-0 py-1 flex-center flex-column fs15 justify-content-between">
          <div class="d-inline pt-3"><span class="pointer" id="withdrawAvail"></span> available</div>
          <!-- <div class="d-inline">tx fees: <span id="withdrawFee"></span> <span id="withdrawUnit"></span>/byte</div> -->
        </div>
      </div>
      <hr class="dashed my-4 mx-4">
      <div class="fs16 px-4 text-center">Authorize the withdraw with your app password.</div>
      <div class="d-flex px-4 mt-3">
        <div class="col-12 p-0">
          <label for="withdrawPW" class="pl-1 mb-1">Password</label>
          <input type="password" class="form-control select" id="withdrawPW" autocomplete="off">
        </div>
        <div class="col-12 p-0 text-right">
          <div>&nbsp;</div>
          <button id="submitWithdraw" type="button" class="w-75 mt-1 justify-content-center fs15 bg2 selected">Withdraw</button>
        </div>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor" id="withdrawErr"></div>
    </form>
    
    {{- /* RECONFIGURE WALLET */ -}}
    <form class="card bg1 pb-3 d-hide mt-3" id="walletReconfig" autocomplete="off">
      <div class="bg2 px-2 py-1 text-center fs18">
        Reconfigure
        <img id="recfgAssetLogo" class="micro-icon mx-1">
        <span id="recfgAssetName"></span>
        Wallet
      </div>
      <div class="px-3 py-1" id="reconfigInputs">
        {{template "walletConfigTemplates"}}
      </div>
      <hr class="dashed my-2 mx-4">
      <div class="d-flex px-4 mt-1">
        <div class="col-12 p-0">
          <label for="reconfigPW" class="pl-1 mb-1">App Password</label>
          <input type="password" class="form-control select" id="reconfigPW" autocomplete="off">
        </div>
        <div class="col-12 p-0 text-right">
          <div>&nbsp;</div>
          <button id="submitReconfig" type="button" class="w-75 mt-1 justify-content-center fs15 bg2 selected">Submit</button>
        </div>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor" id="reconfigErr"></div>
      <hr class="dashed mt-4 mx-4">
      <div class="pt-2 pl-1">
        <span class="mx-4">Or, you can...</span>
        <ul class="fs15 mt-3 mr-4">
          <li id="changePW" class="hoverbg pointer">
            Update the wallet password
            <span class="ico-info fs13" data-tooltip="Update the stored wallet password. Change the password directly with your wallet software first."></span></li>
        </ul>
      </div>
    </form>

    {{- /* CHANGE WALLET PASSWORD */ -}}
    <form class="card bg1 pb-3 d-hide mt-3" id="walletRepw" autocomplete="off">
      <div class="bg2 px-2 py-1 text-center fs18">
        Change
        <img id="repwAssetLogo" class="micro-icon mx-1">
        <span id="repwAssetName"></span>
        Wallet Password
      </div>
      <div class="px-4 pt-3 fs15">
        Changing the password below does not change the password for your wallet software.
        Use this form to update the DEX client after you have changed your password
        with the wallet software directly.
      </div>
      <div class="px-4 pt-3">
        <label for="repwNewPw" class="mb-1">New Wallet Password</label>
        <input type="password" class="form-control select" id="repwNewPw" autocomplete="off">
      </div>
      <div class="d-flex px-4 mt-1">
        <div class="col-12 p-0">
          <label for="repwAppPw" class="mb-1">App Password</label>
          <input type="password" class="form-control select" id="repwAppPw" autocomplete="off">
        </div>
        <div class="col-12 p-0 text-right">
          <div>&nbsp;</div>
          <button id="submitRepw" type="button" class="w-75 mt-1 justify-content-center fs15 bg2 selected">Submit</button>
        </div>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor" id="repwErr"></div>
    </form>

  </div>

</div>
{{template "bottom"}}
{{end}}
