// Variables
$grid-columns: 24;
$font-color-dark: #dfe2e1;
$font-color-light: #333;
$buycolor_dark: #05a35a;
$sellcolor_dark: #ae3333;
$buycolor_light: #207a46;
$sellcolor_light: #99302b;
$light_bg_1: #eaeaea;
$light_bg_2: #d5d5d5;
$dark_bg_1: #111;
$dark_bg_2: #1e1e1e;
$dark_bg_3: #292929;
$sans: 'source-sans', sans-serif;
$demi-sans: 'demi-sans', sans-serif;
$mono: 'mono', monospace;

// Bootstrap
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/_root.scss";
@import "~bootstrap/scss/_reboot.scss";
@import "~bootstrap/scss/_type.scss";
// @import "~bootstrap/scss/_images.scss";
// @import "~bootstrap/scss/_code.scss";
@import "~bootstrap/scss/_grid.scss";
@import "~bootstrap/scss/_tables.scss";
@import "~bootstrap/scss/_forms.scss";
@import "~bootstrap/scss/_buttons.scss";
// @import "~bootstrap/scss/_transitions.scss";
// @import "~bootstrap/scss/_dropdown.scss";
@import "~bootstrap/scss/_button-group.scss";
// @import "~bootstrap/scss/_input-group.scss";
// @import "~bootstrap/scss/_custom-forms.scss";
@import "~bootstrap/scss/_nav.scss";
// @import "~bootstrap/scss/_navbar.scss";
// @import "~bootstrap/scss/_card.scss";
// @import "~bootstrap/scss/_breadcrumb.scss";
// @import "~bootstrap/scss/_pagination.scss";
// @import "~bootstrap/scss/_badge.scss";
// @import "~bootstrap/scss/_jumbotron.scss";
// @import "~bootstrap/scss/_alert.scss";
// @import "~bootstrap/scss/_progress.scss";
// @import "~bootstrap/scss/_media.scss";
// @import "~bootstrap/scss/_list-group.scss";
// @import "~bootstrap/scss/_close.scss";
// @import "~bootstrap/scss/_modal.scss";
@import "~bootstrap/scss/_tooltip.scss";
// @import "~bootstrap/scss/_popover.scss";
// @import "~bootstrap/scss/_carousel.scss";
@import "~bootstrap/scss/_utilities.scss";
// @import "~bootstrap/scss/_print.scss";

// Application
@import "./main.scss";
@import "./main_dark.scss";
@import "./typography.scss";
@import "./icons.scss";
@import "./market.scss";
@import "./market_dark.scss";
@import "./wallets.scss";
@import "./wallets_dark.scss";
@import "./orders.scss";
@import "./order.scss";
