label {
  margin-bottom: 0.25rem;
  cursor: pointer;
}

input[type=text],
input[type=date],
input[type=password],
input[type=number],
input[type=url],
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--form-input-border);
  border-radius: 5px;
  background-color: var(--form-input-bg);
  color: var(--text-color);

  &:focus {
    border-color: var(--form-input-border-focus);
    outline: none;
  }
}

.form-select {
  color: var(--text-color);
  background-color: var(--form-input-bg);
  border-color: 1px solid var(--form-input-border);
  border-radius: 3px;
}

#regAssetForm {
  div.reg-asset {
    .fader {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25px;
      pointer-events: none;
      background-image:
        linear-gradient(
          to bottom,
          #e0e0e000,
          #f0f0f0
          90%
        );
    }

    &:not(.nohover):hover {
      background-color: #7773;

      .fader {
        background-image:
          linear-gradient(
            to bottom,
            #c7c7c700,
            #c7c7c7
            90%
          );
      }
    }
  }

  img.reg-market-logo {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }

  div.reg-assets-markets-wrap {
    position: relative;

    &:hover > .fader {
      display: none;
    }
  }


  input[data-tmpl=regAssetTier] {
    width: 3em;
  }

  .readygreen {
    color: #009931;
  }

  .setuporange {
    color: #b89400;
  }
}

#confirmRegForm {
  width: 425px;

  button.submit {
    width: auto;
    padding: 12px 30px;
    border-radius: 3px;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  input.app-pass {
    display: inline-block;
    max-width: 250px;
  }

  div.reg-conf-msg {
    width: 100%;
  }

  div.borderright {
    border-right: 1px solid #777;
  }

  .mw50 {
    max-width: 50%;
  }
}

#newWalletForm {
  width: 425px;

  .wallet-tabs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    
    .wtab {
      background-color: var(--body-bg-secondary);
      padding: 8px 20px;
      font-size: 15px;
      border-style: solid solid none;
      border-radius: 5px 5px 0 0;
      border-width: 1px;
      border-color: var(--border-color);
      opacity: 0.8;
      position: relative;
      z-index: 150;

      &:hover {
        cursor: pointer;
      }
    }

    .wtab:not(:first-child) {
      border-left-style: none;
    }

    .wtab.selected {
      opacity: 1;
      top: 1px;
      cursor: default;
      background-color: var(--form-selected-tab-bg);
    }

    .wtab:not(.selected) {
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .one-bttn {
    display: inline-block;
    font-size: 22px;
    padding: 10px 25px;
    background-color: #0b5831;
    border-radius: 5px;
    animation: glow 1.5s infinite alternate;
  }

  .one-bttn:hover {
    background-color: #0c5f36;
  }

  @keyframes glow {
    from {
      box-shadow: 0 0 4px -3px #fff7;
      opacity: 0.95;
    }

    to {
      box-shadow: 0 0 4px 0 #fff7;
      opacity: 1;
    }
  }

  .asset-logo {
    width: 20px;
    height: 20px;
  }
}

button.form-button {
  padding: 10px;
  border-radius: 3px;
  opacity: 0.9;
  white-space: nowrap;

  &:hover {
    opacity: 1;
  }
}

.form-check-label {
  user-select: none;
}

#forms {
  @extend .stylish-overflow;
  @extend .flex-center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  background-color: var(--form-bg);
  z-index: 101;

  & > form {
    box-sizing: content-box;
    padding: 2rem;
    margin: auto;
    text-align: left;
    position: relative;

    button {
      @extend .form-button;
    }

    h3 {
      text-align: center;
      margin-bottom: 1rem;
      position: relative;
    }
  }
}

div[data-handler=init],
div[data-handler=login],
div[data-handler=register] {
 #forms {
  z-index: 99;
 } 
}

#walletWait {
  max-width: 425px;

  .icons {
    width: 25px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .ico-check {
    color: #05a35a99;
  }
}

#dexAddrForm {
  .known-exchange {
    @extend .flex-center;

    font-size: 17px;
    padding: 5px 0;
    width: 100%;
    border: 1px solid #555;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: #7772;
    }
  }
}

#loginForm {
  width: 325px;

  #loader {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

#unlockWalletForm,
#authorizeAccountExportForm,
#authorizeAccountImportForm,
#disableAccountForm,
#discoverAcctForm {
  width: 275px;
}

#changeAppPWForm,
#resetAppPWForm,
#dexAddrForm,
#verifyForm,
#appPWForm,
#deleteArchivedRecordsForm {
  width: 325px;
}

#sendForm,
#vSendForm,
#exportSeedAuth,
#cancelForm,
#quickConfigForm {
  width: 375px;
}

#reconfigForm,
#authorizeSeedDisplay,
#seedBackupForm {
  width: 425px;
}

a[data-tmpl=walletCfgGuide] {
  color: inherit;
  text-decoration: none;
}

#deposit {
  #copyAlert {
    margin-left: 12px;
    position: absolute;
  }
}

.deposit-address {
  font-size: 15px;
  padding: 5px 10px;
}


.slider-container,
.order-opt {
  border: 1px solid #424242;
  border-radius: 3px;
  padding: 4px;
  margin-top: 8px;

  & > div.disabled {
    opacity: 0.8;

    [data-tmpl=sliderBox] {
      cursor: default;

      .slider .slider-handle {
        background-color: #777b;
      }
    }
  }

  div.opt-check {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    border: 2px solid #424242;
    margin-top: 5px;
    cursor: pointer;
  }

  .xy-range-input {
    width: 35px;
    font-size: 14px;
    height: 16px;
  }

  [data-tmpl=sliderBox] {
    cursor: pointer;

    .slider {
      margin: 10px 10px 5px;
      height: 2px;
      background-color: grey;
      position: relative;

      .slider-handle {
        position: absolute;
        height: 20px;
        width: 14px;
        top: -9px;
        border-radius: 7px;
        background-color: #2cce9c;
        border: 2px solid #424242;
      }
    }
  }
}

div[data-tmpl=scoreTray] {
  background-color: var(--buy-color);
  height: 12px;
  border-radius: 100px;
  overflow: hidden;

  div[data-tmpl=scoreWarn] {
    background-color: var(--sell-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

span[data-tmpl=scorePointer] {
  transform: translateX(-50%);

  div[data-tmpl=scoreData] {
    top: 0;
    bottom: 0;

    &.positive {
      right: 150%;
    }

    &.negative {
      left: 150%;
    }
  }
}

.penalty-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  width: 2px;
  z-index: 2;
  background-color: black;
}

div[data-handler=init] {
  .quickconfig-asset-logo {
    width: 25px;
    height: 25px;
  }
}

.anitoggle {
  width: 1.5rem;
  height: 0.9rem;
  border-radius: 0.45rem;
  background-color: #777a;
  cursor: pointer;

  &.on {
    background-color: var(--indicator-good);
  }

  & > div {
    position: relative;
    top: 0.1rem;
    left: 0.1rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.35rem;
    transition: left 0.5s;
    background-color: var(--body-bg);
  }

  &.on > div {
    left: 0.7rem;
  }

  &.big {
    width: 2.2rem;
    height: 1.25rem;
    border-radius: 0.65rem;
  }

  &.big > div {
    top: 0.15rem;
    left: 0.15rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
  }

  &.big.on > div {
    left: 1.05rem;
  }
}


.dynamicopts {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  & > div {
    min-height: 55px;
  }

  & > div:not(.repeatable) {
    width: 47%;
  }
}

body.dark {
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  #regAssetForm {
    div.reg-asset {
      .fader {
        background-image:
          linear-gradient(
            to bottom,
            #13202b00,
            #122739
            90%
          );
      }

      &:not(.nohover):hover {
        .fader {
          background-image:
            linear-gradient(
              to bottom,
              #202c3500,
              #202c35
              90%
            );
        }
      }
    }
  }
}