#regAssetForm {
  #whatsabond {
    max-width: 425px;
  }

  div.reg-asset-allmkts {
    min-width: 210px;
    max-width: 320px;
  }

  div.reg-asset {
    min-width: 425px;
    padding: 20px 10px;
    border-bottom: dashed 2px #7777;

    .fader {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25px;
      pointer-events: none;
      background-image:
        linear-gradient(
          to bottom,
          #e0e0e000,
          $light_body_bg
          90%
        );
    }

    &:not(.nohover):hover {
      background-color: #c7c7c7;

      .fader {
        background-image:
          linear-gradient(
            to bottom,
            #c7c7c700,
            #c7c7c7
            90%
          );
      }
    }
  }

  img.reg-asset-logo {
    width: 50px;
    height: 50px;
  }

  img.reg-market-logo {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }

  table.reg-asset-markets {
    @extend .stylish-overflow;

    display: block;
    max-height: 65px;
    line-height: 1.15;
    overflow-y: hidden;
    margin-right: 8px;

    &:hover {
      overflow-y: auto;
      margin-right: 0;
    }

    th {
      font-weight: normal;
      font-size: 13px;
    }

    td {
      font-size: 14px;
    }

    th,
    td {
      padding: 1px 5px;
    }
  }

  div.reg-asset-details {
    box-sizing: content-box;
    line-height: 1.25;
    width: 100px;
    padding: 0 50px 0 25px;
  }

  div.reg-assets-markets-wrap {
    position: relative;

    &:hover > .fader {
      display: none;
    }
  }

  #regAssets {
    color: #c7c3cc;
  }

  .readygreen {
    color: #009931;
  }

  .setuporange {
    color: #b89400;
  }
}

#confirmRegForm {
  width: 425px;

  button.submit {
    width: auto;
    padding: 12px 30px;
    border-radius: 3px;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  img.logo {
    width: 30px;
    height: 30px;
  }

  input.app-pass {
    // margin: 0 auto;
    display: inline-block;
    max-width: 250px;
  }

  div.reg-conf-msg {
    width: 100%;
  }

  div.borderright {
    border-right: 1px solid #777;
  }
}

#newWalletForm {
  width: 425px;

  .wallet-tabs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    .wtab {
      padding: 8px 20px;
      font-size: 15px;
      border-style: solid solid none;
      border-radius: 5px 5px 0 0;
      border-width: 1px;
      border-color: #555;
      opacity: 0.8;
      background-color: $light_body_bg;
      position: relative;
      z-index: 150;
    }

    .wtab:not(:first-child) {
      border-left-style: none;
    }

    .wtab.selected {
      opacity: 1;
      top: 1px;
      cursor: default;
    }

    .wtab:not(.selected) {
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .bordertop {
    border-top: solid 1px #555;
    border-radius: 0 10px 0 0;
  }

  .one-bttn {
    display: inline-block;
    font-size: 22px;
    padding: 10px 25px;
    background-color: #0b5831;
    border-radius: 5px;
    animation: glow 1.5s infinite alternate;
    color: $font-color-dark;
  }

  .one-bttn:hover {
    background-color: #0c5f36;
  }

  @keyframes glow {
    from {
      box-shadow: 0 0 4px -3px #fff7;
      opacity: 0.95;
    }

    to {
      box-shadow: 0 0 4px 0 #fff7;
      opacity: 1;
    }
  }

  .asset-logo {
    width: 20px;
    height: 20px;
  }
}

button.form-button {
  padding: 10px;
  border-radius: 3px;
  opacity: 0.9;
  white-space: nowrap;

  &:hover {
    opacity: 1;
  }
}

#forms {
  @extend .stylish-overflow;
  @extend .flex-center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  background-color: $light_body_bg;
  z-index: 100;

  & > form {
    box-sizing: content-box;
    padding: 50px;
    margin: auto;
    text-align: left;
    position: relative;

    button {
      @extend .form-button;
    }
  }
}

#walletWait {
  max-width: 425px;

  .icons {
    width: 25px;
  }

  .borderleft {
    padding-left: 25px;
    border-left: solid 1px #777;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .ico-check {
    color: #05a35a99;
  }
}

#dexAddrForm {
  .known-exchange {
    @extend .flex-center;

    font-size: 17px;
    padding: 5px 0;
    width: 100%;
    border: 1px solid #555;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: #7772;
    }
  }
}

#loginForm {
  width: 250px;

  #loader {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

#unlockWalletForm,
#authorizeAccountExportForm,
#authorizeAccountImportForm,
#disableAccountForm,
#discoverAcctForm {
  width: 275px;
}

#changeAppPWForm,
#dexAddrForm,
#verifyForm,
#appPWForm,
#deleteArchivedRecordsForm,
#updateBondOptionsForm {
  width: 325px;
}

#sendForm,
#vSendForm,
#exportSeedAuth,
#cancelForm,
#quickConfigForm {
  width: 375px;
}

#reconfigForm,
#authorizeSeedDisplay,
#seedBackupForm {
  width: 425px;
}

a[data-tmpl=walletCfgGuide] {
  color: inherit;
  text-decoration: none;
}

#deposit {
  #copyAlert {
    margin-left: 12px;
    position: absolute;
  }
}

.deposit-address {
  font-size: 15px;
  padding: 5px 10px;
  border: 1px solid $light_border_color;
}

.order-opt {
  border: 1px solid #424242;
  border-radius: 3px;
  padding: 4px;
  margin-top: 8px;
  opacity: 0.7;

  div.opt-check {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    border: 2px solid #424242;
    margin-top: 5px;
    cursor: pointer;
  }

  .xy-range-input {
    width: 35px;
    font-size: 14px;
    height: 16px;
  }

  .slider {
    margin: 10px 10px 5px;
    height: 2px;
    background-color: grey;
    position: relative;

    .slider-handle {
      position: absolute;
      height: 20px;
      width: 14px;
      top: -9px;
      border-radius: 7px;
      background-color: #2cce9c;
      border: 2px solid #424242;
      cursor: pointer;
    }
  }

  &:not(.selected) {
    cursor: pointer;
  }

  &.selected {
    opacity: 1;
    background-color: #e8ebed;

    div.opt-check {
      background-color: #2cce9c;
    }
  }
}

div[data-handler=init] {
  .quickconfig-asset-logo {
    width: 25px;
    height: 25px;
  }
}
