body.dark {
  table.marketstable {
    color: #a1a1a1;
  }

  #regAssetForm {
    div.reg-asset {
      .fader {
        background-image:
          linear-gradient(
            to bottom,
            #13202b00,
            $dark_body_bg
            90%
          );
      }

      &:not(.nohover):hover {
        background-color: #202c35;

        .fader {
          background-image:
            linear-gradient(
              to bottom,
              #202c3500,
              #202c35
              90%
            );
        }
      }
    }
  }
}

#newWalletForm {
  .wallet-tabs {
    .wtab {
      background-color: $dark_body_bg;
      border-color: #999;
      opacity: 0.8;
    }

    .wtab.selected {
      opacity: 1;
      background-color: #263846;
    }
  }

  .bordertop {
    border-top: solid 1px #999;
  }
}
