table.marketstable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  th {
    font-size: 15px;
    font-family: sans-serif;
  }

  td {
    font-size: 15px;
  }

  td,
  th {
    font-size: 15px;
    width: 33.3%;
    padding: 3px 0;
  }

  button {
    padding: 4px 12px;
  }

  tr.clickable {
    cursor: pointer;
    opacity: 0.75;
  }

  tr.clickable:hover {
    opacity: 1;
  }

  tr.clickable.selected {
    opacity: 1;
    border: 1px solid #686767;
  }
}
