body.dark {
  background-color: $dark_body_bg;
  color: $font-color-dark;

  header.maintop {
    background-color: black;
    border-bottom-style: none;
  }

  .offwhite {
    color: #a1a1a1;
  }

  div.mainlinks > div,
  div.mainlinks > a {
    color: #a8a8a8;
  }

  div.mainlinks .hoverbright:hover {
    color: #c5c5c5;
  }

  a.logo {
    background-image: url("/img/logo_wide_dark_v1.svg");
  }

  div.note:not(:last-child) {
    border-color: #333;
  }

  .bg0 {
    background-color: black;
  }

  .border1 {
    border: 1px solid #333;
  }

  .bg1 {
    background-color: $dark_bg_1;
  }

  .bg2 {
    background-color: $dark_bg_2;
  }

  .bg3 {
    background-color: $dark_bg_3;
  }

  .subtlelink,
  .subtlelink:visited {
    text-decoration: none;
    color: #e6e6ff;
  }

  .subtlelink:hover {
    color: #d1d1ff;
    cursor: pointer;
    text-decoration: underline;
  }

  button {
    color: $font-color-dark;
    background-color: transparent;

    &.selected {
      background-color: #0b5831;
    }
  }

  select,
  select:focus,
  input,
  input:focus {
    border: none;
    outline: none;
    color: $font-color-dark;
    background-color: black;
  }

  input:disabled {
    color: $font-color-dark;
    background-color: #343232;
    opacity: 1;
  }

  form.card button,
  form.card label {
    text-shadow: 0 0 4px black;
  }

  form.card button:hover {
    color: #dde9ff;
  }

  div.popup-notes > span {
    background-color: white;
    color: $font-color-light;
  }

  #forms {
    background-color: #13202bf3;
  }

  .buycolor {
    color: $buycolor_dark;
  }

  .sellcolor {
    color: $sellcolor_dark;
  }

  div.border1 {
    border: 1px solid #333;
  }

  #noteBox,
  #profileBox {
    background-color: $dark_bg_1;
  }

  #tooltip {
    background-color: #ece9f7;
    border-color: #d8d8d8;
    color: black;
  }

  #loader {
    background-color: #13202b77;
  }
}
