body.dark {
  background-color: $dark_body_bg;
  color: $font-color-dark;

  header.maintop {
    background-color: $dark_body_bg;
    border-bottom-style: none;
    border-color: $dark_border_color;
    border-width: 1px;
  }

  a.logo-icon {
    background-image: url("/img/softened-icon-dark.png");
  }

  .offwhite {
    color: #a1a1a1;
  }

  .grey {
    color: #777;
  }

  div.mainlinks > div,
  div.mainlinks > a {
    color: #a8a8a8;
  }

  #header .hoverbright:hover {
    color: #c5c5c5;
  }

  div.note:not(:last-child) {
    border-color: #333;
  }

  .brdrleft {
    border-left: 1px solid $dark_border_color;
  }

  .brdrright {
    border-right: 1px solid $dark_border_color;
  }

  .brdrtop {
    border-top: 1px solid $dark_border_color;
  }

  .brdrbottom {
    border-bottom: 1px solid $dark_border_color;
  }

  .subtlelink,
  .subtlelink:visited {
    text-decoration: none;
    color: #e6e6ff;
  }

  .subtlelink:hover {
    color: #d1d1ff;
    cursor: pointer;
    text-decoration: underline;
  }

  .hoverbg:hover {
    background-color: #1d2936a0;
  }

  button {
    color: $font-color-dark;
    background-color: transparent;

    &.selected {
      background-color: #0b5831;
    }

    &.danger {
      border: 1px solid #c91e1e;
    }

    &.green {
      border: 1px solid #0b6f1a;
    }
  }

  select,
  select:focus,
  input,
  input:focus,
  textarea,
  textarea:focus {
    border: none;
    outline: none;
    color: $font-color-dark;
  }

  select,
  select:focus,
  input:not([type=checkbox]),
  input:focus:not([type=checkbox]),
  textarea,
  textarea:focus {
    background-color: black;
    border: 1px solid $dark_input_border;
  }

  input:disabled {
    color: $font-color-dark;
    background-color: #343232;
    opacity: 1;
  }

  div.popup-notes > span {
    background-color: white;
    color: $font-color-light;
  }

  #forms {
    background-color: #04111ce0;
  }

  .buycolor {
    color: $buycolor_dark;
  }

  .sellcolor {
    color: $sellcolor_dark;
  }

  #noteBox,
  #profileBox {
    background-color: $dark_dialog_bg;
  }

  #tooltip {
    background-color: #ece9f7;
    border-color: #d8d8d8;
    color: black;
  }

  #loader {
    background-color: #13202b77;
  }

  .form-check-input[type=checkbox] {
    background-color: black;
    border: 1px solid $dark_input_border;

    &:checked {
      background-color: #27278d;
    }
  }

  .dialog-panel {
    background-color: $dark_dialog_bg;
    filter: drop-shadow(3px 3px 8px #00000040);
  }
}
