body.dark {
  background-color: $dark_body_bg;
  color: $font-color-dark;

  header.maintop {
    border: 1px solid $dark_border_color;
  }

  a.logo-icon {
    background-image: url("/img/softened-icon-dark.png");
  }

  .offwhite {
    color: #a1a1a1;
  }

  .grey {
    color: #777;
  }

  .errcolor {
    color: #fa7664;
  }

  div.mainlinks > div,
  div.mainlinks > a {
    color: #a8a8a8;
  }

  #header .hoverbright:hover {
    color: #c5c5c5;
  }

  div.note:not(:last-child) {
    border-color: #333;
  }

  .brdr {
    border: 1px solid $dark_border_color;
  }

  .brdrleft {
    border-left: 1px solid $dark_border_color;
  }

  .brdrright {
    border-right: 1px solid $dark_border_color;
  }

  .brdrtop {
    border-top: 1px solid $dark_border_color;
  }

  .brdrbottom {
    border-bottom: 1px solid $dark_border_color;
  }

  .subtlelink,
  .subtlelink:visited {
    text-decoration: none;
    color: #e6e6ff;
  }

  .subtlelink:hover {
    color: #d1d1ff;
    cursor: pointer;
    text-decoration: underline;
  }

  div.feature,
  button.feature {
    background-color: #0a4972;

    &:hover {
      background-color: #176699;
    }
  }

  button {
    color: $font-color-dark;
    background-color: transparent;

    &.selected {
      background-color: #0b5831;
    }

    &.danger {
      border: 1px solid #c91e1e;
    }

    &.green {
      border: 1px solid #0b6f1a;
    }
  }

  select,
  select:focus,
  input,
  input:focus,
  textarea,
  textarea:focus {
    border: none;
    outline: none;
    color: $font-color-dark;
  }

  select,
  select:focus,
  input:not([type=checkbox]),
  input:focus:not([type=checkbox]),
  textarea,
  textarea:focus {
    background-color: black;
    border: 1px solid $dark_input_border;
  }

  input:disabled,
  .form-select:disabled {
    color: $font-color-dark;
    background-color: $dark_body_bg;
    opacity: 1;
    cursor: not-allowed;
  }

  div.popup-notes > span {
    background-color: white;
    color: $font-color-light;
  }

  #forms {
    background-color: $dark_form_bg;
  }

  .buycolor {
    color: $buycolor_dark;
  }

  .sellcolor {
    color: $sellcolor_dark;
  }

  #noteBox,
  #profileBox {
    background-color: $dark_body_bg;
  }

  #tooltip {
    background-color: #ece9f7;
    border-color: #d8d8d8;
    color: black;
  }

  #loader {
    background-color: #13202b77;
  }

  .form-check-input[type=checkbox] {
    background-color: black;
    border: 1px solid $dark_input_border;

    &:checked {
      background-color: #27278d;
    }
  }

  .panel {
    background-color: $dark_panel;
  }

  div[data-handler=dexsettings],
  div[data-handler=markets],
  div[data-handler=mm],
  div[data-handler=mmsettings],
  div[data-handler=order],
  div[data-handler=orders],
  div[data-handler=settings],
  div[data-handler=init],
  div[data-handler=login],
  div[data-handler=register],
  div[data-handler=wallets] {
    #forms > form:not(.plain) {
      border: 1px solid $dark-border-color;
      background-color: $dark_panel;
      box-shadow: 0 3px 6px #00000029, 0 2px 10px #00000049;
    }
  }

  .bodybg {
    background-color: $dark_body_bg;
  }
}
