body.dark {
  background-color: #060c12;
  color: $font-color-dark;

  header.maintop {
    background-color: black;
    border-bottom-style: none;
  }

  .offwhite {
    color: #a1a1a1;
  }

  div.mainlinks > span {
    color: #a8a8a8;
  }

  div.mainlinks > span:hover {
    color: #c5c5c5;
  }

  div.logo {
    background-image: url('/img/logo_wide_dark_v0.png');
  }

  .bg0 {
    background-color: black;
  }

  .bg1 {
    background-color: $dark_bg_1;
  }

  .bg2 {
    background-color: $dark_bg_2;
  }

  .bg3 {
    background-color: $dark_bg_3;
  }

  button.selected {
    background-color: #0b5831;
  }

  select,
  select:focus,
  input,
  input:focus {
    border: none;
    outline: none;
    color: $font-color-dark;
    background-color: black;
  }

  form.auth button,
  form.auth label {
    text-shadow: 0 0 4px black;
  }

  form.auth button:hover {
    color: #dde9ff;
  }

  #noteBox {
    background-color: $dark_bg_1;
    border-color: white;
  }

  .buycolor {
    color: $buycolor_dark;
  }

  .sellcolor {
    color: $sellcolor_dark;
  }
}
