/* elements */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  height: 100%;
}

html,
button {
  color: #333;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e0e0e0;
  font-family: 'source-sans', sans-serif;
}

button {
  border: none;
  outline: none;
}

// Hide number arrows.
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Remove red background for firefox on empty number input fields.
input:invalid {
  box-shadow: none;
}

header.maintop {
  width: 100%;
  height: 70px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid #777;
}

div.logo {
  width: 125px;
  height: 50px;
  margin: 0 30px;
  background-size: cover;
  background-image: url('/img/logo_wide_v0.png');
  cursor: pointer;
}

div.main {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}

button.selected {
  background-color: #38cfb0;
}

button:focus {
  outline: none;
}

.card {
  width: 400px;
  background-color: $light_bg_1;
  border: 1px solid #aaa;
  border-radius: 3px;
  position: relative;

  button {
    padding: 6px 0;
  }

  input,
  select {
    background-color: $light_bg_2;
  }

  input:focus,
  select:focus {
    background-color: $light_bg_2;
  }

  form label {
    font-size: 15px;
    font-family: $demi-sans;
  }

  // bootstrap override
  .form-check-input {
    margin-top: 0.4em;
  }
}

body.dark button {
  color: #f2fffd;
}

div.mainlinks > span {
  font-family: $demi-sans;
  font-weight: bolder;
  padding-right: 1.7em;
  color: #4a4949;
  cursor: pointer;
}

div.mainlinks > span:hover {
  color: $dark_bg_3;
}

form.card button:hover {
  color: black;
}

div.spinner {
  animation: spin 2s infinite linear;
}

// Firefox
input[type=number] {
  -moz-appearance: textfield;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-abs {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

div.note-indicator {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

#noteIndicator {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 2;
}

div.note-indicator.good {
  display: block;
  background-color: green;
}

div.note-indicator.bad {
  display: block;
  background-color: red;
}

#noteBox {
  position: absolute;
  display: none;
  top: -10px;
  right: 10px;
  width: 375px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
  cursor: default;
}

div.note {
  overflow-wrap: break-word;
  padding: 5px 0;
}

div.note:not(:last-child) {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #777;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.d-hide {
  display: none !important;
}

.bg0 {
  background-color: white;
}

.bg1 {
  background-color: $light_bg_1;
}

.bg2 {
  background-color: $light_bg_2;
}

.buycolor {
  color: $buycolor_light;
}

.sellcolor {
  color: $sellcolor_light;
}

.errcolor {
  color: #e61c00;
}

hr.dashed {
  border-top: 1px dashed #777;
}

.vscroll {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}
