@import "~bootstrap/scss/mixins";
@import "mixins";

/* elements */
html {
  height: 100%;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--body-bg);
  color: var(--text-color);
}

header.maintop {
  width: 100%;
  height: 70px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  
  @include border-bottom;

  background-color: var(--body-bg-secondary);
}

a.logo-icon {
  display: block;

  @include margin(0, 2, 0, 2);

  background-size: cover;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-image: var(--logo-path);
}

div.main {
  display: flex;
  flex-grow: 1;
  min-height: 0;
  position: relative;
}

div.mainlinks {
  &>div,
  &>a {
    color: var(--text-color-secondary);

    @include padding(1, 2, 1, 2);
  }
}

@include media-breakpoint-up(md) {
  div.mainlinks>div,
  div.mainlinks>a {
    @include padding(2, 3, 2, 3);
  }
}

header.maintop a,
header.maintop a:visited,
header.maintop a:hover,
.plainlink,
.plainlink:visited,
.plainlink:hover {
  text-decoration: none;
}


#header .hoverbright:hover {
  color: var(--subtle-link-hover);
}

div.spinner {
  animation: spin 2s infinite linear;
}

div.note-indicator {
  width: 6px;
  height: 6px;
  border-radius: 3px;

  &.good {
    background-color: var(--indicator-good);
  }

  &.bad {
    background-color: $danger;
  }

  &.warn {
    background-color: $warning;
  }
}

#noteIndicator {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 16px;
  line-height: 1;
  font-family: $demi-sans;
  font-weight: bold;
  z-index: 2;

  &.good {
    color: var(--indicator-good);
  }

  &.bad {
    color: $danger;
  }

  &.warn {
    color: $warning;
  }
}

div.popup-notes {
align-items: flex-end;
border-radius: 4px;
bottom: 0;
display: flex;
flex-direction: column;
max-width: 750px;
position: fixed;
right: 5px;
z-index: 1000;

  & > span {
    line-height: 1;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color:var(--popup-notes-bg);
    color: var(--popup-notes-color);
    padding: 4px 10px;
    margin: 3px 0 0;
  }

  .note-indicator {
    margin-bottom: 2px;
  }
}

#profileBox,
#noteBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--body-bg);

  @include border;

  z-index: 100;
  min-width: 150px;
  line-height: 1.5;
  max-height: 90%;

  .icon {
    position: absolute;
    right: 15px;
    top: 8px;
  }

  .header {
    @include border-bottom;

    &>div {
      opacity: 0.5;
      cursor: pointer;

      &.active {
        opacity: 1;
      }
    }
  }

  &:not(.authed) .authed-only {
    display: none !important;
  }
}

#noteBox {
  width: 425px;

  div.note.firstview {
    background-color: var(--body-bg-tertiary);
  }

  div.note:not(:last-child) {
    @include border-bottom;
  }
}

#profileBox {
  min-width: 250px;
}

#loader {
  background-color: var(--loader-bg);
}