div.marketlist {
  width: 175px;
  border-right: 1px solid #626262;
  z-index: 99;
  background-color: #dbdbdb;

  .selected {
    border-style: solid none solid none;
    border-width: 1px;
    border-color: #aaa;
  }

  .header {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

div.marketrow {
  font-size: 17px;
  padding: 0.3em;
  font-family: 'demi-sans', sans-serif;
  cursor: pointer;
}

div.marketrow:hover,
div.marketrow.selected {
  background-color: #f0f7f7;
}

label.market-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
  background-color: white;

  input {
    border: none;
    width: 150px;
  }

  span {
    width: 25px;
    text-align: center;
  }
}

div.popupforms {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
}

table.ordertable {
  border-collapse: collapse;
  border: none;
  width: 100%;
  margin-bottom: 10px;

  th {
    font-size: 14px;
    font-family: 'demi-sans', sans-serif;
  }

  td {
    font-size: 14px;
  }

  td,
  th {
    font-size: 14px;
    padding: 3px 0;
  }

  tr {
    border-bottom: 1px solid #b3b3b3;
  }

  tbody > tr:hover,
  tbody > tr.hover {
    background-color: white;
  }

  .ico-check {
    color: #9b8c09;
  }
}

table.balance-table {
  width: 96%;
  margin: 0 2%;
  font-size: 15px;

  td,
  th {
    white-space: nowrap;
    text-align: left;
    border-width: 1px;
    border-color: #3a3a3a;
    font-size: 14px;
  }

  th {
    border-bottom-style: solid;
  }

  button {
    font-family: $sans;
    padding: 2px 10px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid #444;
    border-radius: 3px;
  }

  td:not(:first-child) {
    font-family: $mono;
  }

  td:first-child {
    font-size: 14px;
  }

  td.fs16 {
    font-size: 16px;
  }

  th:not(:first-child),
  td:not(:first-child) {
    padding: 0 10px;
    border-left-style: solid;
  }

  td.pointer:hover {
    background-color: #fff1;
  }

  .ico-expired {
    color: orangered;
  }

  td .ico-spinner,
  td .ico-sleeping,
  td .ico-cross {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin: 0 auto;
  }

  .micro-icon {
    width: 13px;
    height: 13px;
    bottom: 1px;
  }
}

.market-header button:hover {
  color: black;
}

table.balance-table button:hover {
  border-color: #959595;
}

.market-header {
  height: 30px;
  background-color: $light_bg_2;
  color: #222;

  button.selected {
    color: black;
  }
}

#orderForm {
  input[type=number] {
    height: 30px;
    border: 1px solid #6a6a6a;
    border-radius: 0;
    font-size: 14px;
  }

  input:focus {
    outline: none;
  }

  span.unitbox {
    position: absolute;
    font-size: 14px;
    font-family: 'demi-sans', sans-serif;
    right: 5px;
    top: 48%; // Looks better than 50 for some reason.
    transform: translateY(-50%);
    white-space: nowrap;
  }

  button {
    padding: 5px 25px;
    border-radius: 3px;
    color: #555;
  }

  button:hover,
  button.selected {
    color: black;
  }

  button.submit {
    background-color: #5cba8b;
  }

  button.selected,
  button.submit {
    &.buygreen {
      background-color: #207a4699;
    }

    &.sellred {
      background-color: #99302b99;
    }
  }

  .ico-unlocked {
    color: #1e7d11;
  }

  #orderPreview,
  .h21 {
    height: 21px;
  }
}

#marketChart {
  position: relative;
  background-color: white;
  height: 40%;
  border-bottom: 1px solid #626262;
  padding-top: 20px;

  .chart-legend {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    height: 30px;
    font-size: 14px;
    color: #444;

    .epoch-line {
      display: inline-block;
      border-top: 3px dotted #626262;
      width: 25px;
      height: 0;
      margin-right: 5px;
      position: relative;
      top: 1px;
    }

    .category-spacer {
      display: inline-block;
      margin: 0 7px;
      position: relative;
      bottom: 2px;

      &::after {
        content: '|';
      }
    }

    button {
      border-left: 1px solid #333;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      padding: 0 10px;
      color: #999;
    }
  }
}

#marketLoader {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

#marketLoader > div {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

#chartResizer {
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 100%;
  z-index: 2;
  cursor: ns-resize;
}

.markettab {
  background-color: transparent;
  border-right: 1px solid black;
  border-radius: 4px 4px 0 0;
}

.markettab.selected {
  background-color: #f9f9f9;
}

.brdrleft {
  border-left: 1px solid #6a6a6a;
}

.brdrright {
  border-right: 1px solid #6a6a6a;
}

.market-bal {
  border: 1px solid #6a6a6a;
  border-radius: 3px;
}

.market-bal-lbl {
  display: block;
  position: absolute;
  left: 10px;
  top: -11px;
  padding: 0 3px;
  font-size: 16px;
  font-family: 'demi-sans', sans-serif;
  background-color: $light_bg_1;
}

#orders {
  .ico-unlocked {
    color: #1e7d11;
  }

  .userorders {
    min-height: 200px;
  }
}

.orders-left {
  min-height: 350px;
}

.order-panel {
  min-height: 500px;
}

#loaderMsg {
  color: #777;
}

#registrationStatus {
  .title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &.waiting {
    .title {
      color: #9b8c09;
    }
  }

  &.completed {
    .title {
      color: #5cba8b;
    }

    #regStatusMessage {
      display: none;
    }
  }

  &.error {
    .title {
      color: red;
    }
  }
}

#verifyForm {
  .echo-data span {
    margin: 0 5px;
  }

  .disclaimer {
    text-align: justify;

    .red {
      color: #f55a;
    }
  }

  .header {
    &.buygreen {
      background-color: #207a4699;
    }

    &.sellred {
      background-color: #99302b99;
    }
  }

  button.selected {
    &.buygreen {
      background-color: #207a4699;
    }

    &.sellred {
      background-color: #99302b99;
    }
  }
}

div.numorders {
  color: white;
  background-color: rgb(94, 94, 130);
  border-radius: 3px;
}

#liveTable {
  th,
  td {
    padding: 2px 10px;
    white-space: nowrap;

    &.last {
      flex: 1;
      min-width: 57px;
    }
  }

  th {
    align-items: center;

    &:hover {
      opacity: 0.7;
    }

    .ico-arrowdown {
      display: inline-block;
      visibility: hidden;
      vertical-align: middle;
      font-size: 10px;
      margin-left: 5px;
    }

    &.sorted-dsc {
      .ico-arrowdown {
        visibility: visible;
      }
    }

    &.sorted-asc {
      .ico-arrowdown {
        visibility: visible;
        transform: rotate(180deg);
      }
    }
  }

  tr {
    cursor: pointer;
  }

  .ico-cross {
    font-size: 12px;
    cursor: pointer;
  }
}
