body.dark {
  div[data-handler=markets] {
    table.ordertable {
      color: #a1a1a1;
    }

    .numorders {
      background-color: #141488;
    }

    #orderTypeBttns {
      border-color: $dark_border_color;
    }

    .markettab {
      background-color: $dark_main_bg;
      border-color: $dark_border_color;

      &.selected {
        background-color: $dark_dialog_bg;
      }
    }

    .market-bal {
      border: 1px solid $dark_border_color;
      border-radius: 3px;
    }

    .brdrleft {
      border-left: 1px solid $dark_border_color;
    }

    .brdrright {
      border-right: 1px solid $dark_border_color;
    }

    .brdrtop {
      border-top: 1px solid $dark_border_color;
    }

    .brdrbottom {
      border-bottom: 1px solid $dark_border_color;
    }

    .chart-legend {
      color: #999;
    }

    .ordertable-wrap {
      &:first-child {
        border-bottom: 1px solid $dark_border_color;
      }

      &:last-child {
        border-top: 1px solid $dark_border_color;
      }

      tbody#sellRows {
        border-top: 1px solid $dark_border_color;
      }
    }

    #notRegistered,
    #registrationStatus,
    #bondCreationPending {
      background-color: $dark_dialog_bg;
    }

    .charts, 
    .orderbook,
    .balances-panel,
    .user-order-panel,
    #recentMatchesBox {
      background: $dark_main_bg;
    }

    .order-panel {
      border-left-color: $dark_body_bg;
    }

    .orderbook {
      border-right-color: $dark_body_bg;

      .ordertable-header {
        background-color: $dark_dialog_bg;
      }
    }

    .user-order {
      border: none;
      border-bottom: 1px solid $dark_border_color;

      &:first-child {
        border-top: 1px solid $dark_border_color;
      }

      .order-details {
        border-color: $dark_border_color;
      }

      .user-order-header {
        .side-indicator {
          &.buy {
            background-color: $buycolor_dark;
          }

          &.sell {
            background-color: $sellcolor_dark;
          }
        }

        .active-indicator.active {
          background-color: $buycolor_dark;
        }
      }
    }

    #orderForm {
      background: $dark_dialog_bg;
      color: #a1a1a1;

      button {
        color: #aaa;
      }

      button:hover,
      button.selected {
        color: #eee;
      }

      button.submit {
        background-color: #0b5831;
        color: #eee;
      }

      button.selected,
      button.submit {
        &.buygreen-bg {
          background-color: #29bb7799;
        }

        &.sellred-bg {
          background-color: #e95e5e99;
        }
      }
    }

    #verifyForm {
      .header {
        &.buygreen-bg {
          background-color: #29bb7799;
        }

        &.sellred-bg {
          background-color: #e95e5e99;
        }
      }

      button.selected {
        &.buygreen-bg {
          background-color: #29bb7799;
        }

        &.sellred-bg {
          background-color: #e95e5e99;
        }
      }

      .order-opt.selected {
        background-color: #222e38;
      }
    }

    #leftMarketDock {
      border-color: $dark_border_color;
      background-color: $dark_main_bg;

      #searchBoxV1 {
        border-color: $dark_border_color;

        #leftHider {
          border-color: $dark_border_color;
        }
      }
    }
  }

  #main .market-stats-v1 {
    border-bottom: 1px solid $dark_border_color;
  }

  #durBttnBox,
  #epochLine {
    background-color: $dark_main_bg;

    .candle-dur-bttn {
      background-color: $dark_main_bg;
    }
  }

  #marketReopener {
    border-color: $dark_border_color;
    background-color: $dark_main_bg;
  }

  .user-order-floaty-menu {
    border-color: $dark_border_color $dark_input_border $dark_input_border $dark_input_border;
    background-color: $dark_main_bg;
  }
}

@include media-breakpoint-up(lg) {
  body.dark div[data-handler=markets] {
    .orderbook {
      border-left: none;
      border-top: none;
    }

    .ordertable-wrap {
      &:first-child {
        border-bottom: 1px solid $dark_border_color;
      }

      &:last-child {
        border-top: 1px solid $dark_border_color;
      }

      tbody#sellRows {
        border-top: none;
      }
    }
  }
}
