body.dark {
  div[data-handler=markets] {
    input[type=number] {
      border-color: #444;
    }

    table.ordertable {
      color: #a1a1a1;

      tbody > tr:hover,
      tbody > tr.hover {
        background-color: #1d2936;
      }
    }

    .numorders {
      background-color: #141488;
    }

    .markettab.selected {
      background-color: #fff1;
    }

    .market-bal {
      border: 1px solid $dark_border_color;
      border-radius: 3px;
    }

    .brdrleft {
      border-left: 1px solid $dark_border_color;
    }

    .brdrright {
      border-right: 1px solid $dark_border_color;
    }

    .brdrtop {
      border-top: 1px solid $dark_border_color;
    }

    .brdrbottom {
      border-bottom: 1px solid $dark_border_color;
    }

    .chart-legend {
      color: #999;
    }

    .ordertable-wrap {
      &:first-child {
        border-bottom: 1px solid $dark_border_color;
      }

      &:last-child {
        border-top: 1px solid $dark_border_color;
      }

      tbody#sellRows {
        border-top: 1px solid $dark_border_color;
      }
    }

    .orderbook {
      border-right: 1px solid $dark_border_color;
      border-left: 1px solid $dark_border_color;
      border-top: 1px solid $dark_border_color;
    }

    .order-panel > div {
      border: 1px solid $dark_border_color;
    }

    .user-order {
      border: 1px solid $dark_border_color;

      .order-details {
        border-color: $dark_border_color;
      }

      .user-order-header {
        .side-indicator {
          &.buy {
            background-color: $buycolor_dark;
          }

          &.sell {
            background-color: $buycolor_dark;
          }
        }

        .active-indicator.active {
          background-color: $buycolor_dark;
        }
      }
    }

    #orderForm {
      color: #a1a1a1;

      button {
        color: #aaa;
      }

      button:hover,
      button.selected {
        color: #eee;
      }

      button.submit {
        background-color: #0b5831;
        color: #eee;
      }

      button.selected,
      button.submit {
        &.buygreen-bg {
          background-color: #29bb7799;
        }

        &.sellred-bg {
          background-color: #e95e5e99;
        }
      }
    }

    #verifyForm {
      .header {
        &.buygreen-bg {
          background-color: #29bb7799;
        }

        &.sellred-bg {
          background-color: #e95e5e99;
        }
      }

      button.selected {
        &.buygreen-bg {
          background-color: #29bb7799;
        }

        &.sellred-bg {
          background-color: #e95e5e99;
        }
      }

      .order-opt.selected {
        background-color: #222e38;
      }
    }

    #leftColumnV1 {
      border-color: $dark_border_color;
      background-color: $dark_body_bg;

      #searchBoxV1 {
        border-color: $dark_border_color;

        #leftHider {
          border-color: $dark_border_color;
        }
      }
    }
  }

  .twentyfour {
    border-left: 1px solid $dark_border_color;

    .data-point span.label {
      border-bottom: 1px solid $dark_border_color;
    }
  }

  #main .market-stats-v1 {
    border-bottom: 1px solid $dark_border_color;
  }

  #durBttnBox,
  #epochLine {
    background-color: $dark_body_bg;

    .candle-dur-bttn {
      background-color: $dark_body_bg;
    }
  }
}

@include media-breakpoint-up(lg) {
  body.dark div[data-handler=markets] {
    .orderbook {
      border-left: none;
      border-top: none;
    }

    .ordertable-wrap {
      &:first-child {
        border-bottom: 1px solid $dark_border_color;
      }

      &:last-child {
        border-top: 1px solid $dark_border_color;
      }

      tbody#sellRows {
        border-top: none;
      }
    }
  }
}
