div.marketlist {
  width: 200px;
  border-right: 1px solid #626262;
  z-index: 99;
  background-color: #dbdbdb;

  .selected {
    border-style: solid none solid none;
    border-width: 1px;
    border-color: #aaa;
  }
}

div.marketrow {
  font-size: 17px;
  padding: 0.5em;
  font-family: 'demi-sans', sans-serif;
  cursor: pointer;
}

div.marketrow:hover,
div.marketrow.selected {
  background-color: #f0f7f7;
}

label.market-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
  background-color: white;

  input {
    border: none;
  }
}

div.marketforms,
div.settingsforms {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
}

#marketChart {
  position: relative;
  background-color: white;
  height: 250px;
  border-bottom: 1px solid #626262;
}

#marketLoader {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

#marketLoader > div {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.marketorders {
  display: block;
  min-height: 375px;
  overflow: hidden;
}

table.ordertable {
  border-collapse: collapse;
  border: none;
  width: 100%;

  th {
    font-size: 13px;
    font-family: 'demi-sans', sans-serif;
  }

  td {
    font-size: 14px;
  }

  td,
  th {
    font-size: 14px;
    padding: 2px 0;
  }

  tr {
    border-bottom: 1px solid #b3b3b3;
  }

  tbody > tr:hover {
    background-color: $light_bg_1;
  }

  .ico-check {
    color: #9b8c09;
  }
}

.market-header {
  height: 30px;
  background-color: $light_bg_2;
  color: black;
}

.markettab {
  background-color: transparent;
  border-right: 1px solid black;
  border-radius: 4px 4px 0 0;
}

.markettab.selected {
  background-color: #f9f9f9;
}

.brdrleft {
  border-left: 1px solid #6a6a6a;
}

.brdrright {
  border-right: 1px solid #6a6a6a;
}

.market-bal {
  border: 1px solid #6a6a6a;
  border-radius: 3px;
}

.market-bal-lbl {
  display: block;
  position: absolute;
  left: 10px;
  top: -11px;
  padding: 0 3px;
  font-size: 14px;
  font-family: 'demi-sans', sans-serif;
  background-color: $light_bg_1;
}

#orders {
  button.newwallet {
    padding: 2px 5px;
    margin: 5px 0;
    font-size: 13px;
    border: 1px solid #444;
    border-radius: 3px;
  }

  .ico-unlocked {
    color: #1e7d11;
  }
}

#loaderMsg {
  padding: 1rem;
  color: red;
}

#registrationStatus {
  padding: 0.5rem;
  border: 1px solid #6a6a6a;

  .title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &.waiting {
    .title {
      color: #9b8c09;
    }
  }

  &.completed {
    .title {
      color: #5cba8b;
    }

    #regStatusMessage {
      display: none;
    }
  }

  &.error {
    .title {
      color: red;
    }
  }
}

#orderForm {
  min-height: 375px;

  input[type=number] {
    height: 30px;
    border: 1px solid #6a6a6a;
    border-radius: 0;
    font-size: 14px;
  }

  input:focus {
    outline: none;
  }

  span.unit {
    position: absolute;
    font-size: 14px;
    font-family: 'demi-sans', sans-serif;
    right: 5px;
    top: 48%; // Looks better than 50 for some reason.
    transform: translateY(-50%);
  }

  button.submit {
    background-color: #5cba8b;
  }

  button.selected {
    background-color: #7e9ad9;
  }

  .ico-unlocked {
    color: #1e7d11;
  }
}

#verifyForm span {
  margin: 0 5px;
}

#liveTable {
  th,
  td {
    padding: 2px 10px;
  }

  .ico-cross {
    font-size: 12px;
    cursor: pointer;
  }
}
