div[data-handler=mmsettings],
div[data-handler=mm] {
  .modified {
    border: 1px solid $warning !important;
  }

  #gapStrategySelect {
    width: 300px;
  }

  .gap-factor-input,
  .lots-input {
    max-width: 75px;
  }

  .settings-card {
    @include border;

    background-color: var(--body-bg);
    margin: 0 1rem 2rem;
    padding: 0.5rem;
  }

  .xclogo {
    &.small {
      width: 16px;
      height: 16px;
    }
  
    &.large {
      width: 60px;
      height: 60px;
    }

    &.medium {
      width: 30px;
      height: 30px;
    }

    &.off {
      filter: grayscale(1);
    }
  }

  #profitInput {
    width: 70px;
  }

  .bot-type-selector {
    @include border;
    @extend .rounded3;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    user-select: none;

    &.disabled {
      opacity: 0.5;
    }

    &:not(.disabled) {
      @extend .hoverbg;

      cursor: pointer;

      &.selected {
        outline: 2px solid $success;
        background-color: #7772;
      }
    }
  }
 
  #marketFilterIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }

  #botTypeForm {
    min-width: 375px;
  }

  #cexSelection {
    .cex-selector {
      user-select: none;

      &.configured:not(.selected) {
        opacity: 0.8;
      }
    }

    &.disabled {
      .cex-selector.configured {
        opacity: 0.5;
      }

      .cex-selector:not(.configured) {
        cursor: pointer;
      }
    }

    &:not(.disabled) {
      .cex-selector {
        @extend .hoverbg;

        cursor: pointer;

        &.selected {
          border-color: $success;
          border-width: 2px;
          background-color: #7772;
        }
      }
    }

    .reconfig {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .ico-rocket {
    color: $success;
  }

  .ico-sleeping {
    color: #7777;
  }

  #buyPlacementsBox {
    .ico-cross {
      color: $danger;
    }
  }

  #noBots {
    .ico-robot {
      font-size: 100px;
      opacity: 0.7;
    }
  }

  .on-indicator {
    width: 15px;
    height: 15px;
    border-radius: 8px;

    &.on {
      background-color: $warning;
    }

    &.off {
      background-color: #777;
    }
  }
}
