div[data-handler=mmsettings],
div[data-handler=mmarchives],
div[data-handler=mmlogs],
div[data-handler=mm] {
  .gap-factor-input,
  .lots-input {
    max-width: 75px;
  }

  .pt-pt5 {
    padding-top: 0.125rem;
  }

  .bot-type-selector {
    @include border;
    @extend .rounded3;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    user-select: none;

    &.disabled {
      opacity: 0.5;
    }

    &:not(.disabled) {
      @extend .hoverbg;

      cursor: pointer;

      &.selected {
        outline: 2px solid $success;
        background-color: #7772;
      }
    }
  }

  .bot-problems-section {
    background-color: #f00a;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    border-radius: 5px;
  }

  #marketFilterInput {
    padding-right: 35px;
  }

  #marketFilterIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    pointer-events: none;
  }

  #botTypeForm {
    min-width: 375px;
  }

  #cexSelection {
    .cex-selector {
      user-select: none;

      &.configured:not(.selected) {
        opacity: 0.8;
      }
    }

    &.disabled {
      .cex-selector.configured {
        opacity: 0.5;
      }

      .cex-selector:not(.configured) {
        cursor: pointer;
      }
    }

    &:not(.disabled) {
      .cex-selector {
        @extend .hoverbg;

        cursor: pointer;

        &.selected {
          border-color: $success !important;
          border-width: 2px !important;
          background-color: #7772 !important;
        }
      }
    }

    .reconfig {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  #noBots {
    .ico-robot {
      font-size: 80px;
      opacity: 0.7;
    }
  }

  #dexOrderDetailsForm,
  #cexOrderDetailsForm,
  #depositDetailsForm,
  #withdrawalDetailsForm {
      min-width: 400px;
  }

  .configure-bot-market-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
  }

  .configure-bot-market-display:hover {
    background-color: rgb(0 123 255 / 10%);
  }

  .configure-bot-bot-type-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
  }

  .configure-bot-bot-type-display:hover {
    background-color: rgb(0 123 255 / 10%);
  }

  .configure-bot-tab-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    background-color: transparent;
    color: #6c757d;
    border: none;
  }

  .configure-bot-tab-section:hover {
    background-color: rgb(0 123 255 / 10%);
    color: #0056b3;
  }

  .configure-bot-tab-section.active {
    background-color: rgb(0 123 255 / 15%);
    color: white;
  }

  .configure-bot-tab-section.active:hover {
    background-color: rgb(0 123 255 / 20%);
    color: white;
  }

  .placements-chart-wrapper {
    width: 100%;
    height: 200px;
    border: 1px solid #595a5a;
    border-radius: 0.25rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
