
#main.mmsettings {
  .placement-table {
    width: 100%;

    th,
    td {
      padding: 5px;
    }

    tr {
      border-top: 1px solid $dark_border_color;
    }

    tr:last-child {
      border-bottom: 1px solid $dark_border_color;
    }
  }

  .slider-container {
    border: 1px solid #424242;
    border-radius: 3px;
    padding: 4px;
    margin-top: 8px;
    opacity: 0.9;

    .xy-range-input {
      width: 35px;
      font-size: 14px;
      height: 16px;
    }

    .slider {
      margin: 10px 10px 5px;
      height: 2px;
      background-color: grey;
      position: relative;

      .slider-handle {
        position: absolute;
        height: 20px;
        width: 14px;
        top: -9px;
        border-radius: 7px;
        background-color: #2cce9c;
        border: 2px solid #424242;
        cursor: pointer;
      }
    }
  }

  .modified {
    border: 1px solid orange !important;
  }

  .remove-placement-btn {
    color: #99302b99;
  }

  .add-placement-btn {
    color: green;
  }

  .settings-updated-msg {
    color: green;
    font-weight: bold;
  }

  #gapStrategySelect {
    width: 300px;
  }

  table.oracles-table {
    font-size: 15px;

    img {
      width: 16px;
      height: 16px;
    }

    tr {
      border-style: solid none;
      border-width: 1px;
      border-color: #7777;
    }

    td:first-child {
      width: 25px;
    }

    td {
      white-space: nowrap;
    }

    td:last-child {
      text-align: right;
      padding-left: 10px;
    }
  }

  .gap-factor-input,
  .lots-input {
    max-width: 75px;
  }

  .settings-card {
    background-color: #102332;
    margin: 0 1rem 2rem;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid $dark_border_color;
  }
}

body.dark #main.mmsettings {
  #gapStrategySelect:disabled {
      background-color: #343232;
  }
}
