
#main.mmsettings {
  .placement-table {
    width: 100%;

    th,
    td {
      padding: 5px;
    }

    tr {
      border-top: 1px solid $dark_border_color;
    }

    tr:last-child {
      border-bottom: 1px solid $dark_border_color;
    }
  }

  .modified {
    border: 1px solid orange !important;
  }

  .remove-placement-btn {
    color: #99302b99;
  }

  .add-placement-btn {
    color: green;
  }

  .settings-updated-msg {
    color: green;
    font-weight: bold;
  }

  #gapStrategySelect {
    width: 300px;
  }

  table.oracles-table {
    font-size: 15px;

    img {
      width: 16px;
      height: 16px;
    }

    tr {
      border-style: solid none;
      border-width: 1px;
      border-color: #7777;
    }

    td:first-child {
      width: 25px;
    }

    td {
      white-space: nowrap;
    }

    td:last-child {
      text-align: right;
      padding-left: 10px;
    }
  }

  .gap-factor-input,
  .lots-input {
    max-width: 75px;
  }

  .settings-card {
    background-color: #102332;
    margin: 0 1rem 2rem;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid $dark_border_color;
  }

  .xclogo {
    &.large {
      width: 60px;
      height: 60px;
    }

    &.medium {
      width: 30px;
      height: 30px;
    }

    &.off {
      filter: grayscale(1);
    }
  }

  .cex-selector {
    &:not(.selected) {
      opacity: 0.8;
      transform: scale(0.95);
    }

    &.selected {
      border-color: green;
      border-width: 2px;
    }
  }

  #profitInput {
    width: 70px;
  }
}
