
div[data-handler=mmsettings] {
  .placement-table {
    width: 100%;

    th,
    td {
      padding: 5px;
    }

    tr {
      border-top: 1px solid $dark_border_color;
    }

    tr:last-child {
      border-bottom: 1px solid $dark_border_color;
    }
  }

  .modified {
    border: 1px solid orange !important;
  }

  .remove-placement-btn {
    color: #99302b99;
  }

  .add-placement-btn {
    color: green;
  }

  .settings-updated-msg {
    color: green;
    font-weight: bold;
  }

  #gapStrategySelect {
    width: 300px;
  }

  table.oracles-table {
    font-size: 15px;

    img {
      width: 16px;
      height: 16px;
    }

    tr {
      border-style: solid none;
      border-width: 1px;
      border-color: #7777;
    }

    td:first-child {
      width: 25px;
    }

    td {
      white-space: nowrap;
    }

    td:last-child {
      text-align: right;
      padding-left: 10px;
    }
  }

  .gap-factor-input,
  .lots-input {
    max-width: 75px;
  }

  .settings-card {
    background-color: #102332;
    margin: 0 1rem 2rem;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid $dark_border_color;
  }

  .xclogo {
    &.large {
      width: 60px;
      height: 60px;
    }

    &.medium {
      width: 30px;
      height: 30px;
    }

    &.off {
      filter: grayscale(1);
    }
  }

  #profitInput {
    width: 70px;
  }

  .bot-type-selector {
    @extend .brdr;
    @extend .rounded3;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    user-select: none;

    &.disabled {
      opacity: 0.5;
    }

    &:not(.disabled) {
      @extend .hoverbg;

      cursor: pointer;

      &.selected {
        border: 2px solid green;
        background-color: #7772;
      }
    }

    
  }

  table#marketSelectionTable {
    td,
    th {
      padding: 10px 10px 10px 0;
      border-bottom: 1px solid $dark-border-color;
    }
  }

  #marketFilterIcon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }

  #botTypeForm {
    min-width: 375px;
  }

  #cexSelection {
    .cex-selector {
      user-select: none;

      &.configured:not(.selected) {
        opacity: 0.8;
      }
    }

    &.disabled {
      .cex-selector.configured {
        opacity: 0.5;
      }

      .cex-selector:not(.configured) {
        cursor: pointer;
      }
    }

    &:not(.disabled) {
      .cex-selector {
        @extend .hoverbg;

        cursor: pointer;

        &.selected {
          border-color: green;
          border-width: 2px;
          background-color: #7772;
        }
      }
    }
  }
}

body.dark div[data-handler=mmsettings] {
  .bot-type-selector:not(.disabled).selected {
    border: 2px solid green;
  }
}