.filter-display {
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.orders-left-side {
  @include border-right;
  
  background-color: var(--body-bg-secondary);
}

.filter-opts {
  @include margin-bottom(3);

  position: relative;
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.apply-bttn {
  @include margin-top(2);
  @include margin-right(2);

  text-align: right;
}

#ordersTable {
  tr:nth-of-type(even) {
    background-color: #7772;
  }
}
