.filter-display {
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.orders-left-side {
  background-color: var(--body-bg-secondary);
}

.filter-opts {
  position: relative;
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
