div.order-datum {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  text-align: center;
  font-size: 15px;

  @include border;
  @include margin(1, 2, 1, 0);

  div:first-child {
    @include padding(1, 3, 1, 3);
    @include border-bottom;

    font-family: $demi-sans;
    background-color: var(--body-bg-tertiary);
  }

  div:last-child,
  a:last-child {
    @include padding(1, 3, 1, 3);
  }
}

div.match-header {
  @include padding(2, 0, 2, 0);

  background-color: var(--body-bg-tertiary);
}

div.match-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 14px;
  
  @include margin(0, 4, 2, 0);
  @include border;

  .red {
    color: $danger;
  }
}

.match-data-label {
  opacity: 0.5;
  font-family: $demi-sans;
}

#accelerateForm {
  width: 500px;
}
