.vote-icon {
  color: #fff;
  display: block;
}

.proposal-content h1, h2, h3 {
  font-size: 1.3rem;
}

.vote-btn {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 420px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}

.vote-btn .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: 700;
}

.vote-btn .label {
  flex: 1;
  text-align: center;
}

.vote-yes {
  background: #6dff4f;
}

.vote-no {
  background: #d81e14;
}

.vote-btn.active {
  border: 3px solid var(--btn-go-bg);
}
