div.settings {
  min-width: 375px;

  & > div {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid #7777;
  }

  & > div:first-child {
    border-top: 1px solid #7777;
  }

  div.form-check {
    padding-left: 25px;
  }

  button {
    opacity: 0.9;
  }

  button:hover {
    opacity: 1;
  }
}

span.settings-gear {
  display: inline-block;
  font-size: 40px;
  opacity: 0.6;
  margin: 10px;
}

div.settings-exchange {
  padding: 5px;
  margin-bottom: 10px;
  background: rgba(0 0 0 / 5%);
}

#disableAccountForm {
  .red {
    color: #f55a;
  }
}

#seedDiv {
  word-break: break-all;
  user-select: all;
}

.dex-settings-icon {
  font-size: 15;
  margin-left: 0.5rem;
}

#browserNotificationsForm {
  & .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1rem;
    
    & .form-check {
      width: 48%; 
      box-sizing: border-box;
    }
  }
}
