body.dark {
  .walletspage {
    #marketsOverviewBox {
      border-left: 1px solid $dark_border_color;
      border-bottom: 1px solid $dark_border_color;
    }

    #walletDetailsBox {
      border-bottom: $dark_border_color;
    }

    #peersTable,
    #tokenVersionTable {
      @extend .table-dark;
    }

    table#balanceTable {
      tr.first-other {
        border-top: 1px solid $dark_border_color;
      }
    }

    #stakingBox {
      border-color: $dark_border_color;
    }

    table#vspPickerTable {
      border: 1px solid $dark_border_color;

      th,
      tr:not(:last-child) {
        border-bottom: 1px solid $dark_border_color;
      }

      td:not(:first-child) {
        border-color: $dark_border_color;
      }
    }
  }
}
