table.wallets {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 3px;
  font-size: 16px;

  tbody tr {
    background-color: $light_bg_1;
  }

  th {
    padding: 5px 10px;
  }

  td {
    border-width: 1px;
    border-color: #aaa;
    border-style: solid none;
    padding: 7px 10px;
  }

  td:last-child {
    border-style: solid solid solid none;
  }

  td:first-child {
    border-style: solid none solid solid;
  }

  th:last-child,
  td:last-child {
    text-align: right;
  }

  img {
    vertical-align: middle;
    margin-right: 5px;
  }

  button {
    background-color: white;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid #7776;
  }

  button:not(:last-child) {
    margin-right: 5px;
  }

  td.status-col {
    text-align: left;

    span {
      margin-right: 10px;
    }

    span.txt-status {
      font-size: 15px;
    }

    .red {
      color: #bd4646;
    }

    .grey {
      color: #999;
    }
  }

  .ico-unlocked {
    color: #1e7d11;
  }
}

#marketBox {
  position: relative;
  max-width: 80%;
}

#depositAddress {
  user-select: all;
}

#recoverWalletConfirm,
#confirmForce {
  width: 400px;
}

#copyAddressBtn:hover {
  cursor: pointer;
  color: #a8a8a8;
}

#copyAlert {
  margin-left: 12px;
  position: absolute;
}

#restoreWalletInfo,
#exportWalletAuth {
  width: 450px;
}

.warning-text {
  text-decoration: underline;
  text-decoration-color: #d11414;
  color: #d11414;
  font-size: bold;
}
