.walletspage {
  .ico-unlocked {
    color: #1e7d11;
  }

  .market-select-logo {
    width: 20px;
    height: 20px;
  }

  .short-host {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 175px;
  }

  .mw-90p {
    min-width: 90%;
  }

  #depositAddress {
    user-select: all;
  }

  #recoverWalletConfirm,
  #confirmForce,
  #toggleWalletStatusConfirm {
    width: 400px;
  }

  .copy-btn:hover {
    cursor: pointer;
    color: #a8a8a8;
  }

  img {
    vertical-align: middle;
    margin-right: 5px;
  }

  #assetSelect {
    border-right: 1px solid $dark-border-color;

    .icon-select {
      padding: 15px;
      cursor: pointer;
      min-height: fit-content;

      img[data-tmpl=img] {
        width: 40px;
        height: 40px;
      }

      img[data-tmpl=parentImg] {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 28px;
        height: 28px;
        border-radius: 15px;
        background-color: $light_body_bg;
        border: 3px solid $light_body_bg;
      }
    }

    .icon-select.nowallet {
      opacity: 0.7;

      [data-tmpl=balance] {
        display: none;
      }
    }

    .icon-select:hover,
    .icon-select.selected {
      opacity: 1;
      background-color: #fff;
    }
  }

  #assetName {
    font-size: 35px;
  }

  #sendReceive > button {
    border-radius: 3px;
  }

  table#balanceTable {
    td {
      padding: 2px 0;
      line-height: 1;
    }

    td:last-child {
      text-align: right;
    }

    tr.first-other {
      border-top: 1px solid $light_border_color;
    }
  }

  #balanceBreakdownBox {
    padding-bottom: 25px;
  }

  #walletInfo {
    padding-top: 25px;
    border-top: solid 1px #777;

    table#walletInfoTable {
      width: 100%;

      td {
        padding: 2px 5px 2px 0;
        line-height: 1;

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  #availableMarketsTable {
    img {
      width: 15px;
      height: 15px;
      margin: 2px;
    }

    & > button {
      border-radius: 3px;
    }

    th {
      font-size: 15px;
      padding: 5px 0;
    }

    td:not(:last-child) {
      padding-right: 10px;
    }

    tr {
      border-bottom: 1px solid #7773;
    }
  }

  table#ordersTable, #txHistoryTable {
    th {
      font-size: 15px;
    }

    td,
    th {
      padding: 3px 10px;
    }

    tr {
      border-bottom: 1px solid #7773;
    }

    tbody {
      font-size: 15px;
    }
  }

  #txHistoryTableContainer {
    max-height: 350px;
    overflow-y: auto;
    width: 100%;
    text-align: center;
  }

  #earlierTxs, #txViewBlockExplorer {
    text-decoration: underline;
    cursor: pointer;
  }

  #checkmarkBox {
    width: 100px;
    height: 100px;
  }

  @include media-breakpoint-up(lg) {
    #txHistoryBox, #orderActivityBox {
      border-left: 1px solid $light_border_color;
    }
  }

  #walletDetailsBox {
    border-bottom: $light_border_color;

    #assetLogo {
      width: 35px;
      height: 35px;
    }

    #tokenParentLogo {
      width: 18px;
      height: 18px;
    }

    #contractAddress {
      opacity: 0.4;
    }
  }

  .peers-table-icon {
    padding-left: 30%;
  }

  #peersTable,
  #tokenVersionTable {
    @extend .table;
    @extend .table-striped;
  }

  #stakingBox {
    border-width: 1px;
    border-style: solid none;
    border-color: $light_border_color;
  }

  table#vspPickerTable,
  table#ticketHistoryTable {
    border: 1px solid $light_border_color;

    th,
    tr:not(:last-child) {
      border-bottom: 1px solid $light_border_color;
    }

    th,
    td {
      padding: 5px 15px 5px 10px;
    }

    td:not(:first-child) {
      text-align: right;
      border-left: solid;
      border-left-width: 1px;
      border-color: $light_border_color;
    }
  }

  #purchaserInput {
    width: 4em;
  }

  #vspDisplay {
    #vspEditIcon {
      display: none;
    }

    &:hover #vspEditIcon {
      display: inline;
    }
  }
}

@include media-breakpoint-up(xxxl) {
  .no-overflow-xxxl {
    overflow: hidden;
  }

  #marketsOverviewBox {
    border-left: 1px solid $light_border_color;
  }

  .walletspage {
    .flex-nowrap-xxxl {
      flex-wrap: nowrap;
    }

    div#orderActivityBox {
      border-top: none;
    }
  }
}

@include media-breakpoint-up(lg) {
  .fill-abs-lg {
    @include fill-abs;
  }

  .stylish-overflow-lg {
    @include stylish-overflow;
  }

  .walletspage {
    #orderActivityBox {
      border-top: 1px solid $light-border-color;
    }

    #marketsOverviewBox {
      border-top: 1px solid $light-border-color;
      border-bottom: 1px solid $light_border_color;
    }

    #walletDetailsBox {
      border-bottom: none;
    }

    #mixerConfigForm {
      min-width: 325px;
    }
  }

  .flex-wrap-lg {
    flex-wrap: wrap;
  }

  #purchaseTicketsErrBox {
    background-color: $light_body_bg;
  }
}

@include media-breakpoint-up(md) {
  .walletspage {
    #walletInfo {
      padding-top: 0;
      padding-left: 25px;
      border-top: none;
      border-left: solid 1px #777;

      table#walletInfoTable {
        width: auto;
      }
    }
  }

  #balanceBreakdownBox {
    padding-right: 25px;
    padding-bottom: 0;
  }
}

#restoreWalletInfo,
#exportWalletAuth,
#unapproveTokenForm {
  width: 450px;
}

#txDetails {
  width: 450px;
  font-size: 17px;
}

.warning-text {
  text-decoration: underline;
  text-decoration-color: #d11414;
  color: #d11414;
  font-size: bold;
}

#sendAddr.invalid {
  border-color: #ee1a1a;
  box-shadow: 0 0 2px 2px #ee1a1a;
}

#submitReconfig[disabled] {
  cursor: not-allowed;
}

.ease-color {
  transition: color 1s ease;
}

#txDetailsBondSection, #txDetailsRecipientSection, #txDetailsNonceSection {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #777;
}

.positive-tx {
  color: #1e7d11;
}

.negative-tx {
  color: #d11414;
}
