body.dark {
  .walletspage {
    #marketsOverviewBox {
      border-left: 1px solid $dark_border_color;
      border-bottom: 1px solid $dark_border_color;
    }

    #walletDetailsBox {
      border-bottom: $dark_border_color;
    }
  }
}
