body.dark {
  .walletspage {
    #walletDetailsBox,
    #orderActivityBox,
    #marketsOverviewBox {
      background-color: $dark_main_bg;
    }

    #stakingBox {
      border-top-color: $dark_body_bg;
    }

    #marketsOverviewBox {
      border-left-color: $dark_body_bg;
    }

    #walletInfo {
      border-color: $dark_border_color
    }

    #peersTable,
    #tokenVersionTable {
      @extend .table-dark;
    }

    table#balanceTable {
      tr.first-other {
        border-top: 1px solid $dark_border_color;
      }
    }

    table#vspPickerTable,
    table#ticketHistoryTable {
      border: 1px solid $dark_border_color;

      th,
      tr:not(:last-child) {
        border-bottom: 1px solid $dark_border_color;
      }

      td:not(:first-child) {
        border-color: $dark_border_color;
      }
    }
  }

  #assetSelect {
    .icon-select {
      img[data-tmpl=parentImg] {
        background-color: $dark_body_bg;
        border-color: $dark_body_bg;
      }

      &:hover,
      &.selected {
        opacity: 1;
        background-color: $dark_main_bg;
      }
    }
  }
}
