.walletspage {
  .grey {
    color: #999;
  }

  .ico-unlocked {
    color: #1e7d11;
  }

  .market-select-logo {
    width: 20px;
    height: 20px;
  }

  .short-host {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 175px;
  }

  .mw-90p {
    min-width: 90%;
  }

  .bg1 {
    background-color: #0e0c1b;
  }

  .border-top-lt-xxl,
  .border-top-lt-lg {
    border-top: 1px solid #7777;
  }

  #depositAddress {
    user-select: all;
  }

  #recoverWalletConfirm,
  #confirmForce {
    width: 400px;
  }

  #copyAddressBtn:hover {
    cursor: pointer;
    color: #a8a8a8;
  }

  img {
    vertical-align: middle;
    margin-right: 5px;
  }

  #copyAlert {
    margin-left: 12px;
    position: absolute;
  }

  #assetSelect {
    .icon-select {
      padding: 15px;
      cursor: pointer;

      & > img {
        width: 40px;
        height: 40px;
      }
    }

    .icon-select.nowallet {
      opacity: 0.6;

      [data-tmpl=balance] {
        display: none;
      }
    }

    .icon-select:hover,
    .icon-select.selected {
      opacity: 1;
      background-color: #fff1;
    }
  }

  #assetLogo {
    width: 35px;
    height: 35px;
  }

  #assetName {
    font-size: 35px;
  }

  #sendReceive > button {
    border-radius: 3px;
  }

  table#balanceTable {
    td {
      padding: 2px 0;
      line-height: 1;
    }

    td:last-child {
      text-align: right;
    }
  }

  #balanceBreakdownBox {
    padding-bottom: 25px;
  }

  #walletInfo {
    padding-top: 25px;
    border-top: solid 1px #777;

    table#walletInfoTable {
      width: 100%;

      td {
        padding: 2px 5px 2px 0;
        line-height: 1;

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  #availableMarketsTable {
    img {
      width: 15px;
      height: 15px;
      margin: 2px;
    }

    & > button {
      border-radius: 3px;
    }

    th {
      font-size: 15px;
      padding: 5px 0;
    }

    td:not(:last-child) {
      padding-right: 10px;
    }

    tr {
      border-bottom: 1px solid #7773;
    }
  }

  table#ordersTable {
    th {
      font-size: 15px;
    }

    td,
    th {
      padding: 3px 10px;
    }

    tr {
      border-bottom: 1px solid #7773;
    }

    tbody {
      font-size: 15px;

      // tr:nth-child(even) {
      //   background-color: #7772;
      // }

      tr:hover {
        background-color: #7774;
      }
    }
  }

  #checkmarkBox {
    width: 100px;
    height: 100px;
  }
}

@include media-breakpoint-up(xxl) {
  .no-overflow-xxl {
    overflow: hidden;
  }

  .walletspage {
    .border-top-lt-xxl {
      border-top: none;
    }

    .flex-nowrap-xxl {
      flex-wrap: nowrap;
    }
  }
}

@include media-breakpoint-up(lg) {
  .fill-abs-lg {
    @include fill-abs;
  }

  .stylish-overflow-lg {
    @include stylish-overflow;
  }

  .walletspage {
    .bg1-lg {
      background-color: #0e0c1b;
    }

    .border-top-lt-lg {
      border-top: none;
    }
  }

  .flex-wrap-lg {
    flex-wrap: wrap;
  }
}

@include media-breakpoint-up(md) {
  .walletspage {
    #walletInfo {
      padding-top: 0;
      padding-left: 25px;
      border-top: none;
      border-left: solid 1px #777;

      table#walletInfoTable {
        width: auto;
      }
    }
  }

  #balanceBreakdownBox {
    padding-right: 25px;
    padding-bottom: 0;
  }
}

#restoreWalletInfo,
#exportWalletAuth {
  width: 450px;
}

.warning-text {
  text-decoration: underline;
  text-decoration-color: #d11414;
  color: #d11414;
  font-size: bold;
}
