*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/external/bin/
/external/include/
/external/*-build-stamp
/external/lib/
/external/share/
/external/test/
external/patches/*
obj
/.vagrant/
