{{define "walletIcons"}}
<span data-state="sleeping" class="ico-sleeping grey d-hide"></span>
<span data-state="locked" class="ico-locked grey d-hide"></span>
<span data-state="unlocked" class="ico-unlocked d-hide"></span>
<span data-state="syncing" class="ico-sync fs12 d-hide" data-tooltip="placeholder text"></span>
<span data-state="nopeers" class="ico-disconnected fs12 d-hide" data-tooltip="no peers!"></span>
<span data-state="nowallet"></span> {{/* not showing ico-cross */}}
{{end}}

{{define "markets"}}
{{template "top" .}}
<div id="main" data-handler="markets" class="main clear m-0 flex-nowrap">

  {{- /* MARKET LIST */ -}}
  <div class="marketlist">

    {{- /* SEARCH INPUT */ -}}
    <label class="market-search">
      <div><span class="ico-search px-2"></span></div>
      <div class="flex-grow-1 position-relative">
        <div class="fill-abs"><input type="text" id="marketSearch" class="px-1 fill-abs"></div>
      </div>
    </label>

    {{- /* LIST OF EXCHANGE SECTIONS WITH MARKETS */ -}}
    <div id="marketList">
      <div data-tmpl="xc" class="xc">
        <div class="header d-flex justify-content-start align-items-center ps-1 fs14 grey">
          <span class="ico-disconnected" title="disconnected" data-tmpl="disconnected"></span>
          <span data-tmpl="header"></span>
        </div>
        
        <div data-tmpl="mkts">
          <div class="marketrow" data-tmpl="mktrow">
            <div>
              <img class="micro-icon me-1" data-tmpl="baseIcon">
              <img class="micro-icon me-1" data-tmpl="quoteIcon">
              <div class="ps-1 pe-2 flex-grow-1">
                <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
              </div>
              <span data-tmpl="pctChange" class="upgreen fs14 demi d-hide pct-change"></span>
            </div>
            <div class="justify-content-between fs12 grey d-hide" data-tmpl="bottomRow">
              <span data-tmpl="assetName">Decred</span>
              <span data-tmpl="price">0.00296</span>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </div>

  {{- /* RIGHT COLUMN */ -}}
  <div id="rightSide" class="d-flex flex-column flex-grow-1 h-100 overflow-y-auto overflow-x-hidden">

    {{- /* CHART */ -}}

    <div id="marketChart" class="w-100">
      <div id="chartErrMsg" class="fs15 pt-3 text-center d-hide errcolor text-break"></div>
      <div id="marketLoader" class="fill-abs flex-center">
        <div class="ico-spinner spinner"></div>

      </div>
      <div class="chart-legend" id="chartLegend">
        <button class="chart-selector" id="candlestickBttn"></button>
        <button class="chart-selector d-hide" id="depthBttn"></button>
        <div class="d-flex align-items-center" id="epochLine"><div class="epoch-line"></div> epoka</div>
        <div class="flex-grow-1">
          <div id="hoverData" class="d-flex align-items-center d-hide">
            <span class="category-spacer text-center text-nowrap"></span>
            <span class="ico-target fs11 me-1"></span>
            <span id="depthHoverData">
              cena: <span id="hoverPrice"></span>,
              wolumen: <span id="hoverVolume"></span>
            </span>
            <span class="d-hide" id="candleHoverData">
              S: <span id="candleStart"></span>,
              E: <span id="candleEnd"></span>,
              L: <span id="candleLow"></span>,
              H: <span id="candleHigh"></span>,
              V: <span id="candleVol"></span>
            </span>
          </div>
        </div>
        <div id="depthSummary" class="d-flex align-items-center">
          <span>sprzedaż: <span id="sellBookedBase"></span> <span data-unit="base"></span>, <span id="sellBookedQuote"></span> <span data-unit="quote"></span></span>
          <span class="category-spacer"></span>
          <span class="me-2">kupno: <span id="buyBookedBase"></span> <span data-unit="base"></span>, <span id="buyBookedQuote"></span> <span data-unit="quote"></span></span>
        </div>
        <div class="d-flex flex-nowrap me-2 d-hide" id="durBttnBox"><button class="candle-dur-bttn" id="durBttnTemplate"></button></div>
      </div>
      <div id="chartResizer"></div>
    </div>

    {{- /* ORDERS */ -}}
    <div id="orders" class="w-100 d-flex flex-grow-1 flex-wrap bg1">

      <div class="orders-left col-24 col-xxl-14 p-0">
        <div class="row m-0 h-100">

          {{- /* BUY ORDER LIST */ -}}
          <div class="marketorders order-lg-1 order-2 col-lg-7 p-0 bg1 d-flex flex-column">
            <div class="market-header text-center fs14 py-1">Zlecenia kupna</div>
            <div class="brdrleft flex-grow-1 bg1 position-relative">
              <div class="market-orders-table-container stylish-overflow">
                <table class="ordertable">
                  {{block "thead" .}}
                  <thead>
                    <tr>
                      <th class="text-start ps-2">Ilość</th>
                      <th class="text-end pe-2">Kurs</th>
                      <th class="text-end pe-2">Epoka</th>
                    </tr>
                  </thead>
                  {{end}}
                  <tbody id="buyRows">
                    {{- /* This row is used by the app as a template. */ -}}
                    <tr id="rowTemplate">
                      <td class="ps-2">
                        <div class="d-flex justify-content-start align-items-center">
                          <div data-tmpl="qty">-</div>
                          <div class="numorders text-center ms-2" data-tmpl="numorders">-</div>
                        </div>
                      </td>
                      <td class="text-end pe-2" data-tmpl="rate">-</td>
                      <td class="text-end pe-3" data-tmpl="epoch"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          {{- /* ORDER PANEL */ -}}
          <div class="col-lg-10 order-1 order-lg-2 order-panel p-0 brdrleft brdrright d-flex flex-column">
            <div class="market-header fs14 d-flex justify-content-start ps-4 align-items-stretch">
              <button id="limitBttn" type="button" class="flex-center px-3 py-0 markettab brdrleft selected">Zlecenie oczekujące (limit)</button>
              <button id="marketBttn" type="button" class="flex-center px-3 py-0 markettab brdrleft brdrright">Zlecenie rynkowe (market)</button>
            </div>

            <div class="flex-grow-1 position-relative">
              <div class="fill-abs px-4 stylish-overflow">

                <div class="fs15 pt-3 text-center d-hide" id="loaderMsg"></div>

                {{- /* REGISTRATION STATUS */ -}}
                <div class="d-hide p-2 mt-2" id="registrationStatus">
                  <div class="p-0 w-100">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <span id="regStatusTitle" class="title"></span>
                      <p id="regStatusMessage">Żeby rozpocząć handel na <span id="regStatusDex" class="text-break"></span>, opłata rejestracyjna potrzebuje <span id="confReq"></span> potwierdzeń.
                      </p>
                      <span id="regStatusConfsDisplay"></span>
                    </div>
                  </div>
                </div>

                {{- /* ORDER FORM */ -}}
                <form id="orderForm" class="bg1">
                  <div class="p-0 w-100">

                    {{- /* BUY - SELL SELECTOR */ -}}
                    <div class="d-flex justify-content-start pt-4 pb-2 fs14">
                      <button id="buyBttn" type="button" class="bg2 buygreen selected">
                        Kupno
                        <span data-unit="base"></span>
                      </button>
                      <button id="sellBttn" type="button" class="bg2 sellred ms-2">
                        Sprzedaż
                        <span data-unit="base"></span>
                      </button>
                      <span></span>
                    </div>

                    {{- /* MARKET CONFIG */ -}}
                    <div class="d-flex justify-content-between my-2 fs14">
                      <div>
                        Rozmiar lotu:
                        <span id="lotSize"></span>
                        <span data-unit="base"></span>
                      </div>
                      <div>
                        Różnica ceny zlecenia:
                        <span id="rateStep"></span>
                        <span data-unit="quote"></span>
                      </div>
                    </div>
                    <div class="my-2 fs14 h21" id="maxBox">
                      <div id="maxOrd" class="d-hide position-relative pointer">
                        <span id="maxLotBox" class="d-hide">
                          <span class="underline">Max <span id="maxLbl">Kupno</span></span>:
                          <span id="maxFromLots"></span>
                          <span id="maxFromLotsLbl">lot</span>
                        </span>
                        <span id="maxAboveZero" class="d-hide">
                          ,
                          <span id="maxFromAmt"></span>
                          <span id="maxFromTicker"></span>
                          &rarr;
                          <span id="maxToAmt"></span>
                          <span id="maxToTicker"></span>
                        </span>
                      </div>
                    </div>

                    {{- /* RATE AND QUANTITY INPUTS */ -}}
                    <div class="d-flex mt-3" id="priceBox">
                      <label for="rateField" class="form-label col-6 d-flex align-items-center p-0">Cena</label>
                      <div class="col-18 p-0 position-relative">
                        <input type="number" class="form-control select bg1" id="rateField">
                        <span class="unitbox"><span class="unit" data-unit="quote"></span>/<span class="unit" data-unit="base"></span></span>
                      </div>
                    </div>
                    <div class="d-flex mt-4" id="qtyBox">
                      <label for="qtyField" class="form-label col-6 d-flex align-items-center p-0">Ilość</label>
                      <div class="col-6 p-0 position-relative">
                        <input type="number" class="form-control select bg1" id="lotField">
                        <span class="unit unitbox">Loty</span>
                      </div>
                      <div class="col-1 p-0"></div> {{/* spacer */}}
                      <div class="col-11 p-0 position-relative">
                        <input type="number" class="form-control select bg1" id="qtyField">
                        <span class="unit unitbox" data-unit="base"></span>
                      </div>
                    </div>

                    {{- /* MARKET BUY ORDER QUANTITY INPUT */ -}}
                    <div id="mktBuyBox" class="d-hide">
                      <div class="text-center mt-2 fs15">
                        minimalna wielkość zamówienia wynosi około <span id="minMktBuy"></span> <span data-unit="quote"></span>
                      </div>
                      <div class="d-flex justify-content-center mt-2">
                        <!-- <label for="mktBuyField" class="flex-center col-12 p-0">Trading</label> -->
                        <div class="col-12 p-0 position-relative">
                          <input type="number" class="form-control select bg1" id="mktBuyField">
                          <span class="unit unitbox" data-unit="quote"></span>
                        </div>
                      </div>
                      <div class="p-0 fs14 flex-center mt-1">
                        <span>
                          ~ <span id="mktBuyScore">0</span> <span data-unit="base"></span>
                          @ <span id="mktBuyLots">0</span> <span >Loty</span><br>

                        </span>
                      </div>
                    </div>

                    {{- /* ORDER PREVIEW */ -}}
                    <div class="mt-2 fs14 text-end" id="orderPreview"></div>

                    {{- /* TIME-IN-FORCE CHECK BOX */ -}}
                    <div class="my-1 text-start form-check" id="tifBox">
                      <input id="tifNow" class="form-check-input" type="checkbox" value="">
                      <label class="form-check-label" for="tifNow">
                        Immediate or cancel
                        <span class="ico-info fs12" data-tooltip="Jeśli zamówienie nie zostanie w pełni spasowane w następnym cyklu, pozostałe środki nie będą wystawiane ani pasowane ponownie. Zlecenie typu 'taker-only'."></span>
                      </label>
                    </div>

                    {{- /* SUBMIT ORDER BUTTON */ -}}
                    <div class="text-end">
                      <button id="submitBttn" type="button" class="my-1 fs14 submit text-center buygreen"></button> {{/* textContent set by script */}}
                    </div>
                  </div>
                  <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="orderErr"></div>
                </form>

                {{- /* BALANCES */ -}}
                <div id="marketBalance" class="market-bal pt-2 pb-1 my-3 position-relative">
                  <span class="market-bal-lbl">Salda</span>
                  <table class="balance-table" id="balanceTable">
                    <thead>
                      <tr>
                        <th></th>
                        <th>
                          <div class="d-flex align-items-center pb-1" id="baseWalletIcons">
                            <img id="baseImg" class="micro-icon me-1">
                            <span data-unit="base"></span>
                            <div class="flex-grow-1"></div>
                            <div id="baseWalletState" class="fs12">{{template "walletIcons"}}</div>
                            <span class="ico-expired fs16 ps-1" id="baseExpired" data-tooltip="Saldo może być nieaktualne. Połącz się z portfelem, aby je odświeżyć."></span>
                          </div>
                        </th>
                        <th>
                          <div class="d-flex align-items-center pb-1" id="quoteWalletIcons">
                            <img id="quoteImg" class="micro-icon me-1">
                            <span data-unit="quote"></span>
                            <div class="flex-grow-1"></div>
                            <div id="quoteWalletState" class="fs12">{{template "walletIcons"}}</div>
                            <span class="ico-expired fs16 ps-1" id="quoteExpired" data-tooltip="Saldo może być nieaktualne. Połącz się z portfelem, aby je odświeżyć."></span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="fs16">dostępne</td>
                        <td id="baseUnsupported" rowspan="3">
                          <div class="ico-cross"></div>
                        </td>
                        <td id="baseConnect" rowspan="3" class="pointer" data-tooltip="Kliknij, aby połączyć i odświeżyć">
                          <div class="ico-sleeping"></div>
                        </td>
                        <td id="baseSpinner" rowspan="3">
                          <div class="ico-spinner spinner"></div>
                        </td>
                        <td id="baseNewWalletRow" rowspan="3">
                          <button id="baseNewButton" type="button" class="newwallet bg1 text-center">Dodaj portfel<br><span data-unit="base"></span><br></button>
                        </td>
                        <td id="baseAvail" class="fs16"></td>
                        <td id="quoteUnsupported" rowspan="3">
                          <div class="ico-cross"></div>
                        </td>
                        <td id="quoteConnect" rowspan="3" class="pointer" data-tooltip="Kliknij, aby połączyć i odświeżyć">
                          <div class="ico-sleeping"></div>
                        </td>
                        <td id="quoteSpinner" rowspan="3">
                          <div class="ico-spinner spinner"></div>
                        </td>
                        <td id="quoteNewWalletRow" rowspan="3" class="brdr-left">
                          <button id="quoteNewButton" type="button" class="newwallet bg1 text-center">Dodaj portfel<br><span data-unit="quote"></span><br></button>
                        </td>
                        <td id="quoteAvail" class="brdr-left fs16"></td>
                      </tr>
                      <tr>
                        <td>zablokowane</td>
                        <td id="baseLocked"></td>
                        <td id="quoteLocked" class="brdr-left"></td>
                      </tr>
                      <tr>
                        <td>niedojrzałe</td>
                        <td id="baseImmature"></td>
                        <td id="quoteImmature" class="brdr-left"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          {{- /* SELL ORDER LIST */ -}}
          <div class="marketorders col-lg-7 order-3 p-0 bg1 d-flex flex-column">
            <div class="market-header text-center fs14 py-1">Zlecenia sprzedaży</div>
            <div class="brdrleft flex-grow-1 bg1 position-relative">
              <div class="market-orders-table-container stylish-overflow">
                <table class="ordertable">
                  {{template "thead"}}
                  <tbody id="sellRows"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{- /* USER ORDERS */ -}}
      <div class="bg0 p-0 col-24 col-xxl-10 d-flex flex-column align-items-stretch">
        <div class="market-header text-center fs14 py-1 brdrleft">
          Twoje zlecenia
        </div>
        <div class="brdrleft flex-grow-1 bg1 position-relative">

          <div class="user-orders-table-container stylish-overflow">
            <table id="liveTable" class="ordertable">
              <thead>
                <tr>
                  <th data-ordercol="type">Rodzaj <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="sell">Strona <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="stamp">Wiek <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="rate">Kurs <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="qty">Ilość <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="filled">Zrealizowane <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="settled">Rozliczone <span class="ico-arrowdown"></span></th>
                  <th data-ordercol="status">Status <span class="ico-arrowdown"></span></th>
                  <th class="last"></th>
                </tr>
              </thead>
              <tbody id="liveList">
                <tr id="liveTemplate">
                  <td data-tmpl="type"></td>
                  <td data-tmpl="side"></td>
                  <td data-tmpl="age"></td>
                  <td data-tmpl="rate"></td>
                  <td data-tmpl="qty"></td>
                  <td data-tmpl="filled"></td>
                  <td data-tmpl="settled"></td>
                  <td data-tmpl="status"></td>
                  <td class="last text-end">
                    <span data-tmpl="cancelBttn" class="ico-cross d-hide" data-tooltip="anuluj zlecenie"></span>
                    <a data-tmpl="link" class="ico-open fs13 pointer ms-2 plainlink" data-tooltip="szczegóły zlecenia"></a>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td colspan="9" class="text-center">
                    <a href="/orders" class="d-block fs14 px-2 plainlink">wyświetl historię zleceń</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{- /* POP-UP FORMS */ -}}
  <div id="forms" class="d-hide">

    {{- /* UNLOCK WALLET */ -}}
    <form class="position-relative d-hide" id="unlockWalletForm" autocomplete="off">
      {{template "unlockWalletForm"}}
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="m-auto d-hide" id="newWalletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* VERIFY FORM */ -}}
      <form class="position-relative fs16 text-center d-hide" id="verifyForm" autocomplete="off">
        <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
        <div class="py-1 text-center fs18 position-relative header buygreen" id="vHeader">
          <span id="vBuySell"></span> <span data-unit="base"></span>
        </div>
        <div class="d-flex justify-content-between align-items-center py-2 fs13">
          <span id="vOrderType" class="grey"></span>
          <span id="vOrderHost" class="grey"></span>
        </div>

        <hr class="dashed mt-0 mb-2">

        {{- /* Price, Quantity, Total Section */ -}}
        <div id="verifyLimit">
          <div class="d-flex align-items-center justify-content-between">
            <span class="grey fs17 flex-grow-1 text-start">Cena</span>
            <span id="vRate" class="fs18 demi"></span>
            <span class="grey fs14 ms-2">
              <sup data-unit="quote"></sup>/<sub data-unit="base"></sub>
            </span>
          </div>
          <div class="d-flex align-items-center mt-1">
            <span class="grey fs17 flex-grow-1 text-start">Ilość</span>
            <span id="vQty" class="fs18 demi"></span>
            <span data-unit="base" class="grey fs14 ms-2"></span>
          </div>
          <div class="d-flex align-items-center mt-1">
            <span class="grey fs17 flex-grow-1 text-start">W sumie</span>
            <span id="vTotal" class="fs18 demi"></span>
            <span data-unit="quote" class="grey fs14 ms-2"></span>
          </div>
        </div>
        <div id="verifyMarket">
          <div class="d-flex align-items-center justify-content-between">
            <span class="grey fs17 flex-grow-1 text-start">Wymiana</span>
            <span id="vmFromTotal" class="fs18 demi"></span>
            <span id="vmFromAsset" class="grey fs14 ms-2"></span>
          </div>
          <div id="vMarketEstimate" class="d-flex align-items-center justify-content-between">
            <span class="grey fs17 flex-grow-1 text-start">
              Otrzymując około
              <span class="ico-info fs12" data-tooltip="Zlecenie rynkowe, które spasowywane jest z najlepszymi dostępnymi zleceniami w księdze zleceń. W oparciu o obecny kurs między stronami może otrzymać około"></span>
            </span>
            <span id="vmToTotal" class="fs18 demi"></span>
            <span id="vmToAsset" class="grey fs14 ms-2"></span>
          </div>
        </div>

        <hr class="dashed my-2">

        {{- /* Auth Section */ -}}
        {{$passwordIsCached := .UserInfo.PasswordIsCached}}
        <div class="fs16 text-center {{if $passwordIsCached}}d-hide{{end}}">Potwierdź to zlecenie swoim hasłem aplikacji.</div>
        <div class="d-flex mt-3 {{if $passwordIsCached}}justify-content-end{{end}}" >
          <div class="col-12 p-0 text-start {{if $passwordIsCached}}d-hide{{end}}">
            <label for="vPass" class="form-label ps-1 mb-1">Hasło</label>
            <input type="password" class="form-control select" id="vPass">
          </div>
          <div class="col-12 p-0 d-flex justify-content-end">
            <button id="vSubmit" type="button" class="w-75 mt-1 justify-content-center fs15 selected">
              <span id="vSideSubmit"></span>
              <span data-unit="base"></span>
            </button>
            <div id="vLoader" class="loader flex-center d-hide">
              <div class="ico-spinner spinner"></div>
            </div>
          </div>
        </div>
        <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="vErr"></div>{{- /* End Auth Section */ -}}

        <div id="vPreorder">
          <hr class="dashed mb-2 mt-3">

          <div class="d-flex justify-content-between align-items-center">
            <span class="grey fs18">
              Szacunkowa opłata
              <span class="ico-info fs12" data-tooltip="Jeśli warunki sieciowe nie ulegną zmianie zanim Twoje zlecenie zostanie spasowane, całkowite poniesione opłaty (jako procent wymienianej sumy) powinny zmieścić się w tym przedziale."></span>
            </span>
            <span class="grey fs14 underline pointer hoverbright" id="vFeeDetails">szczegóły</span>
          </div>

          <div class="py-1 d-flex align-items-center justify-content-center fs18" id="vFeeSummary">
            <span id="vFeeSummaryLow"></span>
            <span class="fs15">%</span>
            <span class="fs15 px-2">do</span>
            <span id="vFeeSummaryHigh"></span>
            <span class="fs15">%</span>
          </div>

          <hr class="dashed mb-2 mt-3">

          <div class="grey fs18 text-start">Opcje</div>

          <div id="vOrderOpts">
            {{- /* Order Option Templates */ -}}
            <div id="orderOptTmpl" class="order-opt d-flex align-items-start">
              <div data-tmpl="toggle" class="opt-check selected"></div>
              <div class="flex-grow-1" data-tmpl="controls">
                <div class="d-flex align-items-center">
                  <span data-tmpl="optName" class="flex-grow-1 text-start fs16 ps-2"></span>
                  <span data-tmpl="tooltip" class="ico-info me-2" data-tooltip="Prevent temporary overlocking of funds"></span>
                  <img data-tmpl="chainIcon" class="micro-icon me-1">
                </div>

                <div id="booleanOptTmpl" class="d-flex justify-content-between align-items-center fs14 ps-2">
                  <span data-tmpl="reason"></span>
                </div>

                <div id="rangeOptTmpl">
                  <div class="d-flex flex-nowrap fs12">
                    <span data-tmpl="rangeLblStart"></span>
                    <div data-tmpl="slider" class="slider flex-grow-1">
                      <div data-tmpl="handle" class="slider-handle"></div>
                    </div>
                    <span data-tmpl="rangeLblEnd"></span>
                  </div>

                  <div class="d-flex justify-content-between align-items-center fs14">
                    <span>
                      <input type="text" pattern="[0-9]+([\.,][0-9]+)?" data-tmpl="xInput" class="xy-range-input d-hide">
                      <span data-tmpl="x" class="pointer"></span> <span data-tmpl="xUnit"></span>
                    </span>
                    <span>
                      <input type="text" pattern="[0-9]+([\.,][0-9]+)?" data-tmpl="yInput" class="xy-range-input d-hide">
                      <span data-tmpl="y" class="pointer"></span> <span data-tmpl="yUnit"></span>
                    </span>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div> {{- /* END id="vPreorder" */ -}}

        <div id="vUnlockPreorder">
          <hr class="dashed mb-2 mt-3">
          <div class="flex-center flex-column my-2 p-3">
            <span class="ico-locked my-2"></span>
            <span>Odblokuj portfele, aby wyciągnąć dane zleceń oraz dodatkowe opcje.</span>
            <div class="d-flex align-items-stretch w-100">
              <div class="col-12 p-0 text-start">
                <label for="vUnlockPass" class="form-label ps-1 mb-1">Hasło</label>
                <input type="password" class="form-control select w-100" id="vUnlockPass">
              </div>
              <div class="col-12 p-0 d-flex align-items-end justify-content-end">
                <button type="button" id="vUnlockSubmit" class="selected buygreen">Odblokuj</button>
              </div>
            </div>
          </div>
        </div>

        <div id="vPreorderErr" class="mt-2">
          Szacunkowe dane zleceń i opcje są niedostępne
          <span class="ico-info red fs12" id="vPreorderErrTip" data-tooltip=" "></span>
        </div>

        <hr class="dashed my-2">
        <div class="disclaimer fs14">
          <span class="red">UWAGA</span>: Wymiany potrzebują czasu, aby zostać rozliczone. NIE WYŁĄCZAJ swojego klienta DEX, ani oprogramowania, czy portfela blockchaina dla
		<span data-unit="quote"></span> lub <span data-unit="base"></span>, dopóki
		rozliczenie nie zostanie dokonane. Rozliczenie może trwać od kilku minut, aż do kilku godzin.
        </div>
      </form>

      {{- /* FEE DETAIL BREAKDOWN */ -}}
      <form id="vDetailPane" class="d-hide fs16 pb-2">
        <div class="d-flex justify-content-between align-items-center py-1 px-3">
          <span>Szczegóły opłat</span>
          <span class="ico-cross fs12 pointer" id="closeDetailPane"></span>
        </div>
        <div class="px-3">
          <div class="m-1">
            Dane szacunkowe dla najlepszego i najgorszego scenariusza oparte są na obecnych warunkach sieciowych i mogą ulec zmianie do czasu wykonania zlecenia.
          </div>

          <div class="fs18 mt-2 demi">Opłaty (najlepszy scenariusz)</div>
          <div class="px-3 indent">
            <div>
              Najlepszy scenariusz dla opłat występuje wtedy, gdy zlecenie jest zrealizowane w całości jednym spasowaniem.
            </div>
            <div class="d-flex">
              <table class="fee-breakout">
                <tr>
                  <td><img class="micro-icon" data-icon="from"> Zamiana</td>
                  <td><img class="micro-icon" data-icon="to"> Wykupienie</td>
                </tr>
                <tr>
                  <td><span id="vSwapFeesLow"></span> (<span id="vSwapFeesLowPct"></span>)</td>
                  <td><span  id="vRedeemFeesLow"></span> (<span  id="vRedeemFeesLowPct"></span>)</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="fs18 mt-2 demi">Opłaty (najgorszy scenariusz)</div>
          <div class="px-3 indent">
            <div>
              Najgorszy scenariusz dla opłat może wystąpić wtedy, gdy zlecenie jest spasowane po jednym locie na przestrzeni kilku epok.
            </div>
            <div class="d-flex">
              <table class="fee-breakout">
                <tr>
                  <td><img class="micro-icon" data-icon="from"> Zamiana</td>
                  <td><img class="micro-icon" data-icon="to"> Wykupienie</td>
                </tr>
                <tr>
                  <td><span id="vSwapFeesHigh"></span> (<span id="vSwapFeesHighPct"></span>)</td>
                  <td><span  id="vRedeemFeesHigh"></span> (<span  id="vRedeemFeesHighPct"></span>)</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="fs18 mt-2 demi">Maksymalne możliwe opłaty wymiany</div>
          <div class="px-3 indent">
            <div>
              To absolutne maksimum tego, co możesz zapłacić przy swojej wymianie. Opłaty są zazwyczaj wyceniane na ułamek tej kwoty. Maksimum nie ulega zmianie po złożeniu zlecenia.
            </div>
            <div>
              <img class="micro-icon me-1" data-icon="from">
              <span id="vSwapFeesMax"></span>  (<span id="vSwapFeesMaxPct"></span>)
            </div>
          </div>

        </div>
      </form>

      {{- /* CANCEL ORDER FORM */ -}}
      <form class="d-hide" id="cancelForm" autocomplete="off">
        {{template "cancelOrderForm" .}}
      </form>

    </div>
  </div>

</div>
{{template "bottom"}}
{{end}}
