{{define "microIcon"}}
<img src="/img/coins/{{.}}.png" class="micro-icon">
{{end}}

{{define "order"}}
{{template "top" .}}
{{$ord := .Order}}
<div id="main" data-handler="order" class="main w-100 overflow-y-auto" data-net="{{.Net}}" data-oid="{{$ord.ID}}">
  <div class="px-5">
    <div class="px-1 py-2">
      <span class="fs22 demi me-2">Zlecenie</span>
      <span class="fs18">{{$ord.ID}}</span>
      <span class="float-end me-2"><a href="/orders" class="d-inline-block subtlelink fs15"><span class="fs12 ico-textfile"></span> wyświetl wszystkie zlecenia</a></span>
    </div>

    {{- /* DATA CARDS */ -}}
    <div class="d-flex flex-wrap">
      <div class="order-datum">
        <div>Giełda</div>
        <div>{{$ord.Host}}</div>
      </div>
      <div class="order-datum">
        <div>Rynek</div>
        <a href="/markets?host={{$ord.Host}}&base={{$ord.BaseID}}&quote={{$ord.QuoteID}}" class="plainlink hoverbg">
          {{template "microIcon" $ord.BaseSymbol}} {{template "microIcon" $ord.QuoteSymbol}} {{toUpper $ord.BaseSymbol}}-{{toUpper $ord.QuoteSymbol}}
        </a>
      </div>
      <div class="order-datum">
        <div>Rodzaj</div>
        <div>{{ $ord.TypeString }}</div>
      </div>
      <div class="order-datum">
        <div>Status</div>
        <div>
          <span id="status">{{$ord.StatusString}}</span>
          {{if $ord.Cancelable}}
            <span id="cancelBttn" class="ico-cross fs12 ms-1 pointer hoverbg" data-tooltip="cancel order"></span>
          {{end}}
        </div>
      </div>
      <div class="order-datum">
        <div>Oferta</div>
        <div>{{$ord.OfferString}} {{$ord.FromSymbol}} {{template "microIcon" $ord.FromSymbol}}</div>
      </div>
      <div class="order-datum">
        <div>W zamian za</div>
        <div>
          {{if (not $ord.IsMarketOrder)}}
            {{$ord.AskString}}
          {{end}}
          {{$ord.ToSymbol}} {{template "microIcon" $ord.ToSymbol}}
        </div>
      </div>
      <div class="order-datum">
        <div>Kurs</div>
        <div>{{$ord.RateString}}</div>
      </div>
      <div class="order-datum">
        <div>Zrealizowane</div>
        <div>
          {{$ord.FilledPercent}}%
          ({{$ord.FilledFrom}} {{template "microIcon" $ord.FromSymbol}}
          &rarr;
          {{$ord.FilledTo}} {{template "microIcon" $ord.ToSymbol}})
        </div>
      </div>
      <div class="order-datum">
        <div>Rozliczone</div>
        <div>
          {{$ord.SettledPercent}}%
          ({{$ord.SettledFrom}} {{template "microIcon" $ord.FromSymbol}}
          &rarr;
          {{$ord.SettledTo}} {{template "microIcon" $ord.ToSymbol}})
        </div>
      </div>
      <div class="order-datum">
        <div>Opłaty <span class="ico-info fs12" data-tooltip="Opłaty transakcyjne on-chain, zazwyczaj zbierane przez górników. Decred DEX nie pobiera żadnych opłat handlowych."></span></div>
        <div>
          {{$ord.SwapFeesString}} {{template "microIcon" $ord.FromSymbol}},
          {{$ord.RedemptionFeesString}} {{template "microIcon" $ord.ToSymbol}}
        </div>
      </div>
      <div class="order-datum">
        <div>Wiek</div>
        <div data-stamp="{{$ord.Stamp}}"></div>
      </div>
      <div class="order-datum d-hide" id="accelerateDiv">
        <div>Accelerate</div>
        <div><button id="accelerateBttn">Accelerate</button></div>
      </div>
    </div> {{- /* END DATA CARDS */ -}}

    {{- /* MATCHES */ -}}
    <div class="fs18 demi pt-4 pb-2{{if eq (len $ord.Matches) 0}} d-hide{{end}}" id="matchesLabel">Spasowane zlecenia</div>
    <div class="d-flex align-items-stretch justify-content-start flex-wrap" id="matchBox">
    {{range $match := $ord.MatchReaders}}
      <div class="match-card" data-match-i-d="{{$match.MatchID}}">
        <div class="match-header">
          <div class="d-flex justify-content-between align-items-center">
            <span class="match-data-label ms-3">ID zlecenia</span>
          </div>
          <div class="mono mx-3 fs15">{{$match.MatchID}}</div>
        </div>

        <div class="row py-2">
          <div class="col-10 text-center">
            <span class="match-data-label">Status</span><br>
            <span class="fs15" data-tmpl="status">
              {{$match.StatusString}}
            </span>
          </div>
          <div class="col-14 text-center">
            <span class="match-data-label">Czas</span><br>
            <span class="fs15">{{$match.TimeString}}</span>
            <span class="fs14">(<span class="fs15" data-stamp="{{$match.Stamp}}"></span> temu)</span>
          </div>
        </div>

        {{if $match.IsCancel}}
          <div class="text-center fs20 red">Anulowano</div>
          <div class="text-center fs16">{{$match.FromQuantityString}} {{template "microIcon" $ord.FromSymbol}} ({{$match.OrderPortion}}%)</div>
        {{else}}
          <div class="text-center demi fs20 py-2">
            {{$match.FromQuantityString}} {{template "microIcon" $ord.FromSymbol}}
            &rarr;
            {{$match.ToQuantityString}} {{template "microIcon" $ord.ToSymbol}}
          </div>

          <div class="row py-2">
            <div class="col-10 text-center">
              <span class="match-data-label">Kurs</span><br>
              <span class="fs15">
                {{$match.RateString}}
              </span>
            </div>
            <div class="col-7 text-center">
              <span class="match-data-label">Strona</span><br>
              <span class="fs15">{{$match.Side}}</span>
            </div>
            <div class="col-7 text-center">
              <span class="match-data-label">Część zlecenia</span><br>
              <span class="fs15">
                {{$match.OrderPortion}}%
              </span>
            </div>
          </div>
        {{end}}

        <div class="pt-3">
          {{$coin := $match.Swap}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="swap">
            <div class="d-inline-block">
              <div class="d-flex align-items-center justify-content-between">
                <span class="match-data-label">Zamiana ({{$ord.FromSymbol}}, Ty)</span>
                <span class="match-data-label{{if not $match.InSwapCast}} d-hide{{end}}" data-tmpl="swapMsg">
                  {{$match.SwapConfirmString}}
                </span>
              </div>
              <a target="_blank" class="mono plainlink" data-explorer-id="{{$ord.FromID}}"
                data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="swapCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
            </div>
          </div>
          {{$coin = $match.CounterSwap}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="counterSwap">
            <div class="d-inline-block">
              <div class="d-flex align-items-center justify-content-between">
                <span class="match-data-label">Zamiana ({{$ord.ToSymbol}}, oni)</span>
                <span class="match-data-label{{if not $match.InCounterSwapCast}} d-hide{{end}}" data-tmpl="counterSwapMsg">
                  {{$match.CounterSwapConfirmString}}
                </span>
              </div>
              <a target="_blank" class="mono plainlink" data-explorer-id="{{$ord.ToID}}"
                data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="counterSwapCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
            </div>
          </div>
          {{$coin = $match.Redeem}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="redeem">
            <span class="match-data-label">Wykupienie środków ({{$ord.ToSymbol}}, Ty)</span><br>
            <a target="_blank" class="mono plainlink" data-explorer-id="{{$ord.ToID}}"
              data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="redeemCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
          </div>
          {{$coin = $match.CounterRedeem}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="counterRedeem">
            <span class="match-data-label">Wykupienie środków ({{$ord.FromSymbol}}, oni)</span><br>
            <a target="_blank" class="mono plainlink" data-explorer-id="{{$ord.FromID}}"
              data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="counterRedeemCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
          </div>
          {{$coin = $match.Refund}}
          <div class="px-3 pb-3{{if not $coin}} d-hide{{end}}" data-tmpl="refund">
            <span class="match-data-label red">Zwrot środków ({{$ord.FromSymbol}}, Ty)</span><br>
            <a target="_blank" class="mono plainlink red" data-explorer-id="{{$ord.FromID}}"
              data-explorer-coin="{{if $coin}}{{$coin.StringID}}{{end}}" data-tmpl="refundCoin">{{if $coin}}{{$coin.StringID}}{{end}}</a>
          </div>
        </div>

      </div>
    {{end}}
    </div>

    {{- /* FUNDING COINS */ -}}
    <div class="order-datum d-inline-block my-3">
      <div class="text-start">Środki fundujące zlecenie</div>
      <div class="fs14 text-start">
        {{range $ord.FundingCoins}}
          <a class="plainlink mono" data-explorer-id="{{$ord.FromID}}" data-explorer-coin="{{.StringID}}">{{.StringID}}</a><br>
        {{end}}
      </div>
    </div>

    <div id="accelerationCoins" class="order-datum d-inline-block my-3 {{if not $ord.AccelerationCoins}}d-hide{{end}}">
      <div class="text-start">Acceleration Transactions</div>
      <div class="fs14 text-start">
        {{range $ord.AccelerationCoins}}
          <a class="plainlink mono" data-explorer-id="{{$ord.FromID}}" data-explorer-coin="{{.StringID}}">{{.StringID}}</a><br>
        {{end}}
      </div>
    </div>

  </div>

  <div id="forms" class="d-hide">
    <form class="d-hide" id="cancelForm" autocomplete="off">
      {{template "cancelOrderForm" .}}
    </form>
    <form class="d-hide" id="accelerateForm"  autocomplete="off">
      {{$passwordIsCached := .UserInfo.PasswordIsCached}}
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="text-center fs22 sans-light position-relative">
        Accelerate Order
      </div>
      <div id=accelerateMainDiv>
        In case your swap transactions are stuck, you can accelerate them using the Child Pays For Parent technique. When you submit this form, you will create a transaction that sends the change recieved from initiating swaps to yourself with a higher fee. With the new transaction, the average fee rate of all unmined swap transactions, and the new acceleration transaction, will be the rate that you select below.
        <br />
        <div class="text-center fs17 sans-light position-relative">
          Average swap tx fee rate: <span id="accelerateAvgFeeRate"></span>
        </div>
        <div class="text-center fs17 sans-light position-relative">
          Current suggested fee rate: <span id="accelerateCurrentFeeRate"></span>
        </div>
        <div id="sliderContainer" class="slider-container">
        </div>
        <div id="feeEstimateDiv" class="text-center fs17 sans-light position-relative d-hide">
          Increasing the fee rate to <span id="feeRateEstimate"></span> will cost <span id="feeEstimate"></span>
        </div>
        <hr class="dashed mt-2">
        <div class="d-flex flex-row align-items-end {{if $passwordIsCached}}justify-content-end{{end}} pb-4">
          <div class="col-12 p-0 {{if $passwordIsCached}}d-hide{{end}}">
            <label for="acceleratePass" class="pt-3 mb-1">Hasło</label>
            <input type="password" class="form-control select" id="acceleratePass" autocomplete="off">
          </div>
          <div class="col-12 pt-2 {{if not $passwordIsCached}}px-5{{end}}">
            <button id="accelerateSubmit" type="button" class="w-100 fs15 bg2 selected">Wyślij</button>
          </div>
        </div>
        <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="accelerateErr"></div>
      </div>
      <div id="accelerateMsgDiv" class="d-hide">
        <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="preAccelerateErr"></div>
        <div class="fs15 pt-3 text-left d-hide text-break" id="accelerateSuccess">
          Successfully submitted transaction: <span id="accelerateTxID"></span>
        </div>
      </div>
    </form> 
  </div>

  <div id="rangeOptTmpl">
    <div class="d-flex flex-nowrap fs12">
      <span data-tmpl="rangeLblStart"></span>
      <div data-tmpl="slider" class="slider flex-grow-1">
        <div data-tmpl="handle" class="slider-handle"></div>
      </div>
      <span data-tmpl="rangeLblEnd"></span>
    </div>
    <div class="d-flex justify-content-between align-items-center fs14">
      <span>
        <input type="text" pattern="[0-9]+([\.,][0-9]+)?" data-tmpl="xInput" class="xy-range-input d-hide">
        <span data-tmpl="x" class="pointer"></span> <span data-tmpl="xUnit"></span>
      </span>
      <span>
        <input type="text" pattern="[0-9]+([\.,][0-9]+)?" data-tmpl="yInput" class="xy-range-input d-hide">
        <span data-tmpl="y" class="pointer"></span> <span data-tmpl="yUnit"></span>
      </span>
    </div>
  </div>

</div>
{{template "bottom"}}
{{end}}
