{{define "settings"}}
{{template "top" .}}
{{$passwordIsCached := .UserInfo.PasswordIsCached}}
<div id="main" data-handler="settings" class="text-center py-5 overflow-y-auto">
  <span class="settings-gear ico-settings"></span><br>
  <div class="settings">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="darkMode"{{if .UserInfo.DarkMode}} checked{{end}}>
      <label class="form-check-label" for="darkMode">
        Dark Mode
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="showPokes"{{if .UserInfo.ShowPopups}} checked{{end}}>
      <label class="form-check-label" for="showPokes">
        Show pop-up notifications
      </label>
    </div>
    <div>
      <div id="exchanges" {{if eq (len .UserInfo.Exchanges) 0}} class="d-hide"{{end}}>
        <h5>Registered Dexes:</h5>
        {{range $host, $xc := .UserInfo.Exchanges}}
          <a href="/dexsettings/{{$host}}"><button class="bg2 selected"><div class=text-break>{{$host}}<span class="dex-settings-icon ico-settings"></span></div></button></a>
        {{end}}
      </div>
      <br>
      <div {{if not .UserInfo.Authed}} class="d-hide"{{end}}>
        <p>
        The Decred DEX Client supports simultaneous use of any number of DEX servers.
        </p>
        <button id="addADex" class="bg2 selected">Add a DEX</button>
        <button id="importAccount" class="bg2 selected ms-2">Import Account</button>
      </div>
    </div>
    <div>
        <button id="changeAppPW" class="bg2 selected">Change App Password</button>
    </div>
    <div{{if not .UserInfo.Authed}} class="d-hide"{{end}}>
      You should carefully write down your application seed and save a copy. Should you lose access to this machine or the critical application files, the seed can be used to restore your DEX accounts and native wallets. Some older accounts cannot be restored from seed.<br>
      <button id="exportSeed" class="fs15 bg2 selected">View Application Seed</button>
    </div>
    <div>Build ID: <span id="commitHash" class="mono"></span></div>
  </div>

  {{- /* POP-UP FORMS */ -}}
  <div id="forms" class="d-hide">
    
    {{- /* DEX ADDRESS */ -}}
    <form class="position-relative text-start" id="dexAddrForm" autocomplete="off">
      {{template "dexAddrForm" .}}
    </form>

    {{- /* REG ASSET SELECTOR */ -}}
    <form class="d-hide" id="regAssetForm">
      {{template "regAssetForm"}}
    </form>
    {{- /* CONFIRM REGISTRATION */ -}}
    <form class="d-hide" id="confirmRegForm">
      {{template "confirmRegistrationForm"}}
    </form>

    {{- /* AUTHORIZE IMPORT ACCOUNT */ -}}
    <form class="d-hide" id="authorizeAccountImportForm">
      {{template "authorizeAccountImportForm" .}}
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="d-hide" id="newWalletForm">
      {{template "newWalletForm" }}
    </form>

    {{- /* CHANGE APP PASSWORD */ -}}
    <form class="d-hide" id="changeAppPWForm">
      {{template "changeAppPWForm"}}
    </form>

    {{- /* EXPORT SEED AUTHORIZATION */ -}}
    <form class="d-hide" id="exportSeedAuth">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="py-1 text-center position-relative fs22 sans-light">
        Export Seed
      </div>
      <div class="fs15 text-start mt-2">
        Enter your app password to show your seed. Make sure nobody else can see your screen.
      </div>
      <div class="text-start mt-2">
        <label for="exportSeedPW" class="ps-1 mb-1">Password</label>
        <input type="password" class="form-control select" id="exportSeedPW" autocomplete="current-password">
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button id="exportSeedSubmit" type="button" class="justify-content-center fs15 bg2 selected">Show Me</button>
      </div>
      <div class="fs15 pt-3 text-center d-hide errcolor text-break" id="exportSeedErr"></div>
    </form>

    {{- /* SEED PHRASE DISPLAY */ -}}
    <form class="d-hide" id="authorizeSeedDisplay">
      <div class="form-closer hoverbg"><span class="ico-cross"></span></div>
      <div class="fs18 sans-light text-center mb-2">Don't share it. Don't lose it.</div>
      <div id="seedPhraseDiv"></div>
    </form>

    {{- /* SYNC AND BALANCE FORM */ -}}
    <form class="d-hide" id="walletWait">
      {{template "waitingForWalletForm"}}
    </form>

  </div>

</div>
{{template "bottom"}}
{{end}}
