name: Build and Test
on: [push, pull_request]
permissions:
  contents: read
jobs:
  build-go:
    name: Go CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.17, 1.18]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: Check out source
        uses: actions/checkout@v3
      - name: Install Linters
        run: "curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.45.0"

      - name: Test
        env:
          GO111MODULE: "on"
        run: |
          ./run_tests.sh
  build-js:
    name: Build JS
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 17.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use nodejs ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm clean-install
      working-directory: ./client/webserver/site
      run: npm ci
    - name: npm run lint
      working-directory: ./client/webserver/site
      run: npm run lint
    - name: npm run build
      working-directory: ./client/webserver/site
      run: npm run build
