name: Build and Push Docker Image

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  IMAGE_NAME: decred/bisonwallet

jobs:
  build-and-push:
    runs-on: ubuntu-22.04

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Checkout project
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 #v3.7.0

      - name: Setup Docker buildx action
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 #v3.11.1

      - name: Build and Push Docker Image
        run: |
          docker buildx build  \
            -f client/Dockerfile.release \
            --platform linux/arm64,linux/amd64 \
            --tag ${{ env.IMAGE_NAME }}:${{ github.ref_name }} \
            --output "type=registry" .
