name: Build and Push Docker Image

on:
  release:
    types: [created]

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  IMAGE_NAME: decred/dcrdex

jobs:
  build-and-push:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c #v3.3.0

    - name: Set up Docker Buildx
      run: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
        docker buildx create --use --name mybuilder
        docker buildx inspect --bootstrap

    - name: Build and Push Docker Image
      run: |
        docker buildx build  -f client/Dockerfile --platform linux/arm64,linux/amd64 \
          --tag ${{ env.IMAGE_NAME }}:$GITHUB_REF_NAME \
          --output "type=registry" .
      env:
        DOCKER_USERNAME: ${{ env.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ env.DOCKER_PASSWORD }}
